.banner-category {
  max-height: 260px;
  max-width: 900px;
}
.banner-category img {
  width: 900px;
  height: 260px;
}

.category-name {
  position: absolute;
  top: 70px;
  left: 50px;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
}

.category-summary {
  position: absolute;
  top: 120px;
  left: 50px;
  color: white;
  font-weight: 350;
  max-width: 300px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}

@media (max-width: 767px) {
  .banner-category img {
    width: 100%;
    height: auto;
  }
  .category-name {
    font-size: 16px;
  }
  .category-summary {
    top: 60%;
    font-size: 0.8em;
  }
}/*# sourceMappingURL=banner-category.css.map */