.list_products {
  margin-bottom: 20px;
  border-radius: 5px;
}
.list_products .head-block-product {
  padding: 20px 14px;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  background: #f06837;
}
.list_products .background-slide {
  background-color: #f8f8f8;
}
.list_products .background-slide .image-check {
  padding: 14px;
  border-bottom: 1px solid #eeeeee;
}
.list_products .background-slide .image-check .title-price-product .price-product {
  color: #d50d15;
  font-weight: bold;
}/*# sourceMappingURL=left.css.map */