@mixin title-oneway-home($border-bt, $margin-bt) {
    h3 {
        font-size: 22px;
        float: none;
        text-transform: uppercase;
        font-weight: bold;
        border-bottom: $border-bt;
        margin-bottom: $margin-bt;
        &:after {
            content: "";
            border-bottom: 2px solid #ef6837;
            display: block;
            width: 80px;
            text-align: center;
            margin: 0 auto;
            margin-top: 15px;
        }
    }
}
@mixin info-products-home {
    .image-check-round{
        border: 1px solid #eeeeee;
        padding: 0 0 20px;
        background: #fff;

        .image-info-plus {
            position: relative;
            padding-top: 20px;
            overflow: hidden;
            img {
                display: block;
                margin: 0 auto;
                margin-bottom: 15px;
            }
            .info-plus {
                background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
                cursor: pointer;
                display: none;
                height: 100%;
                left: 0;
                overflow: hidden;
                padding: 30px 20px;
                position: absolute;
                top: 0;
                color: #fff;
                width: 100%;
                overflow-y: scroll;
                a{
                    color: #fff;
                    &:hover{
                        color: #ef6837;
                    }
                }
                &::-webkit-scrollbar {
                    width: 5px;
                    background-color: #F5F5F5;
                }
                &::-webkit-scrollbar-track {
                    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                    border-radius: 10px;
                    background-color: #F5F5F5;
                }
                &::-webkit-scrollbar-thumb {
                    border-radius: 10px;
                    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
                    background-color: #ef6837;
                }
            }
            &:hover {
                .info-plus {
                    display: block;
                    *{
                        font-size: 13px !important;
                    }
                }
            }

        }
        .title-price-product {
            border-top: 1px solid #f4f4f4;
            padding: 0 20px;
            background-color: #fff;
            @media (max-width: 750px) {
                padding: 0 5px;
            }
            .color-product {
                margin-top: 5px;
                border-bottom: 1px solid #f4f4f4;
                ul {
                    text-align: center;
                    min-height: 29px;
                    li {
                        border: 1px solid #cdcdcd;
                        border-radius: 50%;
                        display: inline-block;
                        width: 23px;
                        height: 23px;
                        &.active{
                            border: 1px solid #d50d15;
                        }
                        span {
                            display: block;
                            width: 17px;
                            height: 17px;
                            border-radius: 50%;
                            margin: 2px;
                            cursor: pointer;
                        }
                    }
                }
            }
            .title-product {
                margin: 12px 0;
                height: 56px;
                font-size: 14px;
                overflow: hidden;
                text-align: center;
                line-height: 30px;
                @media (max-width: 750px) {
                    font-size: 12px;
                    height: 66px;
                    line-height: 22px;
                }
            }
            .price-product {
                font-size: 14px;
                .final-price {
                    margin-right: 8px;
                    color: #d50d15;
                    font-size: 15px;
                    font-weight: bold;
                    line-height: 30px;
                }
                .price-regular {
                    color: #555;
                    line-height: 30px;
                    text-decoration: line-through;
                }
                .sale-tag-square {
                    float: right;
                    background: #ef6837;
                    border-radius: 5px;
                    color: #fff;
                    padding: 5px;
                }
            }
        }
    }
}
.list_products {
    background: #fff;
    margin-bottom: 40px;
    border-radius: 5px;
    .head-block-product {
        padding-top: 40px;
        border-top: 1px solid #e5e5e5;
        @include title-oneway-home(none, 0);
    }
    .block-product {
        @include title-oneway-home(1px solid #eee, 30px);
        h3 {
            border-bottom: 1px solid #eee;
            margin-bottom: 30px;
        }
    }
    .background-slide {
        background: url(../images/bg-product.jpg) center #f4f4f4;
        padding: 30px 0 50px;
    }
    .sider-slick-cat {
        .image-check {
            padding: 0px 15px;
            @include info-products-home;
            &:focus{
                outline: none;
            }
            @media (max-width: 450px) {
                padding: 0px 5px;
            }
        }
        .slick-dots {
            li {
                button{
                    @media (max-width: 750px) {
                        &:before{
                            font-size: 45px;
                        }
                    }
                }
            }
        }
        .slick-prev, .slick-next {
            width: 50px;
            height: 50px;
            &:before {
                content: '';
            }
        }
        .slick-prev {
            background: url(../images/prev-slide.png) no-repeat center;
            left: -55px;
            z-index: 1;
            &:hover {
                background-image: url(../images/h-prev-slide.png);
            }
        }
        .slick-next {
            background: url(../images/next-slide.png) no-repeat center;
            right: -55px;
            z-index: 1;
            &:hover {
                background-image: url(../images/h-next-slide.png);
            }
        }
    }
    .sider-slick-add {
        .image-check {
            padding: 0px 15px;
            @include info-products-home;
            &:hover {}
            &:focus{
                outline: none;
            }
            @media (max-width: 450px) {
                padding: 0px 5px;
            }
        }
        .slick-dots {
            bottom: -45px;
            @media (max-width: 750px) {
                bottom: -23px;
            }
            li {
                background: url(../images/icon-product_03.png) no-repeat center;
                height: 15px;
                width: 15px;
                @media (max-width: 750px) {
                    background: none;
                }
                button{
                    @media (max-width: 750px) {
                        &:before{
                            font-size: 45px;
                        }
                    }
                }
            }
            .slick-active {
                background: url(../images/icon-product_01.png) no-repeat center;
                @media (max-width: 750px) {
                    background: none;
                }
            }
        }
    }
}