.list_products {
  background: #fff;
  margin-bottom: 40px;
  border-radius: 5px;
}
.list_products .head-block-product {
  padding-top: 40px;
  border-top: 1px solid #e5e5e5;
}
.list_products .head-block-product h3 {
  font-size: 22px;
  float: none;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: none;
  margin-bottom: 0;
}
.list_products .head-block-product h3:after {
  content: "";
  border-bottom: 2px solid #ef6837;
  display: block;
  width: 80px;
  text-align: center;
  margin: 0 auto;
  margin-top: 15px;
}
.list_products .block-product h3 {
  font-size: 22px;
  float: none;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px solid #eee;
  margin-bottom: 30px;
}
.list_products .block-product h3:after {
  content: "";
  border-bottom: 2px solid #ef6837;
  display: block;
  width: 80px;
  text-align: center;
  margin: 0 auto;
  margin-top: 15px;
}
.list_products .block-product h3 {
  border-bottom: 1px solid #eee;
  margin-bottom: 30px;
}
.list_products .background-slide {
  background: url(../images/bg-product.jpg) center #f4f4f4;
  padding: 30px 0 50px;
}
.list_products .sider-slick-cat .image-check {
  padding: 0px 15px;
}
.list_products .sider-slick-cat .image-check .image-check-round {
  border: 1px solid #eeeeee;
  padding: 0 0 20px;
  background: #fff;
}
.list_products .sider-slick-cat .image-check .image-check-round .image-info-plus {
  position: relative;
  padding-top: 20px;
  overflow: hidden;
}
.list_products .sider-slick-cat .image-check .image-check-round .image-info-plus img {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
}
.list_products .sider-slick-cat .image-check .image-check-round .image-info-plus .info-plus {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
  cursor: pointer;
  display: none;
  height: 100%;
  left: 0;
  overflow: hidden;
  padding: 30px 20px;
  position: absolute;
  top: 0;
  color: #fff;
  width: 100%;
  overflow-y: scroll;
}
.list_products .sider-slick-cat .image-check .image-check-round .image-info-plus .info-plus a {
  color: #fff;
}
.list_products .sider-slick-cat .image-check .image-check-round .image-info-plus .info-plus a:hover {
  color: #ef6837;
}
.list_products .sider-slick-cat .image-check .image-check-round .image-info-plus .info-plus::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}
.list_products .sider-slick-cat .image-check .image-check-round .image-info-plus .info-plus::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}
.list_products .sider-slick-cat .image-check .image-check-round .image-info-plus .info-plus::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #ef6837;
}
.list_products .sider-slick-cat .image-check .image-check-round .image-info-plus:hover .info-plus {
  display: block;
}
.list_products .sider-slick-cat .image-check .image-check-round .image-info-plus:hover .info-plus * {
  font-size: 13px !important;
}
.list_products .sider-slick-cat .image-check .image-check-round .title-price-product {
  border-top: 1px solid #f4f4f4;
  padding: 0 20px;
  background-color: #fff;
}
@media (max-width: 750px) {
  .list_products .sider-slick-cat .image-check .image-check-round .title-price-product {
    padding: 0 5px;
  }
}
.list_products .sider-slick-cat .image-check .image-check-round .title-price-product .color-product {
  margin-top: 5px;
  border-bottom: 1px solid #f4f4f4;
}
.list_products .sider-slick-cat .image-check .image-check-round .title-price-product .color-product ul {
  text-align: center;
  min-height: 29px;
}
.list_products .sider-slick-cat .image-check .image-check-round .title-price-product .color-product ul li {
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  display: inline-block;
  width: 23px;
  height: 23px;
}
.list_products .sider-slick-cat .image-check .image-check-round .title-price-product .color-product ul li.active {
  border: 1px solid #d50d15;
}
.list_products .sider-slick-cat .image-check .image-check-round .title-price-product .color-product ul li span {
  display: block;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  margin: 2px;
  cursor: pointer;
}
.list_products .sider-slick-cat .image-check .image-check-round .title-price-product .title-product {
  margin: 12px 0;
  height: 56px;
  font-size: 14px;
  overflow: hidden;
  text-align: center;
  line-height: 30px;
}
@media (max-width: 750px) {
  .list_products .sider-slick-cat .image-check .image-check-round .title-price-product .title-product {
    font-size: 12px;
    height: 66px;
    line-height: 22px;
  }
}
.list_products .sider-slick-cat .image-check .image-check-round .title-price-product .price-product {
  font-size: 14px;
}
.list_products .sider-slick-cat .image-check .image-check-round .title-price-product .price-product .final-price {
  margin-right: 8px;
  color: #d50d15;
  font-size: 15px;
  font-weight: bold;
  line-height: 30px;
}
.list_products .sider-slick-cat .image-check .image-check-round .title-price-product .price-product .price-regular {
  color: #555;
  line-height: 30px;
  text-decoration: line-through;
}
.list_products .sider-slick-cat .image-check .image-check-round .title-price-product .price-product .sale-tag-square {
  float: right;
  background: #ef6837;
  border-radius: 5px;
  color: #fff;
  padding: 5px;
}
.list_products .sider-slick-cat .image-check:focus {
  outline: none;
}
@media (max-width: 450px) {
  .list_products .sider-slick-cat .image-check {
    padding: 0px 5px;
  }
}
@media (max-width: 750px) {
  .list_products .sider-slick-cat .slick-dots li button:before {
    font-size: 45px;
  }
}
.list_products .sider-slick-cat .slick-prev, .list_products .sider-slick-cat .slick-next {
  width: 50px;
  height: 50px;
}
.list_products .sider-slick-cat .slick-prev:before, .list_products .sider-slick-cat .slick-next:before {
  content: "";
}
.list_products .sider-slick-cat .slick-prev {
  background: url(../images/prev-slide.png) no-repeat center;
  left: -55px;
  z-index: 1;
}
.list_products .sider-slick-cat .slick-prev:hover {
  background-image: url(../images/h-prev-slide.png);
}
.list_products .sider-slick-cat .slick-next {
  background: url(../images/next-slide.png) no-repeat center;
  right: -55px;
  z-index: 1;
}
.list_products .sider-slick-cat .slick-next:hover {
  background-image: url(../images/h-next-slide.png);
}
.list_products .sider-slick-add .image-check {
  padding: 0px 15px;
}
.list_products .sider-slick-add .image-check .image-check-round {
  border: 1px solid #eeeeee;
  padding: 0 0 20px;
  background: #fff;
}
.list_products .sider-slick-add .image-check .image-check-round .image-info-plus {
  position: relative;
  padding-top: 20px;
  overflow: hidden;
}
.list_products .sider-slick-add .image-check .image-check-round .image-info-plus img {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
}
.list_products .sider-slick-add .image-check .image-check-round .image-info-plus .info-plus {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
  cursor: pointer;
  display: none;
  height: 100%;
  left: 0;
  overflow: hidden;
  padding: 30px 20px;
  position: absolute;
  top: 0;
  color: #fff;
  width: 100%;
  overflow-y: scroll;
}
.list_products .sider-slick-add .image-check .image-check-round .image-info-plus .info-plus a {
  color: #fff;
}
.list_products .sider-slick-add .image-check .image-check-round .image-info-plus .info-plus a:hover {
  color: #ef6837;
}
.list_products .sider-slick-add .image-check .image-check-round .image-info-plus .info-plus::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}
.list_products .sider-slick-add .image-check .image-check-round .image-info-plus .info-plus::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}
.list_products .sider-slick-add .image-check .image-check-round .image-info-plus .info-plus::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #ef6837;
}
.list_products .sider-slick-add .image-check .image-check-round .image-info-plus:hover .info-plus {
  display: block;
}
.list_products .sider-slick-add .image-check .image-check-round .image-info-plus:hover .info-plus * {
  font-size: 13px !important;
}
.list_products .sider-slick-add .image-check .image-check-round .title-price-product {
  border-top: 1px solid #f4f4f4;
  padding: 0 20px;
  background-color: #fff;
}
@media (max-width: 750px) {
  .list_products .sider-slick-add .image-check .image-check-round .title-price-product {
    padding: 0 5px;
  }
}
.list_products .sider-slick-add .image-check .image-check-round .title-price-product .color-product {
  margin-top: 5px;
  border-bottom: 1px solid #f4f4f4;
}
.list_products .sider-slick-add .image-check .image-check-round .title-price-product .color-product ul {
  text-align: center;
  min-height: 29px;
}
.list_products .sider-slick-add .image-check .image-check-round .title-price-product .color-product ul li {
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  display: inline-block;
  width: 23px;
  height: 23px;
}
.list_products .sider-slick-add .image-check .image-check-round .title-price-product .color-product ul li.active {
  border: 1px solid #d50d15;
}
.list_products .sider-slick-add .image-check .image-check-round .title-price-product .color-product ul li span {
  display: block;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  margin: 2px;
  cursor: pointer;
}
.list_products .sider-slick-add .image-check .image-check-round .title-price-product .title-product {
  margin: 12px 0;
  height: 56px;
  font-size: 14px;
  overflow: hidden;
  text-align: center;
  line-height: 30px;
}
@media (max-width: 750px) {
  .list_products .sider-slick-add .image-check .image-check-round .title-price-product .title-product {
    font-size: 12px;
    height: 66px;
    line-height: 22px;
  }
}
.list_products .sider-slick-add .image-check .image-check-round .title-price-product .price-product {
  font-size: 14px;
}
.list_products .sider-slick-add .image-check .image-check-round .title-price-product .price-product .final-price {
  margin-right: 8px;
  color: #d50d15;
  font-size: 15px;
  font-weight: bold;
  line-height: 30px;
}
.list_products .sider-slick-add .image-check .image-check-round .title-price-product .price-product .price-regular {
  color: #555;
  line-height: 30px;
  text-decoration: line-through;
}
.list_products .sider-slick-add .image-check .image-check-round .title-price-product .price-product .sale-tag-square {
  float: right;
  background: #ef6837;
  border-radius: 5px;
  color: #fff;
  padding: 5px;
}
.list_products .sider-slick-add .image-check:focus {
  outline: none;
}
@media (max-width: 450px) {
  .list_products .sider-slick-add .image-check {
    padding: 0px 5px;
  }
}
.list_products .sider-slick-add .slick-dots {
  bottom: -45px;
}
@media (max-width: 750px) {
  .list_products .sider-slick-add .slick-dots {
    bottom: -23px;
  }
}
.list_products .sider-slick-add .slick-dots li {
  background: url(../images/icon-product_03.png) no-repeat center;
  height: 15px;
  width: 15px;
}
@media (max-width: 750px) {
  .list_products .sider-slick-add .slick-dots li {
    background: none;
  }
}
@media (max-width: 750px) {
  .list_products .sider-slick-add .slick-dots li button:before {
    font-size: 45px;
  }
}
.list_products .sider-slick-add .slick-dots .slick-active {
  background: url(../images/icon-product_01.png) no-repeat center;
}
@media (max-width: 750px) {
  .list_products .sider-slick-add .slick-dots .slick-active {
    background: none;
  }
}/*# sourceMappingURL=products.css.map */