.c-box_root {
    padding-top: 30px;
    margin-bottom: 90px;
}

.c-title_module {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 45px 0;
}
.form-register {
    .input-field {
        input {
            padding-left: 20px;
        }
    }
}
.c-summary {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 40px;
}
.summary-address {
    width: 100% !important;
}
.btn-register-5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    width: 160px;
    height: 44px;
    margin: auto;
    background: #BE202F;
    border-radius: 4px;
}
#myMap {
    height:750px;
}
.c-box_store {
    .c-col_map {
        padding-right: 30px;
    }

    .c-col_store {
        padding-left: 0;
    }

}

.item1,
.item3,
.item4,
.item0 {
    // max-width: 356px;
    max-height: 267px;
    overflow: hidden;
    position: relative;
    img {
        // height: 267px !important;
        transition: .3s;
        object-fit: cover !important;
    }
    .name-central {
        position: absolute;
        z-index: 10;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-weight: 500;
        opacity: 0;
        transition: .3s;
        text-transform: uppercase;
        width: 100%;
        text-align: center;
    }
    &:hover {
        img {
            // transform: scale(1.1);
            transition: .3s;
        }
        box-shadow: 1px 0px 24px -5px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 1px 0px 24px -5px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 1px 0px 24px -5px rgba(0, 0, 0, 0.75);
        .name-central {
            opacity: 1;
            transition: .3s;
        }
        &::after {
            opacity: .5;
            transition: .3s;
        }
    }
    &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background-color: brown;
        top: 0;
        left: 0;
        opacity: 0;
    }
}

.item2 {
    // max-width: 358px;
    max-height: 544px;
    overflow: hidden;
    position: relative;
    img {
        transition: .3s;
    }
    .name-central {
        position: absolute;
        z-index: 10;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-weight: 500;
        opacity: 0;
        transition: .3s;
        text-transform: uppercase;
        width: 100%;
        text-align: center;
    }
    &:hover {
        img {
            transition: .3s;
        }
        box-shadow: 1px 0px 24px -5px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 1px 0px 24px -5px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 1px 0px 24px -5px rgba(0, 0, 0, 0.75);
        .name-central {
            opacity: 1;
            transition: .3s;
        }
        &::after {
            opacity: .5;
            transition: .3s;
        }
    }
    &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background-color: brown;
        top: 0;
        left: 0;
        opacity: 0;
    }
}
.c-box_selection {
    margin-bottom: 30px;

    h4 {
        font-size: 20px;
        text-transform: uppercase;
        margin-bottom: 23px;
    }

    img {
        margin-right: 20px;
    }

    select {
        background: transparent;
        width: 100%;
        padding: 14px;
        font-size: 16px;
        border: 1px solid #E3DDBB;
    }

    .select-aria {
        .select2 {
            width: 100% !important;

            .selection {
                .select2-selection {
                    background: none;
                    border-radius: 0;
                    outline: none;
                    height: 50px;
                    border: 2px solid #E3DDBB;
                    display: flex;

                    .select2-selection__rendered {
                        line-height: 50px;
                        font-size: 16px;
                        padding: 0 45px 0 18px;
                        color: #000;
                        width: 100%;
                    }

                    .select2-selection__arrow {
                        height: 50px;
                        position: relative;
                        top: 0;
                        right: 18px;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;

                        i {
                            font-size: 20px;
                            color: #000;
                        }
                    }
                }
            }
        }
    }
}

.select2-container {
    z-index: 1;

    .select2-dropdown {
        border: 2px solid #E3DDBB;
        border-radius: 0;
        background: #F6F3E4;

        .select2-search {
            input {
                line-height: 50px;
                padding: 0 18px;
                outline: none;
                font-size: 16px;
                background: #F6F3E4;
                height: 50px;
                color: #000;
            }
        }

        .select2-results {
            ::-webkit-scrollbar {
                display: none;
            }

            .select2-results__options {
                font-size: 16px;
                color: #000;

                .select2-results__option--disabled {
                    display: none;
                }

                .select2-results__option {
                    text-transform: capitalize;
                    padding: 0 18px;
                    line-height: 50px;
                    cursor: pointer;
                }
            }
        }
    }

    .select2-dropdown--below {
        border-top: none;
    }

    .select2-dropdown--above {
        border-bottom: none;
    }

    .select2-results__options {
        background: #ffffff;
    }
}
.selectAddress {

    &:hover {
        cursor: pointer;
        .title-address {
            color: #BE202F !important
        }
        color: #BE202F !important;
    }
}
.c-list_map {
    border-top: 1px solid #E3DDBB;
    padding-top: 25px;

    ::-webkit-scrollbar {
        width: 8px;
        border-radius: 8px;
        display: block;
    }

    ::-webkit-scrollbar-track {
        background: rgba(227, 221, 187, 0.4);
        border-radius: 8px;
    }

    ::-webkit-scrollbar-thumb {
        background: #E3DDBB;
        border-radius: 4px;
        cursor: pointer;
    }

    .list {
        max-height: 615px;
        overflow: auto;
        padding-right: 30px;

        .item_map {
            border-top: 1px solid #E3DDBB;
            padding: 25px 0;

            &:first-child {
                border-top: none;
                padding-top: 0;
            }
        }

        .content {
            .title-address {
                font-size: 16px;
                color: #333;
                text-transform: uppercase;
            }

            p {
                display: flex;
                line-height: 26px;

                span {
                    width: 16px;
                    margin-right: 10px;
                    margin-top: 6px;
                }

                a {
                    color: #212121;
                }
            }
        }
    }
}

@media (max-width: 960px) {
    .c-box_store .c-col_map {
        padding-right: 10px;
        margin-bottom: 30px;
    }

    .c-box_store .c-col_store {
        padding-left: 10px;
    }

    .banner-box {
        .col-6 {
            max-width: 100%;
        }
    }
    #myMap {
        height: 400px
    }
}