

.contact {
  padding: 30px;
  text-align: center;
  color: white;
  margin-bottom: 30px;
  .row{
    background: black;
    margin: 0;
    padding: 20px;
    .contact-left{
      padding: 0;
      h4 {
        font-size: 19px;
        padding-bottom: 15px;
        margin: 0;
        span{
          border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
          width: 90%;
          padding-bottom: 15px;
          display: inline-block;
          i {
            font-size: 5px;
            vertical-align: 5px;
            margin: 0 5px;
          }
        }
      }
      p{
        margin-bottom: 0;
      }
    }
    .contact-right{
      padding: 0;
      button{
        width: 100%;
        background: #343434;
        border: none;
        padding: 20px;
        min-height: 100px;
        span{
          display: block;
          padding: 20px;
          background: #b00000;
          text-transform: uppercase;
        }
      }
    }

  }

}

.path {
  float: right;
  clear: both;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  text-align: right;
  color: #000;
  span {
    margin: 0 5px;
  }
  a {
    color: black;
  }
  a.active {
    color: #B00000;
  }
}

.q_a-banner {
  position: relative;
  .banner-text {
    position: absolute;
    top: 40%;
    font-weight: 500;
    font-size: 29px;
    text-align: left;
    color: #fff;
    p {
      margin-bottom: 0;
    }
  }
}

.main-q_a {
  margin: 40px 0;
  font-family: 'Roboto', sans-serif;
  .q_a-top {
    border: 1px solid #DDDDDD;
    padding: 20px;
    margin-bottom: 20px;
    ul{
      list-style: none;
      padding-left: 0;
      margin-bottom: 0;
      li{
        line-height: 25px;
      }
      li:before{
        content: 'Q';
        color: #b00000;
        margin-right: 5px;
        font-size: 16px;
        font-weight: 500;
      }
    }
   p{
     margin-bottom: 0;
    }
  }

  .q_a-content{
    margin: 20px 0;
    .q{
      border-bottom: 1px solid #707070;
      line-height: 30px;
      margin-bottom: 0;
      &:before{
        content: 'Q';
        font-size: 16px;
        font-weight: bold;
        margin-right: 5px;
      }
    }
    .a{
      line-height: 25px;
      p{
        margin-bottom: 0;
      }
      p:first-child{
        &:before{
          content: 'A';
          color: #b00000;
          font-size: 16px;
          font-weight: bold;
          margin-right: 5px;
        }
      }
    }
  }
}
