.owl-dots {
  position: absolute;
  left: 50%;
  /* Move 50% from left */
  bottom: -50px;
  /* Move 10px from bottom */
  transform: translateX(-50%);

  // display: block !important;
  .owl-dot {
    padding: 0;
    border: none;
    background-color: transparent;

    &:focus {
      outline: none;
    }
  }

  .active {
    span {
      background-color: #E9B852 !important;
      width: 30px;
      transition: width 0.2s ease;
    }
  }
}

.exp-image-1 {
  div {
    &:nth-child(1) {
      position: relative;
      img{
        border-radius: 10px;
        width: 360px;
        height: 360px;
        object-fit: cover;
      }

      &::before {
        content: '';
        position: absolute;
        width: 360px;
        height: 360px;
        background-color: #cccccc30;
        z-index: -1;
        left: -20px;
        border-radius: 10px;
        top: 20px;
      }
    }
    &:nth-child(2) {
      position: relative;
      margin-top: 20px;
      margin-left: auto;
      img {
        border-radius: 10px;
        width: 200px;
        height: 133px;
        object-fit: cover;
      }

      &::before {
        content: '';
        position: absolute;
        width: 200px;
        height: 133px;
        background-color: #cccccc30;
        z-index: -1;
        right: 20px;
        border-radius: 10px;
        top: 20px;
      }
    }
  }
}

.exp-image-2 {
  margin-left: 20px;
  div {
    &:nth-child(1) {
      position: relative;
      img{
        border-radius: 10px;
        width: 160px;
        height: 107px;
        object-fit: cover;
      }

      &::before {
        content: '';
        position: absolute;
        width: 160px;
        height: 100%;
        background-color: #cccccc30;
        z-index: -1;
        right: 30px;
        border-radius: 10px;
        bottom: 20px;
      }
    }
    &:nth-child(2) {
      position: relative;
      margin-top: 20px;
      margin-left: auto;
      img {
        border-radius: 10px;
        width: 210px;
        height: 270px;
        object-fit: cover;
      }
      &::before {
        content: '';
        position: absolute;
        width: 210px;
        height: 260px;
        background-color: #cccccc30;
        z-index: -1;
        right: -20px;
        border-radius: 10px;
        bottom: -20px;
      }
    }
  }
}

.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }
.item6 { grid-area: footer2; }

.grid-exp {
  display: grid;
  grid-template-areas:
    'header header main'
    'header header right'
    'menu footer footer2';
  grid-gap: 10px;
}