.newslist-content {
  margin-bottom: 10px;
  .menu {
    padding: 0;
    text-align: center;
    a:hover, a:focus{
      color: #1a7aff;
      background: none !important;
      border-bottom: 1px solid #1a7aff !important;
    }
  }
  .right_top{
    padding: 0;
    .right_top2{
      padding-right: 0;
      a{
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        line-height: 25px;
        &:hover{
          color: #1a7aff;
        }
      }
    }
  }
  .title-newslist {
    font-size: 22px;
    float: none;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid #eee;
    margin-bottom: 30px;
    &:after {
      content: "";
      border-bottom: 2px solid #ef6837;
      display: block;
      width: 80px;
      text-align: center;
      margin: 0 auto;
      margin-top: 15px;
    }
  }
  .list-news {
    > li.active > a, > li.active > a:hover, > li.active > a:focus {

    }
    > li {
      img {
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
        @media (max-width: 450px) {
          margin-top: 20px;
        }
      }
      h4 {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 20px;
        line-height: 25px;
        height: 50px;
        overflow: hidden;
        @media (max-width: 450px) {
          margin-bottom: 10px;
        }
      }
      p {
        max-height: 300px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
      .see-more {
        margin-top: 20px;
        color: #ef6837;
        @media (max-width: 450px) {
          margin-top: 0px;
        }
      }
    }

  }
}