.newslist-content {
  margin-bottom: 10px;
}
.newslist-content .menu {
  padding: 0;
  text-align: center;
}
.newslist-content .menu a:hover, .newslist-content .menu a:focus {
  color: #1a7aff;
  background: none !important;
  border-bottom: 1px solid #1a7aff !important;
}
.newslist-content .right_top {
  padding: 0;
}
.newslist-content .right_top .right_top2 {
  padding-right: 0;
}
.newslist-content .right_top .right_top2 a {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-height: 25px;
}
.newslist-content .right_top .right_top2 a:hover {
  color: #1a7aff;
}
.newslist-content .title-newslist {
  font-size: 22px;
  float: none;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px solid #eee;
  margin-bottom: 30px;
}
.newslist-content .title-newslist:after {
  content: "";
  border-bottom: 2px solid #ef6837;
  display: block;
  width: 80px;
  text-align: center;
  margin: 0 auto;
  margin-top: 15px;
}
.newslist-content .list-news > li img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
@media (max-width: 450px) {
  .newslist-content .list-news > li img {
    margin-top: 20px;
  }
}
.newslist-content .list-news > li h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 25px;
  height: 50px;
  overflow: hidden;
}
@media (max-width: 450px) {
  .newslist-content .list-news > li h4 {
    margin-bottom: 10px;
  }
}
.newslist-content .list-news > li p {
  max-height: 300px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.newslist-content .list-news > li .see-more {
  margin-top: 20px;
  color: #ef6837;
}
@media (max-width: 450px) {
  .newslist-content .list-news > li .see-more {
    margin-top: 0px;
  }
}/*# sourceMappingURL=home.css.map */