.owl-dots {
  position: absolute;
  left: 50%;                   /* Move 50% from left */
  bottom: 10px;                /* Move 10px from bottom */
  transform: translateX(-50%);
  .owl-dot {
    padding: 0;
    border: none;
    background-color: transparent;
    &:focus {
      outline: none;
    }
  }
  .active {
    span {
      background-color: #FFF45F !important;
      width: 30px;
      transition: width 0.2s ease;
    }
  }
}
.container {
  padding: 0;
  .new {
    font-weight: 400;
  }

  .owl-dots {
    .owl-dot {
      background-color: transparent;
      border: none;
    }
  }
  .nav-tabs {
    border: none;
    .nav-link{
      border: none;
      color: #333;
      display: block;
      text-align: center;
    }
    .active {
      background-color: transparent;
      font-weight: 400;
    }
  }
  .owl-dots {
    .owl-dot {
      padding: 0;
      border: none;
      background-color: transparent;
      &:focus {
        outline: none;
      }
    }
    .active {
      span {
        // width: 30px;
        transition: width 0.2s ease;
      }
    }
  }
}