.schedule .schedule-item {
  position: relative;
}
.schedule .schedule-item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #BE202F;
  opacity: 0;
  transition: 0.3s;
}
.schedule img {
  width: 285px;
  height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
}

.schedule .owl-stage-outer {
  height: 289px;
}

@media screen and (max-width: 767px) {
  .target-box .btgrid .row {
    flex-direction: column;
  }
  .target-box .btgrid .row .col {
    width: 100%;
  }
  .target-box .btgrid .row .col img {
    -o-object-fit: contain;
       object-fit: contain;
  }
}/*# sourceMappingURL=default.css.map */