.schedule {
    .schedule-item {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #BE202F;
            opacity: 0;
            transition: .3s;
        }
    }
    img {
        width: 285px;
        height: 300px;
        object-fit: contain;
    }
}

.schedule {
    .owl-stage-outer {
        height: 289px;
    }
}


@media screen and (max-width: 767px) {
    .target-box {
        .muc-tieu-image {
            // background-size: 100%;
        }
        .btgrid {
            .row {
                flex-direction: column;
                .col {
                    width: 100%;
                    img {
                        object-fit: contain;
                    }
                }
            }
        }
    }
}