.block-1 {
  display: flex;
  padding-top: 50px;
}
.block-1 .left {
  width: 50%;
}
.block-1 .left iframe {
  width: 100%;
  height: 100%;
}
.block-1 .right {
  width: 50%;
  color: white;
  margin-left: 60px;
}

.content {
  background: rgb(62, 0, 118);
  background: var(--background-color);
}

.send-contact {
  cursor: pointer;
}

.title-contact {
  font-family: "UTM-Americana";
  font-weight: 300;
  margin-bottom: 30px;
}

.logo-authorized-deadler {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.logo-authorized-deadler img {
  width: 100%;
  height: 150px;
  padding: 5px;
  -o-object-fit: contain;
     object-fit: contain;
}

.check-box {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 7px;
  cursor: pointer;
  height: 40px;
}
.check-box input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.check-box input:checked ~ .checkmark {
  background-color: #DB801A;
  border: none;
}
.check-box input:checked ~ .checkmark:after {
  display: block;
}
.check-box:hover input ~ .checkmark {
  background-color: rgba(212, 212, 212, 0.168627451);
}
.check-box .checkmark:after {
  left: 18px;
  top: 10px;
  width: 8px;
  height: 17px;
  border: solid white;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  border: 1px solid #bbb;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.block-2 {
  padding-top: 60px;
  display: flex;
}
.block-2 .left {
  width: 55%;
}
.block-2 .left .title-form-contact {
  font-size: 25px;
}
.block-2 .left .summary-form-contact {
  font-size: 13px;
}
.block-2 .right {
  margin-left: 50px;
  width: 45%;
}
.block-2 .right img {
  width: 100%;
  border-radius: 10px;
}

.input-contact {
  width: 100%;
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  padding: 8px;
  color: white;
  margin-top: 20px;
}
.input-contact::-moz-placeholder {
  color: white;
  font-weight: 600;
}
.input-contact::placeholder {
  color: white;
  font-weight: 600;
}
.input-contact:focus {
  outline: none;
}

.input-contact-checkbox {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 1px solid white;
}

.logo-partner-wrapper {
  margin-top: 40px;
  border-top: 2px solid;
  border-top-color: #1affff;
}

.logo-contact {
  background-color: white;
}

.logo-authorized-deadler .logo-contact {
  width: 100%;
  background-color: white;
}

@media (max-width: 967px) {
  .logo-authorized-deadler {
    grid-template-columns: 1fr 1fr;
  }
  .logo-authorized-deadler .logo-contact {
    background-color: white !important;
    border-radius: 5px;
  }
  .logo-authorized-deadler img {
    height: 80px !important;
  }
  .logo-partner-wrapper .logo-contact {
    margin-bottom: 0px !important;
  }
  .right {
    margin-top: 20px;
  }
  .right .logo-contact {
    margin-bottom: 20px;
    background-color: transparent;
  }
  .des-bottom {
    padding-top: 0px !important;
  }
  .block-2 {
    padding: 20px;
    flex-direction: column-reverse;
  }
  .block-2 .left {
    width: 100%;
    margin-top: 20px;
  }
  .block-2 .right {
    width: 100%;
    margin-left: 0px;
  }
  .block-1 {
    display: block;
    padding: 20px;
  }
  .block-1 .left {
    width: 100%;
  }
  .block-1 .left iframe {
    height: 300px !important;
  }
  .block-1 .right {
    width: 100%;
    margin-left: 0px;
  }
}
@media (min-width: 992px) {
  .logo-contact {
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    height: 80px;
    width: 50%;
    margin-right: 15px;
  }
  .logo-contact img {
    width: 100%;
    height: 100%;
  }
  .logo-authorized-deadler .logo-contact {
    width: 100%;
  }
  .container-2 {
    max-width: 1020px;
    margin: auto;
  }
}
@media (min-width: 1600px) {
  .container-2 {
    max-width: 1320px;
    margin: auto;
  }
  .block-2 .left .title-form-contact {
    font-size: 33px;
  }
  .block-2 .left .summary-form-contact {
    font-size: 16px;
  }
}/*# sourceMappingURL=contact.css.map */