.owl-dots {
  position: absolute;
  left: 50%; /* Move 50% from left */
  bottom: 10px; /* Move 10px from bottom */
  transform: translateX(-50%);
}
.owl-dots .owl-dot {
  padding: 0;
  border: none;
  background-color: transparent;
}
.owl-dots .owl-dot:focus {
  outline: none;
}
.owl-dots .active span {
  background-color: #FFF45F !important;
  width: 30px;
  transition: width 0.2s ease;
}

.container {
  padding: 0;
}
.container .new {
  font-weight: 400;
}
.container .owl-dots .owl-dot {
  background-color: transparent;
  border: none;
}
.container .nav-tabs {
  border: none;
}
.container .nav-tabs .nav-link {
  border: none;
  color: #333;
  display: block;
  text-align: center;
}
.container .nav-tabs .active {
  background-color: transparent;
  font-weight: 400;
}
.container .owl-dots .owl-dot {
  padding: 0;
  border: none;
  background-color: transparent;
}
.container .owl-dots .owl-dot:focus {
  outline: none;
}
.container .owl-dots .active span {
  transition: width 0.2s ease;
}/*# sourceMappingURL=banner-home.css.map */