main {
  background: linear-gradient(106.76deg, #005176 -21.91%, #024d75 -2.34%, #094271 15.87%, #142f6b 33.53%, #241562 50.77%, #280f60 54.07%, #2b0f63 64.22%, #350d6e 72.98%, #450b80 81.23%, #5c0899 89.17%, #7905b9 96.88%, #9c00e0 104.31%, #9f00e3 104.81%, #5d0091 125.19%);
}

.line {
  width: 55px;
  height: 2px;
  display: block;
  background-color: #1AFFFF;
}

.content {
  margin-top: 50px;
  padding-left: 80px;
  padding-right: 80px;
  position: relative;
  padding-bottom: 60px;
}
.content .image-banner img {
  width: 100%;
  max-height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel {
  margin-top: 80px;
}
.carousel .item {
  width: 200px !important;
  max-width: 200px !important;
  height: 390px;
  background-color: white;
  border-radius: 28px;
  padding: 10px;
  margin-right: 30px;
  margin-left: 30px;
}
.carousel .item img {
  width: 100%;
  border-radius: 28px;
  height: 90%;
  -o-object-fit: cover;
     object-fit: cover;
}

.owl-nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.owl-theme .owl-nav [class*=owl-] {
  height: 44px;
  border: 1px;
  background: #DB801A;
}
.owl-theme .owl-nav [class*=owl-]:hover {
  background: rgba(219, 129, 26, 0.831372549);
}/*# sourceMappingURL=utilities.css.map */