.news-box {
  margin-top: 100px;
  background-size: 100% 100%;
  background-blend-mode: lighten;
  margin-bottom: 100px;
  .title-news {
    padding-bottom: 65px;
  }
  .time-box {
    padding: 5px;
  }
  .grid-section-news {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
  }
  .news-item {
    width: 100%;
    position: relative;
    .text-yellow {
      font-size: 12px;
    }
    .time-box {
      position: absolute;
      right: 10px;
      bottom: 165px;
      color: white;
      background: #ff671d;
      .day-time {
        font-size: 30px;
      }
      .month-time {
        font-size: 18px;
      }
    }
    .title-news-item {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      min-height: 32px;
      font-size: 15px;
      margin-bottom: 0px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .summary-news {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
    }
    .description-news {
      background-color: #fcfcfc;
      padding: 12px 12px 12px 27px;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    }
    img {
      width: 100%;
      height: 230px;
      object-fit: cover;
    }
    &:hover {
      color: initial;
    }
  }
  .seemore-news {
    margin-top: 75px !important;
  }
}

@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

@media (max-width: 967px) {
  .news-box {
    margin-top: 0px;
    padding: 30px;
    margin-bottom: 0px;
    background: linear-gradient(
      106.76deg,
      #005176 -21.91%,
      #024d75 -2.34%,
      #094271 15.87%,
      #142f6b 33.53%,
      #241562 50.77%,
      #280f60 54.07%,
      #2b0f63 64.22%,
      #350d6e 72.98%,
      #450b80 81.23%,
      #5c0899 89.17%,
      #7905b9 96.88%,
      #9c00e0 104.31%,
      #9f00e3 104.81%,
      #5d0091 125.19%
    );
    .grid-section-news {
      display: block;
    }
    .news-item {
      margin-bottom: 30px;
      .time-box {
        left: -20px;
        top: -20px;
        bottom: initial;
        right: initial;
        padding: 5px 10px;
      }
    }
  }
}
// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}
@media (min-width: 1600px) {
  .news-box {
    .news-item {
      .time-box {
        position: absolute;
        right: 10px;
        bottom: 165px;
        color: white;
      }
      .title-news-item {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        min-height: 32px;
        font-size: 15px;
        margin-bottom: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .description-news {
        background-color: #fcfcfc;
        padding: 12px 12px 12px 27px;
      }
      img {
        width: 100%;
        height: 300px;
      }
    }
  }
}
@media (min-width: 1900px) {
}
