.news-box {
  margin-top: 100px;
  background-size: 100% 100%;
  background-blend-mode: lighten;
  margin-bottom: 100px;
}
.news-box .title-news {
  padding-bottom: 65px;
}
.news-box .time-box {
  padding: 5px;
}
.news-box .grid-section-news {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
}
.news-box .news-item {
  width: 100%;
  position: relative;
}
.news-box .news-item .text-yellow {
  font-size: 12px;
}
.news-box .news-item .time-box {
  position: absolute;
  right: 10px;
  bottom: 165px;
  color: white;
  background: #ff671d;
}
.news-box .news-item .time-box .day-time {
  font-size: 30px;
}
.news-box .news-item .time-box .month-time {
  font-size: 18px;
}
.news-box .news-item .title-news-item {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  min-height: 32px;
  font-size: 15px;
  margin-bottom: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.news-box .news-item .summary-news {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.news-box .news-item .description-news {
  background-color: #fcfcfc;
  padding: 12px 12px 12px 27px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}
.news-box .news-item img {
  width: 100%;
  height: 230px;
  -o-object-fit: cover;
     object-fit: cover;
}
.news-box .news-item:hover {
  color: initial;
}
.news-box .seemore-news {
  margin-top: 75px !important;
}

@media (max-width: 967px) {
  .news-box {
    margin-top: 0px;
    padding: 30px;
    margin-bottom: 0px;
    background: linear-gradient(106.76deg, #005176 -21.91%, #024d75 -2.34%, #094271 15.87%, #142f6b 33.53%, #241562 50.77%, #280f60 54.07%, #2b0f63 64.22%, #350d6e 72.98%, #450b80 81.23%, #5c0899 89.17%, #7905b9 96.88%, #9c00e0 104.31%, #9f00e3 104.81%, #5d0091 125.19%);
  }
  .news-box .grid-section-news {
    display: block;
  }
  .news-box .news-item {
    margin-bottom: 30px;
  }
  .news-box .news-item .time-box {
    left: -20px;
    top: -20px;
    bottom: initial;
    right: initial;
    padding: 5px 10px;
  }
}
@media (min-width: 1600px) {
  .news-box .news-item .time-box {
    position: absolute;
    right: 10px;
    bottom: 165px;
    color: white;
  }
  .news-box .news-item .title-news-item {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    min-height: 32px;
    font-size: 15px;
    margin-bottom: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .news-box .news-item .description-news {
    background-color: #fcfcfc;
    padding: 12px 12px 12px 27px;
  }
  .news-box .news-item img {
    width: 100%;
    height: 300px;
  }
}/*# sourceMappingURL=cat.css.map */