.news-detail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
.news-detail .left {
  width: 65%;
}
.news-detail .left img {
  max-width: 100%;
  height: auto !important;
  -o-object-fit: contain;
     object-fit: contain;
}
.news-detail .right {
  width: 30%;
}

em {
  font-weight: 300 !important;
}

i {
  font-weight: 300 !important;
}

.banner-style-4 {
  position: relative;
}
.banner-style-4 img {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner-style-4::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #2c0965;
  top: 0px;
  left: 0px;
  opacity: 0.5;
}

#list-news {
  box-shadow: 0px 25.697px 72.8081px rgba(59, 77, 129, 0.08);
}

.news-item {
  width: 100%;
  position: relative;
  text-decoration: none;
}
.news-item .text-yellow {
  font-size: 12px;
}
.news-item .time-box {
  position: absolute;
  right: 10px;
  bottom: 75px;
  color: white;
  background: linear-gradient(106.76deg, #005176 -21.91%, #024d75 -2.34%, #094271 15.87%, #142f6b 33.53%, #241562 50.77%, #280f60 54.07%, #2b0f63 64.22%, #350d6e 72.98%, #450b80 81.23%, #5c0899 89.17%, #7905b9 96.88%, #9c00e0 104.31%, #9f00e3 104.81%, #5d0091 125.19%);
}
.news-item .time-box .day-time {
  font-size: 30px;
}
.news-item .time-box .month-time {
  font-size: 18px;
}
.news-item .title-news-item {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  min-height: 32px;
  font-size: 15px;
  margin-bottom: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.news-item .description-news {
  background-color: #fff;
  padding: 12px 12px 12px 27px;
}
.news-item img {
  width: 100%;
  height: 250px;
}

.owl-nav .owl-prev {
  position: absolute;
  top: 28%;
  left: 0px;
  background-color: transparent !important;
  border: none;
  outline: none;
}

.owl-nav .owl-prev span {
  color: #fff;
  font-size: 50px;
}

.owl-nav .owl-next {
  position: absolute;
  top: 28%;
  right: 0px;
  background-color: transparent !important;
  border: none;
  outline: none;
}

.owl-nav .owl-next span {
  color: #ffffff;
  font-size: 50px;
}

.title-relate {
  font-size: 20px;
}

.form-control {
  /* Color/1 */
  border: 2px solid #db801a;
  filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.1));
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.title-news {
  font-size: 29px;
}
.title-news span {
  font-size: 29px !important;
}

@media screen and (max-width: 976px) {
  .title-news {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 137.9%;
    text-transform: uppercase;
    color: #142f6b;
    text-align: center;
  }
  .banner-style-4 img {
    height: 250px;
  }
  .news-detail {
    display: block;
  }
  .news-detail .left,
  .news-detail .right {
    width: 100%;
  }
}
@media screen and (min-width: 1600px) {
  .title-news {
    font-size: 35px !important;
  }
  .title-news span {
    font-size: 35px !important;
  }
  .title-relate {
    font-size: 20px;
  }
}/*# sourceMappingURL=detail.css.map */