a {
  &:hover {
    text-decoration: none;
  }
}
body {
  background-color: white;
}
.grid-container {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-gap: 30px;
  padding-top: 10px;
}
blockquote {
  padding-left: 15px;
  border-left: 5px solid #E5E5E5;
  font-size: 14px;
  line-height: 22px;
  font-style: italic;
}
.item-cat {
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }
}

.item-grid {
  background: #fff;
  // border: 1px solid #ccc;
  border-radius: 5px;
  img {
    margin-bottom: 10px;
    width: 100%;
  }
  .name {
    font-weight: 700;
    font-size: 16px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-height: normal;
    transition: 0.1s;
    &.first-name {
      font-size: 24px;
      font-weight: 600;
    }
    &:hover {
      color: #8a9d5a;
      text-decoration: none;
    }
  }
  .detail-time-hit {
    font-style: italic;
    font-size: 14px;
    color: #999;
    margin-bottom: 0;
    margin-top: 10px;
    font-weight: 300;
    line-height: normal;
    i {
      margin-right: 5px;
    }
  }
}

.list-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  .item-news:nth-child(1) {
    grid-area: 1/4/1/1;
    img {
      height: 400px;
      object-fit: cover;
    }
    .sum {
      margin-top: 10px;
      margin-bottom: 0;
      font-size: 16px;
      color: #6d6e70;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 3;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      line-height: normal;
    }
  }
  .item-news:not(:first-child) {
    img {
      height: 150px;
      object-fit: cover;
    }
  }
}

.show-more {
  text-align: center;
  margin-top: 50px;
  a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    height: 40px;
    border-radius: 5px;
    background: #eee;
    color: #6d6e70;
    transition: 0.1s;
    i {
      margin-left: 5px;
    }
    &:hover {
      background: #ccc;
    }
  }
}

.h3_left {
  margin-bottom: 10px;
  line-height: normal;
  font-weight: 700;
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 50px;
  border-radius: 10px 0px 0px 0px;
  background: linear-gradient(60deg, #8a9d5a 320px, #F8F8F8 320px);
}

.cat-news {
  &:hover {
    color: #333;
  }
}
.h3_right {
  display: flex;
  align-items: center;
  line-height: normal;
  color: #000;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 1px solid #DDDDDD;
  height: 60px;
}

.grid-left {
  .item-grid {
    // padding: 20px;
  }
}

.grid-right {
  .item-grid {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.list-right {
  // padding: 20px;
  .item-right {
    display: grid;
    grid-template-columns: 120px auto;
    grid-gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px dotted #DDDDDD;
    &:last-child {
      margin-bottom: 0;
    }
    img {
      margin-bottom: 0;
    }
    .name {
      font-weight: normal;
      transition: 0.1s;
      font-weight: 500;
      &:hover {
        color: #8a9d5a;
      }
    }
  }
}

.list-tag {
  padding-bottom: 10px;
}

.item-tag {
  display: inline-flex;
  align-items: center;
  margin-left: 5px;
  margin-bottom: 10px;
  padding: 0 15px;
  height: 40px;
  background: #f8f8f8;
  border: 1px solid #ccc;
  font-size: 16px;
  color: #6d6e70;
  transition: 0.1s;
  &:hover {
    color: #8a9d5a;
  }
}

.list-news-cate {
  .item {
    display: grid;
    grid-template-columns: 270px auto;
    grid-gap: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #DDDDDD;
    img {
      margin-bottom: 0;
      height: 150px;
      object-fit: cover;
    }
    .sum {
      margin-top: 10px;
      margin-bottom: 0;
      font-size: 16px;
      color: #6d6e70;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 3;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      line-height: normal;
    }
  }
  .item:first-child {
    grid-template-columns: 1fr;
    img {
      height: auto;
    }
    .name {
      font-size: 24px;
      font-weight: 600;
    }
    .sum {
      -webkit-line-clamp: unset;
    }
  }
}

.pagination {
  padding-bottom: 10px;
  background: none;
}

@media (max-width: 769px) {
  .list-news-cate .item img {
    height: auto;
  }
  .grid-container {
    grid-template-columns: auto;
    padding-top: 20px;
    grid-gap: 20px;
  }
  .h3_left {
    height: 35px;
    font-size: 14px;
    padding: 0 10px;
    background: linear-gradient(60deg, #8a9d5a 80%, #F8F8F8 80%);
  }
  .grid-left .item-grid {
    padding: 10px;
  }
  .item-grid .name.first-name {
    font-size: 14px;
  }
  .list-item {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  .list-item .item-news:nth-child(1) {
    grid-area: unset;
  }
  .item-grid .name {
    font-size: 14px;
  }
  .list-item .item-news:not(:first-child) img {
    height: auto;
    margin-bottom: 0;
  }
  .list-item .item-news:not(:first-child) {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-gap: 10px;
  }
  .show-more {
    margin-top: 20px;
  }
  .show-more a {
    height: 30px;
  }
  .h3_right {
    font-size: 14px;
    padding: 10px;
    height: 35px;
  }
  .list-right {
    padding: 10px;
  }
  .list-right .item-right {
    grid-template-columns: 1fr 1.5fr;
    grid-gap: 10px;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
  .list-tag {
    padding: 10px 10px 10px 5px;
  }
  .item-tag {
    height: 35px;
    font-size: 14px;
  }
  .list-news-cate .item:first-child .sum {
    font-size: 14px;
  }
  .list-news-cate .item:first-child .name {
    font-size: 14px;
  }
  .list-news-cate .item {
    grid-template-columns: 1fr 1.5fr;
    grid-gap: 10px;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
  .list-news-cate .item .sum {
    font-size: 14px;
  }
  .list-item .item-news:nth-child(1) img{
    height: auto;
  }
}