.flatpickr-day.selected {
  background-color: #81954e !important;
  border: none !important;
}

.left-column-payment input[type=text] {
  width: 100%;
  padding: 10px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-right: 10px;
  height: 48px;
}
.left-column-payment input[type=text]:focus {
  outline: none;
  border: 1px solid #81954e;
}
.left-column-payment .link-btn {
  color: #f68c59;
  cursor: pointer;
  font-weight: 600;
}
.left-column-payment .link-btn:hover {
  color: #f68c59;
  font-weight: 600;
}
.left-column-payment .date-input input {
  width: 100%;
  padding: 10px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-right: 10px;
  height: 48px;
}
.left-column-payment .date-input input:focus {
  outline: none;
  border: 1px solid #81954e;
}
.left-column-payment .select2 {
  border: 1px solid #ccc;
  border-radius: 3px;
  height: 48px;
  width: 100%;
}
.left-column-payment .select2-selection--single {
  height: 45px !important;
  border: none !important;
  display: flex !important;
  align-items: center;
}
.left-column-payment .select2-selection__arrow {
  top: 40% !important;
}

.grey--text {
  color: "#999";
}

.sidenav-payment {
  width: 450px !important;
}

main .container-payment {
  height: 100vh;
}

.continue-step2, .continue-step3 {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #f68c59;
  color: white;
}
.continue-step2:hover, .continue-step3:hover {
  color: white;
  text-decoration: none;
  opacity: 0.8;
  cursor: pointer;
}

.confirm-step {
  width: 100%;
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #f68c59;
  color: white;
  display: block;
  text-align: center;
  font-weight: 600;
}
.confirm-step:hover {
  color: white;
  text-decoration: none;
  opacity: 0.8;
  cursor: pointer;
}

.confirm-step-2 {
  width: 100%;
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #81954e;
  color: white;
  display: block;
  text-align: center;
  font-weight: 600;
}
.confirm-step-2:hover {
  color: white;
  text-decoration: none;
  opacity: 0.8;
  cursor: pointer;
}

.radio-container {
  position: relative;
}
.radio-container label {
  cursor: pointer;
}
.radio-container input {
  position: absolute;
  display: none;
}
.radio-container .style-radio {
  position: absolute;
  top: 15px;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid #BBBBBB;
  border-radius: 50%;
}
.radio-container:hover {
  color: #81954E;
}
.radio-container:hover input ~ .style-radio {
  background: #81954E;
}
.radio-container input:checked ~ .style-radio {
  background-color: white;
  border: 1px solid #81954E;
}
.radio-container input:checked ~ .style-radio::after {
  display: block;
}
.radio-container .style-radio:after {
  content: "";
  top: 2px;
  left: 2px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #81954E;
  position: absolute;
  display: none;
}

.link {
  color: #81954e;
  text-decoration: none;
}
.link:hover {
  text-decoration: none;
  color: #81954E;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .header-box {
    width: 100%;
  }
  .step-image {
    width: 60% !important;
  }
  .right-column-payment {
    display: none;
  }
  .sidenav {
    display: none;
    width: 100% !important;
  }
  #cartModal-payment {
    z-index: 998;
  }
  .cart-payment-mobile {
    z-index: 999;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f68c59;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  .cart-payment-mobile i {
    color: white;
    font-size: 25px;
  }
}
@media screen and (min-width: 769px) {
  .cart-payment-mobile {
    display: none;
  }
}/*# sourceMappingURL=payment.css.map */