.title-success {
  font-size: 30px;
}

.menu {
  display: none;
}

.content-order-success {
  margin-bottom: 65px;
}

.back-to-home {
  max-width: 300px;
  height: 50px;
  background-color: #f8f8f8;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  border-radius: 150px;
  display: flex;
  align-items: center;
}
.back-to-home:hover {
  opacity: 0.9;
  cursor: pointer;
}
.back-to-home a {
  color: #333333;
}
.back-to-home a:hover {
  text-decoration: none;
}

.go-shopping {
  max-width: 300px;
  height: 50px;
  background-color: #f68c59;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  border-radius: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.go-shopping:hover {
  opacity: 0.9;
  cursor: pointer;
}
.go-shopping a {
  color: white;
}
.go-shopping a:hover {
  text-decoration: none;
}

.code-order {
  padding: 20px;
  height: 35px;
  border-radius: 150px;
  background-color: #0c9854;
}
.code-order p {
  color: white;
}

@media (max-width: 767px) {
  .thank-you {
    width: 100%;
    text-align: justify;
  }
  .content-order-success {
    margin-top: 65px !important;
  }
  .title-success {
    font-size: 20px !important;
  }
}
@media (min-width: 1024px) {
  .thank-you {
    width: 725px;
  }
}/*# sourceMappingURL=success.css.map */