@import '../../../../templates/default/css/colors.scss';

.title-success {
  font-size: 30px;
}
.menu {
  display: none;
}

.content-order-success {
  margin-bottom: 65px;
}
.back-to-home {
  max-width: 300px;
  height: 50px;
  background-color: #f8f8f8;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  border-radius: 150px;
  display: flex;
  align-items: center;
  &:hover{
    opacity: 0.9;
    cursor: pointer;

  }
  a {
    color: #333333;
    &:hover {
      text-decoration: none;
    }
  }
}
.go-shopping {
  max-width: 300px;
  height: 50px;
  background-color: #f68c59;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  border-radius: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover{
    opacity: 0.9;
    cursor: pointer;
  }
  a {
    color: white;
    &:hover {
      text-decoration: none;
    }
  }
}
.code-order {
  padding: 20px;
  height: 35px;
  border-radius: 150px;
  background-color: #0c9854;
  p {
    color: white;
  }
}
@media (max-width: 767px) {
  .thank-you {
    width: 100%;
    text-align: justify;
  }
  .content-order-success {
    margin-top: 65px !important;
  }
  .title-success {
    font-size: 20px !important;
  }
}
@media (min-width: 1024px) {
  .thank-you {
    width: 725px;
  }
}