.list_menu_new {
  background: #fff;
  margin-bottom: 20px;
  border-radius: 5px;
}
.list_menu_new .title-left-menu {
  padding: 20px 14px;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  background: #f06837;
}
.list_menu_new .tab-content {
  background-color: #f8f8f8;
}
.list_menu_new .tab-content li {
  padding: 14px;
  border-bottom: 1px solid #eeeeee;
}
.list_menu_new .tab-content li a i {
  margin-right: 5px;
  font-size: 15px;
}
.list_menu_new .tab-content li.active a {
  color: #ef6837;
}
.list_menu_new .tab-pane-list {
  padding: 0 15px;
}
.list_menu_new .tab-pane-list ul li {
  padding: 15px 0;
  border-bottom: 1px dotted #e5e5e5;
}
.list_menu_new .tab-pane-list ul li img {
  width: 40%;
}
.list_menu_new .tab-pane-list ul li span {
  width: 50%;
  display: inline-block;
  float: right;
}/*# sourceMappingURL=default.css.map */