.news_menu-default {
  float: left;
  width: 100%;
  border: 1px solid #efeae1;
  margin-bottom: 20px;
}
.news_menu-default .block_title {
  font-size: 15px;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: normal;
  background-color: #7a461d;
  padding-left: 15px;
}
.news_menu-default .nav-news-menus li {
  border-bottom: 1px solid #efeae1;
  position: relative;
  padding-left: 16px;
  padding: 9px 0px 9px 16px;
}
@media (max-width: 767px) {
  .news_menu-default .nav-news-menus li {
    float: left;
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .news_menu-default .nav-news-menus li a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media (max-width: 480px) {
  .news_menu-default .nav-news-menus li {
    width: 100%;
  }
}
.news_menu-default .nav-news-menus li .a2_1 {
  position: relative;
  padding-left: 42px;
}
.news_menu-default .nav-news-menus li .a2_1 i {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
}
.news_menu-default .nav-news-menus li a {
  position: relative;
  display: block;
  line-height: 30px;
  color: #333333;
  font-size: 15px;
}
.news_menu-default .nav-news-menus li:last-child {
  border-bottom: none;
}/*# sourceMappingURL=styles.css.map */