$grey-text: #999999;
$grey-btn: #666666;
$grey-background: #F7F7F7;
$grey-star: #EEEEEE;
$grey-tab: #f8f8f8;
$red: #C73536;
$red-hover: #C97172;
$line: #EBEBEB;
$black-background: #363435;
$facebook: #3B5999;
$google: #DC4E41;
$star: #F8B84E;
$circle-check: #50B748;
$nav-color: #363435;
$blue-text: #189EFF;
$green-text: #50B748;
