@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 100;
    src: url("../fonts/AnyConv.com__Montserrat-Thin.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 100;
    src: url("../fonts/AnyConv.com__Montserrat-ThinItalic.woff") format("woff");
    font-display: swap;

}
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 200;
    src: url("../fonts/AnyConv.com__Montserrat-ExtraLight.woff") format("woff");
}

@font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 200;
    src: url("../fonts/AnyConv.com__Montserrat-ExtraLightItalic.woff") format("woff");
}
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/AnyConv.com__Montserrat-Light.woff") format("woff");
    font-display: swap;

}

@font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 300;
    src: url("../fonts/AnyConv.com__Montserrat-LightItalic.woff") format("woff");
    font-display: swap;

}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/AnyConv.com__Montserrat-Regular.woff") format("woff");
    font-display: swap;

}


@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/AnyConv.com__Montserrat-Medium.woff") format("woff"),
         url("../fonts/Montserrat-Medium.ttf") format("ttf");
    font-display: swap;

}
@font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 500;
    src: url("../fonts/AnyConv.com__Montserrat-MediumItalic.woff") format("woff"),
        url("../fonts/Montserrat-MediumItalic.ttf") format("ttf");
    font-display: swap;

}
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/AnyConv.com__Montserrat-SemiBold.woff") format("woff"),
        url("../fonts/Montserrat-SemiBold.ttf") format("ttf");
    font-display: swap;

}
@font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 600;
    src: url("../fonts/AnyConv.com__Montserrat-SemiBoldItalic.woff") format("woff"),
    url("../fonts/Montserrat-SemiBold.ttf") format("ttf");
}
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/AnyConv.com__Montserrat-Bold.woff") format("woff"),
    url("../fonts/Montserrat-Bold.ttf") format("ttf");
    font-display: swap;

}
@font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/AnyConv.com__Montserrat-BoldItalic.woff") format("woff"),
    url("../fonts/Montserrat-BoldItalic.ttf") format("ttf");
    font-display: swap;

}
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/AnyConv.com__Montserrat-ExtraBold.woff") format("woff");
    font-display: swap;

}
@font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 800;
    src: url("../fonts/AnyConv.com__Montserrat-ExtraBoldItalic.woff") format("woff");
    font-display: swap;

}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/AnyConv.com__Montserrat-Black.woff") format("woff");
    font-display: swap;

}
@font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 900;
    src: url("../fonts/AnyConv.com__Montserrat-BlackItalic.woff") format("woff");
    font-display: swap;

}

@font-face {
    font-family: "Great Vibes";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/AnyConv.com__GreatVibes-Regular.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "UTM Bebas";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/UTM-Bebas.woff") format("woff");
    font-display: swap;

}

@font-face {
    font-family: "UTM Swiss";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/UTM-Swiss-721-Black-Condensed.woff") format("woff");
    font-display: swap;

}
@font-face {
    font-family: "Rift";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/Fort-Foundry-RiftSoft-Bold.woff") format("woff");
    font-display: swap;

}

@font-face {
    font-family: "UTM-Americana";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/UTM-Americana.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "UTM-Americana";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/UTM-AmericanaB.woff") format("woff");
    font-display: swap;
}