#msgModal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  background: rgba(0, 0, 0, 0.5);
  .msgmodal-content {
    background: #fff;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    width: auto;
    max-width: 450px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    p {
      font-size: 20px !important;
    }
  }
  .msgmodal-body {
    text-align: center;
    svg {
      width: 50px;
      height: 50px;
      margin: auto;
      display: block;
      margin-bottom: 20px;
    }
    .bt-modals {
      text-align: center;
      margin: auto;
      display: inline-block;
      padding: 5px 20px;
      border-radius: 4px;
      background: #81954e;
      color: #fff;
      text-decoration: none;
      margin-top: 20px;
    }
  }
  /* Add Animation */
  // @-webkit-keyframes animatetop {
  //   from {
  //     top: -300px;
  //     opacity: 0;
  //   }

  //   to {
  //     top: 0;
  //     opacity: 1;
  //   }
  // }
  // @keyframes animatetop {
  //   from {
  //     top: -300px;
  //     opacity: 0;
  //   }

  //   to {
  //     top: 0;
  //     opacity: 1;
  //   }
  // }
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 36px;
    font-weight: bold;
  }

  h5 {
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
  }

  .close:focus,
  .close:hover {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
  }

  .msgmodal-header {
    padding: 2px 10px 2px 16px;
    background-color: #116bb3;
    line-height: 36px;
    color: white;
  }

  .msgmodal-body {
    padding: 15px 16px 30px;
    line-height: 20px;
    text-align: center;

    .bt-modals {
      background-color: #e83e28;
      margin-right: 10px;
      font-size: 20px;
      color: #ffffff;
      padding: 10px 20px;
      text-transform: uppercase;
      border-radius: 3px;
      display: inline-block;
      margin-top: 20px;
    }
  }

  .msgmodal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }

  svg {
    width: 100px;
    display: block;
    margin: 40px auto;
  }

  .path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;

    &.circle {
      -webkit-animation: dash 0.9s ease-in-out;
      animation: dash 0.9s ease-in-out;
    }

    &.line {
      stroke-dashoffset: 1000;
      -webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
      animation: dash 0.9s 0.35s ease-in-out forwards;
    }

    &.check {
      stroke-dashoffset: -100;
      -webkit-animation: dashCheck 0.9s 0.35s ease-in-out forwards;
      animation: dashCheck 0.9s 0.35s ease-in-out forwards;
    }
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dashCheck {
  0% {
    stroke-dashoffset: -100;
  }

  100% {
    stroke-dashoffset: 900;
  }
}

@keyframes dashCheck {
  0% {
    stroke-dashoffset: -100;
  }

  100% {
    stroke-dashoffset: 900;
  }
}

.redborder:focus {
  outline: none !important;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 0 0.1rem red !important;
  box-shadow: 0 0 0 0.1rem red !important;
}