* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
:root {
  --background-color: linear-gradient(146.94deg, #331e87 -12.04%, #3920ac 43.56%, #9f00e3 105.28%);
  --header: #291384;
  --secondary-background-color: linear-gradient(318.16deg, #0a3479 -11.48%, #9c00e0 122.26%);
}
body {
  scroll-behavior: auto !important;
}

#nav-icon1 {
  width: 30px;
  height: 30px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
#nav-icon1 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 10px;
}

#nav-icon1 span:nth-child(3) {
  top: 20px;
}

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.desktop {
  display: flex;
  flex-direction: column;
}
.mobile {
  display: none;
}
.up-page {
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  z-index: 1000;
}
.infomation {
  position: fixed;
  right: 20px;
  bottom: 160px;
  cursor: pointer;
  z-index: 1000;
  svg {
    circle {
      fill: #c622ff !important;
    }
  }
  &:hover {
    svg {
      circle {
        fill: #db801a !important;
      }
    }
    .text {
      opacity: 1;
      visibility: visible;
      position: unset;
      border-radius: 3px;
      transition: 0.3s;
    }
  }
  .text {
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    background-color: #db801a;
    color: white;
    padding: 5px;
    border-radius: 3px;
    pointer-events: none;
    position: absolute;
    z-index: -1;
    // border-radius: 50%;
    // display: none;
  }
}
.register-fixed {
  position: fixed;
  right: 20px;
  bottom: 90px;
  cursor: pointer;
  z-index: 1000;
  svg {
    circle {
      fill: #c622ff !important;
    }
  }
  &:hover {
    svg {
      circle {
        fill: #db801a !important;
      }
    }
    .text {
      opacity: 1;
      visibility: visible;
      position: unset;
      border-radius: 3px;
      transition: 0.3s;
    }
  }
  .text {
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    background-color: #db801a;
    color: white;
    padding: 5px;
    border-radius: 3px;
    pointer-events: none;
    position: absolute;
    z-index: -1;
    // border-radius: 50%;
    // display: none;
  }
}

a {
  text-decoration: none;
  &:hover {
    color: inherit;
  }
}
.fancybox-caption__body {
  font-size: 30px;
  font-family: "UTM-Americana";
}
#staticBackdrop {
  --bs-modal-width: 1000px;

  .title-american {
    font-size: 28px;
  }
  .modal-content {
    background: var(--background-color);
  }
  .left {
    width: 40%;
    height: 600px !important;
    img {
      height: 100%;
      max-width: 100%;
      object-fit: cover;
    }
  }
  .right {
    padding: 30px;
    padding-bottom: 0px;
    .input-contact {
      width: 100%;
      border: none;
      border-bottom: 1px solid white;
      background-color: transparent;
      padding: 8px;
      color: white;
      margin-top: 20px;
      &::placeholder {
        color: white;
        font-weight: 600;
      }
      &:focus {
        outline: none;
      }
    }

    .input-contact-checkbox {
      width: 40px;
      height: 40px;
      background-color: transparent;
      border: 1px solid white;
    }
    .content {
      background: rgb(62, 0, 118);
      background: linear-gradient(
        106.76deg,
        #005176 -21.91%,
        #024d75 -2.34%,
        #094271 15.87%,
        #142f6b 33.53%,
        #241562 50.77%,
        #280f60 54.07%,
        #2b0f63 64.22%,
        #350d6e 72.98%,
        #450b80 81.23%,
        #5c0899 89.17%,
        #7905b9 96.88%,
        #9c00e0 104.31%,
        #9f00e3 104.81%,
        #5d0091 125.19%
      );
    }

    .check-box {
      display: block;
      position: relative;
      padding-left: 25px;
      margin-bottom: 7px;
      cursor: pointer;
      height: 40px;
      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        &:checked {
          ~ {
            .checkmark {
              background-color: #db801a;
              border: none;
              &:after {
                display: block;
              }
            }
          }
        }
      }
      &:hover {
        input {
          ~ {
            .checkmark {
              background-color: #d4d4d42b;
            }
          }
        }
      }
      .checkmark {
        &:after {
          left: 18px;
          top: 10px;
          width: 8px;
          height: 17px;
          border: solid white;
          border-width: 0 1px 1px 0;
          transform: rotate(45deg);
        }
      }
    }
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 40px;
      width: 40px;
      border: 1px solid #bbb;
      &:after {
        content: "";
        position: absolute;
        display: none;
      }
    }
  }
}
#staticBackdrop2 {
  --bs-modal-width: 1100px;

  .title-american {
    font-size: 28px;
  }
  .modal-body {
    padding-left: 60px;
    padding-right: 60px;
  }
  .title-modal {
    font-size: 23px;
  }
  .title-form-contact-modal {
    padding: 60px;
    padding-top: 30px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 300px;
      height: 1px;
      background-color: #db801a;
      bottom: 35px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .left {
    padding-right: 20px;
  }
  .left,
  .right {
    width: 50%;
  }
  .right {
    margin-top: 0px;
    margin-bottom: 100px;

    padding: 30px;
    background: var(--background-color);
    .input-contact {
      width: 100%;
      border: none;
      border-bottom: 1px solid white;
      background-color: transparent;
      padding: 8px;
      color: white;
      margin-top: 20px;
      &::placeholder {
        color: white;
        font-weight: 600;
      }
      &:focus {
        outline: none;
      }
    }
  }
}
.background-gradient-primary {
  background: rgb(62, 0, 118);
  background: linear-gradient(
    135deg,
    rgba(62, 0, 118, 1) 0%,
    rgba(0, 68, 105, 1) 11%,
    rgba(9, 66, 113, 1) 21%,
    rgba(20, 47, 107, 1) 28%,
    rgba(36, 21, 98, 1) 38%,
    rgba(41, 15, 97, 1) 42%,
    rgba(44, 15, 100, 1) 50%,
    rgba(53, 13, 110, 1) 56%,
    rgba(72, 11, 131, 1) 63%,
    rgba(115, 2, 175, 1) 70%,
    rgba(122, 5, 186, 1) 76%,
    rgba(132, 0, 190, 1) 84%,
    rgba(93, 0, 145, 1) 100%
  );
}

.title-american,
.title-american-2 {
  font-family: UTM-Americana;
  font-weight: 100;
}

.text-cyan {
  color: #1affff;
}
.text-yellow {
  color: #db801a;
}
.text-blue {
  color: #2c3a61;
}
.title-montserrat {
  font-family: Montserrat;
}

.btn-style-2 {
  display: block;
  background-color: transparent;
  color: white;
  width: fit-content;
  padding: 12px 24px;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  &:hover {
    background-color: #db801a;
    color: white;
    border: 1px solid #db8019;
  }
}
.btn-style-1 {
  display: block;
  background-color: #db801a;
  color: white;
  width: fit-content;
  padding: 8px;
  text-decoration: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  transition: 0.3s;
  &:hover {
    background-color: white;
    color: #db801a !important;
  }
}

.video-box {
  position: relative;
}
.play-btn {
  width: 60px;
  height: 60px;
  &:hover {
    cursor: pointer;
  }
}

.play-btn {
  // background: #ffffff4e;
  // border: 2px solid rgba(255, 255, 255, 0.765);
  border-radius: 50%;
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
}
.line-3 {
  width: 1px;
  height: 50px;
  background-color: white;
  position: absolute;
  left: 60%;
  top: 25%;
}

.page-link {
  color: #333;
  border-radius: 5px !important;
  margin: 15px;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
}
.active > .page-link,
.page-link.active {
  background-color: #db801a !important;
  border-color: #db801a;
}
.page-item:not(:first-child) .page-link {
  margin-left: -1px;
  border-radius: 5px !important;
}
.pre_page {
  display: flex;
  align-items: center;
}
.next-page {
  background-color: #db801a;
  border-color: #db801a;
  display: flex;
  align-items: center;
}

.gradient-background {
  background: var(--background-color);
}
.label_error {
  color: red;
}
.mobile-nav {
  width: 70vw;
  height: 100vh;
  // border-top-right-radius: 50%;
  // border-bottom-right-radius: 50%;
  background-color: #fff;
  position: fixed;
  top: 0px;
  left: -70vw;
  z-index: 999;
  // transition: 3s;
}
.modal {
  z-index: 10000000;
}
@media screen and (max-width: 512px) {
}
@media screen and (max-width: 992px) {
  .header-top--white {
    display: none !important;
  }
  #staticBackdrop {
    .modal-body {
      .left {
        display: none;
      }
      .right {
        padding-bottom: 30px;
      }
    }
  }
  #staticBackdrop2 {
    .title-form-contact-modal {
      font-size: 18px;
      pointer-events: none;
      padding: 30px 20px 50px 20px;
    }
    .title-american {
      font-size: 18px;
    }
    .modal-body {
      padding-left: 20px;
      padding-right: 20px;
      .left,
      .right {
        width: 100%;
      }
      .left {
        padding-right: 0px !important;
        text-align: justify;
      }
      .right {
        margin-bottom: 0px;
      }
    }
  }

  .harbour-vandon {
    font-size: 16px !important;
  }
  .input-footer {
    border-radius: 20px;
    width: 100%;
    padding: 6px 10px;
    background-color: #dbdbdb;
    border: none;
  }
  footer .register-btn {
    position: absolute;
    border: 1px solid #db801a;
    border-radius: 20px;
    color: #db801a;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    padding: 4px 25px;
    top: 0px;
    right: 0px;
  }

  footer {
    .logo-footer-1 {
      img {
        width: 90%;
      }
    }
    .logo-footer-2 {
      width: 40% !important;
    }
  }
  .content-mobile-menu {
    position: fixed;
    z-index: 10000;
    top: 70px;
    left: 30px;
    .navbar-nav {
      color: white;
      li {
        font-size: 20px;
        margin-bottom: 30px;
        text-align: start;
        color: #db8019;
        position: relative;
        text-transform: uppercase;
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 1px;
          bottom: -10px;
          left: 0px;
          background: linear-gradient(
            106.76deg,
            #005176 -21.91%,
            #024d75 -2.34%,
            #094271 15.87%,
            #142f6b 33.53%,
            #241562 50.77%,
            #280f60 54.07%,
            #2b0f63 64.22%,
            #350d6e 72.98%,
            #450b80 81.23%,
            #5c0899 89.17%,
            #7905b9 96.88%,
            #9c00e0 104.31%,
            #9f00e3 104.81%,
            #5d0091 125.19%
          );
        }
      }
    }
  }
  .logo-footer {
    margin-top: 40px;
  }
  .header-mobile {
    width: 100%;
    position: fixed;
    z-index: 998;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    background: var(--header);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
    top: 0;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: flex;
    flex-direction: column;
  }
  .contact-box {
    margin-top: 40px;
    .title-contact {
      font-size: 18px;
      margin-bottom: 25px;
      margin-top: 10px;
    }
    .left {
      img {
        width: 100%;
      }
    }
    .right {
      padding: 15px;
    }

    .btn-style-1 {
      margin: auto;
    }
  }
  .input-form {
    border: 2px solid #db801a;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    background: linear-gradient(
      106.76deg,
      rgba(0, 81, 118, 0.4) -21.91%,
      rgba(2, 77, 117, 0.4) -2.34%,
      rgba(9, 66, 113, 0.4) 15.87%,
      rgba(20, 47, 107, 0.4) 33.53%,
      rgba(36, 21, 98, 0.4) 50.77%,
      rgba(40, 15, 96, 0.4) 54.07%,
      rgba(43, 15, 99, 0.4) 64.22%,
      rgba(53, 13, 110, 0.4) 72.98%,
      rgba(69, 11, 128, 0.4) 81.23%,
      rgba(92, 8, 153, 0.4) 89.17%,
      rgba(121, 5, 185, 0.4) 96.88%,
      rgba(156, 0, 224, 0.4) 104.31%,
      rgba(159, 0, 227, 0.4) 104.81%,
      rgba(93, 0, 145, 0.4) 125.19%
    );
    height: 58px;
    width: 100%;
    margin-bottom: 27px;
    padding-left: 20px;
    color: white;
    &::placeholder {
      color: white;
    }
  }
  .textarea-form {
    padding-top: 15px;
    border: 2px solid #db801a;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    background: linear-gradient(
      106.76deg,
      rgba(0, 81, 118, 0.4) -21.91%,
      rgba(2, 77, 117, 0.4) -2.34%,
      rgba(9, 66, 113, 0.4) 15.87%,
      rgba(20, 47, 107, 0.4) 33.53%,
      rgba(36, 21, 98, 0.4) 50.77%,
      rgba(40, 15, 96, 0.4) 54.07%,
      rgba(43, 15, 99, 0.4) 64.22%,
      rgba(53, 13, 110, 0.4) 72.98%,
      rgba(69, 11, 128, 0.4) 81.23%,
      rgba(92, 8, 153, 0.4) 89.17%,
      rgba(121, 5, 185, 0.4) 96.88%,
      rgba(156, 0, 224, 0.4) 104.31%,
      rgba(159, 0, 227, 0.4) 104.81%,
      rgba(93, 0, 145, 0.4) 125.19%
    );
    height: 150px;
    width: 100%;
    margin-bottom: 27px;
    padding-left: 20px;
    color: white;
    &::placeholder {
      color: white;
    }
  }

  footer {
    background: linear-gradient(
      106.76deg,
      rgba(0, 81, 118, 1) -21.91%,
      rgba(2, 77, 117, 1) -2.34%,
      rgba(9, 66, 113, 1) 15.87%,
      rgba(20, 47, 107, 1) 33.53%,
      rgba(36, 21, 98, 1) 50.77%,
      rgba(40, 15, 96, 1) 54.07%,
      rgba(43, 15, 99, 1) 64.22%,
      rgba(53, 13, 110, 1) 72.98%,
      rgba(69, 11, 128, 1) 81.23%,
      rgba(92, 8, 153, 1) 89.17%,
      rgba(121, 5, 185, 1) 96.88%,
      #9c00e0 104.31%,
      rgba(159, 0, 227, 1) 104.81%,
      rgba(93, 0, 145, 1) 125.19%
    );
  }
  .footer {
    flex-direction: column !important;
  }
  .contact-info {
    flex-direction: column;
    .section-footer-1 {
      width: 100% !important;
    }
    .section-footer-2 {
      width: 100% !important;
      input {
        width: 100%;
      }
    }
  }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .title-american {
    font-size: 27px;
  }
  .title-american-2 {
    font-size: 27px;
  }
  header {
    // position: relative;
    position: fixed;
    z-index: 10;
    top: 0px;
    width: 100%;
  }
  .header-top--white {
    height: 35px;
    background-color: white;
  }
  .email-us {
    color: #db801a;
    font-weight: 600;
  }
  .hotline-wrapper {
    background: rgb(62, 0, 118);
    background: linear-gradient(
      135deg,
      rgba(62, 0, 118, 1) 0%,
      rgba(0, 68, 105, 1) 11%,
      rgba(9, 66, 113, 1) 21%,
      rgba(20, 47, 107, 1) 28%,
      rgba(36, 21, 98, 1) 38%,
      rgba(41, 15, 97, 1) 42%,
      rgba(44, 15, 100, 1) 50%,
      rgba(53, 13, 110, 1) 56%,
      rgba(72, 11, 131, 1) 63%,
      rgba(115, 2, 175, 1) 70%,
      rgba(122, 5, 186, 1) 76%,
      rgba(132, 0, 190, 1) 84%,
      rgba(93, 0, 145, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    svg {
      fill: rgb(62, 0, 118);
      fill: linear-gradient(
        135deg,
        rgba(62, 0, 118, 1) 0%,
        rgba(0, 68, 105, 1) 11%,
        rgba(9, 66, 113, 1) 21%,
        rgba(20, 47, 107, 1) 28%,
        rgba(36, 21, 98, 1) 38%,
        rgba(41, 15, 97, 1) 42%,
        rgba(44, 15, 100, 1) 50%,
        rgba(53, 13, 110, 1) 56%,
        rgba(72, 11, 131, 1) 63%,
        rgba(115, 2, 175, 1) 70%,
        rgba(122, 5, 186, 1) 76%,
        rgba(132, 0, 190, 1) 84%,
        rgba(93, 0, 145, 1) 100%
      );
    }
  }
  .header-main {
    .container {
      height: 75px;
    }
    background-color: var(--header);
  }
  .logo {
    height: 100%;
    width: 15%;
    display: flex;
    align-items: center;
  }
  .hotline-main {
    width: 10%;
    position: relative;
    background-color: white;
    border-radius: 50px;
    height: 40px;
    width: 150px;
    svg {
      padding-top: 10px;
      width: 36px;
    }
  }
  .menu-main-top-wrapper {
    width: 80%;
    justify-content: space-between;
    .menu-main-top {
      width: 80%;
      .nav {
        width: 100%;
        .nav-menu {
          width: 100%;
          .li_header {
            text-transform: capitalize;
          }
        }
      }
    }
  }
  .hotline-main {
    position: relative;
  }
  .line-2 {
    width: 1px;
    height: 25px;
    background-color: white;
    position: absolute;
    left: -13px;
  }
  footer {
    padding: 70px 100px;
    background: rgb(62, 0, 118);
    background: var(--background-color);
    .footer {
      .left,
      .right {
        width: 50%;
      }
      .left {
        padding-right: 100px;
      }
    }
    .input-footer {
      border-radius: 20px;
      width: 100%;
      padding: 6px 10px;
      background-color: #dbdbdb;
      border: none;
    }

    .register-btn {
      position: absolute;
      border: 1px solid #db801a;
      border-radius: 20px;
      color: #db801a;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-decoration: none;
      padding: 4px 25px;
      top: 0px;
      right: 0px;
    }
  }
  .container-7 {
    max-width: 1020px;
    margin: auto;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .header-top--white {
    display: none !important;
  }
  .menu-main-top-wrapper .menu-main-top .nav .nav-menu .li_header {
    font-size: 12px !important;
  }
  .mainmenu-2 li {
    padding-right: 15px !important;
  }
  .mainmenu-2 .parent-ul .menu-item {
    font-size: 12px !important;
  }
}
// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  // .title-american {
  //   font-size: 37px
  // }
  // .title-american-2 {
  //   font-size: 30px
  // }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}
@media (min-width: 1600px) {
  .title-american {
    font-size: 37px;
  }
  .title-american-2 {
    font-size: 30px;
  }
  .container-7 {
    max-width: 1320px;
    margin: auto;
  }
}
@media (min-width: 1900px) {
  .container {
    max-width: 1605px;
  }
  .menu-main-top-wrapper {
    .menu-main-top {
      width: 84%;
    }
  }
  .title-american {
    font-size: 48px;
  }
  .title-american-2 {
    font-size: 37px;
  }
}
