* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  scroll-behavior: auto !important;
}

#nav-icon1 {
  width: 30px;
  height: 30px;
  position: relative;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 10px;
}

#nav-icon1 span:nth-child(3) {
  top: 20px;
}

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobile {
  display: none;
}

.up-page {
  position: fixed;
  right: 50px;
  bottom: 20px;
  cursor: pointer;
}

.infomation {
  position: fixed;
  right: 50px;
  bottom: 160px;
  cursor: pointer;
}

.infomation .text {
  pointer-events: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  background-color: #8d03bd;
  color: white;
  padding: 5px;
  border-radius: 3px;
}

.infomation:hover .text {
  opacity: 1;
  visibility: visible;
}

.register-fixed {
  position: fixed;
  right: 50px;
  bottom: 90px;
  cursor: pointer;
}

.register-fixed .text {
  pointer-events: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  background-color: #8d03bd;
  color: white;
  padding: 5px;
  border-radius: 3px;
}

.register-fixed:hover .text {
  opacity: 1;
  visibility: visible;
}

a {
  text-decoration: none;
}

a:hover {
  color: inherit;
}

.fancybox-caption__body {
  font-size: 30px;
  font-family: "UTM-Americana";
}

#staticBackdrop {
  --bs-modal-width: 1000px;
}

#staticBackdrop .title-american {
  font-size: 28px;
}

#staticBackdrop .modal-content {
  background: linear-gradient(106.76deg, #005176 -21.91%, #024d75 -2.34%, #094271 15.87%, #142f6b 33.53%, #241562 50.77%, #280f60 54.07%, #2b0f63 64.22%, #350d6e 72.98%, #450b80 81.23%, #5c0899 89.17%, #7905b9 96.88%, #9c00e0 104.31%, #9f00e3 104.81%, #5d0091 125.19%);
}

#staticBackdrop .left {
  width: 40%;
  height: 600px !important;
}

#staticBackdrop .left img {
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#staticBackdrop .right {
  padding: 30px;
  padding-bottom: 0px;
}

#staticBackdrop .right .input-contact {
  width: 100%;
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  padding: 8px;
  color: white;
  margin-top: 20px;
}

#staticBackdrop .right .input-contact::-webkit-input-placeholder {
  color: white;
  font-weight: 600;
}

#staticBackdrop .right .input-contact:-ms-input-placeholder {
  color: white;
  font-weight: 600;
}

#staticBackdrop .right .input-contact::-ms-input-placeholder {
  color: white;
  font-weight: 600;
}

#staticBackdrop .right .input-contact::placeholder {
  color: white;
  font-weight: 600;
}

#staticBackdrop .right .input-contact:focus {
  outline: none;
}

#staticBackdrop .right .input-contact-checkbox {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 1px solid white;
}

#staticBackdrop .right .content {
  background: #3e0076;
  background: linear-gradient(106.76deg, #005176 -21.91%, #024d75 -2.34%, #094271 15.87%, #142f6b 33.53%, #241562 50.77%, #280f60 54.07%, #2b0f63 64.22%, #350d6e 72.98%, #450b80 81.23%, #5c0899 89.17%, #7905b9 96.88%, #9c00e0 104.31%, #9f00e3 104.81%, #5d0091 125.19%);
}

#staticBackdrop .right .check-box {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 7px;
  cursor: pointer;
  height: 40px;
}

#staticBackdrop .right .check-box input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

#staticBackdrop .right .check-box input:checked ~ .checkmark {
  background-color: #db801a;
  border: none;
}

#staticBackdrop .right .check-box input:checked ~ .checkmark:after {
  display: block;
}

#staticBackdrop .right .check-box:hover input ~ .checkmark {
  background-color: #d4d4d42b;
}

#staticBackdrop .right .check-box .checkmark:after {
  left: 18px;
  top: 10px;
  width: 8px;
  height: 17px;
  border: solid white;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#staticBackdrop .right .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  border: 1px solid #bbb;
}

#staticBackdrop .right .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

#staticBackdrop2 {
  --bs-modal-width: 1100px;
}

#staticBackdrop2 .title-american {
  font-size: 28px;
}

#staticBackdrop2 .modal-body {
  padding-left: 60px;
  padding-right: 60px;
}

#staticBackdrop2 .title-modal {
  font-size: 23px;
}

#staticBackdrop2 .title-form-contact-modal {
  padding: 60px;
  padding-top: 30px;
  position: relative;
}

#staticBackdrop2 .title-form-contact-modal::after {
  content: "";
  position: absolute;
  width: 300px;
  height: 1px;
  background-color: #db801a;
  bottom: 35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#staticBackdrop2 .left {
  padding-right: 20px;
}

#staticBackdrop2 .left,
#staticBackdrop2 .right {
  width: 50%;
}

#staticBackdrop2 .right {
  margin-top: 0px;
  margin-bottom: 100px;
  padding: 30px;
  background: linear-gradient(106.76deg, #005176 -21.91%, #024d75 -2.34%, #094271 15.87%, #142f6b 33.53%, #241562 50.77%, #280f60 54.07%, #2b0f63 64.22%, #350d6e 72.98%, #450b80 81.23%, #5c0899 89.17%, #7905b9 96.88%, #9c00e0 104.31%, #9f00e3 104.81%, #5d0091 125.19%);
}

#staticBackdrop2 .right .input-contact {
  width: 100%;
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  padding: 8px;
  color: white;
  margin-top: 20px;
}

#staticBackdrop2 .right .input-contact::-webkit-input-placeholder {
  color: white;
  font-weight: 600;
}

#staticBackdrop2 .right .input-contact:-ms-input-placeholder {
  color: white;
  font-weight: 600;
}

#staticBackdrop2 .right .input-contact::-ms-input-placeholder {
  color: white;
  font-weight: 600;
}

#staticBackdrop2 .right .input-contact::placeholder {
  color: white;
  font-weight: 600;
}

#staticBackdrop2 .right .input-contact:focus {
  outline: none;
}

.background-gradient-primary {
  background: #3e0076;
  background: linear-gradient(135deg, #3e0076 0%, #004469 11%, #094271 21%, #142f6b 28%, #241562 38%, #290f61 42%, #2c0f64 50%, #350d6e 56%, #480b83 63%, #7302af 70%, #7a05ba 76%, #8400be 84%, #5d0091 100%);
}

.title-american,
.title-american-2 {
  font-family: UTM-Americana;
  font-weight: 100;
}

.text-cyan {
  color: #1affff;
}

.text-yellow {
  color: #db801a;
}

.text-blue {
  color: #2c3a61;
}

.title-montserrat {
  font-family: Montserrat;
}

.btn-style-2 {
  display: block;
  background-color: transparent;
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 12px 24px;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-style-2:hover {
  color: white;
}

.btn-style-1 {
  display: block;
  background-color: #db801a;
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px;
  text-decoration: none;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-style-1:hover {
  color: white;
}

.video-box {
  position: relative;
}

.play-btn {
  width: 60px;
  height: 60px;
}

.play-btn:hover {
  cursor: pointer;
}

.play-btn {
  border-radius: 50%;
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 9;
}

.line-3 {
  width: 1px;
  height: 50px;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 25%;
}

.page-link {
  color: #333;
  border-radius: 5px !important;
  margin: 15px;
  height: 35px;
  width: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.active > .page-link,
.page-link.active {
  background-color: #db801a !important;
  border-color: #db801a;
}

.page-item:not(:first-child) .page-link {
  margin-left: -1px;
  border-radius: 5px !important;
}

.pre_page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.next-page {
  background-color: #db801a;
  border-color: #db801a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gradient-background {
  background: linear-gradient(106.76deg, #005176 -21.91%, #024d75 -2.34%, #094271 15.87%, #142f6b 33.53%, #241562 50.77%, #280f60 54.07%, #2b0f63 64.22%, #350d6e 72.98%, #450b80 81.23%, #5c0899 89.17%, #7905b9 96.88%, #9c00e0 104.31%, #9f00e3 104.81%, #5d0091 125.19%);
}

@media screen and (max-width: 992px) {
  .header-mobile {
    width: 92%;
    position: fixed;
    z-index: 10;
    top: 20px;
    margin: auto;
    left: 4%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
  .header-mobile img {
    width: 80%;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 992px) {
  .title-american {
    font-size: 27px;
  }
  .title-american-2 {
    font-size: 27px;
  }
  header {
    position: fixed;
    z-index: 10;
    top: 0px;
    width: 100%;
  }
  .header-top--white {
    height: 35px;
    background-color: white;
  }
  .email-us {
    color: #db801a;
    font-weight: 600;
  }
  .hotline-wrapper {
    background: #3e0076;
    background: linear-gradient(135deg, #3e0076 0%, #004469 11%, #094271 21%, #142f6b 28%, #241562 38%, #290f61 42%, #2c0f64 50%, #350d6e 56%, #480b83 63%, #7302af 70%, #7a05ba 76%, #8400be 84%, #5d0091 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .hotline-wrapper svg {
    fill: #3e0076;
    fill: linear-gradient(135deg, #3e0076 0%, #004469 11%, #094271 21%, #142f6b 28%, #241562 38%, #290f61 42%, #2c0f64 50%, #350d6e 56%, #480b83 63%, #7302af 70%, #7a05ba 76%, #8400be 84%, #5d0091 100%);
  }
  .header-main {
    background-color: #241562;
  }
  .header-main .container {
    height: 75px;
  }
  .logo {
    height: 100%;
    width: 15%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hotline-main {
    width: 10%;
    position: relative;
    background-color: white;
    border-radius: 50px;
    height: 40px;
    width: 150px;
  }
  .hotline-main svg {
    padding-top: 10px;
    width: 36px;
  }
  .menu-main-top-wrapper {
    width: 80%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu-main-top-wrapper .menu-main-top {
    width: 80%;
  }
  .menu-main-top-wrapper .menu-main-top .nav {
    width: 100%;
  }
  .menu-main-top-wrapper .menu-main-top .nav .nav-menu {
    width: 100%;
  }
  .menu-main-top-wrapper .menu-main-top .nav .nav-menu .li_header {
    text-transform: capitalize;
  }
  .hotline-main {
    position: relative;
  }
  .line-2 {
    width: 1px;
    height: 25px;
    background-color: white;
    position: absolute;
    left: -13px;
  }
  footer {
    padding: 70px 100px;
    background: #3e0076;
    background: linear-gradient(106.76deg, #005176 -21.91%, #024d75 -2.34%, #094271 15.87%, #142f6b 33.53%, #241562 50.77%, #280f60 54.07%, #2b0f63 64.22%, #350d6e 72.98%, #450b80 81.23%, #5c0899 89.17%, #7905b9 96.88%, #9c00e0 104.31%, #9f00e3 104.81%, #5d0091 125.19%);
  }
  footer .footer .left,
  footer .footer .right {
    width: 50%;
  }
  footer .footer .left {
    padding-right: 100px;
  }
  footer .input-footer {
    border-radius: 20px;
    width: 100%;
    padding: 6px 10px;
    background-color: #dbdbdb;
    border: none;
  }
  footer .register-btn {
    position: absolute;
    border: 1px solid #db801a;
    border-radius: 20px;
    color: #db801a;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    padding: 4px 25px;
    top: 0px;
    right: 0px;
  }
  .container-7 {
    max-width: 1020px;
    margin: auto;
  }
}

@media (min-width: 1600px) {
  .title-american {
    font-size: 37px;
  }
  .title-american-2 {
    font-size: 30px;
  }
  .container-7 {
    max-width: 1320px;
    margin: auto;
  }
}

@media (min-width: 1900px) {
  .container {
    max-width: 1605px;
  }
  .menu-main-top-wrapper .menu-main-top {
    width: 84%;
  }
  .title-american {
    font-size: 48px;
  }
  .title-american-2 {
    font-size: 37px;
  }
}
/*# sourceMappingURL=style.css.map */