.space {
  padding-top: 140px;
  padding-bottom: 120px;

}

.container {
  
}
.application-wrapper-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  .thumbnail {
    img {
      width: 100%;
      height: 180px;
      object-fit: cover;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
  }
  .application-item {
    background-color: white;
    border-radius: 5px;
    display: block;
    h3 {
      font-size: 15px;
      font-weight: 600;
    }
    a {
      text-decoration: none;
      color: #333;
    }
  }
  // .summary-application-item {
  //   p {
  //     font-size: 16px !important;
  //   }
  // }
}

.unit-price {
  font-weight: 600;
  color: #333;
  text-decoration: none;
  position: relative;
  display: block;
  border-top: 1px solid #e9e9e9;
  padding: 20px 0px 20px 0px;
  &:hover {
    color: #0d6efd !important;
  }
  .bi-chevron-right {
    top: 25px;
    position: absolute;
    right: 10px;
  }
}
@media screen and (min-width: 1900px) {
  .space {
    height: 960px;
  }
  .application-wrapper-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
  
    .thumbnail {
      img {
        width: 100%;
        height: 240px;
        object-fit: cover;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
    }
  }
  .unit-price {
    font-size: 14px;
  }
  .application-item {
    h3 {
      font-size: 16px !important;
    }
    a {
    }
  }

  input[type="checkbox"] {
    width: 20px;
    height: 20px;
  }

  label {
    font-size: 14px;
    display: flex;
    align-items: center;
  }
}


@media screen and (max-width: 900px) {
  .space {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 120px;
  }
  .wrapper {
    display: block !important;
  }
  .application-wrapper-box {
    display: flex;
  }
}
