.confirm {
  background-color: #d3a455;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
  width: 100%;
  display: block;
  color: white;
  text-decoration: none;
  margin-top: 10px;
  &:hover {
    color: white;
  }
}
select {
  -webkit-appearance: auto !important;
}
.main {
  padding-top: 140px;
  padding-bottom: 20px;
}
.btn-style-1 {
  &:hover {
    color: white;
  }
}
.wrapper {
  width: 1200px;
  margin: auto;
}
.space {
  // padding-left: 120px;
  padding-top: 140px;
  padding-bottom: 40px;
  background-image: url(/images/ung-dung.png);
  background-size: 580px;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.box-wrapper {
  width: 700px;
  padding: 20px;
  background-color: white;
  box-shadow: 5px 6px 18px -13px rgba(0,0,0,0.75);
  -webkit-box-shadow: 5px 6px 18px -13px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 6px 18px -13px rgba(0,0,0,0.75);
  border-radius: 12px;
  padding: 30px 30px 80px 30px;
}

.my-formcontrol {
  margin: 15px 0px;
  label {
    font-weight: 600;
  }
  input,
  select {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #bababa;
    border-radius: 4px;
  }
}
.check-select {
  label {
    font-weight: 600;
  }
}
.form-check-input {
  width: 20px;
  height: 20px;
}
.label_error {
  color: red;
}
.form-check-input:checked[type="checkbox"] {
  &:focus {
    border-color: #d3a454;
    box-shadow: unset;
  }
}
.form-check-input:checked {
  background-color: #d3a454;
  border-color: #d3a454;
}

.clear {
  position: absolute;
  right: 0px;
  top: -25px;
  background-color: #d3a454;
  color: white;
  padding: 3px 10px;
  border-radius: 20px;
  &:hover {
    cursor: pointer;
  }
}
table {
  tr {
    line-height: 30px;
  }
}
.choose-select {
  position: absolute;
  right: 60px;
  top: -25px;
  padding: 3px 10px;
  border-radius: 20px;
}
.nav-step2 {
  .nav-item {
    width: 50%;
    button {
      width: 100%;
      border-radius: 0px;
    }
    .nav-link {
      background-color: white !important;
      color: #333;
      font-weight: 600;
      padding: 15px;
      border-bottom: 1px solid #eee;
    }
    .active {
      border-bottom: 2px solid #d3a454;
    }
  }
}
.box-wrapper-3 {
  width: 617px !important;
}

@media screen and (min-width: 1900px) {
  .box-wrapper {
    width: 800px;
  }


  .space {
    width: 85%;
    margin: auto;
    min-height: 960px;
  }
}

@media screen and (max-width: 900px) {
  .space {
    background-image: unset;
  }
  .box-wrapper-3  {
    width: unset !important;
    margin-bottom: 20px;
  }
  .nav-step2 .nav-item .nav-link {
    padding: 0px;
    padding-bottom: 15px
  }
  .more-option {
    display: flex !important;
    flex-wrap: wrap;
  }
  .space {
    padding-left: 10px;
    padding-right: 10px;
  }
  h1 {
    font-size: 26px !important;
  }
  .wrapper {
    width: unset;
    // padding-left: 10px;
    // padding-right: 10px;
  }
  .my-formcontrol {
    width: 100%;
  }
}