@charset "UTF-8";
.history-wrapper {
  cursor: pointer;
  overflow: hidden;
  height: 300px;
}
.history-wrapper:hover {
  overflow-x: hidden;
  overflow-y: hidden;
}

.btn-register-2 {
  width: 100%;
  display: block;
}

.decor-up {
  border-top: 2px solid #D1A53D;
  position: relative;
  padding-left: 20px;
  padding-right: 30px;
  padding-top: 30px;
  min-height: 180px;
}
.decor-up::before {
  content: "";
  width: 80%;
  height: 16px;
  background-color: #BE202F;
  position: absolute;
  border-radius: 10px;
  left: 50%;
  top: -2px;
  transform: translate(-50%, -6px);
}

.decor-down-wrapper {
  position: relative;
  padding-top: 32px;
  transition: 0.3s;
}
.decor-down-wrapper .title-down {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translate(-50%);
  transition: 0.3s;
}
.decor-down-wrapper .decor-down {
  border-left: 2px solid #D1A53D;
  border-right: 2px solid #D1A53D;
  border-bottom: 2px solid #D1A53D;
  min-height: 180px;
  position: relative;
  padding-left: 20px;
  padding-top: 30px;
}
.decor-down-wrapper .decor-down::before {
  content: "";
  width: 80%;
  height: 16px;
  background-color: #BE202F;
  position: absolute;
  border-radius: 10px;
  left: 50%;
  bottom: -15px;
  transform: translate(-50%, -6px);
}

.polygon-left {
  position: absolute;
  left: 0px;
  width: 16px !important;
  height: 16px;
  transform: translate(-5px, -10px);
}

.polygon-right {
  position: absolute;
  width: 16px !important;
  height: 16px;
  right: 0px;
  transform: translate(5px, -10px);
}

.decor-down ul,
.decor-up ul {
  list-style-type: none;
}

.introduce-box .col-md-7,
.introduce-box .col-md-6 {
  position: relative;
}
.introduce-box .col-md-7::before,
.introduce-box .col-md-6::before {
  content: "";
  width: 600px;
  height: 100%;
  background-image: url(/images/circle.svg);
  background-size: 100%;
  position: absolute;
  background-repeat: no-repeat;
  z-index: -1;
}

.history-box {
  height: 550px;
}

.history-wrapper ul li::before {
  content: "•";
  color: red;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

@media screen and (max-width: 768px) {
  .summary-banner-1 {
    overflow: auto !important;
  }
}/*# sourceMappingURL=cat.css.map */