.line-sepp {
    position: relative;
    display: block;
    width: 20px;
    height: 3px;
    background: #ccc;
    margin: 0 auto;
}

.simple-text {
    position: relative;
    color: #898989;
}

.script {
    font-family: Great Vibes;
    // color: #fff45f;
    font-size: 50px;
    color: #f68b58;
}
.full-img {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
}

.section, .main-title {
    position: relative;
}

.bg {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}
.bg.fix {
    background-attachment: fixed;
}

.box-item {
    position: relative;
    background: #fff;
    padding: 0 75px;
    background: #fff;
}

.col-xs-6 {
    width: 50%;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.page-span:before, .page-span:after {position: absolute; content: ''; }

.page-style-6 .page-span-1:before, .page-style-6 .page-span-1:after { width: 420px; height: 180px;}
.page-style-6 .page-span-2:before, .page-style-6 .page-span-2:after {width: 300px; height: 230px;}
.page-style-6 .page-span-3:before, .page-style-6 .page-span-3:after { width: 500px; height: 230px;}
.page-style-6 .page-span-4:before, .page-style-6 .page-span-4:after { width: 350px; height: 150px;}
.page-style-6 .page-span-5:before, .page-style-6 .page-span-5:after { width: 220px; height: 180px;}
.page-style-6 .page-span-6:before, .page-style-6 .page-span-6:after { width: 190px; height: 315px;}
.page-style-6 .page-span-5:before {right: -20px; top: -20px;}
.page-style-6 .page-span-5:after {left: -20px; bottom: -20px;}
.page-style-6 .page-span-6:before {right: -20px; top: -20px;}
.page-style-6 .page-span-6:after {left: -20px; bottom: -20px;}
.page-style-6 .page-span:before {right: -20px; top: -20px;}
.page-style-6 .page-span:after {left: -20px; bottom: -20px;}

div[class*="empty-"] {width: 100%; clear: both;}
@media (max-width: 767px) {.empty-xs-0 {height: 0;}.empty-xs-5 {height: 5px;}.empty-xs-10 {height: 10px;}.empty-xs-15 {height: 15px;}.empty-xs-20 {height: 20px;}.empty-xs-25 {height: 25px;}.empty-xs-30 {height: 30px;}.empty-xs-35 {height: 35px;}.empty-xs-40 {height: 40px;}.empty-xs-45 {height: 45px;}.empty-xs-45 {height: 45px;}.empty-xs-50 {height: 50px;}.empty-xs-60 {height: 60px;}.empty-xs-65 {height: 65px;}.empty-xs-70 {height: 70px;}.empty-xs-75 {height: 75px;}.empty-xs-80 {height: 80px;}.empty-xs-90 {height: 90px;}.empty-xs-100 {height: 100px;}  }
@media (min-width: 768px) {.empty-sm-0 {height: 0;}.empty-sm-5 {height: 5px;}.empty-sm-10 {height: 10px;}.empty-sm-15 {height: 15px;}.empty-sm-20 {height: 20px;}.empty-sm-25 {height: 25px;}.empty-sm-30 {height: 30px;} .empty-sm-35 {height: 35px;}.empty-sm-40 {height: 40px;}.empty-sm-45 {height: 45px;}.empty-sm-50 {height: 50px;}.empty-sm-55 {height: 55px;}.empty-sm-60 {height: 60px;}.empty-sm-65 {height: 65px;}.empty-sm-70 {height: 70px;}.empty-sm-75 {height: 75px;}.empty-sm-80 {height: 80px;}.empty-sm-90 {height: 90px;}.empty-sm-100 {height: 100px;}.empty-sm-200 {height: 200px;}}
@media (min-width: 992px) {.empty-md-0 {height: 0;}.empty-md-10 {height: 10px;}.empty-md-15 {height: 15px;}.empty-md-20 {height: 20px;}.empty-md-25 {height: 25px;}.empty-md-30 {height: 30px;}.empty-md-40 {height: 40px;}.empty-md-50 {height: 50px;}.empty-md-60 {height: 60px;}.empty-md-65 {height: 65px;}.empty-md-70 {height: 70px;}.empty-md-75 {height: 75px;}.empty-md-80 {height: 80px;}.empty-md-90 {height: 90px;}.empty-md-100 {height: 100px;}.empty-md-130 {height: 130px;}.empty-md-200 {height: 200px;}}
@media (min-width: 1200px) {.empty-lg-0 {height: 0;}.empty-lg-10 {height: 10px;}.empty-lg-15 {height: 15px;}.empty-lg-20 {height: 20px;}.empty-lg-25 {height: 25px;}.empty-lg-30 {height: 30px;}.empty-lg-40 {height: 40px;}.empty-lg-50 {height: 50px;}.empty-lg-60 {height: 60px;}.empty-lg-65 {height: 65px;}.empty-lg-70 {height: 70px;}.empty-lg-75 {height: 75px;}.empty-lg-80 {height: 80px;}.empty-lg-90 {height: 90px;}.empty-lg-100 {height: 100px;}.empty-lg-110 {height: 110px;}.empty-lg-120 {height: 120px;}.empty-lg-150 {height: 150px;}.empty-lg-140 {height: 140px;}.empty-lg-160 {height: 160px;}.empty-lg-170 {height: 170px;}.empty-lg-180 {height: 180px;}.empty-lg-190 {height: 190px;}.empty-lg-200 {height: 200px;} .empty-lg-130 {height: 130px;}}
@media (min-width: 1400px) {.empty-lgx-0 {height: 0;}.empty-lgx-10 {height: 10px;}.empty-lgx-15 {height: 15px;}.empty-lgx-20 {height: 20px;}.empty-lgx-25 {height: 25px;}.empty-lgx-30 {height: 30px;} .empty-lgx-35 {height: 35px;}.empty-lgx-40 {height: 40px;}.empty-lgx-50 {height: 50px;}.empty-lgx-60 {height: 60px;}.empty-lgx-65 {height: 65px;}.empty-lgx-70 {height: 70px;}.empty-lgx-75 {height: 75px;}.empty-lgx-80 {height: 80px;}.empty-lgx-90 {height: 90px;}.empty-lgx-100 {height: 100px;}.empty-lgx-110 {height: 110px;}.empty-lgx-120 {height: 120px;}.empty-lgx-150 {height: 150px;}.empty-lgx-140 {height: 140px;}.empty-lgx-160 {height: 160px;}.empty-lgx-170 {height: 170px;}.empty-lgx-180 {height: 180px;}.empty-lgx-190 {height: 190px;}.empty-lgx-200 {height: 200px;} .empty-lgx-130 {height: 130px;}}


.page-style-1 .page-span-4:before {bottom: -40px; right: -10px;}
.page-style-1 .page-span-4.type-2:before {bottom: -17px; right: 10px;}
.page-style-1 .page-span-4:after {right: -40px; bottom: -10px;}
.page-style-1 .page-span-4.type-2:after {right: -17px; bottom: 10px;}
.page-style-6 .page-span-5:before {right: -20px; top: -20px;}
.page-style-6 .page-span-5:after {left: -20px; bottom: -20px;}
.page-style-6 .page-span-6:before {right: -20px; top: -20px;}
.page-style-6 .page-span-6:after {left: -20px; bottom: -20px;}
.page-style-6 .page-span:before {right: -20px; top: -20px;}
.page-style-6 .page-span:after {left: -20px; bottom: -20px;}

.page-color-style-6.page-style-6 .title, .page-color-style-6 .header-menu > li > ul li:hover > a, .page-color-style-6 .login-item a:hover, .page-color-style-6 .button-style-3:not(.type-2), .page-color-style-6 .button-style-4:not(.type-2), .page-color-style-6 .button-style-1.type-2, .page-color-style-6 .checkbox-entry-wrap .checkbox-entry input:checked + span p, .page-color-style-6 .page-navigation a:hover, .page-color-style-6 .copyright span a, .page-color-style-6 .link-hover:hover, .page-color-style-6 .f-twitt a, .page-color-style-6 .caption-inst a span, .page-color-style-6 .link-hover-line:hover, .page-color-style-6 .button-style-1.type-4:hover, .page-color-style-6 .countdown-type .ClassyCountdown-value div, .page-color-style-6 .main-col, .page-color-style-6 .item-tabs li.active .link-hover-line, .text-block-wrapp .title-blog:hover, .blog-info li a:hover, .page-color-style-6 .button-style-1.type-3, .post-navigation .h5.color-2 a:hover, .input-field.type-2, .checkbox-entry-wrap .checkbox-entry input:checked + .content-check .simple-text p, .page-color-style-6 .location-bottom.type-2 .color-type-3 .contact a:hover, .page-color-style-6 .popup .forgot a:hover, .page-color-style-6 .popup .reg-now a:hover {color: #be9a67;}
.page-color-style-6 .button-style-1:before, .page-color-style-6 .header-menu > li > a:before, .page-color-style-6 .header-style-2 .header-menu > li:before, .page-color-style-6 .header-style-2 .header-menu > li:after, .page-color-style-6 .shop-number, .page-color-style-6 .button-style-3:not(.type-2):before, .page-color-style-6 .button-style-3:not(.type-2):after, .page-color-style-6 .button-style-3:not(.type-2) i:after, .page-color-style-6 .button-style-3:not(.type-2) i:before, .page-color-style-6 .button-style-4:not(.type-2) i:before, .page-color-style-6 .button-style-4:not(.type-2) i:after, .page-color-style-6 .checkbox-entry i:before, .page-color-style-6 .subscribe-form:not(.form-type-2) .sub-submit, .page-color-style-6 .form-type-2 .sub-submit:hover, .page-color-style-6 .ui-slider .ui-slider-range, .page-color-style-6 .ui-slider .ui-slider-handle:before, .page-color-style-6 .link-hover-line:before, .page-color-style-6.page-style-1 .page-span-1:before, .page-color-style-6.page-style-1 .page-span-1:after, .page-color-style-6.page-style-1 .page-span-2:before, .page-color-style-6.page-style-1 .page-span-2:after, .page-color-style-6 .list-style-4 li:hover:before, .page-color-style-6 .page-span:before, .page-color-style-6 .page-span:after, .page-color-style-6.page-style-2 .simple-item-style-2.color-type-1, .page-color-style-6 .swiper-container-horizontal> .swiper-pagination-2.swiper-pagination-bullets .swiper-pagination-bullet:after, .post-navigation .prev:hover:before, .post-navigation .next:hover:after, .item-tabs.type-2 li.active span, .item-tabs.type-2 li.active span:before,.item-tabs.type-2 li.active span:after, .item-tabs.type-2 li:hover span, .item-tabs.type-2 li:hover span:before, .item-tabs.type-2 li:hover span:after, .reply .button-style-1.type-3:before  {background: #be9a67;}
.page-color-style-6 .follow a:hover path, .page-color-style-6 .search-open:hover path, .page-color-style-6 .close-search:hover path, .page-color-style-6 .submit-search:hover path, .page-color-style-6 .header .right-block .like-item.active path, .page-color-style-6 .header .right-block .like-item:hover path, .page-color-style-6 .page-navigation a:hover path, .page-color-style-6 .f-twitt path, .page-color-style-6 .main-fill-col path, .page-color-style-6 .main-fill-hover:hover path, .page-color-style-6 .main-fill-col *, .contact-icon path, .blog-info .icon a:hover path, .coming-address li path, .page-color-style-6 .close-popup.type-2:hover path {fill: #be9a67;} 
.page-color-style-6 .button-style-4:not(.type-2):before, .page-color-style-6 .button-style-4:not(.type-2):after, .page-color-style-6 .button-style-1.type-2, .page-color-style-6 .checkbox-entry input:checked + span i, .page-color-style-6 .page-navigation a:before, .page-color-style-6 .ui-slider .ui-slider-handle, .page-color-style-6.page-style-2 .simple-item-style-1.color-type-2, .page-color-style-6 .button-style-1.type-4:after, .page-color-style-6 .button-style-1.type-2:after, .page-color-style-6 .button-style-1.type-3:after, .page-color-style-6 .input-field.type-2:focus, .page-color-style-6 .focus, .page-color-style-6 .input-field:focus {border-color: #be9a67;}
.page-color-style-6.page-style-2 .testimonials-item .text:after {border-color: #be9a67 transparent transparent transparent;}
.page-color-style-6.page-style-2 .testimonials-item .text:before {box-shadow: 0 0 0 20px #be9a67;}
@media (max-width: 480px) { 
  .page-color-style-6.page-style-2 .testimonials-item .text:before {box-shadow: 0 0 0 10px #be9a67;}   
}