.cat-name {
  border-bottom: 2px solid #e9b852;
}

.selected {
  color: #e9b852;
}

.contents-description {
  background-color: white;
  width: 75%;
  max-width: 750px;
  margin: auto;
}

.contents-description img {
  max-width: 100%;
}

.contents-description blockquote {
  background-color: #f8f8f8;
  width: 80%;
  margin: auto;
  position: relative;
  min-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #81954e;
  padding-left: 30px;
  padding-right: 20px;
}

.contents-description blockquote p {
  margin-bottom: 0px;
}

.contents-description blockquote::before {
  content: url(/images/cite.svg);
  position: absolute;
  left: -30px;
  top: -10px;
}

.contents-description blockquote::after {
  content: url(/images/cite-right.svg);
  position: absolute;
  right: -30px;
  bottom: -10px;
}

@media screen and (max-width: 800px) {
  .row {
    margin: 0px;
  }
  .contents-description {
    width: 100%;
  }
  .cat-child-mobile-item {
    border: 1px solid #e9b852;
    margin-top: 10px;
  }
  .cat-child-mobile::after {
    content: "";
    width: 32%;
  }
  .cat-active {
    background-color: #e9b852;
  }
  .cat-active .active {
    color: white;
  }
}

@media screen and (min-width: 801px) {
  .cat-child-mobile {
    display: none !important;
  }
}
/*# sourceMappingURL=home.css.map */