.cat-name {
  border-bottom: 2px solid #e9b852;
}
.selected {
  color: #e9b852;
}
.contents-description {
  background-color: white;
  width: 75%;
  max-width: 750px;
  margin: auto;
  img {
    max-width: 100%;
  }
  blockquote {
    background-color: #f8f8f8;
    width: 80%;
    margin: auto;
    position: relative;
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #81954e;
    padding-left: 30px;
    padding-right: 20px;
    p {
      margin-bottom: 0px;
    }
    &::before {
      content: url(/images/cite.svg);
      position: absolute;
      left: -30px;
      top: -10px;
    }
    &::after {
      content: url(/images/cite-right.svg);
      position: absolute;
      right: -30px;
      bottom: -10px;
    }
  }
}

@media screen and (max-width: 800px) {
  .row {
    margin: 0px;
  }
  .contents-description {
    width: 100%;
    // img {
    //   height: auto !important;
    //   object-fit: contain;
    // }
  }
  .cat-child-mobile-item {
    border: 1px solid #e9b852;
    margin-top: 10px;
  }
  .cat-child-mobile {
    &::after {
      content: "";
      width: 32%;
    }
  }
  .cat-active {
    background-color: #e9b852;
    .active {
      color: white;
    }
  }
}

@media screen and(min-width: 801px) {
  .cat-child-mobile {
    display: none !important;
  }
}
