@import '../../../../templates/default/css/colors';

@mixin styleInput($width, $padding, $radius) {
  width: $width;
  padding: $padding;

  @if $radius != 0 {
    border-radius: $radius
  }
}
.menu {
  display: none
}
.mb-40px {
  margin-bottom: 40px;
}
.mb-30px{
  margin-bottom: 30px;
}
.account {
  h4 {
    font-weight: 100;
    font-size: 20px
  }
}
.form-style {
  input[type=text] {
    border: 1px solid #eee;
    font-weight: 100;
    padding-left: 20px;
  }
  input[type=password] {
    border: 1px solid #eee;
    font-weight: 100;
    font: small-caption;
    font-size: 16px;
    padding-left: 20px;
    font-size: 16px;
  }
  .btn-submit {
    border: none;
    text-align: center;
    text-transform: uppercase;
    display: block;
    color: white;
    font-weight: 400;
    &:hover {
      text-decoration: none;
      opacity: 0.9;
    }
    &:focus {
      outline:none;
    }
  }
}
.sign-in-google {
  background-color: $google;
  border-radius: 250px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  &:hover {
    opacity: 0.9;
    cursor: pointer;
  }
  a {
    color: white;
    &:hover {
      text-decoration: none;
      color: white;
    }
  }
  img {
    position: absolute;
    left: 30px;
  }
}
.forget-password {
  text-align: center;
  a {
    color: #333;
    &:hover {
      text-decoration: none;
      color: $grey-text;
    }
  }
}
.sign-in-facebook {
  background-color: $facebook;
  border-radius: 250px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  &:hover {
    opacity: 0.9;
  }
  a {
    color: white;
    text-decoration: none;
    color: white;
  }
  img {
    position: absolute;
    left: 30px;
  }
}


.col-md-6 {
  max-width: 600px;
}

.divide {
  border-right: 1px solid #eee;
}
.divide-text {
  right: -32.5px;
  top: 45%;
  padding-top: 5px;
  position: absolute;
  border-radius: 50%;
  border: 1px solid #eee;
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  text-transform: uppercase;
  color: $grey-text;
}
@media (max-width: 767px) {
  .container {
    padding: 0 8px;
  }
  .sign-in-google {
    @include styleInput(100%, 10px, 0);
  }
  .sign-in-facebook {
    @include styleInput(100%, 10px, 0);
  }
  .form-style {
    input[type=text] {
      @include styleInput(100%, 10px, 5px);
    }
    input[type=password] {
      @include styleInput(100%, 10px, 5px);
    }
    .btn-submit {
      @include styleInput(100%, 10px, 250px);
    }
  }
  .divide-text {
    display: none;
  }
  .right-col {
    padding-top: 20px;
  }
  .divide {
    border:none
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    padding: 0 8px;
  }
  .sign-in-google {
    @include styleInput(90%, 10px, 0);
  }
  .sign-in-facebook {
    @include styleInput(90%, 10px, 0);
  }
  .form-style {
    input[type=text] {
      @include styleInput(90%, 10px, 5px);
    }
    input[type=password] {
      @include styleInput(90%, 10px, 5px);
    }
    .btn-submit {
      @include styleInput(90%, 10px, 250px);
    }
  }
  .divide-text {
    display: none;
  }
  .divide {
    border:none
  }

}

@media (min-width: 1025px) {
  .form-style {
    input[type=text] {
      @include styleInput(500px, 10px, 5px);
    }
    input[type=password] {
      @include styleInput(500px, 10px, 5px);
    }
    .btn-submit {
      @include styleInput(500px, 10px, 250px);
    }
  }
  .sign-in-google {
    @include styleInput(500px, 10px, 0);
  }
  .forget-password {
    text-align: center;
    @include styleInput(500px, 10px, 0);
  }
  .sign-in-facebook {
    @include styleInput(500px, 10px, 0);
  }
  .right-col {
    padding-left: 100px !important;
  }
}