.menu {
  display: none;
}

.mb-40px {
  margin-bottom: 40px;
}

.mb-30px {
  margin-bottom: 30px;
}

.account h4 {
  font-weight: 100;
  font-size: 20px;
}

.form-style input[type=text] {
  border: 1px solid #eee;
  font-weight: 100;
  padding-left: 20px;
}
.form-style input[type=password] {
  border: 1px solid #eee;
  font-weight: 100;
  font: small-caption;
  font-size: 16px;
  padding-left: 20px;
  font-size: 16px;
}
.form-style .btn-submit {
  border: none;
  text-align: center;
  text-transform: uppercase;
  display: block;
  color: white;
  font-weight: 400;
}
.form-style .btn-submit:hover {
  text-decoration: none;
  opacity: 0.9;
}
.form-style .btn-submit:focus {
  outline: none;
}

.sign-in-google {
  background-color: #DC4E41;
  border-radius: 250px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}
.sign-in-google:hover {
  opacity: 0.9;
  cursor: pointer;
}
.sign-in-google a {
  color: white;
}
.sign-in-google a:hover {
  text-decoration: none;
  color: white;
}
.sign-in-google img {
  position: absolute;
  left: 30px;
}

.forget-password {
  text-align: center;
}
.forget-password a {
  color: #333;
}
.forget-password a:hover {
  text-decoration: none;
  color: #999999;
}

.sign-in-facebook {
  background-color: #3B5999;
  border-radius: 250px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}
.sign-in-facebook:hover {
  opacity: 0.9;
}
.sign-in-facebook a {
  color: white;
  text-decoration: none;
  color: white;
}
.sign-in-facebook img {
  position: absolute;
  left: 30px;
}

.col-md-6 {
  max-width: 600px;
}

.divide {
  border-right: 1px solid #eee;
}

.divide-text {
  right: -32.5px;
  top: 45%;
  padding-top: 5px;
  position: absolute;
  border-radius: 50%;
  border: 1px solid #eee;
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  text-transform: uppercase;
  color: #999999;
}

@media (max-width: 767px) {
  .container {
    padding: 0 8px;
  }
  .sign-in-google {
    width: 100%;
    padding: 10px;
  }
  .sign-in-facebook {
    width: 100%;
    padding: 10px;
  }
  .form-style input[type=text] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
  }
  .form-style input[type=password] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
  }
  .form-style .btn-submit {
    width: 100%;
    padding: 10px;
    border-radius: 250px;
  }
  .divide-text {
    display: none;
  }
  .right-col {
    padding-top: 20px;
  }
  .divide {
    border: none;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    padding: 0 8px;
  }
  .sign-in-google {
    width: 90%;
    padding: 10px;
  }
  .sign-in-facebook {
    width: 90%;
    padding: 10px;
  }
  .form-style input[type=text] {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
  }
  .form-style input[type=password] {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
  }
  .form-style .btn-submit {
    width: 90%;
    padding: 10px;
    border-radius: 250px;
  }
  .divide-text {
    display: none;
  }
  .divide {
    border: none;
  }
}
@media (min-width: 1025px) {
  .form-style input[type=text] {
    width: 500px;
    padding: 10px;
    border-radius: 5px;
  }
  .form-style input[type=password] {
    width: 500px;
    padding: 10px;
    border-radius: 5px;
  }
  .form-style .btn-submit {
    width: 500px;
    padding: 10px;
    border-radius: 250px;
  }
  .sign-in-google {
    width: 500px;
    padding: 10px;
  }
  .forget-password {
    text-align: center;
    width: 500px;
    padding: 10px;
  }
  .sign-in-facebook {
    width: 500px;
    padding: 10px;
  }
  .right-col {
    padding-left: 100px !important;
  }
}/*# sourceMappingURL=thanhvien.css.map */