.menu {
  display: none;
}

.size--text-pay {
  font-size: 18px;
}

.text--title {
  font-size: 20px;
}

.pr-15px {
  padding-right: 15px !important;
}

.active {
  font-weight: 400;
}
.active img {
  filter: none !important;
}

.green--text {
  color: #F68C59;
}

.red--text {
  color: #c73536;
}

.detail-btn {
  color: #81954E;
  font-weight: 500;
}

.container .left-col .block-icon-tab {
  width: 56px;
  height: 40px;
  -o-object-fit: none;
     object-fit: none;
  filter: grayscale(100%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .left-col .user-tab {
  height: 70px;
}
.container .left-col .user-tab p {
  margin: 0;
}
.container .left-col .user-tab img {
  margin-right: 10px;
}
.container .left-col .nav-link {
  padding: 0;
  display: flex;
  align-items: center;
  color: black;
}
.container .left-col .nav-link.active {
  background-color: #f8f8f8 !important;
  color: #333 !important;
}
.container .right-col h1 {
  font-size: 20px;
  padding-bottom: 14px;
  border-bottom: 1px solid #eee;
  margin-bottom: 14px;
}
.container .right-col input[type=text] {
  width: 100%;
  border: 1px solid #eee;
  background-color: white;
  border-radius: 3px;
  padding: 15px 15px 15px 20px;
  font-size: 14px;
}
.container .right-col input[type=text]:disabled {
  background-color: #f8f8f8;
  color: #bbbbbb;
}
.container .right-col label {
  font-size: 16px;
  font-weight: 600;
}
.container .right-col .change-password {
  font-size: 14px;
  margin-bottom: 15px;
}
.container .right-col .change-password .checkmark-changepassword {
  width: 18px;
  height: 18px;
}
.container .right-col .change-password .checkmark-changepassword:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
}
.container .right-col .default-address .checkmark-address {
  width: 18px;
  height: 18px;
}
.container .right-col .default-address .checkmark-address:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
}
.container .right-col .gender {
  max-width: 160px;
}
.container .right-col .gender .radio-container {
  width: 80px;
  float: left;
}
.container .right-col .gender .radio-container label {
  font-size: 14px;
  margin-left: 10px;
}
.container .right-col input[type=date] {
  width: 450px;
  border: 1px solid #eee;
  background-color: white;
  border-radius: 3px;
  padding: 15px 15px 15px 20px;
  font-size: 14px;
  margin-bottom: 20px;
}
.container .right-col .birthday {
  position: relative;
  min-width: 290px;
}
.container .right-col .birthday input {
  max-width: 290px;
}
.container .right-col .birthday img {
  position: absolute;
  top: 50px;
  right: 20px;
}
.container #address-book-btn {
  padding: 15px 50px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  background-color: #C73536;
  border: none;
  border-radius: 100px;
  margin-top: 22px;
  margin-bottom: 60px;
}
.container #address-book-btn:hover {
  text-decoration: none;
  cursor: pointer;
}
.container #address-book-btn:focus {
  outline: none;
}
.container #update-info, .container #address-book-btn {
  padding: 15px 50px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  background-color: #f68c59;
  border: none;
  border-radius: 5px;
  margin-top: 22px;
  margin-bottom: 60px;
}
.container #update-info:hover, .container #address-book-btn:hover {
  text-decoration: none;
}
.container #update-info:focus, .container #address-book-btn:focus {
  outline: none;
}
.container input[type=checkbox] {
  margin-top: 10px;
}
.container .resetpassword {
  display: none;
}
.container .resetpassword input[type=password] {
  letter-spacing: 0.1em;
  font-size: 16px;
  height: 45px;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 15px 15px 15px 20px;
  margin-bottom: 20px;
}
.container .resetpassword input[type=password]::-moz-placeholder {
  color: #bbb;
}
.container .resetpassword input[type=password]::placeholder {
  color: #bbb;
}
.container .table {
  margin-top: 21px;
}
.container .table thead th {
  border: none;
  background-color: #f8f8f8;
  color: #777777;
}
.container .table thead td:last-child {
  text-align: end;
}
.container .table tbody tr td {
  border-top: none;
  border-bottom: 1px solid #eee;
  height: 75px;
  vertical-align: middle !important;
}
.container .table tbody tr td:last-child {
  text-align: end;
}
.container .table-detail {
  width: 100%;
  margin-top: 21px;
}
.container .table-detail thead th {
  border: none;
  background-color: #f8f8f8;
  color: #777777;
}
.container .table-detail thead td {
  padding: 8px;
}
.container .table-detail thead td:last-child {
  text-align: end;
}
.container .table-detail tbody tr td {
  border-top: none;
  border-bottom: 1px solid #eee;
  height: 75px;
  vertical-align: middle !important;
}
.container .table-detail tbody tr td:last-child {
  text-align: end;
}
.container .detail-order h4 {
  text-transform: uppercase;
  font-size: 14px;
}
.container .detail-order .block {
  max-width: 300px;
}
.container .detail-order .block__div {
  background-color: #f9f9f9;
  height: 150px;
  border-radius: 5px;
}
.container .detail-order .block__div p {
  margin-bottom: 10px;
}
.container .detail-order .pay {
  padding-top: 20px;
  background-color: #f9f9f9;
  margin-bottom: 60px;
}
.container .detail-order table {
  margin-top: 15px;
  margin-bottom: 0px;
  border-radius: 5px;
  background-color: #f9f9f9;
}
.container .detail-order table thead td {
  border-top: none;
  border-bottom: 1px solid #e5e5e5;
}
.container .detail-order table thead td:first-child {
  padding-left: 20px;
}
.container .detail-order table tbody tr td {
  border-top: none;
  border-bottom: 1px solid #e5e5e5;
}
.container .detail-order table tbody tr td:first-child {
  padding-left: 20px;
}
.container .detail-order table tbody tr td:nth-last-of-type(2) {
  text-align: center;
}
.container .add-address {
  border: 1px dashed #ccc;
  padding-top: 15px;
  padding-bottom: 15px;
}
.container .add-address p {
  margin-bottom: 0;
}
.container .add-address:hover {
  text-decoration: none;
  background-color: #f5f5f5;
  font-weight: 400;
  cursor: pointer;
}
.container .so-dia-chi {
  margin-bottom: 60px;
}
.container .so-dia-chi .address-1 {
  background-color: #f9f9f9;
  padding: 20px;
}
.container .so-dia-chi .address-1 .address-1__div-info {
  max-width: 785px;
}
.container .so-dia-chi .address-1 i {
  font-size: 16px;
}
.container .so-dia-chi .address-1 p {
  margin-bottom: 5px;
}
.container .so-dia-chi .address-1 p:last-child {
  margin-bottom: 0px;
}
.container .radio-container {
  position: relative;
}
.container .radio-container label {
  cursor: pointer;
}
.container .radio-container input {
  position: absolute;
  display: none;
}
.container .radio-container .style-radio {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  border: 1px solid #bbbbbb;
  border-radius: 50%;
}
.container .radio-container:hover {
  color: rgba(138, 157, 90, 0.5647058824);
}
.container .radio-container:hover input ~ .style-radio {
  background: #8a9d5a;
}
.container .radio-container input:checked ~ .style-radio {
  background-color: white;
  border: 1px solid #8a9d5a;
}
.container .radio-container input:checked ~ .style-radio::after {
  display: block;
}
.container .radio-container .style-radio:after {
  content: "";
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #8a9d5a;
  position: absolute;
  display: none;
}
.container .thumbnail-detail {
  width: 100px;
}
.container .small--text {
  font-size: 12px;
}
.container .medium--text {
  font-size: 14px;
}
.container .menu {
  display: none;
}
.container .select2 {
  border: 1px solid #eee;
  border-radius: 3px;
  margin-bottom: 20px;
  height: 51px;
}
.container .select2 .select2-results__option--highlighted {
  background-color: #8a9d5a !important;
}
.container .select2 .select2-selection__rendered {
  line-height: 21px;
}
.container .select2 .select2-selection {
  padding: 15px 15px 15px 20px;
  border: none;
  background-color: white;
  font-size: 14px;
}
.container .select2 .select2-selection:disabled {
  background-color: #f8f8f8;
  color: #bbbbbb;
}
.container .select2 .select2-selection:focus {
  outline: none;
}
.container .select2 .select2-selection__arrow {
  top: 15px;
  padding-left: 0;
}

.select2-container .select2-dropdown .select2-search__field {
  outline: none;
}
.select2-container .select2-dropdown .select2-results__option {
  padding-left: 28px;
}
.select2-container .select2-dropdown .select2-results__option--highlighted {
  background-color: #8a9d5a;
}

#foldpassword {
  margin-bottom: 0px;
}

#fnewpassword {
  margin-bottom: 0px;
}

#fconfirmpassword {
  margin-bottom: 0px;
}

.add-new {
  display: none;
}

.edit-address-btn {
  cursor: pointer;
}

#edit-address {
  cursor: pointer;
}

.select-box-edit {
  width: 100%;
  border: 1px solid #eee;
  background-color: white;
  border-radius: 3px;
  padding: 15px 15px 15px 20px;
  font-size: 14px;
  margin-bottom: 20px;
}

.delete-address-btn:hover {
  cursor: pointer;
}

.list-address {
  max-height: 500px;
  overflow: auto;
}

.style-3::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(221, 221, 221);
  background-color: #f5f5f5;
}

.style-3::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.style-3::-webkit-scrollbar-thumb {
  background-color: rgb(129, 129, 129);
}

.input-field {
  margin-bottom: 20px;
}

.bold {
  font-weight: 500 !important;
}

.back:hover {
  cursor: pointer;
  text-decoration: none;
}

.product-row:hover {
  background-color: rgb(255, 246, 246);
}

.other-page {
  cursor: pointer;
}

.next-page {
  cursor: pointer;
}

.avatar {
  width: 50px;
  border-radius: 50%;
}

@media (max-width: 767px) {
  .so-dia-chi {
    padding: 20px 8px;
    margin-top: 10px;
  }
  .so-dia-chi .address-1 {
    margin-bottom: 10px;
  }
  .so-dia-chi .address-1__div-info {
    font-size: 12px;
  }
  .add-new {
    padding: 20px 8px;
    margin-top: 10px;
  }
  .list-order {
    background-color: white;
    padding: 20px 8px;
    margin-top: 10px;
  }
  .list-order a {
    color: #333;
  }
  .list-order a:hover {
    text-decoration: none;
  }
  .user-tab {
    padding-left: 20px;
  }
  .nav-link {
    padding: 10px !important;
  }
  main .container {
    background-color: #eee;
  }
  .user-tab {
    background-color: white;
    margin-bottom: 10px;
  }
  .tab-user {
    background-color: white;
  }
  .info-tab {
    background-color: white;
    margin-top: 10px;
  }
  .tab-pane {
    padding: 20px 8px;
  }
  .resetpassword input[type=password] {
    width: 100%;
  }
  .table {
    display: none;
  }
  .mobile-list-item .item-order {
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
  }
  .mobile-list-item .item-name {
    color: #0066ff;
  }
  .mobile-list-item .description {
    color: #777777;
  }
  .mobile-list-item .description p {
    margin-bottom: 0px;
    font-weight: 300;
  }
  .list-address {
    margin-top: 20px;
  }
  .edit-address-btn {
    font-size: 13px;
  }
  .delete-address-btn {
    font-size: 13px;
  }
  .green--text {
    font-size: 13px;
  }
  .detail-order {
    display: none;
  }
  .detail-mobile .row {
    background-color: white;
    margin-bottom: 10px;
    padding: 0 8px;
  }
  .detail-mobile .row:first-child {
    margin-top: 10px;
  }
  .so-dia-chi {
    background-color: white;
  }
  .add-new {
    background-color: white;
  }
  .edit-address {
    background-color: white;
    margin-top: 10px;
    padding: 20px 8px;
  }
  #update-info {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .detail-order {
    display: none;
  }
  .so-dia-chi {
    padding: 20px 8px;
  }
  .so-dia-chi .address-1 {
    margin-bottom: 10px;
  }
  .so-dia-chi .address-1__div-info {
    font-size: 12px;
  }
  .add-new {
    padding: 20px 8px;
    margin-top: 10px;
  }
  .list-order {
    background-color: white;
    padding: 20px 8px;
  }
  .list-order a {
    color: #333;
  }
  .list-order a:hover {
    text-decoration: none;
  }
  .user-tab {
    padding-left: 20px;
  }
  .nav-link {
    padding: 10px !important;
  }
  .breadcrumbs {
    padding-left: 20px;
  }
  .user-tab {
    background-color: white;
    margin-bottom: 10px;
  }
  .tab-user {
    background-color: white;
  }
  .tab-content {
    background-color: white;
    margin-top: 10px;
  }
  .tab-pane {
    padding: 20px 8px;
  }
  .resetpassword input[type=password] {
    width: 100%;
  }
  .birthday {
    max-width: 260px;
  }
  .phone {
    padding-left: 10px !important;
  }
  .mobile-list-item .item-order {
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
  }
  .mobile-list-item .item-order:hover {
    background-color: lightblue;
  }
  .mobile-list-item .item-name {
    color: #0066ff;
  }
  .mobile-list-item .description {
    color: #777777;
  }
  .mobile-list-item .description p {
    margin-bottom: 0px;
    font-weight: 300;
  }
  .table {
    display: none;
  }
  .list-address {
    margin-top: 20px;
  }
  .edit-address-btn {
    font-size: 13px;
  }
  .delete-address-btn {
    font-size: 13px;
  }
  .green--text {
    font-size: 13px;
  }
  .detail-mobile .row {
    background-color: white;
    margin-bottom: 10px;
    padding: 0 8px;
  }
  .detail-mobile .row:first-child {
    margin-top: 10px;
  }
  #update-info {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 1025px) {
  .left-col {
    padding-right: 30px !important;
  }
  .left-col .user-tab {
    width: 240px;
  }
  .left-col .nav-link {
    height: 40px;
  }
  .phone {
    margin-left: 15px;
  }
  .resetpassword input[type=password] {
    width: 290px;
  }
  .mobile-list-item {
    display: none;
  }
  .so-dia-chi .address-1 {
    margin-top: 20px;
    height: 105px;
  }
  .detail-mobile {
    display: none;
  }
}/*# sourceMappingURL=thongtintaikhoan.css.map */