@import "../../../../templates/default/css/colors";

.menu {
  display: none;
}
.size--text-pay {
  font-size: 18px;
}
.text--title {
  font-size: 20px;
}
.pr-15px {
  padding-right: 15px !important;
}
.active {
  img {
    filter: none !important;
  }
  font-weight: 400;
}
.green--text {
  color: #F68C59;
}
.red--text {
  color: #c73536;
}
.detail-btn {
  color: #81954E;
  font-weight: 500;
}
.container {
  .left-col {
    .block-icon-tab {
      width: 56px;
      height: 40px;
      object-fit: none;
      filter: grayscale(100%);
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .user-tab {
      height: 70px;
      p {
        margin: 0;
      }

      img {
        margin-right: 10px;
      }
    }
    .nav-link {
      padding: 0;
      display: flex;
      align-items: center;
      color: black;
    }
    .nav-link.active {
      background-color: $grey-tab !important;
      color: #333 !important;
    }
  }
  .right-col {
    h1 {
      font-size: 20px;
      // text-transform: uppercase;
      padding-bottom: 14px;
      border-bottom: 1px solid #eee;
      margin-bottom: 14px;
    }
    input[type="text"] {
      width: 100%;
      border: 1px solid #eee;
      background-color: white;
      border-radius: 3px;
      padding: 15px 15px 15px 20px;
      font-size: 14px;
      &:disabled {
        background-color: #f8f8f8;
        color: #bbbbbb;
      }
    }

    label {
      font-size: 16px;
      font-weight: 600;
    }
    .change-password {
      font-size: 14px;
      // width: 140px;
      margin-bottom: 15px;
      .checkmark-changepassword {
        width: 18px;
        height: 18px;
        &:after {
          left: 7px;
          top: 3px;
          width: 5px;
          height: 10px;
          border: solid white;
          border-width: 0 1px 1px 0;
          transform: rotate(45deg);
        }
      }
    }
    .default-address {
      .checkmark-address {
        width: 18px;
        height: 18px;
        &:after {
          left: 7px;
          top: 3px;
          width: 5px;
          height: 10px;
          border: solid white;
          border-width: 0 1px 1px 0;
          transform: rotate(45deg);
        }
      }
    }
    .gender {
      max-width: 160px;
      .radio-container {
        width: 80px;
        float: left;
        label {
          font-size: 14px;
          margin-left: 10px;
        }
      }
    }
    input[type="date"] {
      width: 450px;
      border: 1px solid #eee;
      background-color: white;
      border-radius: 3px;
      padding: 15px 15px 15px 20px;
      font-size: 14px;
      margin-bottom: 20px;
    }
    .birthday {
      position: relative;
      min-width: 290px;
      input {
        max-width: 290px;
      }
      img {
        position: absolute;
        top: 50px;
        right: 20px;
      }
    }
  }
  #address-book-btn {
    padding: 15px 50px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    background-color: $red;
    border: none;
    border-radius: 100px;
    margin-top: 22px;
    margin-bottom: 60px;
    &:hover {
      text-decoration: none;
      cursor: pointer;
    }
    &:focus {
      outline: none;
    }
  }
  #update-info, #address-book-btn {
    padding: 15px 50px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    background-color: #f68c59;
    border: none;
    border-radius: 5px;
    margin-top: 22px;
    margin-bottom: 60px;
    &:hover {
      text-decoration: none;
    }
    &:focus {
      outline: none;
    }
  }
  input[type="checkbox"] {
    margin-top: 10px;
  }
  .resetpassword {
    display: none;
    input[type="password"] {
      letter-spacing: 0.1em;
      font-size: 16px;
      height: 45px;
      border: 1px solid #ccc;
      border-radius: 3px;
      padding: 15px 15px 15px 20px;
      margin-bottom: 20px;
      &::placeholder {
        color: #bbb;
      }
    }
  }
  .table {
    margin-top: 21px;
    thead {
      th {
        border: none;
        background-color: $grey-tab;
        color: #777777;
      }
      td {
        &:last-child {
          text-align: end;
        }
      }
    }
    tbody {
      tr {
        td {
          border-top: none;
          border-bottom: 1px solid #eee;
          height: 75px;
          vertical-align: middle !important;
          &:last-child {
            text-align: end;
          }
        }
      }
    }
  }
  .table-detail {
    width: 100%;
    margin-top: 21px;
    thead {
      th {
        border: none;
        background-color: $grey-tab;
        color: #777777;
      }
      td {
        padding: 8px;
        &:last-child {
          text-align: end;
        }
      }
    }
    tbody {
      tr {
        td {
          border-top: none;
          border-bottom: 1px solid #eee;
          height: 75px;
          vertical-align: middle !important;
          &:last-child {
            text-align: end;
          }
        }
      }
    }
  }
  .detail-order {
    h4 {
      text-transform: uppercase;
      font-size: 14px;
    }
    .block {
      max-width: 300px;
    }
    .block__div {
      background-color: #f9f9f9;
      height: 150px;
      border-radius: 5px;
      p {
        margin-bottom: 10px;
      }
    }
    .pay {
      padding-top: 20px;
      background-color: #f9f9f9;
      margin-bottom: 60px;
    }
    table {
      margin-top: 15px;
      margin-bottom: 0px;
      border-radius: 5px;
      background-color: #f9f9f9;
      thead {
        td {
          border-top: none;
          border-bottom: 1px solid #e5e5e5;
          &:first-child {
            padding-left: 20px;
          }
        }
      }
      tbody {
        tr {
          td {
            border-top: none;
            border-bottom: 1px solid #e5e5e5;
            &:first-child {
              padding-left: 20px;
            }
            &:nth-last-of-type(2) {
              text-align: center;
            }
          }
        }
      }
    }
  }
  .add-address {
    border: 1px dashed #ccc;
    padding-top: 15px;
    padding-bottom: 15px;
    p {
      margin-bottom: 0;
    }
    &:hover {
      text-decoration: none;
      background-color: #f5f5f5;
      font-weight: 400;
      cursor: pointer;
    }
  }
  .so-dia-chi {
    margin-bottom: 60px;
    .address-1 {
      background-color: #f9f9f9;
      padding: 20px;
      .address-1__div-info {
        max-width: 785px;
      }
      i {
        font-size: 16px;
      }
      p {
        margin-bottom: 5px;
        &:last-child {
          margin-bottom: 0px;
        }
      }
    }
  }
  .radio-container {
    position: relative;
    label {
      cursor: pointer;
    }
    input {
      position: absolute;
      display: none;
    }
    .style-radio {
      position: absolute;
      top: 0;
      left: 0;
      height: 18px;
      width: 18px;
      border: 1px solid #bbbbbb;
      border-radius: 50%;
    }
    &:hover {
      color: #8a9d5a90;
      input {
        ~ {
          .style-radio {
            background: #8a9d5a;
          }
        }
      }
    }
    input {
      &:checked {
        ~ {
          .style-radio {
            background-color: white;
            border: 1px solid #8a9d5a;
          }
          .style-radio::after {
            display: block;
          }
        }
      }
    }
    .style-radio:after {
      content: "";
      top: 3px;
      left: 3px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #8a9d5a;
      position: absolute;
      display: none;
    }
  }
  .thumbnail-detail {
    width: 100px;
  }
  .small--text {
    font-size: 12px;
  }
  .medium--text {
    font-size: 14px;
  }
  .menu {
    display: none;
  }
  //   .select2-results__option--highlighted {
  //     background-color: #8a9d5a !important;
  //   }
  
  .select2 {
    border: 1px solid #eee;
    border-radius: 3px;
    margin-bottom: 20px;
    height: 51px;
    .select2-results__option--highlighted {
      background-color: #8a9d5a !important;
    }
    .select2-selection__rendered {
      line-height: 21px;
    }
    .select2-selection {
      padding: 15px 15px 15px 20px;
      border: none;
      background-color: white;
      font-size: 14px;
      &:disabled {
        background-color: #f8f8f8;
        color: #bbbbbb;
      }
      &:focus {
        outline: none;
      }
    }
    .select2-selection__arrow {
      top: 15px;
      padding-left: 0;
    }
  }
}
.select2-container {
  .select2-dropdown {
    .select2-search__field {
      outline: none;
    }
    .select2-results__option {
      padding-left: 28px;
    }
    .select2-results__option--highlighted {
      background-color: #8a9d5a;
    }
  }
}
#foldpassword {
  margin-bottom: 0px;
}
#fnewpassword {
  margin-bottom: 0px;

}
#fconfirmpassword {
  margin-bottom: 0px;

}
.add-new {
  display: none;
}
.edit-address-btn {
  cursor: pointer;
}
#edit-address {
  cursor: pointer;
}
.select-box-edit {
  width: 100%;
  border: 1px solid #eee;
  background-color: white;
  border-radius: 3px;
  padding: 15px 15px 15px 20px;
  font-size: 14px;
  margin-bottom: 20px;
}
.delete-address-btn {
  &:hover {
    cursor: pointer;
  }
}
.list-address {
  max-height: 500px;
  overflow: auto;
}
.style-3::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(221, 221, 221);
  background-color: #f5f5f5;
}

.style-3::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.style-3::-webkit-scrollbar-thumb {
  background-color: rgb(129, 129, 129);
}
.input-field {
  margin-bottom: 20px;
}
.bold {
  font-weight: 500 !important;
}
.back {
  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}
.product-row {
  &:hover {
    background-color: rgb(255, 246, 246);
  }
}
.other-page {
  cursor: pointer;
}
.next-page {
  cursor: pointer;
}
.avatar {
  width: 50px;
  border-radius: 50%;
}

@media (max-width: 767px) {
  .so-dia-chi {
    padding: 20px 8px;
    margin-top: 10px;
    .address-1 {
      margin-bottom: 10px;
    }
    .address-1__div-info {
      font-size: 12px;
    }
  }
  .add-new {
    padding: 20px 8px;
    margin-top: 10px;
  }
  .list-order {
    background-color: white;
    padding: 20px 8px;
    margin-top: 10px;
    a {
      color: #333;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .user-tab {
    padding-left: 20px;
  }
  .nav-link {
    padding: 10px !important;
  }
  main {
    .container {
      background-color: #eee;
    }
  }

  .user-tab {
    background-color: white;
    margin-bottom: 10px;
  }
  .tab-user {
    background-color: white;
  }
  .info-tab {
    background-color: white;
    margin-top: 10px;
  }
  .tab-pane {
    padding: 20px 8px;
  }
  .resetpassword {
    input[type="password"] {
      width: 100%;
    }
  }
  .table {
    display: none;
  }
  .mobile-list-item {
    .item-order {
      border: 1px solid #eee;
      border-radius: 10px;
      padding: 10px;
      margin-top: 10px;
    }
    .item-name {
      color: #0066ff;
    }
    .description {
      color: #777777;
      p {
        margin-bottom: 0px;
        font-weight: 300;
      }
    }
  }
  .list-address {
    margin-top: 20px;
  }
  .edit-address-btn {
    font-size: 13px;
  }
  .delete-address-btn {
    font-size: 13px;
  }
  .green--text {
    font-size: 13px;
  }
  .detail-order {
    display: none;
  }
  .detail-mobile {
    .row {
      background-color: white;
      margin-bottom: 10px;
      padding: 0 8px;
      &:first-child {
        margin-top: 10px;
      }
    }
  }
  .so-dia-chi {
    background-color: white;
  }
  .add-new {
    background-color: white;
  }

  .edit-address {
    background-color: white;
    margin-top: 10px;
    padding: 20px 8px;
  }
  #update-info {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .detail-order {
    display: none;
  }
  .so-dia-chi {
    padding: 20px 8px;
    .address-1 {
      margin-bottom: 10px;
    }
    .address-1__div-info {
      font-size: 12px;
    }
  }
  .add-new {
    padding: 20px 8px;
    margin-top: 10px;
  }
  .list-order {
    background-color: white;
    padding: 20px 8px;
    a {
      color: #333;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .user-tab {
    padding-left: 20px;
  }
  .nav-link {
    padding: 10px !important;
  }
  .breadcrumbs {
    padding-left: 20px;
  }

  .user-tab {
    background-color: white;
    margin-bottom: 10px;
  }
  .tab-user {
    background-color: white;
  }
  .tab-content {
    background-color: white;
    margin-top: 10px;
  }
  .tab-pane {
    padding: 20px 8px;
  }
  .resetpassword {
    input[type="password"] {
      width: 100%;
    }
  }
  .birthday {
    max-width: 260px;
  }
  .phone {
    padding-left: 10px !important;
  }
  .mobile-list-item {
    .item-order {
      border: 1px solid #eee;
      border-radius: 10px;
      padding: 10px;
      margin-top: 10px;
      &:hover {
        background-color: lightblue;
      }
    }
    .item-name {
      color: #0066ff;
    }
    .description {
      color: #777777;
      p {
        margin-bottom: 0px;
        font-weight: 300;
      }
    }
  }
  .table {
    display: none;
  }
  .list-address {
    margin-top: 20px;
  }
  .edit-address-btn {
    font-size: 13px;
  }
  .delete-address-btn {
    font-size: 13px;
  }
  .green--text {
    font-size: 13px;
  }
  .detail-mobile {
    .row {
      background-color: white;
      margin-bottom: 10px;
      padding: 0 8px;
      &:first-child {
        margin-top: 10px;
      }
    }
  }
  // .select2 {
  //   width: 100vw;
  // }
  #update-info {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 1025px) {
  .left-col {
    padding-right: 30px !important;
    .user-tab {
      width: 240px;
    }
    .nav-link {
      height: 40px;
    }
  }
  .phone {
    margin-left: 15px;
  }
  .resetpassword {
    input[type="password"] {
      width: 290px;
    }
  }
  .mobile-list-item {
    display: none;
  }
  .so-dia-chi {
    .address-1 {
      margin-top: 20px;
      height: 105px;
    }
  }
  .detail-mobile {
    display: none;
  }
  // .select2-selection {
  //   width: 450px;
  // }
}


