#login-form {

}
#login-form h4{
    padding: 20px 0px;
    text-align: center;
}
.forget_form {
    margin-left: 35%;
    width: 400px;

}
.forget_form span{
    font-size: 16px;
    margin: 5px 0px;
}
.forget_form  ul li:first-child{
    padding-top: 15px;
}
.forget_form  ul li:first-child span{
    font-size: 16px;
}
.forget_form  ul li:first-child input{
    width: 100%;
    padding: 7px 5px;
    border-radius: 4px;
    border: 1px solid #cccccc;
}
.forget_form  ul li:nth-child(2){
    padding-top: 10px;
}
.forget_form  ul li:nth-child(2) span{
    font-size: 16px;
}
.forget_form  ul li:nth-child(2) input{
    width: 73%;
    border-radius: 4px;
    border: 1px solid #cccccc;
    padding: 7px 5px;
}
.forget_form  ul li:nth-child(2) img{
    position: relative;
    top: 0px;
}
.forget_form  ul li:nth-child(3){
    padding-top: 10px;
}
.forget_form  ul li:nth-child(3) input{
    padding: 7px 10px;
    background-color: #f68c59;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 16px;
    border-color: #f68c59;
    border-radius: 4px;
}
.frame_auto_head_l h4{
    text-transform: uppercase;
}
.frame_auto_body ul{
    list-style-type: none;
}
