.menu-bottom-title{
    font-size: 18px;
    color: #333;
    font-weight: 500;
    text-align: left;
    padding-bottom: 15px;
    text-transform: uppercase;
}
.menu-bottom li {
    width: 50%;
    float: left;
    padding: 5px 0;
}
.menu-bottom li a {
    background: url('../images/icon-menu-bottom.png') no-repeat scroll left center;
    color: #333;
    font-size: 14px;
    padding: 0 0 0 13px;
}
.menu-bottom li ul {
    display: none;
}