.navbar-nav {
    float: left;
    margin: 0;
}
.mainmenu-default {
    float: left;
    width: 100%; 
    position: relative;
}
.mainmenu-default .nav > li {
    float: left;
    padding: 0px 0px;
}
.mainmenu-default .nav > li > a {
    position: relative;
    display: block;
    padding: 0px 20px;
}
.mainmenu-default .nav li .icon-home {
    display: block;
    width: 41px;
    height: 42px;
    background-image: url("../images/background-Icon.png");
    background-repeat: no-repeat;
    background-position: -13px -9px; 
}
.mainmenu-default .nav li a {
    font-size: 16px;
    text-transform: uppercase;
}
.mainmenu-default .nav li a:hover,
.mainmenu-default .nav li.active a {
    color: #00842a; 
    padding: 0px 20px;
}
.menu-bottom > li {
    float: left;
    width: 50%;
    padding-right: 10px; 
}
.menu-bottom > li > a {
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    display: block;
    margin-bottom: 5px; 
}
.menu-bottom > li ul li {
    font-size: 14px;
    color: #333333;
    line-height: 30px; 
}
.menu-bottom > li ul li:hover a {
    color: #006cc6; 
}
.sb-toggle {
    float: right;
    padding: 3px 3px 0;
    cursor: pointer;
    display: none;
}
.navicon-line {
    width: 24px;
    height: 4px;
    border-radius: 1px;
    margin-bottom: 4px;
    background-color: #008429;
}
@media screen and (max-width:1024px){
    #header .navbar-header .sologan,
    .mainmenu-default .nav > li > a {
        padding: 0px 8px;
    }
    .mainmenu-default .nav li a {
        font-size: 15px;
    }
}
@media screen and (max-width:966px){
    #header .navbar-header .sologan {
        float: left;
        margin-bottom: 0;
        width: 78%;
    }
    .mainmenu-default {
        float: right;
        width: auto;
        margin-top: 8px;
    }
    .sb-toggle {
        display: block;
    }
    .navbar-nav{
        display: none;
        background: #008429;
        border-radius: 4px;
        position: absolute;
        right: 0;
        top: 34px;
        z-index: 100;
        padding: 10px 0;
        min-width: 150px;
    }
    .mainmenu-default .nav > li {
        padding: 0px 25px;
        float: none;
    }
    .mainmenu-default .nav li a {
        color: #fff;
        white-space: nowrap;
        padding: 5px 0px;
    }
    .mainmenu-default .nav li a:hover,
    .mainmenu-default .nav li.active a {
        color: #ed2e33;
        padding: 5px 0;
        border-bottom: 0;
    }
}