#cssmenu{
	float: right
}
#cssmenu ul li{
	float:left;
	position: unset;
}
#cssmenu ul li:first-child{
	border-left:none
}
#cssmenu ul li a{
	color:#1f1f1f;
    display: inline-block;
}
#cssmenu ul li > span.click-show-menu {
	background: url("../images/icon-submenu.png") no-repeat scroll center;
    float: right;
    color: #1f1f1f;
    display: none;
    cursor: pointer;
    width: 10px;
    height: 10px;
    margin-top: 5px;
}
#cssmenu ul li > span.click-show-menu.active {
	background: url("../images/icon-submenu-active.png") no-repeat scroll center;
}
@media (min-width: 1024px){
	#cssmenu .level_0{
		padding:39px 20px
	}
	#cssmenu ul li a{
		font-size:15px
	}
	#cssmenu .level_0.search{
		padding:34px 20px;
		position:relative;
	}
	#cssmenu .level_0.search span{
		background: url("../images/icon-search.png") no-repeat scroll center;
		width: 29px;
		height: 29px;
		display: block;
		cursor: pointer;
	}
	#cssmenu .level_0.search:hover span{
		background: url("../images/icon-search-hover.png") no-repeat scroll center;
	}
	#cssmenu .level_0.language{
		padding:28px 0 28px 20px;
		text-align: center;
	}
	#cssmenu .level_0.language a{
		font-size: 12px;
		text-align: center
	}
	#cssmenu .level_0.language:hover a{
		color: #ed1c24;
	}
	#cssmenu .level_0.language a.bordervi{
    	border-bottom: 1px solid #1f1f1f;
    	padding-bottom: 2px;
   		margin-bottom: 2px;
	}
}
#cssmenu .level_0:hover,
#cssmenu .level_0.activated{
	background: #ed1c24;
}
#cssmenu .dropdown .dropdown-menu li a{
	background: #fff;
}
#cssmenu .level_0.language:hover{
	background: none;
}
#cssmenu .level_0:hover a,
#cssmenu .level_0.activated a,
#cssmenu .level_0 a.active{
	color:#fff
}
#cssmenu .level_0.language a.active{
	color:#1f1f1f;
}
#cssmenu .level_0.home:hover,
#cssmenu .level_0.language:hover,
#cssmenu .level_0.home.activated,
#cssmenu .level_0.language.activated{
}
#cssmenu .dropdown:hover .dropdown-menu{
	display:block
}
#cssmenu .dropdown .dropdown-menu{
	border-radius:0;
	top:100%;
	min-width:250px;
	margin-top:0
}
#cssmenu .dropdown .dropdown-menu li a{
    padding: 5px 0;
    font-size: 15px;
    display: block;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #1f1f1f;
    text-transform: uppercase;
}
#cssmenu .dropdown .dropdown-menu li ul li a{
    font-weight: 300;
    line-height: 20px;
    text-transform:none;
}
#cssmenu .dropdown .dropdown-menu li a i{
	float:left;
	margin-right:5px;
	background:none;
	width:35px;
	height:35px;
	display:block}
#cssmenu .dropdown .dropdown-menu li:hover a{
	color:#ed1c24
}
#cssmenu .dropdown .dropdown-menu{
	position:absolute;
	top:97%;
	z-index:1000;
	display:none;
	float:left;
	width:100%;
	margin-top:2px;
	padding:10px 0;
	box-shadow:0px 1px 4px 0px #ccc;
}
#cssmenu .dropdown .dropdown-menu li.sub-menu-level1 {
    padding-right: 40px;
}
#cssmenu .dropdown .dropdown-menu li.sub-menu-level1:last-child {
    padding-right: 0px;
}
#cssmenu .dropdown .dropdown-menu ul li ul li{
	display: contents;
}
#cssmenu .dropdown .dropdown-menu li:hover ul li a{
	color:#1f1f1f
}
#cssmenu .dropdown .dropdown-menu li ul li:hover a{
	color:#ed1c24
}
.menu-mobile{
	float:left;
	width:100%
}
.menu-mobile a{
	color:#ffffff;
	font-size:14px;
	text-transform:uppercase
}
.menu-mobile>li{
	border-bottom:1px solid #e8e8e8;
	-webkit-transition:300ms;
	transition:300ms
}
.menu-mobile>li div{
	-webkit-transition:300ms;
	-o-transition:300ms;
	transition:300ms;
	padding:10px 20px 10px 10px;
	font-size:14px;
	text-transform:uppercase;
	color:#fff;
	font-weight:500;
	line-height:28px
}
.menu-mobile>li div .offcanvas-menu-toggler{
	display:inline-block;
	position:absolute;
	top:0;
	right:0;
	padding:13px 20px;
	cursor:pointer
}
.menu-mobile>li div .fa{
	display:none
}
.menu-mobile>li .sub-1{
	padding-left:20px
}
.menu-mobile>li .sub-2{
	padding-left:30px
}
.menu-mobile>li ul{
	display:none
}
.menu-mobile li.parent .fa-angle-down{
	display:block
}
.menu-mobile li.open{
	background-color:rgba(0,0,0,0.15)
}
.menu-mobile li.open .fa-angle-down{
	display:none
}
.menu-mobile li.open .fa-angle-up{
	display:block
}
.menu-mobile>li{
	border:0;
	position:relative;
	border-bottom:1px solid rgba(0,0,0,0.1);
	overflow:hidden
}
.sb-toggle {
    float: right;
    padding: 12px 3px 0;
    cursor: pointer;
    display: none;
}
.navicon-line {
    background-color: #ed1c24;
    width: 24px;
    height: 4px;
    border-radius: 3px;
    margin-bottom: 4px;
}
.sb-toggle-search {
    margin-right: 20px;
    float: right;
    padding: 12px 3px 0;
    cursor: pointer;
    display: none;
}
.click-search-mobile {
    background: url("../images/icon-search-mobile.png") no-repeat scroll center;
    width: 20px;
    height: 20px;
}
@media (max-width: 1024px){
	#cssmenu .level_0 {
	    padding: 0px 8px;
	}
	#cssmenu .level_0.home {
	    display: none;
	}
	#cssmenu ul li a {
	    font-size: 15px;
	}
}
@media (max-width: 853px){
	#header .navbar-header {
	    position: relative;
	    padding: 15px 20px 0px 0px;
	}
	#header .language {
	    padding-top: 0px;
	}
	.sb-toggle,.sb-toggle-search{
        display: block;
    }
	#cssmenu{
		display:none;
		background: #fff;
		position: absolute;
	    top: 55px;
	    border-radius: 5px;
	    right: 0px;
	    padding: 5px 10px;
	    box-sizing: border-box;
	    z-index: 9;
	}
	#cssmenu ul li{
	    line-height: 25px;
	    position: relative;
	    width: 100%;
	    padding: 0;
	    margin: 0;
	}
	#cssmenu .level_0:hover, #cssmenu .level_0.activated{
		background: none;
	}
	#cssmenu ul li.home{
	    display: none;
	}
	#cssmenu ul li.language a {
	    width: 100%;
	}
	#cssmenu ul li.language span {
	    display: none;
	}
	#cssmenu ul li > span.click-show-menu {
	    display: block;
	}
	#cssmenu .dropdown:hover .dropdown-menu{
		display:none;
	}
	#cssmenu .dropdown .dropdown-menu {
		background: none;
	    border: none;
    	left: 0;
    	padding: 0;
	    position: relative;
	    min-width: auto;
	    box-shadow: none;
	}
	#cssmenu .dropdown .dropdown-menu ul {
	    width: 100%;
	    float: inherit;
	}
	#cssmenu .dropdown .dropdown-menu li.sub-menu-level1{
		padding-right: 0;
	}
	#cssmenu .dropdown .dropdown-menu ul li ul{
	    display: none;
	}
	#cssmenu .dropdown .dropdown-menu li a {
	    white-space: nowrap;
	    display: inline-block;
	}
	#cssmenu .level_0:hover a, #cssmenu .level_0.activated a, #cssmenu .level_0 a.active {
	    color: #222;
	}
	#cssmenu .level_0.search,
	#cssmenu .dropdown .dropdown-menu ul li:hover ul{
		display: none;
	}
}