@media screen and (max-width:768px) {
    .search{
        border: none;
    }
    .search section{
        display: block !important;
        position: unset !important;
    }
    .search #search{
        margin: 0;
    }
    #search #keyword {
        padding: 8px 10px;
        width: 85%;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .search #search form {
        float: left;
        margin-left: 10px;
        width: 99%;
    }
    .search #search form button:focus{
        outline: none;
    }
}