@media (max-width: 940px) {
  .menu-top {
    margin-bottom: 16px;
    margin-top: 5px;
  }
}
@media (min-width: 940px) {
  .menu-top li {
    display: inline;
    padding: 0 15px;
    line-height: 27px;
    position: relative;
  }
  .menu-top li:after {
    position: absolute;
    content: "";
    top: 8px;
    right: 0;
    border: 2px solid rgba(170, 170, 170, 0.58);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
  }
  .menu-top li:hover a {
    color: #b21413;
  }
  .menu-top li:hover:after {
    border: 2px solid #b21413;
  }
}
@media (max-width: 940px) {
  .menu-top li {
    float: left;
    width: 100%;
  }
  .menu-top li a {
    -moz-transition: all 0.2s ease-in 0;
    -webkit-transition: all 0.2s ease-in;
    -webkit-transition-delay: 0;
    transition: all 0.2s ease-in 0;
    color: #a4a4a4;
    display: block;
    font-size: 15px;
    height: 45px;
    line-height: 45px;
    padding-left: 10px;
    text-align: left;
    background-color: #333333;
    margin-bottom: 1px;
  }
  .menu-top li:hover a {
    color: #999999;
    background-color: #f1f1f1;
  }
  .menu-top li:hover:after {
    border: 2px solid #b21413;
  }
}
.menu-top .activated > a {
  color: #b21413;
}

/* -----END Menu Top------- */
.mainmenu-default {
  float: left;
  width: 100%;
}
.mainmenu-default .nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
@media (max-width: 940px) {
  .mainmenu-default .nav {
    display: none;
  }
}
.mainmenu-default .nav li .icon-home {
  display: block;
  width: 41px;
  height: 42px;
  background-image: url("../images/background-Icon.png");
  background-repeat: no-repeat;
  background-position: -13px -9px;
}
.mainmenu-default .nav li a {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
}
.mainmenu-default .nav li a:hover {
  background-color: #ffffff;
  color: #006cc6;
}
.mainmenu-default .nav li.active a {
  color: #006cc6;
}

.menu-bottom > li {
  float: left;
  width: 50%;
  padding-right: 10px;
}
.menu-bottom > li > a {
  color: #333333;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  display: block;
  margin-bottom: 5px;
}
.menu-bottom > li ul li {
  font-size: 14px;
  color: #333333;
  line-height: 30px;
}
.menu-bottom > li ul li:hover a {
  color: #006cc6;
}/*# sourceMappingURL=menu.css.map */