.navbar-header-top {
    float: right;
    position: relative;
}
.navbar-header-top ul > li {
    float: left;
    padding: 6px 12px;
    position: relative;
}
.navbar-header-top ul > li.hotline,
.navbar-header-top ul > li.click-search{
    background: url("../images/icon-hotline.png") no-repeat scroll left center;
    padding: 6px 0px 6px 60px;
    margin-left: 15px;
}
.navbar-header-top ul > li.click-search{
    background: url("../images/icon-search.png") no-repeat scroll left center;
    cursor: pointer;
}
.navbar-header-top ul > li > a {
    position: relative;
    display: block;
    font-size: 14px;
    color: #fff;
    padding: 0;
}
.navbar-header-top ul > li > a span{
    font-weight: bold;
}
.navbar-header-top ul li a:hover,
.navbar-header-top ul li.activated a {
    color: #ffbe36; 
    text-decoration: none;
}
.navbar-header-top ul li ul.child-menu{
    background: #fff;
    position: absolute;
    left: 0;
    top: 35px;
    width: 195px;
    display: none;
}
.navbar-header-top ul li:hover ul.child-menu{
    display: none;
}
.navbar-header-top ul li ul li{
    padding: 8px 15px;
}
.navbar-header-top ul li ul li a{
    font-size: 14px;
    color: #333333;
}
.navbar-header-top ul li ul li:hover{
    background: #ed1c24;
}
.navbar-header-top ul li ul li:hover a {
    padding: 0;
    border-bottom: 0;
    color: #fff; 
}

@media (max-width: 668px){
    .navbar-header-top ul > li {
        display: none;
    }
    .navbar-header-top ul > li.hotline,
    .navbar-header-top ul > li.click-search{
        display: block;
    }
}