.menu-recruitment > li {
    float: left;
    position: relative;
    box-sizing: border-box;
}
.menu-recruitment > li > a {
    background: #fff url('../images/icon-menu-re.png') no-repeat 97% center;
    color: #333333;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    display: block;
    padding: 10px 25px 10px 15px;
    text-decoration: none;
}
.menu-recruitment > li:hover > a {
    background: #f3f3f3 url('../images/icon-menu-re.png') no-repeat 97% center;
}
.menu-recruitment > li ul{
    background: #f3f3f3;
    padding: 10px 0 5px;
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 1;
    width: 100%;
    display: none;
}
.menu-recruitment > li:hover ul{
    display: block;
}
.menu-recruitment > li ul li a{
    font-size: 13px;
    color: #ed1c24;
    line-height: 25px;
    padding: 0px 15px;
    text-decoration: none;
}
.menu-recruitment > li ul li:hover a{
    color: #333;
}