#cssmenu{background-color:#116bb3;position:relative;border-bottom:1px solid #004e8d}
@media (max-width: 991px){#cssmenu{display:none}}
#cssmenu ul li{float:left;line-height:41px;position:relative;border-left:1px solid #fff}
#cssmenu ul li:first-child{border-left:none}
#cssmenu ul li a{color:#ffffff}@media (min-width: 1200px){#cssmenu ul li a{font-size:16px}}@media (max-width: 1199px){#cssmenu ul li a{font-size:14px}}@media (min-width: 992px){#cssmenu .level_0{padding:5px 10px 0px}}@media (min-width: 1200px){#cssmenu .level_0{padding:0px 18px}}
#cssmenu .level_0:hover{background-color:#004e8d}
#cssmenu .level_0.activated{background-color:#004e8d}
#cssmenu .mega-dropdown>a{position:relative}
#cssmenu .mega-dropdown>a:after{position:absolute;display:inline-block;right:-13px;top:7px;width:0;height:0;margin-left:2px;vertical-align:middle;border-top:4px dashed;border-right:4px solid transparent;border-left:4px solid transparent;content:''}
#cssmenu .dropdown:hover .dropdown-menu{display:block !important}
#cssmenu .dropdown .dropdown-menu{border-radius:0;top:100%;min-width:250px;margin-top:0}
#cssmenu .dropdown .dropdown-menu li{width:100%}
#cssmenu .dropdown .dropdown-menu li:last-child{border-bottom:none}
#cssmenu .dropdown .dropdown-menu li a{background:none;padding:10px 15px;font-size:14px;display:block;clear:both;font-weight:normal;line-height:20px;color:#555555;white-space:normal}
#cssmenu .dropdown .dropdown-menu li a i{float:left;margin-right:5px;background:none;width:35px;height:35px;display:block}
#cssmenu .dropdown .dropdown-menu li:hover a{color:#116bb3}
#cssmenu .dropdown .dropdown-menu{position:absolute;top:97%;left:0;z-index:1000;display:none;float:left;min-width:160px;margin-top:2px;font-size:14px;text-align:left;list-style:none;border:1px solid #dddddd;background-color:#f6f6f6;-webkit-box-shadow:0 6px 12px rgba(0,0,0,0.175);box-shadow:0 6px 12px rgba(0,0,0,0.175)}
#cssmenu .dropdown .mega-dropdown-menu{min-width:190px;border:none}
#cssmenu .dropdown .mega-dropdown-menu .dropdown-menu{display:block !important;position:relative !important;background:none;box-shadow:none;border:none;width:100%}
#cssmenu .mega-menu{position:static !important}
#cssmenu .mega-menu .dropdown-menu{background-color:#efeae1;padding:20px 0px 0px}
#cssmenu .mega-menu .dropdown-menu li{display:block;width:25%;float:left;min-height:75px;padding:0 10px;border:none}
#cssmenu .mega-menu .dropdown-menu li a{color:#333333 !important;padding:5px 20px}
.menu-mobile{float:left;width:100%}
.menu-mobile a{color:#ffffff;font-size:14px;text-transform:uppercase}
.menu-mobile>li{border-bottom:1px solid #e8e8e8;-webkit-transition:300ms;transition:300ms}
.menu-mobile>li div{-webkit-transition:300ms;-o-transition:300ms;transition:300ms;padding:10px 20px 10px 10px;font-size:14px;text-transform:uppercase;color:#fff;font-weight:500;line-height:28px}
.menu-mobile>li div .offcanvas-menu-toggler{display:inline-block;position:absolute;top:0;right:0;padding:13px 20px;cursor:pointer}
.menu-mobile>li div .fa{display:none}
.menu-mobile>li .sub-1{padding-left:20px}
.menu-mobile>li .sub-2{padding-left:30px}
.menu-mobile>li ul{display:none}
.menu-mobile li.parent .fa-angle-down{display:block}
.menu-mobile li.open{background-color:rgba(0,0,0,0.15)}
.menu-mobile li.open .fa-angle-down{display:none}
.menu-mobile li.open .fa-angle-up{display:block}
.menu-mobile>li{border:0;position:relative;border-bottom:1px solid rgba(0,0,0,0.1);overflow:hidden}
