.project {
  margin-top: 5px;
  width: 230px;
  height: 290px;
  background-color: white;
  display: flex;
  justify-content: center;
}
.project a {
  color: #333;
}
.project a .truncate {
  position: relative;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  max-height: 40px;
  color: rgb(36, 36, 36);
  font-size: 13px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: 0.1px;
  text-align: left;
  text-overflow: ellipsis;
  margin: 0px;
  overflow: hidden;
  height: 40px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 5px;
}
.project a:hover {
  text-decoration: none;
  color: #333;
}
.project a p {
  text-align: center;
}
.project:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
}
.project:hover img {
  transform: scale(0.9);
  transition: 0.5s;
}
.project img {
  transition: 0.5s;
  width: 195px;
  height: 195px;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
}

.partner {
  width: 208px;
}
.partner a {
  color: #333;
}
.partner a .truncate {
  width: 220px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.partner a:hover {
  text-decoration: none;
  color: #333;
}
.partner a p {
  text-align: center;
}
.partner:hover img {
  transform: scale(0.9);
  transition: 0.5s;
}
.partner img {
  transition: 0.5s;
  width: 195px;
  height: 195px;
}

@media (max-width: 768px) {
  .project {
    margin-right: 0 !important;
  }
  .project img {
    width: 90%;
    display: block;
    margin: auto;
  }
  .project .truncate {
    width: 80%;
  }
}
@media (min-width: 1025px) {
  .project .truncate {
    width: 200px;
  }
  .title a {
    font-weight: 500;
  }
}/*# sourceMappingURL=default.css.map */