.sale-disabled {
  display: none;
  pointer-events: none;
}
.pagination {
  b {
    display: none;
  }
  .pre-page {
    font-size: 30px;
    color: #333;
    line-height: 20px;
    &:hover {
      text-decoration: none;
    }
  }
  .next-page {
    font-size: 30px;
    color: #333;
    line-height: 20px;
    &:hover {
      text-decoration: none;
    }
  }
  .other-page {
    span {
      padding: 15px;
      color: #333;
      background-color: white;
    }
    &:hover {
      text-decoration: none;
    }
  }
  .current {
    span {
      color: white;
      background-color: #333;
      border-radius: 5px;
    }
  }
  font {
    span {
      padding: 15px;
      color: #333;
      background-color: white;
    }
  }
}

@media (max-width: 767px) {
  .title {
    h4 {
      font-size: 14px;
    }
  }
  .product {
    img {
      width: 100%;
    }
  }
  .truncate {
    width: 80%;
    margin-top: 15px !important;
  }
  // .show-more {
  //   display: none;
  //   pointer-events: none;
  // }
  .title {
    a {
      font-weight: 500;
      // padding-left: 15px;
    }
  }
}