.sale-disabled {
  display: none;
  pointer-events: none;
}

.pagination b {
  display: none;
}
.pagination .pre-page {
  font-size: 30px;
  color: #333;
  line-height: 20px;
}
.pagination .pre-page:hover {
  text-decoration: none;
}
.pagination .next-page {
  font-size: 30px;
  color: #333;
  line-height: 20px;
}
.pagination .next-page:hover {
  text-decoration: none;
}
.pagination .other-page span {
  padding: 15px;
  color: #333;
  background-color: white;
}
.pagination .other-page:hover {
  text-decoration: none;
}
.pagination .current span {
  color: white;
  background-color: #333;
  border-radius: 5px;
}
.pagination font span {
  padding: 15px;
  color: #333;
  background-color: white;
}

@media (max-width: 767px) {
  .title h4 {
    font-size: 14px;
  }
  .product img {
    width: 100%;
  }
  .truncate {
    width: 80%;
    margin-top: 15px !important;
  }
  .title a {
    font-weight: 500;
  }
}/*# sourceMappingURL=default.css.map */