#myCarousel .carousel-inner img {
  height: 680px;
  width: 100%;
  max-width: 100%;
}
#myCarousel .carousel-control-prev {
  position: absolute;
  top: 340px;
  left: 10px;
  border: none;
  background: none;
  height: 50px;
  width: 50px;
  text-align: center;
  color: #fff;
  font-size: 35px;
}
#myCarousel .carousel-control-next {
  position: absolute;
  top: 340px;
  right: 10px;
  border: none;
  background: none;
  height: 50px;
  width: 50px;
  text-align: center;
  color: #fff;
  font-size: 35px;
}

@media (max-width: 768px) {
  #myCarousel .carousel-inner img {
    height: 540px;
  }
  #myCarousel .carousel-control-next {
    top: 23%;
  }
  #myCarousel .carousel-control-prev {
    top: 23%;
  }
}
@media (max-width: 667px) {
  #myCarousel .carousel-inner img {
    height: 430px;
  }
}
@media (max-width: 568px) {
  #myCarousel .carousel-inner img {
    height: 410px;
  }
  .design-gara .row-design .row .col-5 {
    width: 25%;
    padding: 5px;
  }
  .design-gara .row-design .row {
    margin: 10px -5px 0 -5px;
  }
  #myCarousel .carousel-control-next {
    top: 17%;
  }
  #myCarousel .carousel-control-prev {
    top: 17%;
  }
}
@media (max-width: 480px) {
  #myCarousel .carousel-inner img {
    height: 300px;
  }
  #myCarousel .carousel-control-next {
    top: 15%;
  }
  #myCarousel .carousel-control-prev {
    top: 15%;
  }
}
@media (max-width: 425px) {
  #myCarousel .carousel-inner img {
    height: 270px;
  }
}
@media (max-width: 375px) {
  #myCarousel .carousel-inner img {
    height: 230px;
  }
}
@media (max-width: 320px) {
  #myCarousel .carousel-inner img {
    height: 200px;
  }
  #myCarousel .carousel-control-next {
    height: 30px;
    width: 30px;
    font-size: 25px;
    right: 0;
  }
  #myCarousel .carousel-control-prev {
    height: 30px;
    width: 30px;
    font-size: 25px;
    left: 0;
  }
}/*# sourceMappingURL=default.css.map */