#myCarousel {
  img {
    width: 100%;
    max-width: 100%;
    height: 590px;

    @media (max-width: 768px) {
      height: 500px;
      object-fit: cover;
    }
    @media (max-width: 667px) {
      height: 400px;
    }
    @media (max-width: 568px) {
      height: 350px;
    }
    @media (max-width: 480px) {
      height: 300px;
    }
    @media (max-width: 425px) {
      height: 260px;
    }
    @media (max-width: 375px) {
      height: 240px;
    }
    @media (max-width: 320px) {
      height: 210px;
    }
  }

}

.content-slider {
  overflow: hidden;
  opacity: 1;
  visibility: unset;
  img {
    width: 100%;
  }
}