#myCarousel img {
  width: 100%;
  max-width: 100%;
  height: 590px;
}
@media (max-width: 768px) {
  #myCarousel img {
    height: 500px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 667px) {
  #myCarousel img {
    height: 400px;
  }
}
@media (max-width: 568px) {
  #myCarousel img {
    height: 350px;
  }
}
@media (max-width: 480px) {
  #myCarousel img {
    height: 300px;
  }
}
@media (max-width: 425px) {
  #myCarousel img {
    height: 260px;
  }
}
@media (max-width: 375px) {
  #myCarousel img {
    height: 240px;
  }
}
@media (max-width: 320px) {
  #myCarousel img {
    height: 210px;
  }
}

.content-slider {
  overflow: hidden;
  opacity: 1;
  visibility: unset;
}
.content-slider img {
  width: 100%;
}/*# sourceMappingURL=style_default.css.map */