.carousel-partner {
    // background: #FAFAFA;
    margin-bottom: 40px;
    .item {
        padding: 20px;
    }
}
.architecture {
    background-color: white;
}
.carousel-cell-partner {
    width: 100%;
    height: 200px;
    margin-right: 10px;
    // background: #8C8;
    border-radius: 5px;
    counter-increment: carousel-cell;
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
.partner {
    background-color: white;
}
.title-intro-2 {
    font-size: 30px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 40px;
}

.title-intro-3 {
    font-size: 30px;
    font-weight: 600;
}
.carousel-nav-partner .carousel-cell-partner {
    height: 80px;
    width: calc(100% / 4 - 10px);
}

.carousel-nav-partner .carousel-cell-partner:before {
    font-size: 50px;
    line-height: 80px;
}

.intro-partner {
    padding-top: 100px;
    padding-bottom: 100px;
}

.partner-wrapper {
    .left {
        background-color: #f2f2f2;
    }
    .bi-dash,
    .bi-plus {
        position: absolute;
        right: 10px;
    }
    a[aria-expanded="false"] {
        .bi-dash {
            display: none;
        }
    }
    a[aria-expanded="true"] {
        .bi-plus {
            display: none;
        }
    }
    .title {
        padding-top: 80px;
        h2 {
            font-size: 27px;
        }
    }

    .left {
        width: 80%;
        margin-top: 80px;
        padding-top: 100px;
        padding-left: 135px;
        padding-right: 50px;
        padding-bottom: 100px;
        .accordion {
            width: 50%;
            padding-top: 10px;
        }

        .btn-link {
            // padding-right: 20px;
        }
    }

    .right {
        background-color: white;
        width: 30%;
        position: absolute;
        right: 7%;
        top: -5%;
        img {
            width: 100%;
        }
    }
    .accordion {
        // width: 40%;
        counter-reset: section;
        h2 {
            position: relative;
            a {
                font-size: 14px;
                color: #333;
                text-decoration: none;
                // height: 40px;
                display: flex;
                align-items: center;
                position: relative;
            }
            &::before {
                content: "0" counter(section) "";
                counter-increment: section;
                font-size: 10px;
                position: absolute;
                left: -20px;
                top: 0px;
                color: #d3a455;
            }
        }
    }
}

.carousel-architecture {
    background: #eee;
}
.container-2 {
    padding-left: 135px;
    background-color: white;
    padding-right: 135px;
}
// .project-wrapper {
//     // display: grid;
//     grid-template-columns: 1fr 1fr 1fr 1fr;
//     grid-gap: 10px;
//     .project-item {
//       display: block;

//       .carousel-cell-project {
//         height: 220px;
//         width: 100%;
//         img {
//           height: 100%;
//           object-fit: cover;
//           width: 100%;
//         }
//       }
//     }
// }
.carousel-cell-architecture {
    width: 100%;
    // height: 200px;
    margin-right: 10px;
    border-radius: 5px;
    counter-increment: gallery-cell;
}

.why-choose-ikay {
    padding-right: 135px;
    padding-bottom: 100px;
    .left {
        // padding-left: 135px;
        padding-top: 135px;
        width: 50%;
        img {
            width: 70%;
        }
    }
    .right {
        width: 50%;
        padding-top: 135px;
    }
}
.comment-customer-box {
    // margin-top: 60px;
    background-color: white;
    padding-bottom: 20px;
    .comment-customer {
        // margin-left: 135px;
        // margin-right: 135px;
        padding-top: 60px;
        padding-bottom: 60px;
        background-color: #f2f2f2;
        // width: 88%;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        // width: 60%;
        .avatar {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            object-fit: cover;
        }
        .comment {
            // margin-top: 30px;
            font-weight: 500;
        }
    }
}

.procedure {
    .text-left {
        // height: 50px;
        margin-top: 30px;
    }

}

@media screen and (min-width: 1300px) {
    .container {
        max-width: 1086px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}


@media screen and (min-width: 1900px) {
    .container {
        max-width: 1645px;
    }
    .why-choose-ikay {
        .right {
            p {
                font-size: 16px !important;
            }
        }
    }

    .carousel-cell-project {
        height: 265px !important;
    }
}


@media screen and (max-width: 900px) {
    .comment-customer-div {
        width: 90% !important;
    }
    .home {
        padding-bottom: 0px !important;
    }
    .partner-wrapper .left {
        margin-top: 0px !important;
        padding-bottom: 60px;
    }
    .partner-wrapper {
        .accordion {
            h2 {
                &::before {
                    left: -15px !important;

                }
            }
        }
    }
    .container-2 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .intro-partner {
        padding-bottom: 50px;
    }
    .partner-wrapper .left {
        width: unset;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
    }

    .partner-wrapper .left .accordion {
        width: unset;
    }

    .partner-wrapper .title {
        padding-top: unset;
    }

    .partner-wrapper .right {
        position: relative;
        width: 100%;
        right: 0%;
    }

    .why-choose-ikay {
        padding-left: 20px;
        padding-right: 20px;
    }
    .why-choose-ikay .left {
        padding-left: 0px;
        padding-top: 20px;
        width: 100%;
    }
    .why-choose-ikay .right {
        width: 100%;
        padding-top: 35px;
    }
    .why-choose-ikay .left img {
        width: 100%;
    }

    // .comment-customer-box .comment-customer {
    //     margin-left: 20px;
    //     margin-right: 20px;
    // }

    .why-choose-ikay {
        padding-bottom: 40px;
    }
}
