.news-box {
  margin-top: 100px;
  background-size: 100% 100%;
  background-blend-mode: lighten;
  margin-bottom: 100px;
  .title-news {
    padding-bottom: 65px;
  }
  .time-box {
    padding: 5px;
  }
  .grid-section-news {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
  }
  .news-item {
    width: 100%;
    position: relative;
    .text-yellow {
      font-size: 12px;
    }
    .time-box {
      position: absolute;
      right: 10px;
      bottom: 165px;
      color: white;
      background: #FF671D;
      .day-time {
        font-size: 30px;
      }
      .month-time {
        font-size: 18px;
      }
    }
    .title-news-item {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      min-height: 32px;
      font-size: 15px;
      margin-bottom: 0px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .summary-news {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
    }
    .description-news {
      background-color: #fcfcfc;
      padding: 12px 12px 12px 27px;
    }
    img {
      width: 100%;
      height: 230px;
      object-fit: cover;
    }
  }
  .seemore-news {
    margin-top: 75px !important;
  }
}

@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}
@media (min-width: 1600px) {
  .news-box {
    .news-item {

      .time-box {
        position: absolute;
        right: 10px;
        bottom: 165px;
        color: white;
      }
      .title-news-item {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        min-height: 32px;
        font-size: 15px;
        margin-bottom: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .description-news {
        background-color: #fcfcfc;
        padding: 12px 12px 12px 27px;
      }
      img {
        width: 100%;
        height: 300px;
      }
    }
  }
}
@media (min-width: 1900px) {
}
