.news-box {
  margin-top: 100px;
  background-size: 100% 100%;
  background-blend-mode: lighten;
  margin-bottom: 100px;
}
.news-box .title-news {
  padding-bottom: 65px;
}
.news-box .time-box {
  padding: 5px;
}
.news-box .grid-section-news {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
}
.news-box .news-item {
  width: 100%;
  position: relative;
}
.news-box .news-item .text-yellow {
  font-size: 12px;
}
.news-box .news-item .time-box {
  position: absolute;
  right: 10px;
  bottom: 165px;
  color: white;
  background: #FF671D;
}
.news-box .news-item .time-box .day-time {
  font-size: 30px;
}
.news-box .news-item .time-box .month-time {
  font-size: 18px;
}
.news-box .news-item .title-news-item {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  min-height: 32px;
  font-size: 15px;
  margin-bottom: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.news-box .news-item .summary-news {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.news-box .news-item .description-news {
  background-color: #fcfcfc;
  padding: 12px 12px 12px 27px;
}
.news-box .news-item img {
  width: 100%;
  height: 230px;
  -o-object-fit: cover;
     object-fit: cover;
}
.news-box .seemore-news {
  margin-top: 75px !important;
}

@media (min-width: 1600px) {
  .news-box .news-item .time-box {
    position: absolute;
    right: 10px;
    bottom: 165px;
    color: white;
  }
  .news-box .news-item .title-news-item {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    min-height: 32px;
    font-size: 15px;
    margin-bottom: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .news-box .news-item .description-news {
    background-color: #fcfcfc;
    padding: 12px 12px 12px 27px;
  }
  .news-box .news-item img {
    width: 100%;
    height: 300px;
  }
}/*# sourceMappingURL=cat.css.map */