.detail_title {
  font-weight: 700;
  font-size: 24px;
  color: #000;
  margin-bottom: 10px;
}

.title-prj {
  font-weight: 600;
  margin-bottom: 30px;
}
main {
  p {
    font-size: 17px !important; 
    line-height: 28.8px;
  }
}
.img-banner {
  img {
    width: 100%;
    // max-height: 720px;
    object-fit: cover;
  }
}
.description {
  // padding-top: 60px;
  h2 {
    font-weight: 600;
    font-size: 27px;
    margin-bottom: 30px;
    margin-top: 30px;
  }
}
.accordion {
  width: 671px;
}
.accordion-button {
  font-size: 18px;
}
.image-box {
  position: relative;
  img {
    margin-bottom: 30px;
    display: block;
    max-width: 100%;
    &:nth-child(odd) {
      width: 60%;
    }
    &:nth-child(even) {
      margin-left: auto;
      width: 60%;
    }
  }
}
.customer-box {
  width: 70%;
}
.project-detail {
  padding-top: 100px !important;
}

.col {
  .content {
    img {
      max-width: 100%;
      height: auto;
    }
  }
}


.col-right {
  margin-left: 30%;
}

.next-slide {
  position: absolute;
  top: 45%;
  right: 10px;
  &:hover {
    cursor: pointer
  }
}
.prev-slide {
  position: absolute;
  top: 45%;
  left: 10px;
  &:hover {
    cursor: pointer
  }
  // transform: translate(10px, -50%);
}
@media (max-width: 767px) {
  .col-right {
    margin-left: 0px;
  }
}


@media screen and (min-width: 1900px) {
  .carousel-main {
    .carousel-cell {
      height: 638px !important; 
    }
  }
  .carousel-nav .carousel-cell {
    height: 160px !important;
  }
  // .title-prj {
  //   font-size: 40px;
  // }
  .description {
    h2 {
      font-size: 40px;
    }
  }
}

@media screen and (max-width: 900px) {
  .at-share-btn {
    min-width: unset !important;
  }
  .description {
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .carousel-nav .carousel-cell {
    width: calc(100% / 3 + 5px) !important;
    height: 80px !important; 
  }
  .next-slide-project-home {
    display: none;
  }
  .related-news {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .accordion {
    width: 100%;
  }
  .project-detail {
    padding-top: 120px !important;
    width: 100% !important;

    .btgrid {
      .row {
        display: block;
      }
    }
  }

  .description {
    .row {
      display: block;
    }
  }

  .customer-box {
    width: 100%;
    h2 {
      width: 100% !important;
    }
    .row {
      display: block;
    }
  }
}



main {
  background-color: white !important;
}
.news-detail {
  p,
  span {
    color: #333;
  }
}
.time-hit {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  .detail-time-hit {
    margin-right: 10px;
    margin-top: 0 !important;
  }
}
p {
  // white-space: unset !important;
}
.detail-content {
  img {
    height: auto;
    max-width: 100% !important;
    margin-bottom: 0;
  }
}

.list-relate-news {
  display: flex;
  grid-gap: 20px;
  .item-relate {
    padding: 15px;
    width: calc(25% - 15px);
    img {
      height: 150px;
      object-fit: cover;
    }
  }
}

.accordion-button {
  padding-left: 0px;
  font-weight: 400;
}
.accordion-button:not(.collapsed) {
  color: #333;
  background-color: white;
  &:focus {
  }
}

.accordion-item {
  border: none;
  border-bottom: 1px solid #ccc;
}
.accordion-button:focus {
  border-color: 0px;
  box-shadow: unset;
}
.carousel-main {
  // padding-right: 10px;
  .carousel-cell {
    width: 100%;
    height: 551px; 
    // margin-right: 10px;
    // border-radius: 5px;
    background-color: #eee;
    display: flex;
    justify-content: center;
    img {
      max-width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
.tags {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid;
  margin-left: 10px;
  text-decoration: none;
  font-weight: 600;
  &:hover {
    color: #333;
  }
}
.carousel-nav {
  margin-top: 10px;
}
.carousel-nav .carousel-cell {
  height: 135px;
  width: calc(100% / 5 + 5px);
  object-fit: cover;
  padding-right: 10px;
  &:hover {
    opacity: .8;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.carousel-nav .carousel-cell:before {
  font-size: 50px;
  line-height: 80px;
}

.carousel-nav .carousel-cell.is-nav-selected {
}
.col-right {
  margin-left: 30%;
}
.grid-comment {
  margin-top: 30px;
}

.avatar-cmt {
  height: 45px;
  width: 45px !important;
}

.title-cmt {
  font-size: 18px;
  font-weight: 700;
  color: #000;
  margin-bottom: 20px;
}

.frmCmt {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 20px;
  justify-content: space-between;
}

.title-grid {
  padding-bottom: 10px;
  border-bottom: 1px solid #dddddd;
}

.input-cmt {
  width: 100%;
  input {
    height: 42px;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #ccc;
    padding: 5px 20px;
    font-size: 16px;
    outline: none;
    &:focus {
      box-shadow: 0 0 8px rgba(252, 212, 51, 0.6);
      border-color: #faaf40;
    }
  }
  textarea {
    border-radius: 5px;
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px 20px;
    font-size: 16px;
    outline: none;
    &:focus {
      box-shadow: 0 0 8px rgba(252, 212, 51, 0.6);
      border-color: #faaf40;
    }
  }
}

.frmReply {
  margin-top: 10px;
}

.input-cmt50 {
  width: calc(50% - 10px);
}

.more-comment {
  background-color: #e9b852;
  text-align: center;
  padding: 10px;
  display: block;
  color: white;
  &:hover {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
}

.comment-news {
  img {
    width: initial !important;
  }
}
.comment {
  img {
    width: initial !important;
  }
}
.lv-cmt {
  display: flex;
  align-items: flex-start;
  grid-gap: 20px;
  margin-bottom: 10px;
}

.lv0-cmt {
  margin-top: 20px;
}

.lv1-cmt {
  margin-left: 65px;
  background: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
}

.cmt-cmt {
  margin-bottom: 0;
  line-height: normal;
}

table {
  width: 100% !important;
}
span {
  white-space: normal !important;
}
.cmt-detail {
  .cmt-name {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    line-height: 15px;
    span:first-child {
      font-weight: 700;
      color: #6d6e70;
      margin-right: 10px;
      padding-right: 10px;
      border-right: 1px solid #cccccc;
    }
    span:last-child {
      color: #6d6e70;
    }
  }
}

.action {
  a {
    font-size: 14px;
    color: #6d6e70;
    cursor: pointer;
    transition: 0.1s ease-in-out;
  }
  &:hover {
    a {
      color: #faaf40;
    }
  }
}

.toc-content {
  border: 1px solid #dddddd;
  .title-toc-list {
    background: #eeeeee;
    .title-toc {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 0;
    }
    .button-select {
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      text-transform: uppercase;
      i {
        margin-left: 14px;
        transition: 0.1s ease-in-out;
        font-size: 20px;
        font-weight: bold;
        &.active {
          transform: scale(1, -1);
        }
      }
    }
  }
  .list-toc {
    background: #fff;
    ol {
      margin-bottom: 0;
      counter-reset: my-awesome-counter;
      list-style: none;
      padding: 5px 10px;
      > li {
        counter-increment: my-awesome-counter;
        list-style-position: inside;
        margin-right: 0;
        padding-bottom: 5px;
        &:before {
          content: counters(my-awesome-counter, ".") ". ";
          //color: #df0024;
        }
        a {
          color: #333;
          text-decoration: none;
        }
      }
    }
  }
  .list-toc > ol > li {
    &:before {
      font-weight: bold;
    }

    > a {
    }
  }
  ol li a {
    margin-bottom: 7px;
  }
}

.breadcrumb-custom {
  a,
  p {
    color: #333;
    font-size: 13px;
  }
}
.detail-content {
  h2 {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
  }
  h3 {
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
  }
  h4 {
    font-size: 13px;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
  }
  h5 {
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
  }
  h6 {
    font-size: 0.67em;
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    // margin-bottom: 0px;
    line-height: 1.2;
    // font-weight: 600;
  }
  p,
  li {
    color: #333;
    font-size: 14px;
  }
}

.news-item {
  .title-news {
    color: #333;
  }
}
@media (max-width: 769px) {
  .detail_title {
    font-size: 16px;
    line-height: normal;
  }
  .breadcrumb-custom {
    display: none !important;
  }
  h2 {
    font-size: 20px !important;
    margin-bottom: 0px !important;
  }
  h3 {
    font-size: 18px !important;
    font-size: 20px;
  }
  h4 {
    font-size: 16px !important;
  }
  h5 {
    font-size: 14px !important;
  }

  .news-detail-wrapper {
    padding-top: 100px;
  }
}

.customer, .advice {
  background-color: #f5f5f5;
  padding: 40px;
}

.binhluan {
  textarea {
    width: 100%;
    max-width: 100%;
    height: 120px;
    padding-left: 20px;
    padding-top: 20px;
    resize: none;
    background-color: #f8f8f8;
    border: none;
    border-radius: 5px;
    font-weight: 100;
    border: 1px solid #E5E5E5;
  }
  padding-bottom: 40px;
  border-bottom: 1px solid #BABABA;
}

#send-comment {
  text-decoration: none;
  margin-top: 10px;
  &:hover {
    cursor: pointer;
    color: #d3a455;
  }
}
.name-guest {
  width: 100%;
  max-width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  resize: none;
  background-color: #f8f8f8;
  border: none;
  border-radius: 5px;
  font-weight: 100;
  border: 1px solid #E5E5E5;
}

.facebook-button {
  text-decoration: none;
  padding: 8px 10px;
  text-decoration: none;
  padding: 8px 10px;
  background-color: #3B5387;
  min-width: 190px;
  color: white;
  display: block;
  border-radius: 5px;
  &:hover {
    color: white;
    cursor: pointer;
  }
  svg {
    fill: white;
    width: 16px;
    height: 16px;
  }
}

.tweet-button {
  text-decoration: none;
  padding: 8px 10px;
  text-decoration: none;
  padding: 8px 10px;
  background-color: #0180C7;
  min-width: 190px;
  color: white;
  display: block;
  border-radius: 5px;
  &:hover {
    color: white;
    cursor: pointer;
  }
  svg {
    fill: white;
    width: 16px;
    height: 16px;
  }
}

.pinterest-button {
  text-decoration: none;
  padding: 8px 10px;
  text-decoration: none;
  padding: 8px 10px;
  background-color: #CA2127;
  min-width: 190px;
  color: white;
  display: block;
  border-radius: 5px;
  &:hover {
    color: white;
    cursor: pointer;
  }
  svg {
    fill: white;
    width: 16px;
    height: 16px;
  }
}
.email-register {
  border-radius: 20px;
  border: 1px solid #ccc;
  width: 100%;
  padding: 10px 15px;
}
.at-share-btn {
  padding: 5px 15px !important;
  .at-label {
    font-size: 14px !important;
  }
}
.new-news {
  display: none;
}
.email-register-btn {
  background-color: #333;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  width: 200px;
  color: white;
  margin-left: 20px;
  text-decoration: none;
  &:hover {
    color: white;
    cursor: pointer;
  }
}
.related-news {
  padding-left: 140px;
  padding-right: 140px;
  padding-top: 50px;
  .title-relate {
    font-size: 27px;
  }
  .grid-relate {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }
}

@media screen and (min-width: 1300px) {
  .at-share-btn {
    min-width: 120px !important;

  }
  .container {
    max-width: 964px !important;
  }
}

@media screen and (min-width: 1600px) {
  .container {
    max-width: 1086px !important;
  }
}

@media screen and (max-width: 900px) {
  .detail-content {
    img {
      height: auto !important;
    }
  }

  .related-news {
    .grid-relate {
      grid-template-columns: unset
    }
  } 
}