// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .ground-wrapper {
    margin-top: 40px;
    margin-bottom: 40px;
    .ground-box {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;
      grid-auto-rows: 1;
      margin-top: 40px;
      .ground-item {
        .image-box {
          height: 80%;
          position: relative;
          &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #33333330;
            opacity: 0;
            transition: .3s;
            pointer-events: none;
          }
          &::after {
            content: 'Xem chi tiết';
            position: absolute;
            width: fit-content;
            border: 1px solid #fff;
            padding: 8px 10px;
            // height: 100%;
            background-color: #33333330;
            opacity: 0;
            transition: .3s;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            pointer-events: none;
            border-radius: 10px;

          }
          &:hover {
            cursor: pointer;
            &::before {
              opacity: 1;
            }
            &::after {
              opacity: 1;
            }
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
  .nav-tabs {
    display: flex;
    list-style-type: none;
    padding-bottom: 30px;
    justify-content: center;
    li {
      margin-left: 20px;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 29px;
      text-align: center;
      text-transform: capitalize;
      color: #2c3a61;
      transition: 0.3s;
      &:hover {
        color: #db801a;
        cursor: pointer;
      }
    }
    .active {
      color: #db801a;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 15px solid #db801a;
        bottom: 0px;
        left: 50%;
        bottom: -20px;
        transform: translate(-50%);
      }
    }
  }
}

@media screen and (max-width: 976px) {
  .ground-item-box {
    padding: 10px;
    box-shadow: 2px 1px 8px rgba(0, 0, 0, 0.25);
    width: 98%;
  }
  .owl-theme .owl-nav [class*="owl-"] {
    color: #fff;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    /* background: #D6D6D6; */
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
    background: transparent;
    border: none;
    &:hover {
      background-color: transparent;
    }
  }
  .owl-next {
    position: absolute;
    right: -15px;
    top: 40%;
  }
  .owl-prev {
    position: absolute;
    left: -15px;
    top: 40%;
  }
  .owl-stage-outer {
    height: 320px;
  }
  .title-ground {
    background-color: #ffe9d4;
    text-transform: uppercase;
    font-weight: 600;
    color: #142f6b;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 15px;

    &:nth-child(1) {
    }
  }
  .banner-style-4 {
    img {
      height: 200px !important;
    }
  }
  .nav-tabs {
    display: none;
  }
  .ground-box {
    padding: 0px !important;
  }
}
// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}
@media (min-width: 1600px) {
  .ground-wrapper {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .nav-tabs {
    li {
      font-size: 24px;
    }
  }
}
@media (min-width: 1900px) {
}
