.detail-content p {
  line-height: 24px;
}

.detail-content img {
  max-width: 100%;
}

.tags {
  padding: 10px;
  background-color: #00000006;
  border-radius: 50px;
  color: #333;
  margin-left: 10px;
  -webkit-transition: .3s;
  transition: .3s;
}

.tags:hover {
  background-color: #00B8AD;
  color: white;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
}

@media all and (max-width: 550px) {
  main {
    padding-bottom: 0px !important;
  }
  .container.desktop {
    display: none;
  }
  .goodstudy-box-detail {
    width: 100% !important;
    padding-top: 20px;
  }
  .goodstudy-box-detail h1 {
    font-size: 22px !important;
  }
}
/*# sourceMappingURL=tintuc.css.map */