.carousel-partner {
    // background: #FAFAFA;
    margin-bottom: 40px;
}
.architecture {
    background-color: white;
}
.carousel-cell-partner {
    width: 100%;
    height: 200px;
    margin-right: 10px;
    // background: #8C8;
    border-radius: 5px;
    counter-increment: carousel-cell;
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
.partner {
    background-color: white;
}
.title-intro-2 {
    font-size: 30px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 40px;
}

.title-intro-3 {
    font-size: 30px;
    font-weight: 600;
}
.carousel-nav-partner .carousel-cell-partner {
    height: 80px;
    width: calc(100% / 4 - 10px);
}

.carousel-nav-partner .carousel-cell-partner:before {
    font-size: 50px;
    line-height: 80px;
}

.intro-partner {
    padding-top: 100px;
    padding-bottom: 100px;
}

.partner-wrapper {
    .left {
        background-color: #F2F2F2;
    }
    .bi-dash,
    .bi-plus {
        position: absolute;
        right: 10px;
    }
    a[aria-expanded="false"] {
        .bi-dash {
            display: none;
        }
    }
    a[aria-expanded="true"] {
        .bi-plus {
            display: none;
        }
    }
    .title {
        padding-top: 80px;
        h2 {
            font-size: 27px;
        }
    }

    .left {
        width: 80%;
        margin-top: 80px;
        padding-top: 100px;
        padding-left: 135px;
        padding-right: 50px;
        padding-bottom: 100px;
        .accordion {
            width: 50%;
            padding-top: 10px;
        }

        .btn-link {
            padding-right: 20px
        }
    }

    .right {
        background-color: white;
        width: 30%;
        position: absolute;
        right: 7%;
        top: -5%;
        img {
            width: 100%;
        }
    }
    .accordion {
        // width: 40%;
        counter-reset: section;
        h2 {
            position: relative;
            a {
                font-size: 14px;
                color: #333;
                text-decoration: none;
                height: 40px;
                display: flex;
                align-items: center;
                position: relative;
            }
            &::before {
                content: "0" counter(section) "";
                counter-increment: section;
                font-size: 10px;
                position: absolute;
                left: -18px;
                top: 13px;
                color: #06aff8;
            }
        }
    }
}


.why-choose-ikay {
    padding-right: 135px;
    padding-bottom: 100px;
    .left {
        padding-left: 135px;
        padding-top: 135px;
        width: 50%;
        img {
            width: 70%;
        }
    }
    .right {
        width: 50%;
        padding-top: 135px;

    }
}
.comment-customer-box {
    // margin-top: 60px;
    background-color: white;
    padding-bottom: 20px;
    .comment-customer {
        margin-left: 135px;
        margin-right: 135px;
        padding-top: 80px;
        padding-bottom: 80px;
        background-color: #F2F2F2;
        width: 88%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        // width: 60%;
        .avatar {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            object-fit: cover;
        }
        .comment {
            margin-top: 30px;
            font-weight: 500;
        }
    }
}

@media screen and (min-width: 1900px) {
    .why-choose-ikay {
        .right {
            p {
                font-size: 16px !important;            
            }
        }
    }
    
}