main {
  background: var(--background-color);
}
// img {
//   object-fit: contain;
// }
.line {
  width: 55px;
  height: 2px;
  display: block;
  background-color: #1affff;
}
.content {
  margin-top: 50px;
  padding-left: 80px;
  padding-right: 80px;
  position: relative;
  padding-bottom: 140px;
  .image-banner {
    img {
      width: 100%;
      max-height: 600px;
      object-fit: cover;
    }
  }
}

.carousel {
  margin-top: 80px;
  position: unset;
  .item {
    width: 100%;
    height: 390px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    img {
      border-radius: 10px;
      height: 90%;
      object-fit: cover;
    }
  }
}

.owl-nav {
  margin-top: 50px !important;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.owl-theme .owl-nav [class*="owl-"] {
  height: 44px;
  border: 1px;
  background: #db801a;
  &:hover {
    background: #db811ad4;
  }
}

@media screen and (max-width: 987px) {
  main {
    padding-bottom: 50px;
  }
  .line {
    width: 200px;
    margin-top: 40px !important;
  }
  .title-image {
    text-transform: uppercase;
  }
  .owl-stage {
    height: 250px;
  }
  .title-image {
    color: white;
    text-align: center;
  }
  .carousel {
    margin-top: 20px;
    // position: unset;
    .owl-stage-outer {
      height: 300px;
    }
    .item {
      width: initial;
      height: 270px;
      background-color: unset;
      img {
        border-radius: 28px;
        height: 90%;
        object-fit: cover;
      }
    }
  }
  .banner-style-5 {
    .banner-mobile-utilities {
      padding: 0px;
      flex-direction: column-reverse !important;
      display: flex;
      flex-direction: column;
    }
    .right {
      height: 225px;
      width: 100%;
      object-fit: contain !important;
      background-size: cover !important;
      background-repeat: no-repeat !important;
    }
  }

  .content {
    margin-top: 20px;
    padding-left: calc(var(--bs-gutter-x) * .5);
    padding-right: calc(var(--bs-gutter-x) * .5);
    &:nth-last-child() {

    }
    .line {
      display: none;
    }
  }
}
@media screen and (min-width: 988px) {
  .mobile {
    display: none;
  }
  // .carousel {
  //   width: max-content;
  //   min-width: 100%;
  // }
}
@media screen and (min-width: 1600px) {
  .carousel {
    .item {
      // width: calc(100vw / 6);
      height: 450px;
    }
  }
}

@media screen and (min-width: 1930px) {
  .carousel {
    .item {
      // width: calc(100vw / 6);
      height: 540px;
    }
  }
}
