.autocomplete-suggestions {
  background: #ffffff;
  overflow: auto;
  box-shadow: rgb(85, 85, 85) 0px 3px 10px;
  //padding: 20px 15px;
  //width: 39% !important;
  .autocomplete-suggestion {
      //margin-bottom: 15px;
      &:hover {
          cursor: pointer;
      }
      a {
          display: block;
          padding: 10px 15px;
          width: 100%;
          font-size: 13px;
          label {
              &:hover{
                  cursor: pointer;
              }
          }
          &:hover{
              background: #fff0d9;
              color: #333333;
              text-decoration: none;
              cursor: pointer;
          }
      }
      img {
          float: left;
          max-width: 50px;
          margin-right: 15px;
      }
      label {
          display: block;
          line-height: 20px;
          font-weight: normal;
      }
      .name{
          &:hover{
              cursor: pointer;
          }
      }
      .price {
          display: block;
          font-size: 12px;

      }

  }
  strong {
      font-weight: bold;
      color: #FF891E;
  }
  .autocomplete-group {
      padding: 8px 3%;
      width: 100%;
      background: #f1f1f1;
  }
}

.search {
    &::placeholder {
        font-style: italic;
        color: #ABABAB;
    }
}
