.autocomplete-suggestions {
  background: #ffffff;
  overflow: auto;
  box-shadow: rgb(85, 85, 85) 0px 3px 10px;
}
.autocomplete-suggestions .autocomplete-suggestion:hover {
  cursor: pointer;
}
.autocomplete-suggestions .autocomplete-suggestion a {
  display: block;
  padding: 10px 15px;
  width: 100%;
  font-size: 13px;
}
.autocomplete-suggestions .autocomplete-suggestion a label:hover {
  cursor: pointer;
}
.autocomplete-suggestions .autocomplete-suggestion a:hover {
  background: #fff0d9;
  color: #333333;
  text-decoration: none;
  cursor: pointer;
}
.autocomplete-suggestions .autocomplete-suggestion img {
  float: left;
  max-width: 50px;
  margin-right: 15px;
}
.autocomplete-suggestions .autocomplete-suggestion label {
  display: block;
  line-height: 20px;
  font-weight: normal;
}
.autocomplete-suggestions .autocomplete-suggestion .name:hover {
  cursor: pointer;
}
.autocomplete-suggestions .autocomplete-suggestion .price {
  display: block;
  font-size: 12px;
}
.autocomplete-suggestions strong {
  font-weight: bold;
  color: #FF891E;
}
.autocomplete-suggestions .autocomplete-group {
  padding: 8px 3%;
  width: 100%;
  background: #f1f1f1;
}

.search::-moz-placeholder {
  font-style: italic;
  color: #ABABAB;
}

.search::placeholder {
  font-style: italic;
  color: #ABABAB;
}/*# sourceMappingURL=search.css.map */