.title-job {
  font-size: 28px;
  font-weight: bold;
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1254901961);
}

.job-ul {
  padding-left: 20px;
}
.job-ul li {
  padding-top: 10px;
}

.job-box .input-field {
  width: 32%;
}
.job-box .input-field input {
  width: 100% !important;
  width: 384px;
  height: 44px;
  border: 1px solid #ccc;
  padding-left: 10px;
}
.job-box textarea {
  padding-left: 10px;
}

@media screen and (max-width: 767px) {
  .input-email-box {
    width: 100% !important;
  }
}/*# sourceMappingURL=detail.css.map */