.title-job {
    font-size: 28px;
    font-weight: bold;
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #33333320;
}

.job-ul {
    padding-left: 20px;
    li {
        padding-top: 10px;
    }
}

.job-box {
    .input-field {
        width: 32%;
        input {
            width: 100% !important;
            width: 384px;
            height: 44px;
            border: 1px solid #ccc;
            padding-left: 10px;
        }
    }
    textarea {
        padding-left: 10px;
    }
}

@media screen and (max-width: 767px) {
    .input-email-box {
        width: 100% !important;
    }

}