.title-recruitment {
  font-size: 27px !important;
}

.summary-recruitment {
  font-size: 14px;
  width: 70%;
  margin-bottom: 40px;
  margin-top: 20px;
  // padding-bottom: 40px;
  color: #707070;
  p {
    color: #707070;
  }
}
.discover {
  .summary-recruitment {
    width: 65%;
  }
}
.summary-recruitment {
}
.space {
  margin-top: 60px;
}
.we-work {
  padding-bottom: 60px;
  padding-left: 120px;
  padding-right: 120px;
  .btgrid {
    margin-top: 60px;
    h3 {
      font-size: 16px;
      // font-weight: bold
    }
    p {
      font-size: 14px;
    }
    .col-md-6 {
      width: 40%;
    }
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}
.come-to-us {
  h3 {
    font-size: 27px;
  }
  .come-to-us-block-2 {
    .col-md-6 {
      img {
        width: 100%;
      }
    }
  }
}
.carousel-intro {
  // background: #eee;
  .flickity-prev-next-button.next {
    left: 60px;
  }
  // margin-top: 50px;
  .flickity-prev-next-button {
    top: auto;
    bottom: -90px;
    border: 1px solid #cdd4d9;
  }
  .flickity-prev-next-button.previous {
    left: 0px !important;
  }
  .flickity-page-dots {
    left: 10%;
    bottom: -13%;
    width: fit-content;
  }
  .flickity-button-icon {
    left: 34% !important;
    top: 32% !important;
    width: 15px !important;
    height: 15px !important;
  }
}


.owl-theme .owl-nav [class*=owl-] {
  background: transparent;
  border: none;
  &:hover {
    background: transparent;
    border: none;
  }
}
.discover {
  background-color: #f2f2f2;
  padding-top: 120px;
  padding-bottom: 110px;
  transition: 0.3s;
  .content {
    position: relative;
  }
  h3 {
    // font-weight: bold;
    font-size: 27px;
  }
  video {
    width: 100%;
    // height: 533px;
    // object-fit: contain;
    &:hover {
      cursor: pointer;
    }
  }
}

.why-choose-ikay {
  h4 {
    font-size: 16px;
  }
  h3 {
    // font-weight: bold;
    font-size: 27px;
    width: 40%;
  }

  .col-md-6 {
    padding-top: 30px;
    padding-right: 130px;
  }
  .content {
    img {
      width: 100%;
    }
  }
}
.carousel-cell-intro {
  width: 38%;
  height: 330px;
  margin-right: 10px;
  opacity: 0.7;
  border-radius: 5px;
  counter-increment: carousel-cell;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.carousel-cell-intro.is-selected, .carousel-cell-intro.is-selected  + .carousel-cell-intro {
  opacity: 1;
}

.job-filter-box {
  background-color: white;
  padding: 40px 25px;
  box-shadow: 2px 5px 21px 0px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 2px 5px 21px 0px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 2px 5px 21px 0px rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  label {
    font-size: 13px;
  }
  .input-box {
    label {
      font-weight: 600;
    }
    input {
      padding: 9px;
      border: 1px solid #bababa;
    }
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .checkbox-wrap {
    label {
      padding: 10px 10px 10px 0px;
    }
  }
}
.job-item {
  &:hover {
    color: #d3a455;
  }
  .title-job {
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 15px;
  }
  text-decoration: none;
  color: #333;
  padding-top: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid #bcbcbc;
}
.title-image-2 {
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.title-recruitment-2 {
  font-size: 26px;

}

.form-check-input:checked {
  background-color: #d3a455;
  border-color: #d3a455;
}

@media screen and (min-width: 1900px) {
  .summary-recruitment {
    font-size: 16px !important;
    width: 100% !important;
  }

  .job-filter-box {
    padding: 40px 40px;
  }
  .job-item {
    .title-job {
      font-size: 20px;
    }
  }

  .job-filter-box {
    label {
      font-size: 16px;
    }
  }
  .come-to-us {
    p,
    span {
      font-size: 16px;
    }
  }
  .why-choose-ikay {
    h4 {
      font-size: 20px;
    }
    p {
      font-size: 16px;
    }
  }
  .we-work {
    padding-bottom: 60px;
    .btgrid {
      margin-top: 60px;
      h3 {
        font-size: 30px;
      }
      p {
        font-size: 16px;
      }
      .col-md-6 {
        width: 40%;
      }
      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }

  // .title-recruitment-2 {
  //   font-size: 32px;
  // }
  .summary-recruitment {
    margin-bottom: 40px;
    font-weight: 300;
    // margin-bottom: 40px;
    // color: #707070;
    p {
      font-size: 16px;
    }
  }
  .title-recruitment {
    font-size: 40px;
  }
  .space {
    margin-top: 80px;
  }
}

.come-to-us-summary {
  width: 536px;
}
@media screen and (max-width: 500px) {
  .title-image-2 {
    bottom: -60px !important;
  }
  .come-to-us-summary {
    width: 100%;
    margin-left: 0px !important;
    margin-top: 0px !important;
  }
  .discover .summary-recruitment {
    width: 100%;
  }
  .summary-recruitment {
    width: 100%;
  }
  .we-work {
    // padding-bottom: 60px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .title-recruitment-2 {
    font-size: 20px !important;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .job-filter-box {
    margin-bottom: 50px;
  }
  .come-to-us-summary {
    padding-left: 10px !important;
  }
  .we-work {
    padding-bottom: 0px;
  }
  .space {
    margin-top: 40px;
  }
  .why-choose-ikay h4 {
    font-size: 20px;
  }
  .summary-recruitment {
    padding-bottom: 0px;
  }
  .space {
    .block-1 {
      width: 100% !important;
    }
    .flickity-prev-next-button .next {
      left: 14% !important;
    }
  }
  .carousel-cell-intro {
    width: 80%;
    height: 250px;
  }
  .carousel-intro .flickity-prev-next-button {
    bottom: -30%;
  }

  .we-work {
    .summary-recruitment {
      width: 100% !important;
    }

    .row {
      flex-direction: column;
    }
  }
  .we-work .btgrid .col-md-6 {
    width: 100%;
  }
  .carousel-intro .flickity-prev-next-button.next {
    left: 17%;
  }

  .discover {
    .row {
      flex-direction: column-reverse;
    }
  }

  .why-choose-ikay {
    .row {
      flex-direction: column-reverse;
    }

    h3 {
      width: 100%;
    }
  }

  .why-choose-ikay .col-md-6 {
    padding-right: unset;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1900px) {
  .come-to-us-summary {
    margin-left: unset !important;
    // width: unset;
  }
}
@media screen and (min-width: 1900px) {
  .video-discover-wrap {
    margin-right: 103px;
  }
  .job-filter-box {
    label {
      font-size: 15px;
    }
  }
  .carousel-cell-intro {
    // width: 38%;
    height: 470px;
  }
  .summary-recruitment {
    width: 67% !important;
  }
}
