.title-recruitment {
  font-size: 27px !important;
}

.owl-dots button {
  border: none;
  background-color: transparent;
}

.owl-carousel {
  position: relative;
}
.owl-carousel .owl-nav {
  position: absolute;
  margin-top: 0px;
  bottom: -50px;
  left: 29%;
}
.owl-carousel .owl-dots {
  position: absolute;
  left: 47%;
  bottom: -27px;
}

.summary-recruitment {
  font-size: 14px;
  width: 70%;
  margin-bottom: 40px;
  margin-top: 20px;
  color: #707070;
}
.summary-recruitment p {
  color: #707070;
}

.discover .summary-recruitment {
  width: 65%;
}

.space {
  margin-top: 60px;
}

.we-work {
  padding-bottom: 60px;
  padding-left: 120px;
  padding-right: 120px;
}
.we-work .btgrid {
  margin-top: 60px;
}
.we-work .btgrid h3 {
  font-size: 16px;
}
.we-work .btgrid p {
  font-size: 14px;
}
.we-work .btgrid .col-md-6 {
  width: 40%;
}
.we-work .btgrid img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.come-to-us h3 {
  font-size: 27px;
}
.come-to-us .come-to-us-block-2 .col-md-6 img {
  width: 100%;
}

.carousel-intro .flickity-prev-next-button.next {
  left: 60px;
}
.carousel-intro .flickity-prev-next-button {
  top: auto;
  bottom: -90px;
  border: 1px solid #cdd4d9;
}
.carousel-intro .flickity-prev-next-button.previous {
  left: 0px !important;
}
.carousel-intro .flickity-page-dots {
  left: 10%;
  bottom: -13%;
  width: -moz-fit-content;
  width: fit-content;
}
.carousel-intro .flickity-button-icon {
  left: 34% !important;
  top: 32% !important;
  width: 15px !important;
  height: 15px !important;
}

.owl-theme .owl-nav [class*=owl-] {
  background: transparent;
  border: none;
}
.owl-theme .owl-nav [class*=owl-]:hover {
  background: transparent;
  border: none;
}

.discover {
  background-color: #f2f2f2;
  padding-top: 120px;
  padding-bottom: 110px;
  transition: 0.3s;
}
.discover .content {
  position: relative;
}
.discover h3 {
  font-size: 27px;
}
.discover video {
  width: 100%;
}
.discover video:hover {
  cursor: pointer;
}

.why-choose-ikay h4 {
  font-size: 16px;
}
.why-choose-ikay h3 {
  font-size: 27px;
  width: 40%;
}
.why-choose-ikay .col-md-6 {
  padding-top: 30px;
  padding-right: 130px;
}
.why-choose-ikay .content img {
  width: 100%;
}

.carousel-cell-intro {
  width: 38%;
  height: 330px;
  margin-right: 10px;
  opacity: 0.7;
  border-radius: 5px;
  counter-increment: carousel-cell;
}
.carousel-cell-intro img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel-cell-intro.is-selected, .carousel-cell-intro.is-selected + .carousel-cell-intro {
  opacity: 1;
}

.job-filter-box {
  background-color: white;
  padding: 40px 25px;
  box-shadow: 2px 5px 21px 0px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 2px 5px 21px 0px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 2px 5px 21px 0px rgba(0, 0, 0, 0.12);
  border-radius: 6px;
}
.job-filter-box label {
  font-size: 13px;
}
.job-filter-box .input-box {
  padding-top: 5px;
  padding-bottom: 5px;
}
.job-filter-box .input-box label {
  font-weight: 600;
}
.job-filter-box .input-box input {
  padding: 9px;
  border: 1px solid #bababa;
}
.job-filter-box .checkbox-wrap label {
  padding: 10px 10px 10px 0px;
}

.job-item {
  text-decoration: none;
  color: #333;
  padding-top: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid #bcbcbc;
}
.job-item:hover {
  color: #d3a455;
}
.job-item .title-job {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 15px;
}

.title-image-2 {
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.title-recruitment-2 {
  font-size: 26px;
}

.form-check-input:checked {
  background-color: #d3a455;
  border-color: #d3a455;
}

@media screen and (min-width: 1900px) {
  .owl-carousel .owl-nav {
    position: absolute;
    margin-top: 0px;
    bottom: -60px;
    left: 35%;
  }
  .owl-carousel .owl-dots {
    position: absolute;
    left: 47%;
    bottom: -40px;
  }
  .summary-recruitment {
    font-size: 16px !important;
    width: 100% !important;
  }
  .job-filter-box {
    padding: 40px 40px;
  }
  .job-item .title-job {
    font-size: 20px;
  }
  .job-filter-box label {
    font-size: 16px;
  }
  .come-to-us p,
  .come-to-us span {
    font-size: 16px;
  }
  .why-choose-ikay h4 {
    font-size: 20px;
  }
  .why-choose-ikay p {
    font-size: 16px;
  }
  .we-work {
    padding-bottom: 60px;
  }
  .we-work .btgrid {
    margin-top: 60px;
  }
  .we-work .btgrid h3 {
    font-size: 30px;
  }
  .we-work .btgrid p {
    font-size: 16px;
  }
  .we-work .btgrid .col-md-6 {
    width: 40%;
  }
  .we-work .btgrid img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .summary-recruitment {
    margin-bottom: 40px;
    font-weight: 300;
  }
  .summary-recruitment p {
    font-size: 16px;
  }
  .title-recruitment {
    font-size: 40px;
  }
  .space {
    margin-top: 80px;
  }
}
.come-to-us-summary {
  width: 536px;
}

@media screen and (max-width: 500px) {
  .owl-carousel {
    position: relative;
  }
  .owl-carousel .owl-nav {
    bottom: -40px;
    left: 0%;
  }
  .owl-carousel .owl-dots {
    left: 47%;
    bottom: -20px;
  }
  .title-image-2 {
    bottom: -60px !important;
  }
  .come-to-us-summary {
    width: 100%;
    margin-left: 0px !important;
    margin-top: 0px !important;
  }
  .discover .summary-recruitment {
    width: 100%;
  }
  .summary-recruitment {
    width: 100%;
  }
  .we-work {
    padding-left: 10px;
    padding-right: 10px;
  }
  .title-recruitment-2 {
    font-size: 20px !important;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .job-filter-box {
    margin-bottom: 50px;
  }
  .come-to-us-summary {
    padding-left: 10px !important;
  }
  .we-work {
    padding-bottom: 0px;
  }
  .space {
    margin-top: 40px;
  }
  .why-choose-ikay h4 {
    font-size: 20px;
  }
  .summary-recruitment {
    padding-bottom: 0px;
  }
  .space .block-1 {
    width: 100% !important;
  }
  .space .flickity-prev-next-button .next {
    left: 14% !important;
  }
  .carousel-cell-intro {
    width: 80%;
    height: 250px;
  }
  .carousel-intro .flickity-prev-next-button {
    bottom: -30%;
  }
  .we-work .summary-recruitment {
    width: 100% !important;
  }
  .we-work .row {
    flex-direction: column;
  }
  .we-work .btgrid .col-md-6 {
    width: 100%;
  }
  .carousel-intro .flickity-prev-next-button.next {
    left: 17%;
  }
  .discover .row {
    flex-direction: column-reverse;
  }
  .why-choose-ikay .row {
    flex-direction: column-reverse;
  }
  .why-choose-ikay h3 {
    width: 100%;
  }
  .why-choose-ikay .col-md-6 {
    padding-right: unset;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1900px) {
  .come-to-us-summary {
    margin-left: unset !important;
  }
}
@media screen and (min-width: 1900px) {
  .video-discover-wrap {
    margin-right: 103px;
  }
  .job-filter-box label {
    font-size: 15px;
  }
  .carousel-cell-intro {
    height: 470px;
  }
  .summary-recruitment {
    width: 67% !important;
  }
}/*# sourceMappingURL=home.css.map */