@font-face {
    font-family: Roboto Blod;
    src: url("../Roboto-font/Roboto-Bold.ttf") format("truetype");
}

@font-face {
    font-family: Roboto Regular;
    src: url("../Roboto-font/Roboto-Regular.ttf") format("truetype");
}


.news_detail {
    margin: 36px 0px 30px 0px;
}

.news_detail .news-title {
    font-size: 30px;
    line-height: 38px;
    margin: 10px 0;
    color: #1f1f1f;
    font-weight: 300;
    text-align: justify;
}

.news_detail .news-image {
    display: block;
    text-align: center;
}

.news_detail .news-catdate {
    padding: 15px 0;
}

.news_detail .news-cat {
    float: left;
}

.news_detail .share_bottom,
.news_detail .hit_share {
    float: right;
}

.news_detail .hit_share_title {
    background: url("../images/hit_share_title.png") no-repeat scroll left center;
    padding: 4px 10px 4px 20px;
    color: #333;
    font-size: 15px;
    font-weight: 300;
    float: right;
}

.news_detail .news-cat {
    color: #ed1d25;
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
}

.news_detail .news-cat span {
    color: #bbb;
    font-size: 15px;
    font-family: Roboto;
}

.news_detail .summary {
    color: #333;
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 10px;
    text-align: justify;
    font-weight: 700;
}

.news_detail .libraries-video {
    width: 60%;
    margin: auto;
}

.news_detail .description {
    line-height: 22px;
    font-size: 15px;
    margin-bottom: 20px;
    color: #333;
    text-align: justify;
}

.news_detail .description p {
    padding: 5px 0px;
}

.news_detail .description a:hover {
    color: #006cc6;
}

.news_detail .description img {
    max-width: 100% !important;
    height: auto !important;
}

.news_detail .tags {
    background: url("../images/icon-tags.png") no-repeat scroll left center;
    padding: 6px 0px 6px 40px;
    margin-bottom: 10px;
}

.news_detail .tags h4,
.news_detail .tags font,
.news_detail .tags .item-tag {
    display: inline-block;
    font-weight: normal;
    font-size: 16px;
}

.news_detail .related {
    overflow: hidden;
    width: 100%;
    margin-top: 20px;
}

.news_detail .block_title_related {
    border-top: 1px solid #ededed;
    padding-top: 20px;
    /*margin-bottom: 20px;*/


}

.news_detail .related-item{

}
.news_detail .block_title_related span {
     color: #007e43;;
    text-transform: uppercase;
    line-height: 25px;
    font-weight: 700;
    font-family: "Roboto Blod";
    font-size: 24px;
}
.news_detail .col-md-4{
    width: 31.5%;
    padding: 0;
    margin-right: 30px;
}
.news_detail .col-md-4.active{
    margin-right: 0;
}
.news_detail .related-item {
    /*background: url("../images/icon-related.png") no-repeat left center;*/
    padding-left: 0;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
}

.news_detail .related-item a {
    font-size: 16px;
    font-family: "Roboto Blod";
    color: #333;
    display: block;
    margin-top: 15px;
    overflow: hidden;
}
img{
    /*width: 100%;*/
}

/*.news_detail .related-item:hover {*/
/*    background: url("../images/icon-related-hover.png") no-repeat left center;*/
/*}*/

.news_detail .related-item:hover a {
    color: #007e43;
}
.news_detail .related-item img{
    border-radius: 12px;
}
.news_detail .related-item .time {
    font-size: 15px;
    color: #999;
}

.description ul li {
    list-style-type: disc;
    margin-left: 30px;
}

.description ol li {
    list-style-type: decimal;
    margin-left: 30px;
}

.description img {

    display: block;
    max-width: 100%;
    margin: 35px auto;

}

.news_detail_content .news-title {
    font-family: "Roboto Blod";
    font-size: 30px;
    color: #333333;
}

@media screen and (max-width: 568px) {
    .news_detail .news-item {
        width: 48%;
        padding: 0;
    }

    .news_detail .relate_content {
        height: 62px;
        overflow: hidden;
    }

    .news_detail .news-item img {
        width: 100%;
    }
}

.news_detail_content p {
    font-family: "Roboto Regular";
    font-size: 18px;
    line-height: 35px;

}

.news-cat img {
    padding-right: 5px;
    margin-bottom: 5px;
}

.menu-news {
    background: #e5e5e5;
    text-align: center;
    color: #007e43;
    margin-bottom: 60px
}

.menu-news a {
    padding: 0
}

.menu-news .container .col-md-2 {
    padding: 0
}

.menu-news .container .nav.nav-tabs li .image-active {
    display: none
}

.menu-news .container .nav.nav-tabs li img {
    padding: 10px 5px
}

.menu-news .container .nav.nav-tabs li label {
    color: #666666
}

.menu-news .container .nav.nav-tabs .active .image-not-active {
    display: none
}

.menu-news .container .nav.nav-tabs .active .image-active {
    display: inline-block
}

.menu-news .container .nav.nav-tabs .active label {
    color: #007e43
}

.description ul li {
    font-family: "Roboto Regular";
    font-size: 18px;
    line-height: 26px;
}

@media only screen and (min-width : 375px) and (max-width : 424px) {
    .news_detail .col-md-4{
        width: 100%;
    }
}