@font-face {
  font-family: Roboto Blod;
  src: url("../Roboto-font/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: Roboto Regular;
  src: url("../Roboto-font/Roboto-Regular.ttf") format("truetype");
}


  .menu-news{
    background: #e5e5e5;
    text-align: center;
    color: #007e43;
    margin-bottom: 60px;
    a{
      padding: 0;
    }
    .container {
      .col-md-2{
        padding: 0;
      }
      .nav.nav-tabs {
        li {
          .image-active{
            display: none;
          }
          img {
            padding: 10px 5px;
          }


          label {
            color: #666666;
          }
        }

        .active{
          .image-not-active{
            display: none;
          }
          .image-active{
            display: inline-block;
          }
          label{
            color: #007e43;
          }
        }
      }
    }
  }
  .list-news{

    .title{
      font-family: "Roboto Blod";
      font-size: 36px;
      color: #333333;
      margin-bottom: 45px;
      text-align: center;
    }
    .col-md-4 {
      height: 336px;
      margin-bottom: 60px;

      .time {
        margin-bottom: 20px;
        margin-top: 20px;
        color: #777777;
        font-family: Roboto Regular;
        font-size: 14px;
        text-align: left;
      }

      .sort-content {
        a{
          color: #333333;
          font-family: Roboto Regular;
          font-size: 16px;
          &:hover {
            color: #007e43;
          }
        }


      }
    }

  }
