@font-face {
  font-family: Roboto Blod;
  src: url("../Roboto-font/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: Roboto Regular;
  src: url("../Roboto-font/Roboto-Regular.ttf") format("truetype");
}
.menu-news {
  background: #e5e5e5;
  text-align: center;
  color: #007e43;
  margin-bottom: 60px;
}
.menu-news a {
  padding: 0;
}
.menu-news .container .col-md-2 {
  padding: 0;
}
.menu-news .container .nav.nav-tabs li .image-active {
  display: none;
}
.menu-news .container .nav.nav-tabs li img {
  padding: 10px 5px;
}
.menu-news .container .nav.nav-tabs li label {
  color: #666666;
}
.menu-news .container .nav.nav-tabs .active .image-not-active {
  display: none;
}
.menu-news .container .nav.nav-tabs .active .image-active {
  display: inline-block;
}
.menu-news .container .nav.nav-tabs .active label {
  color: #007e43;
}

.list-news .title {
  font-family: "Roboto Blod";
  font-size: 36px;
  color: #333333;
  margin-bottom: 45px;
  text-align: center;
}
.list-news .col-md-4 {
  height: 336px;
  margin-bottom: 60px;
}
.list-news .col-md-4 .time {
  margin-bottom: 20px;
  margin-top: 20px;
  color: #777777;
  font-family: Roboto Regular;
  font-size: 14px;
  text-align: left;
}
.list-news .col-md-4 .sort-content a {
  color: #333333;
  font-family: Roboto Regular;
  font-size: 16px;
}
.list-news .col-md-4 .sort-content a:hover {
  color: #007e43;
}/*# sourceMappingURL=home.css.map */