.main-search {
  padding: 40px 0;

  .list-item {
    display: flex;
    flex-wrap: wrap;

    .item {
      flex: 0 0 16.66666667%;
      max-width: 16.66666667%;
      padding: 0 20px;
      margin-bottom: 20px;

      img {
        width: 100%;
        margin-bottom: 10px;
      }

      .cat {
        font-size: 10px;
        color: #777777;
        display: block;
        margin-bottom: 10px;
      }

      .title {
        font-weight: bold;
        font-size: 14px;
        color: #0062bd;
        margin-bottom: 10px;
        display: block;
        min-height: 40px;
      }

      .contact {
        font-weight: normal;
        font-size: 14px;
        color: #333;
        margin-top: 10px;
        display: inline-block;
        margin-bottom: 10px;
      }
    }

    .item-border {
      border-left: 0.5px solid #ccc;
    }
  }
}

// @media (max-width: 853px) {
//   .main-search .list-item .item {flex: 0 0 33.33333333%;max-width: 33.33333333%;}
//   .main-search .list-item .item-border {border: none}
// }

// @media (max-width: 568px) {
//   .main-search .list-item .item{flex: 0 0 50%; max-width: 50%}
// }


.news-box {
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
}
.products {
  padding-top: 60px;
}
.new-news {
  display: none;
}
@media (max-width: 767px) {
  .result {
    padding-left: 5px !important;
  }
}