.main-search {
  padding: 40px 0;
}
.main-search .list-item {
  display: flex;
  flex-wrap: wrap;
}
.main-search .list-item .item {
  flex: 0 0 16.66666667%;
  max-width: 16.66666667%;
  padding: 0 20px;
  margin-bottom: 20px;
}
.main-search .list-item .item img {
  width: 100%;
  margin-bottom: 10px;
}
.main-search .list-item .item .cat {
  font-size: 10px;
  color: #777777;
  display: block;
  margin-bottom: 10px;
}
.main-search .list-item .item .title {
  font-weight: bold;
  font-size: 14px;
  color: #0062bd;
  margin-bottom: 10px;
  display: block;
  min-height: 40px;
}
.main-search .list-item .item .contact {
  font-weight: normal;
  font-size: 14px;
  color: #333;
  margin-top: 10px;
  display: inline-block;
  margin-bottom: 10px;
}
.main-search .list-item .item-border {
  border-left: 0.5px solid #ccc;
}

.news-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
}

.products {
  padding-top: 60px;
}

.new-news {
  display: none;
}

@media (max-width: 767px) {
  .result {
    padding-left: 5px !important;
  }
}/*# sourceMappingURL=search.css.map */