.news-item {
  figure {
    figcaption {
      height: auto !important;
    }
  }
}
main {
  scroll-behavior: auto;
}
.video-item {
  position: relative;
}
.nav-tabs {
  display: flex;
  list-style-type: none;
  padding-bottom: 30px;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  li {
    margin-left: 20px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 29px;
    text-align: center;
    text-transform: capitalize;
    color: white;
    transition: 0.3s;
    &:hover {
      color: #db801a;
      cursor: pointer;
    }
  }
  .active {
    color: #db801a;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 15px solid #db801a;
      bottom: 0px;
      left: 50%;
      bottom: -20px;
      transform: translate(-50%);
    }
  }
}
main {
  background: var(--background-color);
}
.pagination {
  margin-top: 30px;
  justify-content: center;
  .current, .other-page, .next-page, .pre-page, b {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: #737373;
    background-color: #eee;
    margin: 0 5px;
    &:hover {
      text-decoration: none;
      opacity: 0.9;
    }
  }
  .current{
    background: #db801a;
    font-family: 'Google Sans',sans-serif;
    color: #fff;
    border: none;
  }
}
.first-news-item {
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 30px;
  .video-box {
    display: block;
    overflow: hidden;
  }
  .image-box {
    display: block;
    overflow: hidden;
  }
  &:hover {
    img {
      transform: scale(1.1);
    }
  }
  img {
    transition: .3s;
    height: 600px;
    object-fit: cover;
  }
}

.grid-gallery {
  padding-left: 100px;
  padding-right: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  img {
    height: 200px;
  }
  .news-item {
    overflow: hidden;

    &:hover {
      img {
        transform: scale(1.1);
      }
    }
    img {

      transition: .3s;
      width: 100%;
      height: 270px;
      object-fit: cover;
    }
  }
}
.lg-sub-html {
  font-size: 40px !important;
  font-family: 'UTM-Americana';
}
@media screen and (max-width: 967px) {
  .first-news-item {
    padding: 0px !important;
    // margin-bottom: 15px;
    display: none;
    img {
      height: 270px;
    }
  }
  .grid-gallery {
    padding: 0px !important;
    display: flex;
    flex-direction: column;
    grid-gap: 15px;

    .news-item {
      display: block;
      // margin-bottom: 15px;
    }

  }
  .lg-sub-html {
    font-size: 13px !important;
  }
}
@media screen and (min-width: 1600px) {
  .grid-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    .news-item {
      img {
        width: 100%;
        height: 330px;
        object-fit: cover;
      }
    }
  }
  .nav-tabs li {
    font-size: 24px;
  }
}
