.news-item figure figcaption {
  height: auto !important;
}

main {
  scroll-behavior: auto;
}

.video-item {
  position: relative;
}

.nav-tabs {
  display: flex;
  list-style-type: none;
  padding-bottom: 30px;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.nav-tabs li {
  margin-left: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 29px;
  text-align: center;
  text-transform: capitalize;
  color: white;
  transition: 0.3s;
}
.nav-tabs li:hover {
  color: #db801a;
  cursor: pointer;
}
.nav-tabs .active {
  color: #db801a;
  position: relative;
}
.nav-tabs .active::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid #db801a;
  bottom: 0px;
  left: 50%;
  bottom: -20px;
  transform: translate(-50%);
}

main {
  background: var(--background-color);
}

.pagination {
  margin-top: 30px;
  justify-content: center;
}
.pagination .current, .pagination .other-page, .pagination .next-page, .pagination .pre-page, .pagination b {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: #737373;
  background-color: #eee;
  margin: 0 5px;
}
.pagination .current:hover, .pagination .other-page:hover, .pagination .next-page:hover, .pagination .pre-page:hover, .pagination b:hover {
  text-decoration: none;
  opacity: 0.9;
}
.pagination .current {
  background: #db801a;
  font-family: "Google Sans", sans-serif;
  color: #fff;
  border: none;
}

.first-news-item {
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 30px;
}
.first-news-item .video-box {
  display: block;
  overflow: hidden;
}
.first-news-item .image-box {
  display: block;
  overflow: hidden;
}
.first-news-item:hover img {
  transform: scale(1.1);
}
.first-news-item img {
  transition: 0.3s;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}

.grid-gallery {
  padding-left: 100px;
  padding-right: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}
.grid-gallery img {
  height: 200px;
}
.grid-gallery .news-item {
  overflow: hidden;
}
.grid-gallery .news-item:hover img {
  transform: scale(1.1);
}
.grid-gallery .news-item img {
  transition: 0.3s;
  width: 100%;
  height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
}

.lg-sub-html {
  font-size: 40px !important;
  font-family: "UTM-Americana";
}

@media screen and (max-width: 967px) {
  .first-news-item {
    padding: 0px !important;
    display: none;
  }
  .first-news-item img {
    height: 270px;
  }
  .grid-gallery {
    padding: 0px !important;
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
  }
  .grid-gallery .news-item {
    display: block;
  }
  .lg-sub-html {
    font-size: 13px !important;
  }
}
@media screen and (min-width: 1600px) {
  .grid-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  .grid-gallery .news-item img {
    width: 100%;
    height: 330px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .nav-tabs li {
    font-size: 24px;
  }
}/*# sourceMappingURL=gallery.css.map */