.menu {
  display: none;
}

.detail_content {
  width: 80%;
  margin: 0 auto;
}

.detail_image img {
  width: 80%;
  height: auto;
}

.more-comment {
  background-color: #E9B852;
  text-align: center;
  padding: 10px;
  display: block;
  color: white;
}
.more-comment:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.truncate {
  position: relative;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  max-height: 40px;
  color: rgb(36, 36, 36);
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: 0.1px;
  text-overflow: ellipsis;
  margin: 0px;
  overflow: hidden;
  width: 100%;
  height: 40px;
  text-align: left;
  margin-bottom: 20px;
}

.label_error {
  position: absolute;
}

.products-hightlight {
  background-color: white;
}
.products-hightlight .product-item-hightlight {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #eee;
  border-left: none;
  border-right: none;
  background-color: white;
  -webkit-transform: translateZ(0);
}
.products-hightlight .product-item-hightlight figure {
  height: 100%;
  margin-bottom: 0;
}
.products-hightlight .product-item-hightlight figure .price p {
  color: #C00200;
  font-weight: 500;
}
.products-hightlight .product-item-hightlight figure .image-box img {
  width: 100%;
  height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s ease-in-out;
}
.products-hightlight .product-item-hightlight figure .image-box img:hover {
  backface-visibility: hidden;
  cursor: pointer;
  box-shadow: rgba(255, 123, 0, 0.1) 0px 0px 20px;
}
.products-hightlight .product-item-hightlight:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
}

.tag {
  min-width: 60px;
  display: block;
  background-color: #EEEEEE;
  margin-left: 5px;
  border-radius: 10px;
  text-align: center;
}

.content__news img {
  max-width: 100% !important;
  -o-object-fit: contain !important;
     object-fit: contain !important;
}

.news .title__news h1 {
  font-size: 40px;
  font-weight: 400;
}
.news .content__news {
  margin-top: 30px;
  border-top: 1px dashed #CCCCCC;
  border-bottom: 1px dashed #ccc;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.news .content__news p {
  margin-top: 16px;
}

.interested .title__interested h1 {
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
}
.interested .col-md-4 {
  margin-right: 20px;
}
.interested .col-md-4:last-child {
  margin-right: 0;
}
.interested .item__interested a figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.interested .item__interested a figure img {
  width: 100%;
  height: 190px;
  transition: 0.5s;
  border-radius: 10px;
  padding: 10px;
}
.interested .item__interested a figure figcaption {
  position: relative;
  padding-left: 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  max-height: 40px;
  color: rgb(36, 36, 36);
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: 0.1px;
  text-overflow: ellipsis;
  margin: 0px;
  overflow: hidden;
  width: 285px;
  height: 40px;
  text-align: left;
  margin-bottom: 20px;
}
.interested .item__interested a figure .time {
  font-weight: 100;
}
.interested .item__interested a:hover {
  text-decoration: none;
}
.interested .item__interested a:hover figure {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px;
}
.interested .item__interested a:hover figure img {
  transition: 0.5s;
}

.detail_content {
  width: 80%;
  margin: 0 auto;
}

.detail_image img {
  width: 100% !important;
  height: auto;
}

.send-comment-news {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #C00200;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 200px;
  display: flex;
  justify-content: center;
}
.send-comment-news:hover {
  color: white;
}

.label_error {
  color: red;
}

.note-comment {
  font-size: 12px;
}

@media (max-width: 767px) {
  .send-comment-news {
    padding-left: 20px;
    padding-right: 20px;
  }
  .container {
    padding: 0 8px;
  }
  .content__news {
    padding-top: 10px;
  }
  .content__news img {
    width: 100% !important;
    height: auto !important;
  }
  .title__interested h1 {
    font-size: 18px !important;
  }
  .time__news {
    font-weight: 100;
  }
  .share__news {
    font-weight: 100;
  }
  .breadcrumb {
    visibility: hidden;
  }
  .title__news h1 {
    font-size: 20px !important;
  }
}
@media (min-width: 1024px) {
  .send-comment-news {
    padding-left: 20px;
    padding-right: 20px;
  }
  .image-news {
    margin-right: 20px;
    width: 210px;
    height: 140px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .content__news {
    padding-right: 10px;
  }
}/*# sourceMappingURL=tintucchitiet.css.map */