.select2-cart {
  border: 1px solid #DDDDDD;
  padding: 5px 2px;
  font-size: 12px;
}

.select2-selection--single {
  height: 45px !important;
  border: none !important;
  display: flex !important;
  align-items: center;
}

.select2-selection__arrow {
  top: 40% !important;
}

.discount-btn {
  cursor: pointer;
}

.check-voucher {
  color: red !important;
  font-weight: 600;
}

.coupon {
  padding: 15px 0px;
  background-color: white;
  display: flex;
}
.coupon .check-voucher {
  color: red;
  font-size: 12px;
}
.coupon input {
  padding: 9px;
  width: 79%;
  border: 1px solid #eee;
}
.coupon input:focus {
  outline: none;
  border: 1px solid #F68C59;
}
.coupon a {
  border: none;
  background-color: #F68C59;
  color: white !important;
  padding: 10px 12px;
}
.coupon a:hover {
  opacity: 0.8;
  cursor: pointer;
}

.vouchers-box {
  margin: auto;
  width: 400px;
  height: 600px;
  overflow: auto;
  background-color: white;
  border-radius: 10px;
}/*# sourceMappingURL=default.css.map */