#booking-form {
  background-color: white;
  padding: 20px;
  width: 570px;
}
#booking-form label {
  font-weight: 600;
}

.input-form {
  padding-top: 10px;
  padding-bottom: 10px;
}
.input-form label {
  font-weight: 700;
  padding-bottom: 10px;
}
.input-form input, .input-form textarea {
  border: 1px solid #bcbcbc;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

.send-contact {
  background-color: #d3a455;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
  width: 100%;
  display: block;
  color: white;
  text-decoration: none;
  margin-top: 30px;
}
.send-contact:hover {
  opacity: 0.8;
  color: white;
}

form {
  background-color: white;
  box-shadow: 1px -1px 29px -7px rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: 1px -1px 29px -7px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 1px -1px 29px -7px rgba(0, 0, 0, 0.06);
  border-radius: 12px;
}

main {
  background-color: white;
  padding-top: 140px;
  padding-bottom: 120px;
}

@media screen and (max-width: 900px) {
  .summary-booking {
    width: 90% !important;
  }
}/*# sourceMappingURL=booking.css.map */