.carousel-partner {
  margin-bottom: 40px;
}

.architecture {
  background-color: white;
}

.carousel-cell-partner {
  width: 100%;
  height: 200px;
  margin-right: 10px;
  border-radius: 5px;
  counter-increment: carousel-cell;
}
.carousel-cell-partner img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.partner {
  background-color: white;
}

.title-intro-2 {
  font-size: 30px;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 40px;
}

.title-intro-3 {
  font-size: 30px;
  font-weight: 600;
}

.carousel-nav-partner .carousel-cell-partner {
  height: 80px;
  width: calc(25% - 10px);
}

.carousel-nav-partner .carousel-cell-partner:before {
  font-size: 50px;
  line-height: 80px;
}

.intro-partner {
  padding-top: 100px;
  padding-bottom: 100px;
}

.partner-wrapper .left {
  background-color: #F2F2F2;
}
.partner-wrapper .bi-dash,
.partner-wrapper .bi-plus {
  position: absolute;
  right: 10px;
}
.partner-wrapper a[aria-expanded=false] .bi-dash {
  display: none;
}
.partner-wrapper a[aria-expanded=true] .bi-plus {
  display: none;
}
.partner-wrapper .title {
  padding-top: 80px;
}
.partner-wrapper .title h2 {
  font-size: 27px;
}
.partner-wrapper .left {
  width: 80%;
  margin-top: 80px;
  padding-top: 100px;
  padding-left: 135px;
  padding-right: 50px;
  padding-bottom: 100px;
}
.partner-wrapper .left .accordion {
  width: 50%;
  padding-top: 10px;
}
.partner-wrapper .left .btn-link {
  padding-right: 20px;
}
.partner-wrapper .right {
  background-color: white;
  width: 30%;
  position: absolute;
  right: 7%;
  top: -5%;
}
.partner-wrapper .right img {
  width: 100%;
}
.partner-wrapper .accordion {
  counter-reset: section;
}
.partner-wrapper .accordion h2 {
  position: relative;
}
.partner-wrapper .accordion h2 a {
  font-size: 14px;
  color: #333;
  text-decoration: none;
  height: 40px;
  display: flex;
  align-items: center;
  position: relative;
}
.partner-wrapper .accordion h2::before {
  content: "0" counter(section) "";
  counter-increment: section;
  font-size: 10px;
  position: absolute;
  left: -18px;
  top: 13px;
  color: #06aff8;
}

.why-choose-ikay {
  padding-right: 135px;
  padding-bottom: 100px;
}
.why-choose-ikay .left {
  padding-left: 135px;
  padding-top: 135px;
  width: 50%;
}
.why-choose-ikay .left img {
  width: 70%;
}
.why-choose-ikay .right {
  width: 50%;
  padding-top: 135px;
}

.comment-customer-box {
  background-color: white;
  padding-bottom: 20px;
}
.comment-customer-box .comment-customer {
  margin-left: 135px;
  margin-right: 135px;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #F2F2F2;
  width: 88%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.comment-customer-box .comment-customer .avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.comment-customer-box .comment-customer .comment {
  margin-top: 30px;
  font-weight: 500;
}

@media screen and (min-width: 1900px) {
  .why-choose-ikay .right p {
    font-size: 16px !important;
  }
}/*# sourceMappingURL=detail.css.map */