.banner-project {
  width: 100%;
  height: calc(100vh - 110px);
  margin-top: 110px;
  background-size: cover !important;
  background-position: bottom !important;
  background-repeat: no-repeat !important;
}
.banner-project img {
  height: calc(100vh - 122px);
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner-project .title-project-detail {
  padding-top: 200px;
}
.banner-project .title-project-detail h2 {
  text-align: center;
}

.banner-project-product img {
  height: calc(100vh - 110px);
  width: 70%;
  position: absolute;
  -o-object-fit: contain;
     object-fit: contain;
  right: 20px;
  height: auto;
}

#ground-box a .seemore {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border-radius: 5px;
  background: #dc801a;
  color: white;
  opacity: 0;
  transition: 0.3s;
}
#ground-box a:hover .seemore {
  top: 50%;
  opacity: 1;
}

.input-form {
  width: 100%;
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  padding: 8px;
  color: white;
  margin-top: 20px;
}
.input-form::-moz-placeholder {
  color: white;
  font-weight: 600;
}
.input-form::placeholder {
  color: white;
  font-weight: 600;
}
.input-form:focus {
  outline: none;
}

.content-project p {
  display: block;
  border-bottom: 1px solid white;
  padding: 30px;
  padding-left: 0px;
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}

.content-wrapper {
  background: var(--background-color);
  padding-top: 100px;
}
.content-wrapper .left {
  width: 40%;
}
.content-wrapper .right {
  width: 60%;
}
.content-wrapper .left {
  padding-right: 60px;
}
.content-wrapper .right img {
  width: 100%;
  height: 570px;
  -o-object-fit: contain;
     object-fit: contain; /* Equivalent of the background-size: cover; of a background-image */
  -o-object-position: top;
     object-position: top;
}

.container-2 {
  padding-left: 100px;
}

.more-icons {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  font-size: 13px;
}
.more-icons svg {
  width: 55px;
}

.line-bottom {
  border-bottom: 1px solid white;
  padding: 30px;
  padding-left: 0px;
  display: flex;
  align-items: center;
}
.line-bottom p {
  margin-bottom: 0px;
}

.item1 {
  grid-area: image1;
}

.item2 {
  grid-area: image2;
}

.item3 {
  grid-area: image3;
}

.item4 {
  grid-area: image4;
}

.item5 {
  grid-area: image5;
}

.grid-container {
  margin-top: 50px;
  display: grid;
  grid-template-areas: "image1 image2 image4" "image3 image2 image5 ";
  grid-gap: 33px;
  padding: 10px;
}
.grid-container .item1,
.grid-container .item3,
.grid-container .item4,
.grid-container .item0 {
  border-radius: 5px;
  max-height: 300px;
  overflow: hidden;
  position: relative;
}
.grid-container .item1 img,
.grid-container .item3 img,
.grid-container .item4 img,
.grid-container .item0 img {
  transition: 0.3s;
  -o-object-fit: cover !important;
     object-fit: cover !important;
  width: 100%;
  height: 100%;
}
.grid-container .item1:hover,
.grid-container .item3:hover,
.grid-container .item4:hover,
.grid-container .item0:hover {
  box-shadow: 1px 0px 24px -5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 0px 24px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 0px 24px -5px rgba(0, 0, 0, 0.75);
}
.grid-container .item1:hover img,
.grid-container .item3:hover img,
.grid-container .item4:hover img,
.grid-container .item0:hover img {
  transition: 0.3s;
}
.grid-container .item1:hover .name-central,
.grid-container .item3:hover .name-central,
.grid-container .item4:hover .name-central,
.grid-container .item0:hover .name-central {
  opacity: 1;
  transition: 0.3s;
}
.grid-container .item1:hover::after,
.grid-container .item3:hover::after,
.grid-container .item4:hover::after,
.grid-container .item0:hover::after {
  opacity: 0.8;
  transition: 0.3s;
}
.grid-container .item2 {
  border-radius: 5px;
  max-height: 635px;
  overflow: hidden;
  position: relative;
}
.grid-container .item2 img {
  transition: 0.3s;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.grid-container .item2:hover {
  box-shadow: 1px 0px 24px -5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 0px 24px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 0px 24px -5px rgba(0, 0, 0, 0.75);
}
.grid-container .item2:hover img {
  transition: 0.3s;
}
.grid-container .item2:hover .name-central {
  opacity: 1;
  transition: 0.3s;
}
.grid-container .item2:hover::after {
  opacity: 0.85;
  transition: 0.3s;
}

.owl-item {
  position: relative;
}
.owl-item .ground-item {
  transition: 0.3s;
  transform: scale(0.8);
  height: 60vh;
}
.owl-item .ground-item img {
  border-radius: 32px;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  background: var(--secondary-background-color);
}
.owl-item .description-summary {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.owl-item .description-summary .title {
  font-size: 30px;
}
.owl-item .description-summary .description {
  font-size: 18px;
}

.owl-item.center .ground-item {
  transform: scale(1);
}

.owl-nav {
  margin-top: 0px !important;
  padding-bottom: 80px;
}

.owl-nav .owl-prev {
  position: absolute;
  top: 45%;
  left: 50px;
  background-color: transparent !important;
  border: none;
  outline: none;
}

.owl-nav .owl-prev span {
  color: #cccccc;
  font-size: 50px;
}

.owl-nav .owl-next {
  position: absolute;
  top: 45%;
  right: 50px;
  background-color: transparent !important;
  border: none;
  outline: none;
}

.owl-nav .owl-next span {
  color: #cccccc;
  font-size: 50px;
}

.title-american-3 {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 500;
  color: #1affff !important;
}

@media screen and (max-width: 967px) {
  .content-wrapper .content {
    flex-direction: column !important;
  }
  .header-mobile {
    background-color: rgb(36, 21, 98) !important;
  }
  .banner-project {
    margin-top: 60px !important;
  }
  .owl-nav .owl-prev {
    bottom: 0px;
    top: unset;
    left: 120px;
  }
  .owl-nav .owl-next {
    bottom: 0px;
    top: unset;
    right: 120px;
  }
  .title-library {
    font-size: 30px;
  }
  .container-6 {
    margin: 20px;
  }
  .owl-item .ground-item {
    height: 30vh;
  }
  .content-wrapper {
    padding-top: 20px;
  }
  .content-wrapper .left {
    width: 100%;
    padding-right: 0px;
  }
  .content-wrapper .right {
    width: 100%;
    margin-top: 30px;
  }
  .content-wrapper .right img {
    height: 500px;
  }
  .banner-project {
    margin-top: 0px;
    height: 350px;
  }
  .btn-register-mobile {
    font-size: 13px !important;
  }
  .title-project-detail {
    text-align: left;
    padding-top: 80px !important;
  }
  .title-project-detail h1 {
    font-size: 20px;
  }
  .container-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 500px) {
  .banner-project {
    margin-top: 0px;
    height: 180px;
  }
  .content-wrapper .right img {
    height: 250px;
  }
}
@media screen and (min-width: 1600px) {
  #ground-box .title {
    font-size: 48px;
  }
  .owl-item {
    position: relative;
  }
  .owl-item .ground-item {
    transition: 0.3s;
    border-radius: 32px;
    transform: scale(0.8);
    height: 60vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .owl-item .ground-item img {
    width: 100%;
  }
  .owl-item .description-summary {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
  .owl-item .description-summary .title {
    font-size: 48px;
  }
  .owl-item .description-summary .description {
    font-size: 24px;
  }
  .content-wrapper .right img {
    height: 670px;
  }
  .grid-container .item1,
  .grid-container .item3,
  .grid-container .item4,
  .grid-container .item0 {
    border-radius: 5px;
    max-height: 400px;
    overflow: hidden;
    position: relative;
  }
  .grid-container .item2 {
    border-radius: 5px;
    max-height: 835px;
    overflow: hidden;
    position: relative;
  }
}/*# sourceMappingURL=default.css.map */