.banner-project {
  width: 100%;
  // height: 100%;
  margin-top: 110px;
  position: relative;
  img {
    height: calc(100vh - 110px);
    width: 100%;
    object-fit: cover;
  }
  .title-project {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    h2 {
      text-align: center;
    }
    p {
      text-align: center;
    }
  }
}
.wrapper {
  background: var(--background-color);
}

.project-highlight {
  font-size: 33px;
}

.title-box {
  position: relative;
  padding-top: 90px;
  padding-bottom: 90px;
  span {
    width: 75px;
    height: 2px;
    display: block;
    // left: 0px;
    // position: absolute;
    background-color: white;
  }
}

.highlight-box {
  position: relative;
  .left {
    width: 40%;
    .summary {
      .title-project-highlight {
        letter-spacing: 0.23em;
        font-size: 28px;
      }
      .title-2-project-highlight {
        letter-spacing: 0.005em;
        font-size: 19px;
      }
      box-shadow: 0px 4px 18px #280f60;
      width: 45%;
      top: 50%;
      transform: translateY(-50%);
      height: 380px;
      position: absolute;
      background: var(--background-color);
    }
  }
  .right {
    width: 60%;
    img {
      width: 100%;
      background: linear-gradient(180deg, #283581 0%, rgba(159, 0, 227, 0.1) 100%);
    }
  }
  .btn-style-2 {
    transition: .3s;
    &:hover {
      border: 1px solid #DB801A;
      background-color: #DB801A !important;
      color: white;
    }
  }
}

.grid-project-home {
  // margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  padding-left: 60px;
  padding-right: 60px;
  .project-item {
    width: 100%;
    color: white;
    img {
      width: 100%;
      height: 80%;
      object-fit: contain;
      background: linear-gradient(180deg, #9C00E0 0%, #351478 100%);
      padding: 20px;
    }
    position: relative;
    .view-detail {
      border: 1px solid white;
      border-radius: 5px;      
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      padding: 10px 20px;
      opacity: 0;
      transition: .3s;
      &:hover {
        border: 1px solid #DB801A;
        background-color: #DB801A;

      }
    }

    &:hover {
      z-index: 1;
      .view-detail {
        opacity: 1;
        top: 40%;
        color: white;

      }
    }
  }
}

@media screen and (max-width: 967px) {
  .highlight-box .left .summary {
    height: auto !important;
  }
  .highlight-box .left .summary .title-project-highlight {
    letter-spacing: 0.1em;
    font-size: 23px
  }
  .header-mobile {
    background-color: rgba(36, 21, 98, 1) !important;

  }
  .banner-project {
    img {
      margin-top: 60px;
    }
  }
  .title-project {
    font-size: 12px;
  }

  .grid-project-home {
    grid-template-columns: 1fr 1fr;
    padding-left: 10px;
    padding-right: 10px;
    column-gap: 10px;
    .project-item {
      img {
        height: 70%;
        max-height: 100px;
        object-fit: contain;
        background: linear-gradient(180deg, #283581 0%, rgba(159, 0, 227, 0.1) 100%);
        padding: 20px;
      }
    }
  }
  .wrapper {
    .container {
      padding: 0px;
    }
  }

  .summary-box {
    width: 100% !important;
    padding: 20px;
  }
  .highlight-box .left {
    width: 100%;
    margin-top: 10px;
    // margin: 10px;
  }
  .highlight-box .left .summary {
    position: relative;
    width: 96%;
    margin: auto;
    transform: unset;
  }
  .highlight-box .right {
    width: 100%;
    .text-top-left {
      position: absolute;
      top: 0px;
      left: 0px;
    }
    .text-top-left {
      position: absolute;
      padding: 10px 25px 10px 5px;
      font-size: 18px;
      top: 0px;
      left: 0px;
      color: white;
      width: fit-content;
      background-color: #e5a33d;
      opacity: 0.8;
      border-bottom-right-radius: 20px;
      span {
        font-family: UTM Americana;
      }
    }
  }

  .banner-project {
    margin-top: 0px;
    img {
      height: 220px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .highlight-box .right img {
    // height: 650px;
    // object-fit: contain;
    object-fit: cover;
    min-height: 550px;
  }
}
@media screen and (min-width: 1600px) {
  .highlight-box {
    .left {
      .summary {
        .title-project-highlight {
          font-size: 30px;
        }
        .title-2-project-highlight {
          font-size: 22px;
        }
      }
    }
  }
}
