.carousel {
  background: #fafafa;
  // margin-bottom: 40px;
  width: 100%;

  .previous {
    left: initial;
    right: 10%;
    top: 49%;
  }
  .next {
    right: 30px;
    /* bottom: 20px; */
    top: 53%;
  }
  .flickity-page-dots {
    bottom: 50%;
    width: 200px;
    right: 50px;
    max-width: 150px;
    .is-selected {
      background-color: #b3b2b5;
    }
    .dot {
      display: inline-block;
      width: 30px;
      height: 2px;
      opacity: 0.25;
      cursor: pointer;
      border-radius: 0px;
      margin: 0px;
    }
  }
  .flickity-prev-next-button {
    background-color: transparent;
    position: absolute;
    svg {
      width: 12px;
      height: 12px;
      fill: #b3b2b5;
    }
    &:hover {
      background-color: transparent;
    }
  }
}

.carousel-wrapper {
  position: relative;
  .progress-bar-wrapper {
    .progress-bar-box {
      background-color: rgba(51, 51, 51, 0.499);
    }
    position: absolute;
    bottom: 50%;
    width: 10%;
    right: 3%;
    .progress-bar {
      height: 2px;
      width: 0;
      background: rgba(255, 255, 255, 0.62);
    }
  }
}

.carousel-main {
  position: relative;
}

.prev-slide,
.next-slide {
  cursor: pointer;
  user-select: none;
}
.flickity-viewport {
  height: 900px;
}
.carousel-home {
  .carousel-cell {
    border-radius: 5px;
    counter-increment: carousel-cell;
    position: relative;
    min-height: 100vh;
    position: relative;
    .video {
      min-width: 100vw;
      min-height: 100vh;
      max-height: 100vh;

      // max-height: 100vh;
      object-fit: cover;
    }

    .summary-banner {
      width: 1100px;
      position: absolute;
      top: 30%;
      left: 12%;
      padding-left: 20px;
      z-index: 1;
    }
  }
}

.progress-bar {
  height: 20px;
  width: 0;
  background: #333;
}
/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  font-size: 80px;
  // color: white;
}
.carousel-cell {
  position: relative;
  .remove-line-height {
    img {
      width: 20px;
      position: absolute;
      height: auto !important;
      bottom: 60px;
      z-index: 10;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .down-arrow {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    bottom: 30px;
  }
}

.updown {
  animation: mover 1s infinite alternate;
}
@media screen and (min-width: 1300px) {
  // .carousel-cell:before {
  //   .banner, .video {
  //     height: 650px;

  //   }
  // }
}
@media screen and (min-width: 1900px) {
  .carousel-cell {
    .remove-line-height {
      img {
        width: 30px;
      }
    }
  }
  // .carousel-cell:before {
  //   height: 960px;
  // }
}

@media screen and (max-width: 900px) {
  .carousel-home .carousel-cell .summary-banner {
    top: 30%;
    bottom: initial;
  }
  .carousel-wrapper .progress-bar-wrapper {
    position: absolute;
    bottom: 100px;
    width: 50%;
    left: 20px;
  }
  .carousel-cell .video {
    width: 100%;
  }
  .carousel-home .carousel-cell .summary-banner {
    z-index: 0;
  }
}
