.flickity-enabled.is-fade .flickity-slider > * {
  pointer-events: none;
  z-index: 0;
}

.flickity-enabled.is-fade .flickity-slider > .is-selected {
  pointer-events: auto;
  z-index: 1;
}

.carousel-cell {
  transition: opacity 0.3s;
}

.carousel-cell .is-selected {
  animation: animate__fadeInDown;
}/*# sourceMappingURL=flickity-fade.css.map */