

@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .banner-style-5 {
    position: relative;
    height: calc(100vh - 110px);
    // margin-bottom: 160px;
    // display: flex;
    width: 100%;
    margin-top: 110px;
    .left {
      position: relative;
    }
    .title-banner {
      position: absolute;
      bottom: 40%;
      left: 0px;
    }
    .left {
      width: 25%;
    }
    .right {
      width: 65%;
      // background: url(https://wallpaperaccess.com/full/138728.jpg);
      position: absolute;
      right: 0px;
      height: 100%;
      background-position: bottom;
      background-repeat: no-repeat !important;
      background-size: cover !important;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {

}
@media (min-width: 1600px) {
  .banner-style-5 {
    position: relative;
    // height: 100vh;
  }
}
@media (min-width: 1900px) {

}
