@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .banner-style-5 {
    position: relative;
    height: 400px;
    // margin-bottom: 160px;
    // display: flex;
    width: 100%;
    margin-top: 110px;
    .left {
      position: relative;
    }
    .title-banner {
      position: absolute;
      bottom: 30px;
      left: 0px;
    }
    .left {
      width: 25%;
    }
    .right {
      width: 65%;
      position: absolute;
      right: 0px;
      height: 100%;
      background-position: bottom !important;
      background-size: contain !important;
      background-repeat: no-repeat !important;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

@media screen and (max-width: 978px) {
  .banner-style-5 {
    .container {
      padding: 0px;
    }
  }
  .banner-box {
    .right {
      height: 160px;
      background-size: contain !important;
      background-repeat: no-repeat;
    }
  }
}
// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}
@media (min-width: 1600px) {
  .banner-style-5 {
    position: relative;
    height: 500px;
  }
}
@media (min-width: 1900px) {
}
