@media (min-width: 992px) {
  .banner-style-5 {
    position: relative;
    height: 400px;
    width: 100%;
    margin-top: 110px;
  }
  .banner-style-5 .left {
    position: relative;
  }
  .banner-style-5 .title-banner {
    position: absolute;
    bottom: 30px;
    left: 0px;
  }
  .banner-style-5 .left {
    width: 25%;
  }
  .banner-style-5 .right {
    width: 65%;
    position: absolute;
    right: 0px;
    height: 100%;
    background-position: bottom !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
  }
  .banner-style-5 .right img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media screen and (max-width: 978px) {
  .banner-style-5 .container {
    padding: 0px;
  }
  .banner-box .right {
    height: 160px;
    background-size: contain !important;
    background-repeat: no-repeat;
  }
}
@media (min-width: 1600px) {
  .banner-style-5 {
    position: relative;
    height: 500px;
  }
}/*# sourceMappingURL=style5.css.map */