@media (min-width: 992px) {
  .banner-style-5 {
    position: relative;
    height: calc(100vh - 110px);
    width: 100%;
    margin-top: 110px;
  }
  .banner-style-5 .left {
    position: relative;
  }
  .banner-style-5 .title-banner {
    position: absolute;
    bottom: 40%;
    left: 0px;
  }
  .banner-style-5 .left {
    width: 25%;
  }
  .banner-style-5 .right {
    width: 65%;
    position: absolute;
    right: 0px;
    height: 100%;
    background-position: bottom;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }
  .banner-style-5 .right img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (min-width: 1600px) {
  .banner-style-5 {
    position: relative;
  }
}/*# sourceMappingURL=style6.css.map */