.banner-style-4 {
  position: relative;
}
.banner-style-4 img {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.title-banner {
  position: absolute;
  left: 50%;
  top: 60%;
  z-index: 1;
  transform: translate(-50%, -60%);
}
.title-banner h1 > span {
  margin-bottom: 20px;
  font-size: 35px;
}

.summary-banner-recruitment {
  width: 67% !important;
}

@media screen and (min-width: 1900px) {
  .title-banner {
    position: absolute;
  }
  .title-banner h1 > span {
    margin-bottom: 20px;
    font-size: 40px;
  }
}
@media screen and (max-width: 900px) {
  .banner-style-4 img {
    height: 250px;
  }
  .summary-banner-recruitment {
    width: 100% !important;
  }
  .knowledge-summary {
    position: absolute;
    top: 0% !important;
    left: 50%;
    transform: translate(-50%, 35%);
    width: 80%;
  }
  .go-to-job {
    padding: 10px !important;
  }
}/*# sourceMappingURL=style4.css.map */