.project {
  margin-top: 5px;
  width: 230px;
  height: 290px;
  background-color: white;
  display: flex;
  justify-content: center;
  a {
    .truncate {
      position: relative;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      max-height: 40px;
      color: rgb(36, 36, 36);
      font-size: 13px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.54;
      letter-spacing: 0.1px;
      text-align: left;
      text-overflow: ellipsis;
      margin: 0px;
      overflow: hidden;
      height: 40px;
      margin: auto;
      margin-bottom: 20px;
      margin-top: 5px;
    }
    color: #333;
    &:hover {
      text-decoration: none;
      color: #333
    }
    p {
      text-align: center;
    }
  }
  &:hover {
    img {
      transform: scale(0.9);
      transition: 0.5s;
    }
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;

  }
  img {
    transition: 0.5s;
    width: 195px;
    height: 195px;
    display: block;
    object-fit: contain;
  }
}
.partner {
  width: 208px;
  a {
    .truncate {
      width: 220px;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    color: #333;
    &:hover {
      text-decoration: none;
      color: #333
    }
    p {
      text-align: center;
    }
  }
  &:hover {
    img {
      transform: scale(0.9);
      transition: 0.5s;
    }
  }
  img {
    transition: 0.5s;
    width: 195px;
    height: 195px;
  }
}

@media (max-width: 768px) {
  .project {
    .title {
      a {
        // padding-left: 15px;
      }
    }
    margin-right: 0 !important;
    img {
      width: 90%;
      display: block;
      margin: auto;
    }
    .truncate {
      width: 80%;
    }
  }
}
@media (min-width: 1025px) {
  .project {
    .truncate {
      width: 200px;
    }
  }
  // .show-more {
  //   display: none;
  //   pointer-events: none;
  // }
  .title {
    a {
      font-weight: 500;
      // padding-left: 15px;
    }
  }
}