.nav {
  position: initial;
}

body {
  background-color: white;
}
.title-intro-1 {
  font-size: 21px;
}

.title-intro-2 {
  font-size: 27px;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 10px;
  // width: 600px;
}
.title-intro {
  padding-top: 140px;
  padding-bottom: 75px;
}
.video-box {
  img {
    max-width: 100%;
  }
}
.banner-video {
  video {
    width: 100%;
  }
}

.block-intro-2 {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #F4F4F4;
  .title-intro-2 {
    width: 42%;
  }
}

.title-intro-partner {
  width: 70%;
  padding-bottom: 60px;
}
.intro-partner {
  padding-top: 60px;
}
.block-intro-3 {
  padding-top: 60px;
  background-color: #f8f8f8;
  margin-top: 60px;
  padding-bottom: 60px;
  .nav {
    padding: 0px !important;
  }
  .nav-item {
    width: calc(100% / 5);
  }
  .nav-link {
    width: 100%;
    padding: 15px;
    border: 1px solid #babac3;
    border-radius: 1px;
    color: #707070;

    &:hover {
      border: 1px solid #d3a455;
    }
  }

  .nav-link.active {
    border: 1px solid #d3a455;
    color: #d3a455;
  }
}
.nav-tabs {
  border: none;
}
.customer-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding-top: 40px;
  padding-bottom: 40px;
  div {
    border-right: 1px solid #dadada;
    &:last-child {
      border-right: none;
    }
  }
  p {
    margin-bottom: 5px;
    padding-left: 60px;
  }
  .year {
    font-size: 20px;
  }
  .customer {
    font-size: 24px;
  }
  .text-customer {
    font-size: 14px;
  }
}
#tab1 {
  background-color: #f0f0f0;
}

.core-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  width: 100%;
  margin-top: 50px;
  overflow: auto;

  .core-item {
    // width: 200px;
    height: 400px;
    background-size: cover;
    background-color: white;
    background-repeat: no-repeat;
    opacity: 0.3s;
    &:hover {
      cursor: pointer;
      &::after {
        opacity: 1;
      }
      .summary-core-item {
        opacity: 1;
        color: white;
      }
      .core-title {
        color: #D3A455;
      }
      background-image: url("/images/intro5.png");
    }
    &::after {
      transition: 0.3s;
      content: "";
      opacity: 0;
      position: absolute;
      background: rgb(255, 255, 255);
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.23015143557422968) 0%,
        rgba(0, 0, 0, 0.7623643207282913) 100%
      );
      bottom: 0px;
      width: 100%;
      height: 100%;
    }
    img {
      width: 100%;
      height: 100%;
    }
    position: relative;
    .summary-core-item {
      z-index: 2;
      position: absolute;
      color: white;
      // bottom: 10px;
      left: 20px;
      right: 20px;
      top: 60%;
      // opacity: 0;
      transition: 0.3s;
      color: #333;
      p {
        font-size: 13px;
      }
    }
    .core-title {
      font-weight: 700;
      color: #D3A455;      ;
      font-size: 24px !important;
      // left: 10px;
    }
  }
}

.carousel-intro {
  // background: #eee;
  .flickity-prev-next-button.next {
    left: 6%;
  }
  margin-top: 30px;
  .flickity-prev-next-button {
    top: auto;
    bottom: -100px;
    border: 1px solid #cdd4d9;
  }
  .flickity-page-dots {
    left: 0px;
    bottom: -13%;
    width: fit-content;
  }
  .flickity-button-icon {
    left: 34% !important;
    top: 32% !important;
    width: 15px !important;
    height: 15px !important;
  }
}

.carousel-cell-intro {
  width: 38%;
  height: 330px;
  margin-right: 10px;
  opacity: 0.7;
  border-radius: 5px;
  counter-increment: carousel-cell;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.carousel-cell-intro.is-selected {
  opacity: 1;
}

.carousel-partner {
  // background: #FAFAFA;
  margin-bottom: 40px;
}

.carousel-cell-partner {
  width: 100%;
  height: 200px;
  margin-right: 10px;
  // background: #8C8;
  border-radius: 5px;
  counter-increment: carousel-cell;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.carousel-nav-partner .carousel-cell-partner {
  height: 80px;
  width: calc(100% / 4 - 10px);
}

.carousel-nav-partner .carousel-cell-partner:before {
  font-size: 50px;
  line-height: 80px;
}
@media screen and (min-width: 1200px) {
  .block-intro-1 {
    .left-1, .left-2, .left-3 {
      width: 48%;
    }
    .right-1, .right-2, .right-3 {
      width: 45%;
    }
  }
  .title-intro {
    .title-intro-2 {
      width: 520px;
    }
  }
  .title-intro-partner {
    width: 740px;
  }
  .intro-partner {
    padding-top: 110px !important;
    padding-bottom: 110px !important;
  }
  .container {
    max-width: 1160px;
    // padding: 0px;
  }
  .right-1 {
    width: 476px;
  }
  .left-2,
  .right-3 {
    width: 570px;
  }
  .block-intro-1 {
    padding-top: 115px;
    padding-bottom: 115px;
    // width: 90%;

    .right-1,
    .right-3 {
      // padding-left: 80px;
    }

    .left-2 {
      // width: 50%;
    }
    .right-2 {
      // padding-left: 80px;
      img {
        transition: 0.3s;
      }
    }
    .left-3 {
      // padding-left: 80px;
      // min-width: 50%;
      img {
        // height: 615px;
        // object-fit: cover;
        transition: 0.3s;
      }
    }
  }
}
@media screen and (min-width: 1900px) {
  .block-intro-2 .title-intro-2 {
    width: 30% !important;
  }
  .core-item {
    height: 500px !important;

    p {
      font-size: 16px !important;
    }
    // width: 300px;
  }
  .carousel-cell-intro {
    // width: 38%;
    height: 456px;
  }
  * {
    p {
      font-size: 16px;
    }
  }
  .title-intro-2 {
    margin-bottom: 20px !important;
  }
  .container {
    max-width: 1640px;
  }
  .block-intro-1-1 {
    width: 1360px;
    // margin: auto;
  }
  .flickity-prev-next-button.next {
    left: 60px !important;
  }


}

@media screen and (max-width: 900px) {
  .title-intro {
    .title-intro-1,
    .title-intro-2 {
      color: white;
    }
  }
  .customer-box {
    p {
      padding-left: 30px !important;
    }
  }
  // .banner-intro {
  //   padding: 0px !important;
  // }
  .carousel-nav-partner .carousel-cell-partner {
    // height: 80px;
    width: calc(100% / 3 - 10px) !important;
  }

  .title-intro-2 {
    width: unset;
  }
  .block-intro-1 {
    width: 100% !important;
  }
  .customer-box .customer {
    font-size: 20px;
  }
  .block-intro-3 .nav-item {
    width: 100% !important;
  }
  .banner-video {
    display: none;
  }

  .box-left-1 {
    overflow: unset !important;
  }


  .block-intro-2 .title-intro-2 {
    width: 100% !important;
  }

  .core-box {
    display: -ms-grid;
    display: flex !important;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
    /* grid-gap: 20px; */
    width: 100%;
    margin-top: 50px;
    overflow: auto;
    flex-wrap: nowrap;
    .core-item {
      height: 410px !important;
      min-width: 80%;
    }
  }

  .carousel-cell-intro {
    width: 80% !important;
    height: 230px !important;
  }

  .carousel-intro .flickity-prev-next-button.next {
    left: 18% !important;
  }
  .flickity-prev-next-button {
    transform: translateY(-20%) !important;
  }

  .customer-box {
    display: flex !important;
    flex-wrap: wrap;
    .year {
      font-size: 13px;
    }
    div {
      width: 50% !important;
      margin-top: 20px;
    }
  }

  .title-intro-partner {
    width: 100% !important;
  }
}

@media screen and (min-width: 1900px) {
  .core-box {
    // display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
}