.nav {
  position: initial;
}

body {
  background-color: white;
}

.title-intro-1 {
  font-size: 21px;
}

.title-intro-2 {
  font-size: 27px;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 10px;
}

.title-intro {
  padding-top: 140px;
  padding-bottom: 75px;
}

.video-box img {
  max-width: 100%;
}

.banner-video video {
  width: 100%;
}

.block-intro-2 {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #F4F4F4;
}
.block-intro-2 .title-intro-2 {
  width: 42%;
}

.title-intro-partner {
  width: 70%;
  padding-bottom: 60px;
}

.intro-partner {
  padding-top: 60px;
}

.block-intro-3 {
  padding-top: 60px;
  background-color: #f8f8f8;
  margin-top: 60px;
  padding-bottom: 60px;
}
.block-intro-3 .nav {
  padding: 0px !important;
}
.block-intro-3 .nav-item {
  width: 20%;
}
.block-intro-3 .nav-link {
  width: 100%;
  padding: 15px;
  border: 1px solid #babac3;
  border-radius: 1px;
  color: #707070;
}
.block-intro-3 .nav-link:hover {
  border: 1px solid #d3a455;
}
.block-intro-3 .nav-link.active {
  border: 1px solid #d3a455;
  color: #d3a455;
}

.nav-tabs {
  border: none;
}

.customer-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding-top: 40px;
  padding-bottom: 40px;
}
.customer-box div {
  border-right: 1px solid #dadada;
}
.customer-box div:last-child {
  border-right: none;
}
.customer-box p {
  margin-bottom: 5px;
  padding-left: 60px;
}
.customer-box .year {
  font-size: 20px;
}
.customer-box .customer {
  font-size: 24px;
}
.customer-box .text-customer {
  font-size: 14px;
}

#tab1 {
  background-color: #f0f0f0;
}

.core-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  width: 100%;
  margin-top: 50px;
  overflow: auto;
}
.core-box .core-item {
  height: 315px;
  background-size: cover;
  background-color: white;
  background-repeat: no-repeat;
  opacity: 0.3s;
  position: relative;
}
.core-box .core-item:hover {
  cursor: pointer;
  background-image: url("/images/intro5.png");
}
.core-box .core-item:hover::after {
  opacity: 1;
}
.core-box .core-item:hover .summary-core-item {
  opacity: 1;
  color: white;
}
.core-box .core-item:hover .core-title {
  color: #D3A455;
}
.core-box .core-item::after {
  transition: 0.3s;
  content: "";
  opacity: 0;
  position: absolute;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2301514356) 0%, rgba(0, 0, 0, 0.7623643207) 100%);
  bottom: 0px;
  width: 100%;
  height: 100%;
}
.core-box .core-item img {
  width: 100%;
  height: 100%;
}
.core-box .core-item .summary-core-item {
  z-index: 2;
  position: absolute;
  color: white;
  left: 20px;
  right: 20px;
  bottom: 15%;
  transition: 0.3s;
  color: #333;
}
.core-box .core-item .summary-core-item p {
  font-size: 13px;
}
.core-box .core-item .core-title {
  font-weight: 700;
  color: #D3A455;
  font-size: 24px !important;
}

.carousel-intro {
  margin-top: 60px;
}
.carousel-intro .flickity-prev-next-button.next {
  left: 6%;
}
.carousel-intro .flickity-prev-next-button {
  top: auto;
  bottom: -25%;
  border: 1px solid #cdd4d9;
}
.carousel-intro .flickity-page-dots {
  left: 10%;
  bottom: -13%;
  width: -moz-fit-content;
  width: fit-content;
}
.carousel-intro .flickity-button-icon {
  left: 34% !important;
  top: 32% !important;
  width: 15px !important;
  height: 15px !important;
}

.carousel-cell-intro {
  width: 38%;
  height: 330px;
  margin-right: 10px;
  opacity: 0.7;
  border-radius: 5px;
  counter-increment: carousel-cell;
}
.carousel-cell-intro img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel-cell-intro.is-selected {
  opacity: 1;
}

.carousel-partner {
  margin-bottom: 40px;
}

.carousel-cell-partner {
  width: 100%;
  height: 200px;
  margin-right: 10px;
  border-radius: 5px;
  counter-increment: carousel-cell;
}
.carousel-cell-partner img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.carousel-nav-partner .carousel-cell-partner {
  height: 80px;
  width: calc(25% - 10px);
}

.carousel-nav-partner .carousel-cell-partner:before {
  font-size: 50px;
  line-height: 80px;
}

@media screen and (min-width: 1200px) {
  .title-intro .title-intro-2 {
    width: 520px;
  }
  .title-intro-partner {
    width: 740px;
  }
  .intro-partner {
    padding-top: 110px !important;
    padding-bottom: 110px !important;
  }
  .container {
    max-width: 1160px;
  }
  .right-1 {
    width: 476px;
  }
  .left-2,
  .right-3 {
    width: 570px;
  }
  .block-intro-1 {
    padding-top: 115px;
    padding-bottom: 115px;
  }
  .block-intro-1 .left-1 {
    width: 50%;
  }
  .block-intro-1 .left-1 img {
    transition: 0.3s;
    width: 555px;
    height: 360px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .block-intro-1 .right-2 img {
    width: 570px !important;
    transition: 0.3s;
  }
  .block-intro-1 .left-3 img {
    width: 525px !important;
    transition: 0.3s;
  }
}
@media screen and (min-width: 1900px) {
  .block-intro-2 .title-intro-2 {
    width: 30% !important;
  }
  .core-item {
    height: 425px !important;
  }
  .carousel-cell-intro {
    height: 456px;
  }
  * p {
    font-size: 16px;
  }
  .title-intro-2 {
    margin-bottom: 20px !important;
  }
  .container {
    max-width: 1640px;
  }
  .block-intro-1-1 {
    width: 1360px;
  }
  .flickity-prev-next-button.next {
    left: 60px !important;
  }
  .block-intro-1 .left-1 img {
    width: 811px;
    height: 525px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .block-intro-1 .right-1 {
    width: 670px;
    padding-left: 0px;
  }
  .block-intro-1 .right-2 img {
    width: 890px !important;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .block-intro-1 .left-2 {
    width: 674px !important;
  }
  .block-intro-1 .left-3 img {
    width: 890px !important;
  }
  .block-intro-1 .right-3 {
    width: 675px;
    padding-left: 0px;
  }
}
@media screen and (max-width: 900px) {
  .title-intro .title-intro-1,
  .title-intro .title-intro-2 {
    color: white;
  }
  .customer-box p {
    padding-left: 30px !important;
  }
  .carousel-nav-partner .carousel-cell-partner {
    width: calc(33.3333333333% - 10px) !important;
  }
  .title-intro-2 {
    width: unset;
  }
  .block-intro-1 {
    width: 100% !important;
  }
  .customer-box .customer {
    font-size: 20px;
  }
  .block-intro-3 .nav-item {
    width: 100% !important;
  }
  .banner-video {
    display: none;
  }
  .block-intro-1 {
    width: 100%;
  }
  .block-intro-1 .right-1 {
    padding-left: 0px !important;
  }
  .block-intro-1 .left-1 {
    width: 100% !important;
  }
  .block-intro-1 .left-1 img {
    width: 100% !important;
    height: 240px;
  }
  .box-left-1 {
    overflow: unset !important;
  }
  .block-intro-1 .left-2 {
    width: 100% !important;
  }
  .block-intro-1 .right-2 {
    padding-left: 0px !important;
  }
  .block-intro-1 .right-3 {
    padding-left: 0px !important;
  }
  .block-intro-2 .title-intro-2 {
    width: 100% !important;
  }
  .core-box {
    display: -ms-grid;
    display: flex !important;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
    /* grid-gap: 20px; */
    width: 100%;
    margin-top: 50px;
    overflow: auto;
    flex-wrap: nowrap;
  }
  .core-box .core-item {
    height: 410px !important;
    min-width: 80%;
  }
  .carousel-cell-intro {
    width: 80% !important;
    height: 230px !important;
  }
  .carousel-intro .flickity-prev-next-button.next {
    left: 18% !important;
  }
  .flickity-prev-next-button {
    transform: translateY(-20%) !important;
  }
  .customer-box {
    display: flex !important;
    flex-wrap: wrap;
  }
  .customer-box .year {
    font-size: 13px;
  }
  .customer-box div {
    width: 50% !important;
    margin-top: 20px;
  }
  .title-intro-partner {
    width: 100% !important;
  }
}
@media screen and (min-width: 1900px) {
  .core-box {
    grid-gap: 80px;
  }
}/*# sourceMappingURL=gioithieu copy.css.map */