@font-face {
  font-family: rift_bold;
  src: url("../font/Rift_2/Fort Foundry - Rift-Bold.otf");
}
.home_content2_left .pd_left .dv {
  font-size: 40px;
  margin-bottom: 30px;
  line-height: normal;
}
.home_content2_left .pd_left .thue {
  font-size: 30px;
  color: #1a7aff;
  margin-bottom: 25px;
  line-height: normal;
}
.home_content2_left .pd_left .text {
  font-size: 14px;
  font-weight: 300;
}
.home_content2_left .pd_left .link_button {
  color: white;
  border: none;
  border-radius: 50px;
  background-image: linear-gradient(to right, #1a7aff, #25d7f5);
  padding: 5px 20px;
  margin-top: 10px;
}
.home_content2_left .pd_left .link_button i {
  margin-left: 10px;
  font-size: smaller;
}
.home_content2_left .pd_left .link_button:focus {
  outline: none;
}

.home_content2_right {
  padding: 0;
}
.home_content2_right .pd_right {
  padding: 0 0 0 15px;
}/*# sourceMappingURL=styles.css.map */