.owl-dots {
  position: absolute;
  left: 50%;
  /* Move 50% from left */
  bottom: -50px;
  /* Move 10px from bottom */
  transform: translateX(-50%);
}
.owl-dots .owl-dot {
  padding: 0;
  border: none;
  background-color: transparent;
}
.owl-dots .owl-dot:focus {
  outline: none;
}
.owl-dots .active span {
  background-color: #E9B852 !important;
  width: 30px;
  transition: width 0.2s ease;
}

.exp-image-1 div:nth-child(1) {
  position: relative;
}
.exp-image-1 div:nth-child(1) img {
  border-radius: 10px;
  width: 360px;
  height: 360px;
  -o-object-fit: cover;
     object-fit: cover;
}
.exp-image-1 div:nth-child(1)::before {
  content: "";
  position: absolute;
  width: 360px;
  height: 360px;
  background-color: rgba(204, 204, 204, 0.1882352941);
  z-index: -1;
  left: -20px;
  border-radius: 10px;
  top: 20px;
}
.exp-image-1 div:nth-child(2) {
  position: relative;
  margin-top: 20px;
  margin-left: auto;
}
.exp-image-1 div:nth-child(2) img {
  border-radius: 10px;
  width: 200px;
  height: 133px;
  -o-object-fit: cover;
     object-fit: cover;
}
.exp-image-1 div:nth-child(2)::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 133px;
  background-color: rgba(204, 204, 204, 0.1882352941);
  z-index: -1;
  right: 20px;
  border-radius: 10px;
  top: 20px;
}

.exp-image-2 {
  margin-left: 20px;
}
.exp-image-2 div:nth-child(1) {
  position: relative;
}
.exp-image-2 div:nth-child(1) img {
  border-radius: 10px;
  width: 160px;
  height: 107px;
  -o-object-fit: cover;
     object-fit: cover;
}
.exp-image-2 div:nth-child(1)::before {
  content: "";
  position: absolute;
  width: 160px;
  height: 100%;
  background-color: rgba(204, 204, 204, 0.1882352941);
  z-index: -1;
  right: 30px;
  border-radius: 10px;
  bottom: 20px;
}
.exp-image-2 div:nth-child(2) {
  position: relative;
  margin-top: 20px;
  margin-left: auto;
}
.exp-image-2 div:nth-child(2) img {
  border-radius: 10px;
  width: 210px;
  height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
}
.exp-image-2 div:nth-child(2)::before {
  content: "";
  position: absolute;
  width: 210px;
  height: 260px;
  background-color: rgba(204, 204, 204, 0.1882352941);
  z-index: -1;
  right: -20px;
  border-radius: 10px;
  bottom: -20px;
}

.item1 {
  grid-area: header;
}

.item2 {
  grid-area: menu;
}

.item3 {
  grid-area: main;
}

.item4 {
  grid-area: right;
}

.item5 {
  grid-area: footer;
}

.item6 {
  grid-area: footer2;
}

.grid-exp {
  display: grid;
  grid-template-areas: "header header main" "header header right" "menu footer footer2";
  grid-gap: 10px;
}

.app-benefit img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.app-benefit ul {
  list-style-type: none;
  counter-reset: section;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.app-benefit ul li {
  position: relative;
  counter-increment: section;
  margin-top: 20px;
  width: 30%;
  margin-top: 57px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 13px;
}
.app-benefit ul li::before {
  content: "" counter(section, decimal-leading-zero) "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #BE202F;
  position: absolute;
  text-align: center;
  color: white;
  top: -50px;
  padding-top: 3px;
  font-weight: bold;
  font-size: 30px;
  font-family: Rift, sans-serif;
}/*# sourceMappingURL=home.css.map */