@media screen and (max-width: 800px) {
    .summary-form {
        width: 100% !important;
    }
    .form-register {
        .input-field {
            input {
                padding: 20px !important;
            }
        }
    } 
}
.form-register {
    .input-field {
        input {
            padding-left: 10px;
        }
    }
} 