.slide-in-bottom {
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.lg-has-youtube {
  width: 90% !important;
  height: 90% !important;
}

@media (max-width: 567px) {
  .section-2-summary ul li {
    font-size: 12px;
  }
}
@media (max-width: 992px) {
  .grid-section-8 {
    overflow: hidden;
  }
  .section-1 {
    overflow: hidden;
  }
  .text-banner-wrapper {
    background: url(/images/text-banner2.png);
    z-index: 1;
    pointer-events: none;
    width: 40%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 20px;
    top: 70px;
  }
  .path-direction {
    fill: none;
    stroke-miterlimit: 5;
    stroke-width: 2;
    stroke-dasharray: 10;
    stroke-dashoffset: 0;
    animation: StrokeLine 6s infinite linear;
    stroke: #3f0066;
    will-change: stroke-dashoffset;
  }
  .name-building img {
    position: absolute;
    bottom: 44px;
    width: 100%;
    animation: mover 1s infinite alternate;
  }
  .name-building img:nth-child(2) {
    animation-delay: 1s;
  }
  .name-building img:nth-child(3) {
    animation-delay: 2s;
  }
  .name-building img:nth-child(4) {
    animation-delay: 3s;
  }
  .name-building img:nth-child(5) {
    animation-delay: 3.5s;
  }
  .overview-wrapper {
    position: relative;
  }
  .line-direction {
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
  }
  .btn-style-1 {
    font-size: 11px;
  }
  .title-american {
    font-size: 23px;
  }
  .title-american-2 {
    font-size: 14px;
  }
  p {
    font-size: 12px;
  }
  ul li {
    font-size: 15px;
  }
  .summary-banner-mobile {
    padding: 30px;
    text-align: justify;
    margin-bottom: 0px !important;
  }
  .header-top--white {
    display: none !important;
  }
  .section-1 img {
    max-width: 100%;
  }
  .section-2 {
    background-image: url(/images/overview-vandon.jpg?v=1.3);
    height: 800px;
    background-size: 100% 100%;
    background-position: end;
    background-repeat: no-repeat;
  }
  .section-2 .container-section-2 {
    padding: 25px;
  }
  .section-2 p {
    margin-bottom: 5px;
  }
  .section-3 {
    position: relative;
    z-index: 1;
    padding: 25px;
    background: var(--background-color);
  }
  .section-3 .vietnam-mobile {
    position: absolute;
    top: 10px;
    left: 0px;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    z-index: 0;
    pointer-events: none;
  }
  .section-3 .summary-vietnam {
    text-align: justify !important;
  }
  .section-3 .list-position {
    padding-left: 0px !important;
    position: relative;
  }
  .section-3 .list-position p {
    margin-bottom: 7px;
  }
  .section-3 .list-position img {
    width: 45px;
    margin-right: 10px;
    margin-bottom: 15px;
  }
  .section-3 .vietnam-direction {
    width: 100%;
    position: relative;
    z-index: 1;
  }
  .section-4 {
    background: var(--background-color);
  }
  .section-4 .title-american {
    font-size: 17px;
  }
  .section-4 .title-american {
    margin-bottom: 15px;
  }
  .section-4 .container-utilities {
    padding: 30px;
  }
  .section-4 .card-utilities img {
    width: 100%;
  }
  .section-4 .card-summary {
    margin-top: 20px;
  }
  .section-5 .container {
    padding: 0px;
  }
  .section-5 .card-department {
    position: relative;
  }
  .section-5 .card-department .description {
    width: 100%;
    background: var(--background-color);
    padding: 20px;
    padding-bottom: 0px;
    position: absolute;
    bottom: 0px;
  }
  .section-5 .card-department img {
    width: 100%;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    background: var(--background-color);
  }
  .section-5 .owl-dots {
    padding: 10px;
    margin-top: 0px !important;
    background: var(--background-color);
  }
  .section-5 .owl-dots .owl-dot {
    border: none;
    background: transparent;
    padding: 0px;
  }
  .section-5 .owl-dots .owl-dot span {
    width: 8px;
    height: 8px;
    margin: 1px 3px;
  }
  .section-5 .owl-dots .owl-dot span {
    background-color: rgba(229, 163, 61, 0.5019607843);
  }
  .section-5 .owl-dots .owl-dot.active span {
    background-color: #e5a33d;
  }
  .section-2-summary {
    color: white;
  }
  .section-6 {
    margin-top: 50px;
  }
  .section-6 .owl-stage-outer {
    padding-top: 5px;
  }
  .section-6 .ground-item {
    position: relative;
  }
  .section-6 .ground-item::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 75px;
    /* background-color: #33333365; */
    /* border-radius: 30px; */
    bottom: 0px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background: var(--background-color);
  }
  .section-6 .ground-item img {
    border-radius: 50px;
    padding: 30px;
    height: 285px;
    -o-object-fit: cover;
       object-fit: cover;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.47);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.47);
  }
  .section-6 .ground-item .description-summary {
    position: absolute;
    bottom: 0px;
    left: 35px;
    padding-right: 30px;
  }
  .section-6 .ground-item .description-summary .description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    min-height: 36px;
  }
  .section-6 .ground-item .description-summary h4 {
    margin-bottom: 0px;
  }
  .section-6 .ground-item .description-summary p {
    margin-bottom: 0px;
  }
  .section-8 .background-image-section-8 {
    background-image: url(/images/image-demo-8.jpeg);
    width: 100%;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
  }
  .section-8 .background-image-section-8 .reason-summary {
    width: 100% !important;
  }
  body {
    counter-reset: section;
  }
  .grid-section-8 {
    padding: 20px;
    background: var(--background-color);
  }
  .grid-section-8 .item-section-8 {
    margin-bottom: 15px;
    color: white;
    border-top: 2px solid #1affff;
    padding: 20px 20px 20px 80px;
    position: relative;
    background: var(--background-color);
  }
  .grid-section-8 .item-section-8::before {
    counter-increment: section;
    content: "0" counter(section) "";
    font-family: UTM-Americana;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1affff;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    position: absolute;
  }
  #partner-mobile .owl-nav button {
    border: none;
    background: transparent;
  }
  #partner-mobile .owl-stage-outer {
    height: 215px;
  }
  #partner-mobile .partner-box-mobile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  #partner-mobile .partner-box-mobile .partner-item {
    width: 45%;
    height: 100px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    padding: 15px;
    align-items: center;
    display: flex;
  }
  #partner-mobile .partner-box-mobile .partner-item:nth-child(2) {
    margin-left: 10px;
  }
  #partner-mobile .partner-box-mobile .partner-item:nth-child(4) {
    margin-left: 10px;
  }
  #partner-mobile .partner-box-mobile .partner-item img {
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .partner-box {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .section-9 {
    margin-top: 30px;
    background: var(--background-color);
  }
  .section-9 .time-box {
    padding: 15px;
  }
  .section-9 .title-news {
    padding: 30px;
  }
  .section-9 .news-item {
    width: 100%;
    position: relative;
    display: block;
    margin-bottom: 10px;
  }
  .section-9 .news-item .text-yellow {
    font-size: 12px;
  }
  .section-9 .news-item .time-box {
    position: absolute;
    right: 10px;
    bottom: 105px;
    color: white;
    background: var(--background-color);
  }
  .section-9 .news-item .time-box .day-time {
    font-size: 30px;
  }
  .section-9 .news-item .time-box .month-time {
    font-size: 18px;
  }
  .section-9 .news-item .title-news-item {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    min-height: 32px;
    font-size: 15px;
    margin-bottom: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .section-9 .news-item .description-news {
    background-color: #fcfcfc;
    padding: 12px 12px 12px 27px;
  }
  .section-9 .news-item img {
    width: 100%;
    height: calc(20% + 150px);
  }
  .section-9 .container-7 {
    padding: 15px;
  }
  .grid-section-news {
    margin-bottom: 40px;
  }
  .section-10 .grid-section-9 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding-top: 40px;
  }
  .section-10 .grid-section-9 .partner-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 120px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
  }
  .section-10 .grid-section-9 .partner-item img {
    width: 50%;
    height: 80%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .section-10 .grid-section-9 .partner-item:hover {
    transform: scale(1.05);
  }
}
@media (max-width: 576px) {
  .section-9 .news-item .time-box {
    bottom: 95px;
    padding: 5px;
    right: 20px;
  }
  .section-9 .news-item .time-box .day-time {
    font-size: 12px;
  }
  .section-9 .news-item .time-box .month-time {
    font-size: 12px;
  }
}
@media (min-width: 767px) and (max-width: 1200px) {
  .padding-section-3 {
    padding-top: 60px !important;
  }
  .to-left {
    transform: unset !important;
  }
  .padding-section-2 {
    padding-top: 60px !important;
  }
  .padding-section {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
  }
  p {
    font-size: 15px;
  }
  .card-utilities img {
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .blink-2 {
    animation: blink-2 3s infinite both;
    animation-delay: 2s;
  }
  .blink-3 {
    animation: blink-2 4s infinite both;
  }
  footer.desktop {
    display: none !important;
  }
  .effect {
    transition-delay: 5s;
    opacity: 1;
  }
  .to-top {
    transform: unset !important;
  }
  .to-bottom {
    transform: unset !important;
  }
  .section-8 .background-image-section-8.padding-section {
    padding-top: 60px !important;
  }
  .section-8 .container-7 {
    transform: unset !important;
  }
}
@media (min-width: 992px) {
  .line-neon,
  .line-neon-2 {
    position: absolute;
    top: 3px;
    left: 5px;
    pointer-events: none;
  }
  .line-neon svg,
  .line-neon-2 svg {
    position: absolute;
  }
  .test-path {
    stroke-dasharray: 833;
    stroke-dashoffset: 1800;
    animation: dashtest 4.5s linear infinite;
  }
  .blink-2 {
    animation: blink-2 3s infinite both;
    animation-delay: 2s;
  }
  .blink-3 {
    animation: blink-2 4s infinite both;
  }
  .to-bottom {
    transform: translateY(-100%);
    transition: 0.5s;
  }
  .to-top {
    transform: translateY(100%);
    transition: 0.5s;
  }
  .to-right {
    transform: translateX(10%);
    transition: 2s;
  }
  .to-left {
    transform: translateX(-10%);
    transition: 2s;
  }
  .play-video-home {
    position: absolute;
    bottom: 60px;
    left: 50%;
    animation: slide-in-bottom 2s;
  }
  .play-video-home .hover {
    display: none;
    transform: translate(-30px, 30px);
  }
  .play-video-home:hover {
    cursor: pointer;
  }
  .play-video-home:hover .hover {
    display: block;
  }
  .play-video-home:hover .un-hover {
    display: none;
  }
  .play-video-home .up-down {
    animation: mover 1s infinite alternate;
  }
  .light-box {
    -webkit-mask-image: url(/images/light.png);
            mask-image: url(/images/light.png);
    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
    -webkit-mask-size: auto;
    position: absolute;
    left: 5%;
    z-index: 1;
    top: 200px;
  }
  .light-box:after {
    content: "";
    display: inline-block;
    width: 70%;
    height: 50%;
    position: absolute;
    left: -500px;
    top: 0;
    background: linear-gradient(to top, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0) 1%, #fff 50%, hsla(0, 0%, 100%, 0) 100%);
    animation: c 3s infinite;
    animation-duration: 3s;
    animation-name: c;
    mix-blend-mode: screen;
    z-index: 0;
    pointer-events: none;
  }
  .gradient-wrapper {
    display: none;
    animation: mover 1s infinite alternate;
  }
  .gradient-box {
    background: var(--background-color);
    width: -moz-fit-content;
    width: fit-content;
    color: #1affff;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
  }
  .gradient-box span {
    font-family: UTM-Americana;
  }
  .gradient-wrapper-oasis {
    position: absolute;
    left: 58%;
    top: 37%;
  }
  .gradient-wrapper-harmony {
    position: absolute;
    left: 64%;
    top: 27%;
  }
  .gradient-wrapper-liberty {
    position: absolute;
    left: 71%;
    top: 20%;
  }
  .gradient-wrapper-victory {
    position: absolute;
    left: 61%;
    top: 47%;
  }
  .gradient-wrapper-heritage {
    position: absolute;
    left: 76%;
    top: 39%;
  }
  .container-utilities {
    max-width: 900px;
    margin: auto;
  }
  .path-direction-box {
    position: absolute;
    z-index: 1;
    top: 254px;
    width: 333px;
    left: 148px;
  }
  .path-direction {
    fill: none;
    stroke-miterlimit: 5;
    stroke-width: 2;
    stroke-dasharray: 10;
    stroke-dashoffset: 0;
    animation: StrokeLine 6s infinite linear;
    stroke: #3f0066;
    will-change: stroke-dashoffset;
  }
  .overview-wrapper.active {
    transition-delay: 0.7s;
  }
  .overview-wrapper.active .title-american {
    transition: 2s;
    transform: unset;
    opacity: 1;
  }
  .overview-wrapper.active .section-2-summary {
    transition: 2s;
    transform: unset;
    opacity: 1;
  }
  .position-wrapper.active .to-bottom,
  .position-wrapper.active .to-right,
  .position-wrapper.active .to-top,
  .section-4.active .to-bottom,
  .section-4.active .to-right,
  .section-4.active .to-top,
  .section-5.active .to-bottom,
  .section-5.active .to-right,
  .section-5.active .to-top,
  .section-8.active .to-bottom,
  .section-8.active .to-right,
  .section-8.active .to-top {
    transition: 2s;
    transform: unset;
    opacity: 1;
  }
  .text-banner-box {
    position: absolute;
    width: 610px;
    height: 217px;
    left: 5%;
    top: 190px;
  }
  .shine {
    background-image: url(/images/shine.png);
    width: 200px;
    height: 200px;
    background-size: cover;
    position: absolute;
    left: 240px;
    z-index: 1;
    top: -80px;
    mix-blend-mode: screen;
  }
  .shine-2 {
    background-image: url(/images/shine.png);
    width: 200px;
    height: 200px;
    background-size: cover;
    position: absolute;
    left: 284px;
    z-index: 1;
    top: 10px;
    mix-blend-mode: screen;
  }
  .text-banner-wrapper {
    background: url(/images/text-banner2.png);
    background-size: 100%;
    position: absolute;
    z-index: 1;
    pointer-events: none;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
  }
  .summary-banner {
    position: absolute;
    left: 5%;
    z-index: 1;
    top: 400px;
    width: 610px;
    text-align: justify;
  }
  .owl-carousel {
    position: relative;
  }
  .owl-nav .owl-prev {
    position: absolute;
    top: 45%;
    left: 50px;
    background-color: transparent !important;
    border: none;
    outline: none;
  }
  .owl-nav .owl-prev span {
    color: #cccccc;
    font-size: 50px;
  }
  .owl-nav .owl-next {
    position: absolute;
    top: 45%;
    right: 50px;
    background-color: transparent !important;
    border: none;
    outline: none;
  }
  .owl-nav .owl-next span {
    color: #cccccc;
    font-size: 50px;
  }
  .section .card-utilities {
    height: 415px;
  }
  .section .card-utilities img {
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .padding-section {
    padding-top: 130px;
  }
  .padding-section-2 {
    padding-top: 130px;
  }
  .padding-section-3 {
    padding-top: 130px;
  }
  .padding-section-6 {
    padding-top: 130px;
  }
  .section-1 img {
    width: 100vw;
    height: calc(100% - 100px) !important;
    -o-object-fit: cover;
       object-fit: cover;
    margin-top: 100px;
  }
  .section-2 {
    position: relative;
    background-image: url("/images/muc-23.png");
    background-size: 100% 100%;
  }
  .container-section-2 {
    margin: auto;
    max-width: 1130px;
  }
  .container-section-2 .section-2-summary {
    padding-top: 20px;
  }
  .container-section-2 .section-2-summary p {
    font-size: 13px;
    color: white;
  }
  .container-section-2 .section-2-summary ul li {
    color: white;
  }
  .section-3 {
    background: rgb(62, 0, 118);
    background: var(--background-color);
    position: relative;
  }
  .section-3 .summary-vietnam {
    width: 95%;
    margin: auto;
    font-size: 13px;
    margin-top: 5px;
    z-index: 1;
  }
  .section-3 .vietnam {
    background-repeat: no-repeat;
    width: 50%;
    background-size: contain;
    position: absolute;
    top: 113px;
    left: 0px;
    z-index: 0;
    pointer-events: none;
  }
  .section-3 .vietnam-direction {
    position: absolute;
    right: 0px;
    width: 41%;
    left: 71px;
    top: 260px;
    height: auto;
  }
  .section-3 .list-position {
    margin-top: 10px;
  }
  .section-3 .position-box {
    margin-bottom: 7px;
  }
  .section-3 .position-box p {
    font-size: 12px;
    margin-bottom: 0px;
  }
  .section-3 .icon {
    width: 40px;
    height: 40px;
    margin-right: 27px;
  }
  .section-4 {
    background: var(--background-color), url(/images/image-background-4.jpeg);
    background-blend-mode: lighten;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    position: relative;
  }
  .section-4 .title-utilities {
    font-size: 20px;
    width: 85%;
    margin: auto;
    height: 20px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .section-4 .summary-utilities {
    margin-top: 35px;
  }
  .section-5 {
    background: var(--background-color), url(/images/image-background-3.jpeg);
    background-blend-mode: lighten;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    position: relative;
  }
  .section-5 .card-department .left {
    width: 40%;
    margin-top: 80px;
  }
  .section-5 .card-department .left .button-box {
    margin-top: 50px;
  }
  .section-5 .card-department .left .summary {
    margin-top: 15px;
  }
  .section-5 .card-department .left .summary p {
    margin-bottom: 5px;
  }
  .section-5 .card-department .right {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .section-5 .card-department .right img {
    width: 80%;
    background: linear-gradient(180deg, #142f6b -10.65%, rgba(138, 66, 255, 0.15) 110.8%);
    filter: drop-shadow(0px 4px 9px rgba(0, 0, 0, 0.2));
    border-radius: 8px;
  }
  .section-5 .owl-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
  }
  .section-5 .owl-dots .owl-dot {
    margin-left: 10px;
    padding: 0;
    border: none;
    background-color: transparent;
  }
  .section-5 .owl-dots .owl-dot span {
    background-color: #e5a33d;
  }
  .section-5 .owl-dots .owl-dot:focus {
    outline: none;
  }
  .section-5 .owl-dots .owl-dot:hover span {
    background-color: #e5a33d !important;
  }
  .section-5 .owl-dots .active span {
    background-color: #e5a33d !important;
    width: 15px;
    height: 15px;
    transition: width 0.2s ease;
  }
  .section-5 .owl-nav .owl-prev {
    left: -50px;
  }
  .section-5 .owl-nav .owl-prev span {
    color: #cccccc;
    font-size: 30px;
  }
  .section-5 .owl-nav .owl-next span {
    color: #cccccc;
    font-size: 30px;
  }
  .section-5 .owl-nav .owl-next {
    right: -50px;
  }
  .container-6 {
    max-width: 100%;
  }
  .container-6 #ground-box {
    margin-top: 10px;
  }
  .container-6 .owl-stage-outer {
    padding: 5px;
  }
  .container-6 .owl-item {
    transition: 0.3s;
  }
  .container-6 .owl-item .ground-item {
    transition: 0.3s;
    border-radius: 32px;
    transform: scale(0.7);
    height: 60vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .container-6 .owl-item .ground-item::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 75px;
    /* background-color: #33333365; */
    /* border-radius: 30px; */
    bottom: 0px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background: var(--background-color);
  }
  .container-6 .owl-item .ground-item img {
    border-radius: 32px;
    height: 100%;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.47);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.47);
  }
  .container-6 .owl-item .ground-item .description-summary {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
  .container-6 .owl-item .ground-item .description-summary .title {
    font-size: 36px;
  }
  .container-6 .owl-item .ground-item .description-summary .description {
    font-size: 24px;
  }
  .container-6 .owl-item.center .ground-item {
    transform: scale(1);
    position: relative;
  }
  .section-7 {
    background: var(--background-color);
  }
  .container-7 {
    max-width: 1020px;
    margin: auto;
  }
  .item1,
  .item2,
  .item3,
  .item4,
  .item5 {
    display: block;
  }
  .item1 img,
  .item2 img,
  .item3 img,
  .item4 img,
  .item5 img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .item1:hover,
  .item2:hover,
  .item3:hover,
  .item4:hover,
  .item5:hover {
    cursor: pointer;
  }
  .item1 {
    grid-area: item1;
  }
  .item2 {
    grid-area: item2;
  }
  .item3 {
    grid-area: item3;
  }
  .item4 {
    grid-area: item4;
  }
  .item5 {
    grid-area: item5;
  }
  .grid-container {
    display: grid;
    grid-template-areas: "item1 item2 item3" "item4 item4 item5";
    gap: 10px;
    padding: 10px;
  }
  .unique_value_new {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    margin-top: 30px;
  }
  .unique_value_new .grid-item {
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    padding: 20px;
    height: 200px;
    color: white;
    border-color: #1effff;
    transition: 0.3s;
  }
  .unique_value_new .grid-item:hover {
    box-shadow: inset 4px 0px 48px #170440;
  }
  .unique_value_new .grid-item p {
    font-family: UTM-Americana;
    margin-bottom: 50px;
    position: relative;
    color: #1affff;
  }
  .unique_value_new .grid-item p::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 35px;
    background-color: #1effff;
    bottom: -40px;
    left: 20px;
  }
  .unique_value_new .grid-item span {
    font-size: 14px;
  }
  .unique_value_new .grid-item .big-number {
    font-size: 70px;
    font-weight: 500;
    line-height: 60px;
  }
  .unique_value_new .grid-item:first-child {
    border-width: 1px 1px 0px 0px;
    border-style: solid;
  }
  .unique_value_new .grid-item:nth-child(2) {
    padding: 0px;
  }
  .unique_value_new .grid-item:nth-child(2) img {
    width: 100%;
    height: 100%;
  }
  .unique_value_new .grid-item:nth-child(4) {
    border-width: 1px 1px 0px 0px;
    border-style: solid;
  }
  .unique_value_new .grid-item:nth-child(5) {
    border-width: 1px 0px 1px 0px;
    border-style: solid;
  }
  .unique_value_new .grid-item:nth-child(5) p {
    font-family: UTM-Americana;
    margin-top: 45px;
    margin-bottom: 0px;
    position: relative;
  }
  .unique_value_new .grid-item:nth-child(5) p::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 35px;
    bottom: 60px;
    left: 20px;
  }
  .unique_value_new .grid-item:nth-child(3) {
    border-width: 1px 0px 0px 1px;
    border-style: solid;
  }
  .unique_value_new .grid-item:nth-child(6) {
    border-width: 1px 0px 0px 1px;
    border-style: solid;
  }
  .section-8 {
    background: var(--background-color);
    counter-reset: section;
  }
  .section-8 .background-image-section-8 {
    background-image: url(/images/image-demo-8.jpeg);
    width: 100%;
    height: 40%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .section-8 .grid-section-8 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-top: 30px;
  }
  .section-8 .item-section-8 {
    position: relative;
    border: 2px solid #db801a;
    height: 25vh;
    max-height: 250px;
    background: var(--background-color);
    /* Color/1 */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  }
  .section-8 .item-section-8 .content {
    opacity: 0;
    height: 0px;
    transition: 0.3s;
    color: white;
    padding: 70px 15px 15px 15px;
    font-size: 11px;
    text-align: justify;
  }
  .section-8 .item-section-8::before {
    position: absolute;
    counter-increment: section;
    content: "0" counter(section);
    font-family: UTM-Americana;
    font-size: 96px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #db801a;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
  }
  .section-8 .item-section-8:hover {
    cursor: pointer;
  }
  .section-8 .item-section-8:hover .content {
    opacity: 1;
    height: initial;
  }
  .section-8 .item-section-8:hover::before {
    font-size: 60px;
    top: 30px;
  }
  .section-10 .partner-box {
    margin-top: 80px;
  }
  .section-10 .grid-section-9 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    padding-top: 40px;
  }
  .section-10 .partner-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 120px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
  }
  .section-10 .partner-item img {
    width: 50%;
    height: 80%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .section-10 .partner-item:hover {
    transform: scale(1.05);
  }
  .news-box {
    background: var(--background-color), url(/images/background-image-last.png);
    background-size: 100% 100%;
    background-blend-mode: lighten;
  }
  .news-box .title-news {
    padding-bottom: 65px;
  }
  .news-box .time-box {
    padding: 12px;
  }
  .news-box .grid-section-news {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
  }
  .news-box .news-item {
    width: 100%;
    position: relative;
  }
  .news-box .news-item .text-yellow {
    font-size: 12px;
  }
  .news-box .news-item .time-box {
    position: absolute;
    right: 10px;
    bottom: 105px;
    color: white;
    background: var(--background-color);
  }
  .news-box .news-item .time-box .day-time {
    font-size: 20px;
  }
  .news-box .news-item .time-box .month-time {
    font-size: 14px;
  }
  .news-box .news-item .title-news-item {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    min-height: 32px;
    font-size: 15px;
    margin-bottom: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .news-box .news-item .description-news {
    background-color: #fcfcfc;
    padding: 12px 12px 12px 27px;
  }
  .news-box .news-item img {
    width: 100%;
    height: calc(20% + 150px);
  }
  .news-box .seemore-news {
    margin-top: 75px !important;
  }
  .contact-box {
    display: flex;
    margin-top: 130px;
    padding-bottom: 100px;
  }
  .contact-box .left {
    width: 50%;
  }
  .contact-box .left img {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .contact-box .right {
    margin-top: 50px;
    width: 50%;
    margin-left: 104px;
  }
  .contact-box .right .title-contact {
    margin-bottom: 48px;
    font-size: 24px;
  }
  .input-form {
    border: 2px solid #db801a;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    background: var(--background-color);
    height: 58px;
    width: 80%;
    margin-bottom: 27px;
    padding-left: 20px;
    color: white;
  }
  .input-form::-moz-placeholder {
    color: white;
  }
  .input-form::placeholder {
    color: white;
  }
  .textarea-form {
    padding-top: 15px;
    border: 2px solid #db801a;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    background: var(--background-color);
    height: 150px;
    width: 80%;
    margin-bottom: 27px;
    padding-left: 20px;
    color: white;
  }
  .textarea-form::-moz-placeholder {
    color: white;
  }
  .textarea-form::placeholder {
    color: white;
  }
}
@media (min-width: 1200px) {
  .effect {
    transition-delay: 5s;
    opacity: 0;
  }
}
@media (min-width: 1600px) {
  .gradient-wrapper-heritage {
    position: absolute;
    left: 70%;
    top: 45%;
  }
  .unique_value_new .grid-item {
    height: 250px;
  }
  .container-utilities {
    max-width: 1140px;
  }
  .text-banner-box {
    left: 10%;
    top: 240px;
  }
  .text-banner-wrapper {
    background-image: url(/images/text-banner2.png);
    position: absolute;
  }
  .section .card-utilities {
    height: 485px;
  }
  .section .card-utilities img {
    height: 410px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .summary-banner {
    position: absolute;
    left: 10%;
    z-index: 1;
    top: 450px;
  }
  .summary-vietnam {
    font-size: 16px;
    margin-top: 20px;
  }
  .item1,
  .item2,
  .item3,
  .item4,
  .item5 {
    display: block;
  }
  .item1 img,
  .item2 img,
  .item3 img,
  .item4 img,
  .item5 img {
    width: 100%;
    height: 240px;
    border-radius: 10px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .item1:hover,
  .item2:hover,
  .item3:hover,
  .item4:hover,
  .item5:hover {
    cursor: pointer;
  }
  .section-3 .vietnam-direction {
    top: 280px;
  }
  .section-3 .summary-vietnam {
    width: 83%;
  }
  .section-3 .list-position {
    margin-top: 28px;
  }
  .section-3 .position-box p {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .section-3 .icon {
    width: 45px;
    height: 45px;
    margin-right: 34px;
  }
  .section-3 .vietnam svg {
    margin-top: 50px;
  }
  .section .card-utilities img {
    height: 330px !important;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .container-section-2 .section-2-summary p {
    font-size: 16px;
  }
  .padding-section-3 {
    padding-top: 140px;
  }
  .padding-section-6 {
    padding-top: 160px;
  }
  .section-4 #utilities-box {
    padding-top: 20px;
  }
  .section-4 .title-utilities {
    font-size: 25px;
    height: 40px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .section-5 .card-department .left {
    margin-top: 120px;
  }
  .section-5 .card-department .left .button-box {
    margin-top: 100px;
  }
  .section-5 .card-department .left .summary {
    margin-top: 30px;
  }
  .section-5 .card-department .right img {
    width: 90%;
  }
  .container-6 #ground-box {
    margin-top: 40px;
  }
  .container-7 {
    max-width: 1320px;
    margin: auto;
  }
  .section-8 .item-section-8 .content {
    font-size: 14px;
  }
  .section-8 .content {
    font-size: 13px;
    text-align: justify;
  }
  .section-9 .grid-section-9 {
    padding-top: 80px;
  }
  .news-box .news-item {
    width: 100%;
  }
  .news-box .news-item .time-box {
    position: absolute;
    bottom: 170px;
  }
  .news-box .news-item .text-yellow {
    font-size: 13px;
  }
  .news-box .news-item .title-news-item {
    font-size: 18px;
  }
  .contact-box .right .title-contact {
    font-size: 33px;
  }
  .input-form {
    height: 78px;
  }
}
@media (min-width: 1900px) {
  .gradient-wrapper-oasis {
    position: absolute;
    left: 59%;
    top: 38%;
  }
  .gradient-wrapper-harmony {
    position: absolute;
    left: 66%;
    top: 32%;
  }
  .gradient-wrapper-liberty {
    position: absolute;
    left: 73%;
    top: 27%;
  }
  .gradient-wrapper-victory {
    position: absolute;
    left: 64%;
    top: 49%;
  }
  .gradient-wrapper-heritage {
    position: absolute;
    left: 78%;
    top: 41%;
  }
  .container-utilities {
    max-width: 1605px;
  }
  .path-direction-box {
    position: absolute;
    z-index: 1;
    top: 559px;
    width: 546px;
    left: 183px;
  }
  .summary-banner {
    position: absolute;
    left: 10%;
    z-index: 1;
  }
  .list-position {
    margin-top: 48px;
  }
  .container-section-2 {
    max-width: 1330px;
  }
  .container-section-2 .section-2-summary {
    padding-top: 60px;
  }
  .padding-section {
    padding-top: 190px;
  }
  .section .card-utilities {
    height: auto !important;
  }
  .section .card-utilities img {
    height: 480px !important;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section-3 .vietnam-direction {
    top: 380px;
    left: 100px;
  }
  .section-3 .vietnam svg {
    margin-top: 110px;
  }
  .section-3 .position-box p {
    font-size: 16px;
  }
  .section-3 .summary-vietnam {
    margin-top: 30px;
    font-size: 16px;
  }
  .section-4 .title-utilities {
    font-size: 33px;
  }
}
@keyframes b {
  0% {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(120%);
  }
}
@keyframes c {
  0% {
    transform: translateY(200%);
  }
  to {
    transform: translateY(-50%);
  }
}
@keyframes StrokeLine {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 100;
  }
}
@keyframes Rotate {
  50% {
    transform: rotate(180deg);
  }
}
@keyframes shine {
  0% {
    background-position: -9999px;
  }
  100% {
    background-position: 9999px;
  }
}
.do-animation {
  opacity: 1;
  transform: translateY(0px);
  animation: fadeLeft 0.7s cubic-bezier(0.45, 0, 0.55, 1);
}

@keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes slide-in-bottom {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(50);
    opacity: 1;
  }
}
@keyframes dashtest {
  0% {
    stroke-dashoffset: 1646.9689941406;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes blink-2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink-2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=home_.css.map */