.slide-in-bottom {
  -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.lg-has-youtube {
  width: 90% !important;
  height: 90% !important;
}
@media (max-width: 567px) {
  .section-2-summary {
    ul {
      li {
        font-size: 12px;
      }
    }
  }
}
@media (max-width: 992px) {
  .grid-section-8 {
    overflow: hidden;
  }
  .section-1 {
    overflow: hidden;
  }
  .text-banner-wrapper {
    background: url(/images/text-banner2.png);
    // mask-image: url(/images/text-banner2.png);
    // -webkit-mask-repeat: no-repeat;
    // mask-repeat: no-repeat;
    // -webkit-mask-size: 150px;
    z-index: 1;
    pointer-events: none;
    width: 40%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 20px;
    top: 70px;
    // &::after {
    //   content: "";
    //   display: inline-block;
    //   width: 70%;
    //   height: 50%;
    //   position: absolute;
    //   left: -100px;
    //   top: 0;
    //   background: -webkit-gradient(
    //     linear,
    //     left top,
    //     right top,
    //     from(rgba(255, 255, 255, 0)),
    //     color-stop(1%, rgba(255, 255, 255, 0)),
    //     color-stop(50%, #fff),
    //     to(rgba(255, 255, 255, 0))
    //   );
    //   background: linear-gradient(
    //     to right,
    //     rgba(255, 255, 255, 0) 0%,
    //     rgba(255, 255, 255, 0) 1%,
    //     #fff 50%,
    //     rgba(255, 255, 255, 0) 100%
    //   );
    //   -webkit-animation: b 3s infinite;
    //   animation: b 3s infinite;
    //   -webkit-animation-duration: 3s;
    //   animation-duration: 3s;
    //   -webkit-animation-name: b;
    //   animation-name: b;
    //   mix-blend-mode: screen;
    //   z-index: 0;
    //   pointer-events: none;
    // }
  }
  .path-direction {
    fill: none;
    stroke-miterlimit: 5;
    stroke-width: 2;
    stroke-dasharray: 10;
    stroke-dashoffset: 0;
    animation: StrokeLine 6s infinite linear;
    stroke: #3f0066;
    will-change: stroke-dashoffset;
  }
  .name-building {
    img {
      position: absolute;
      bottom: 44px;
      width: 100%;
      -webkit-animation: mover 1s infinite alternate;
      animation: mover 1s infinite alternate;
      &:nth-child(1) {
        // animation-delay: 0s;
      }
      &:nth-child(2) {
        animation-delay: 1s;
      }
      &:nth-child(3) {
        animation-delay: 2s;
      }
      &:nth-child(4) {
        animation-delay: 3s;
      }
      &:nth-child(5) {
        animation-delay: 3.5s;
      }
    }
  }
  .overview-wrapper {
    position: relative;
  }
  .line-direction {
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
  }
  .btn-style-1 {
    font-size: 11px;
  }
  .title-american {
    font-size: 23px;
  }
  .title-american-2 {
    font-size: 14px;
  }
  p {
    font-size: 12px;
  }
  ul {
    li {
      font-size: 15px;
    }
  }
  .summary-banner-mobile {
    padding: 30px;
    text-align: justify;
    margin-bottom: 0px !important;
  }
  .header-top--white {
    display: none !important;
  }
  // .text-banner-wrapper {
  //   display: none;
  // }
  .section-1 {
    img {
      max-width: 100%;
    }
  }
  .section-2 {
    background-image: url(/images/overview-vandon.jpg?v=1.3);
    height: 800px;
    background-size: 100% 100%;
    background-position: end;
    background-repeat: no-repeat;
    .container-section-2 {
      padding: 25px;
    }
    p {
      margin-bottom: 5px;
    }
  }
  .section-3 {
    position: relative;
    z-index: 1;
    .vietnam-mobile {
      position: absolute;
      top: 10px;
      left: 0px;
      width: 100%;
      height: 100%;
      object-fit: contain;
      z-index: 0;
      pointer-events: none;
    }
    padding: 25px;
    background: var(--background-color);
    .summary-vietnam {
      text-align: justify !important;
    }
    .list-position {
      padding-left: 0px !important;
      position: relative;
      p {
        margin-bottom: 7px;
      }
      img {
        width: 45px;
        margin-right: 10px;
        margin-bottom: 15px;
      }
    }
    .vietnam-direction {
      width: 100%;
      position: relative;
      z-index: 1;
    }
  }
  .section-4 {
    .title-american {
      font-size: 17px;
    }
    .title-american {
      // margin-top: 40px;
      margin-bottom: 15px;
    }
    background: var(--background-color);
    .container-utilities {
      padding: 30px;
    }
    .card-utilities {
      img {
        width: 100%;
      }
    }
    .card-summary {
      margin-top: 20px;
    }
  }
  .section-5 {
    .container {
      padding: 0px;
    }
    .card-department {
      position: relative;
      .description {
        width: 100%;
        background: var(--background-color);
        padding: 20px;
        padding-bottom: 0px;
        position: absolute;
        bottom: 0px;
      }
      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        background: var(--background-color);
      }
    }
    .owl-dots {
      padding: 10px;
      margin-top: 0px !important;
      background: var(--background-color);
      .owl-dot {
        border: none;
        background: transparent;
        padding: 0px;
        span {
          width: 8px;
          height: 8px;
          margin: 1px 3px;
        }
      }
      .owl-dot {
        span {
          background-color: #e5a33d80;
        }
      }
      .owl-dot.active {
        span {
          background-color: #e5a33d;
        }
      }
    }
  }
  .section-2-summary {
    color: white;
  }
  .section-6 {
    margin-top: 50px;
    .owl-stage-outer {
      padding-top: 5px;
    }
    .ground-item {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 75px;
        /* background-color: #33333365; */
        /* border-radius: 30px; */
        bottom: 0px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        background: var(--background-color);
      }
      img {
        border-radius: 50px;
        padding: 30px;
        height: 285px;
        object-fit: cover;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.47);
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.47);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.47);
      }
      .description-summary {
        position: absolute;
        bottom: 0px;
        left: 35px;
        padding-right: 30px;
        .description {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
          min-height: 36px;
        }
        h4 {
          margin-bottom: 0px;
        }
        p {
          margin-bottom: 0px;
        }
      }
    }
  }
  .section-8 .background-image-section-8 {
    background-image: url(/images/image-demo-8.jpeg);
    width: 100%;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    .reason-summary {
      width: 100% !important;
    }
    // margin-top: 40px;
  }
  body {
    counter-reset: section;
  }
  .grid-section-8 {
    padding: 20px;
    background: var(--background-color);

    .item-section-8 {
      margin-bottom: 15px;
      color: white;
      border-top: 2px solid #1affff;
      padding: 20px 20px 20px 80px;
      position: relative;
      background: var(--background-color);
      &::before {
        counter-increment: section;
        content: "0" counter(section) "";
        font-family: UTM-Americana;
        font-size: 30px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #1affff;
        // width: 100%;
        // height: 100%;
        top: 50%;
        transform: translateY(-50%);
        left: 20px;
        position: absolute;
      }
    }
  }
  #partner-mobile {
    .owl-nav {
      button {
        border: none;
        background: transparent;
      }
    }

    .owl-stage-outer {
      height: 215px;
    }
    .partner-box-mobile {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .partner-item {
        width: 45%;
        height: 100px;
        margin-bottom: 10px;
        &:nth-child(2) {
          margin-left: 10px;
        }
        &:nth-child(4) {
          margin-left: 10px;
        }
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
        padding: 15px;
        align-items: center;
        display: flex;
        img {
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
  .partner-box {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .section-9 {
    .time-box {
      padding: 15px;
    }
    // padding: 10px;
    margin-top: 30px;
    background: var(--background-color);

    .title-news {
      padding: 30px;
    }
    .news-item {
      width: 100%;
      position: relative;
      display: block;
      margin-bottom: 10px;
      .text-yellow {
        font-size: 12px;
      }
      .time-box {
        position: absolute;
        right: 10px;
        bottom: 105px;
        color: white;
        background: var(--background-color);

        .day-time {
          font-size: 30px;
        }
        .month-time {
          font-size: 18px;
        }
      }
      .title-news-item {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        min-height: 32px;
        font-size: 15px;
        margin-bottom: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .description-news {
        background-color: #fcfcfc;
        padding: 12px 12px 12px 27px;
      }
      img {
        width: 100%;
        height: calc(20% + 150px);
      }
    }
    .container-7 {
      padding: 15px;
    }
  }
  .grid-section-news {
    margin-bottom: 40px;
  }
  .section-10 .grid-section-9 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding-top: 40px;
    .partner-item {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      height: 120px;
      img {
        width: 50%;
        height: 80%;
        object-fit: contain;
      }
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
      transition: 0.3s;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
@media (max-width: 576px) {
  .section-9 {
    .news-item {
      .time-box {
        bottom: 95px;
        padding: 5px;
        right: 20px;
        .day-time {
          font-size: 12px;
        }
        .month-time {
          font-size: 12px;
        }
      }
    }
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 767px) and (max-width: 1200px) {
  // .text-banner-wrapper {
  //   -webkit-mask-size: 280px;
  //   position: absolute;
  //   left: 55px;
  //   z-index: 1;
  //   top: 140px;
  // }
  .padding-section-3 {
    padding-top: 60px !important;
  }
  .to-left {
    transform: unset !important;
  }

  .padding-section-2 {
    padding-top: 60px !important;
  }
  .padding-section {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
  }
  // .section-2 {
  //   height: 1450px;
  // }
  p {
    font-size: 15px;
  }
  .card-utilities img {
    height: 200px;
    object-fit: cover;
  }
  .blink-2 {
    -webkit-animation: blink-2 3s infinite both;
    animation: blink-2 3s infinite both;
    animation-delay: 2s;
  }
  .blink-3 {
    -webkit-animation: blink-2 4s infinite both;
    animation: blink-2 4s infinite both;
  }
  // .to-bottom {
  //   -webkit-transform: translateY(-100%);
  //   transform: translateY(-100%);
  //   -webkit-transition: 0.5s;
  //   transition: 0.5s;
  // }
  // .to-top {
  //   -webkit-transform: translateY(100%);
  //   transform: translateY(100%);
  //   -webkit-transition: 0.5s;
  //   transition: 0.5s;
  // }
  // .to-right {
  //   -webkit-transform: translateX(100%);
  //   transform: translateX(10%);
  //   -webkit-transition: 2s;
  //   transition: 2s;
  // }
  // .to-left {
  //   -webkit-transform: translateX(-10%);
  //   transform: translateX(-10%);
  //   -webkit-transition: 2s;
  //   transition: 2s;
  // }
  footer.desktop {
    display: none !important;
  }
  .effect {
    -webkit-transition-delay: 5s;
    transition-delay: 5s;
    opacity: 1;
  }
  .to-top {
    transform: unset !important;
  }
  .to-bottom {
    transform: unset !important;
  }
  .section-8 {
    .background-image-section-8.padding-section {
      padding-top: 60px !important;
    }

    .container-7 {
      transform: unset !important;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .line-neon,
  .line-neon-2 {
    position: absolute;
    top: 3px;
    left: 5px;
    svg {
      position: absolute;
    }
    pointer-events: none;
  }

  .test-path {
    stroke-dasharray: 833;
    stroke-dashoffset: 1800;
    animation: dashtest 4.5s linear infinite;
  }
  .blink-2 {
    -webkit-animation: blink-2 3s infinite both;
    animation: blink-2 3s infinite both;
    animation-delay: 2s;
  }
  .blink-3 {
    -webkit-animation: blink-2 4s infinite both;
    animation: blink-2 4s infinite both;
  }
  .to-bottom {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  .to-top {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .to-right {
    -webkit-transform: translateX(100%);
    transform: translateX(10%);
    -webkit-transition: 2s;
    transition: 2s;
  }
  .to-left {
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
    -webkit-transition: 2s;
    transition: 2s;
  }
  .play-video-home {
    position: absolute;
    bottom: 60px;
    left: 50%;
    .hover {
      display: none;
      transform: translate(-30px, 30px);
    }
    // transform: translateX(-50%);
    &:hover {
      cursor: pointer;
      .hover {
        display: block;
      }
      .un-hover {
        display: none;
      }
    }
    animation: slide-in-bottom 2s;
    .up-down {
      animation: mover 1s infinite alternate;
    }
  }
  .light-box {
    mask-image: url(/images/light.png);
    mask-repeat: no-repeat;
    -webkit-mask-size: auto;
    position: absolute;
    left: 5%;
    z-index: 1;
    top: 200px;
    &:after {
      content: "";
      display: inline-block;
      width: 70%;
      height: 50%;
      position: absolute;
      left: -500px;
      top: 0;
      background: linear-gradient(
        to top,
        hsla(0deg, 0%, 100%, 0) 0%,
        hsla(0deg, 0%, 100%, 0) 1%,
        #fff 50%,
        hsla(0deg, 0%, 100%, 0) 100%
      );
      -webkit-animation: c 3s infinite;
      animation: c 3s infinite;
      animation-duration: 3s;
      animation-name: c;
      mix-blend-mode: screen;
      z-index: 0;
      pointer-events: none;
    }
  }
  .gradient-wrapper {
    display: none;
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
  }
  .gradient-box {
    background: var(--background-color);
    width: fit-content;
    color: #1affff;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
    span {
      font-family: UTM-Americana;
    }
  }
  .gradient-wrapper-oasis {
    position: absolute;
    left: 58%;
    top: 37%;
  }
  .gradient-wrapper-harmony {
    position: absolute;
    left: 64%;
    top: 27%;
  }
  .gradient-wrapper-liberty {
    position: absolute;
    left: 71%;
    top: 20%;
  }
  .gradient-wrapper-victory {
    position: absolute;
    left: 61%;
    top: 47%;
  }
  .gradient-wrapper-heritage {
    position: absolute;
    left: 76%;
    top: 39%;
  }
  .container-utilities {
    max-width: 900px;
    margin: auto;
  }
  .path-direction-box {
    position: absolute;
    z-index: 1;
    top: 254px;
    width: 333px;
    left: 148px;
  }
  .path-direction {
    fill: none;
    stroke-miterlimit: 5;
    stroke-width: 2;
    stroke-dasharray: 10;
    stroke-dashoffset: 0;
    animation: StrokeLine 6s infinite linear;
    stroke: #3f0066;
    will-change: stroke-dashoffset;
  }
  .rotate-logo {
    // animation: Rotate 6s infinite linear;
  }

  .overview-wrapper.active {
    -webkit-transition-delay: 0.7s;
    transition-delay: 0.7s;
    .title-american {
      -webkit-transition: 0.5s;
      transition: 2s;
      -webkit-transform: unset;
      transform: unset;
      opacity: 1;
    }
    .section-2-summary {
      -webkit-transition: 0.5s;
      transition: 2s;
      -webkit-transform: unset;
      transform: unset;
      opacity: 1;
    }
  }

  .position-wrapper.active,
  .section-4.active,
  .section-5.active,
  .section-8.active {
    .to-bottom,
    .to-right,
    .to-top {
      -webkit-transition: 0.5s;
      transition: 2s;
      -webkit-transform: unset;
      transform: unset;
      opacity: 1;
    }
  }
  .text-banner-box {
    position: absolute;
    width: 610px;
    height: 217px;
    left: 5%;
    top: 190px;
  }
  .shine {
    background-image: url(/images/shine.png);
    width: 200px;
    height: 200px;
    background-size: cover;
    position: absolute;
    left: 240px;
    z-index: 1;
    top: -80px;
    mix-blend-mode: screen;
  }
  .shine-2 {
    background-image: url(/images/shine.png);
    width: 200px;
    height: 200px;
    background-size: cover;
    position: absolute;
    left: 284px;
    z-index: 1;
    top: 10px;
    mix-blend-mode: screen;
  }
  .text-banner-wrapper {
    background: url(/images/text-banner2.png);
    // mask-repeat: no-repeat;
    // -webkit-mask-size: 610px;
    background-size: 100%;
    position: absolute;
    z-index: 1;
    pointer-events: none;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    // &:after {
    //   content: "";
    //   display: inline-block;
    //   width: 70%;
    //   height: 50%;
    //   position: absolute;
    //   left: -500px;
    //   top: 0;
    //   background: linear-gradient(
    //     to right,
    //     hsla(0deg, 0%, 100%, 0) 0%,
    //     hsla(0deg, 0%, 100%, 0) 1%,
    //     #fff 50%,
    //     hsla(0deg, 0%, 100%, 0) 100%
    //   );
    //   -webkit-animation: b 3s infinite;
    //   animation: b 3s infinite;
    //   animation-duration: 3s;
    //   animation-name: b;
    //   mix-blend-mode: screen;
    //   z-index: 0;
    //   pointer-events: none;
    // }
  }
  .summary-banner {
    position: absolute;
    left: 5%;
    z-index: 1;
    top: 400px;
    width: 610px;
    text-align: justify;
  }
  .owl-carousel {
    position: relative;
  }
  .owl-nav .owl-prev {
    position: absolute;
    top: 45%;
    left: 50px;
    background-color: transparent !important;
    border: none;
    outline: none;
  }
  .owl-nav .owl-prev span {
    color: #cccccc;
    font-size: 50px;
  }
  .owl-nav .owl-next {
    position: absolute;
    top: 45%;
    right: 50px;
    background-color: transparent !important;
    border: none;
    outline: none;
  }
  .owl-nav .owl-next span {
    color: #cccccc;
    font-size: 50px;
  }
  .section {
    // height: calc(100vh - 122px) !important;
    // padding-bottom: 122px;
    .card-utilities {
      height: 415px;
      img {
        height: 250px;
        object-fit: cover;
      }
    }
  }
  .padding-section {
    padding-top: 130px;
  }
  .padding-section-2 {
    padding-top: 130px;
  }
  .padding-section-3 {
    padding-top: 130px;
  }
  .padding-section-6 {
    padding-top: 130px;
  }
  .section-1 {
    img {
      width: 100vw;
      height: calc(100% - 100px) !important;
      object-fit: cover;
      margin-top: 100px;
    }
  }
  .section-2 {
    position: relative;
    background-image: url("/images/muc-23.png");
    background-size: 100% 100%;
  }
  .container-section-2 {
    margin: auto;
    max-width: 1130px;
    .section-2-summary {
      padding-top: 20px;
      p {
        font-size: 13px;
        color: white;
      }
      ul {
        li {
          color: white;
        }
      }
    }
  }
  .section-3 {
    background: rgb(62, 0, 118);
    background: var(--background-color);

    .summary-vietnam {
      width: 95%;
      margin: auto;
      font-size: 13px;
      margin-top: 5px;
      z-index: 1;
    }
    position: relative;

    .vietnam {
      // background-image: url(/images/vietnam2.png);
      background-repeat: no-repeat;
      width: 50%;
      // height: 100%;
      background-size: contain;
      position: absolute;
      top: 113px;
      left: 0px;
      z-index: 0;
      pointer-events: none;
      // background-
    }
    .vietnam-direction {
      position: absolute;
      // width: 100%;
      right: 0px;
      width: 41%;
      left: 71px;
      top: 260px;
      height: auto;
    }
    .list-position {
      margin-top: 10px;
    }
    .position-box {
      margin-bottom: 7px;
      p {
        font-size: 12px;
        margin-bottom: 0px;
      }
    }
    .icon {
      width: 40px;
      height: 40px;
      margin-right: 27px;
    }
  }
  .section-4 {
    background: var(--background-color), url(/images/image-background-4.jpeg);
    background-blend-mode: lighten;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    position: relative;
    .title-utilities {
      font-size: 20px;
      width: 85%;
      margin: auto;
      height: 20px;
      margin-top: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .summary-utilities {
      margin-top: 35px;
    }
  }
  .section-5 {
    background: var(--background-color), url(/images/image-background-3.jpeg);
    background-blend-mode: lighten;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    position: relative;
    .card-department {
      .left {
        width: 40%;
        margin-top: 80px;
        .button-box {
          margin-top: 50px;
        }
        .summary {
          margin-top: 15px;
          p {
            margin-bottom: 5px;
          }
        }
      }
      .right {
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 80%;
          background: linear-gradient(180deg, #142f6b -10.65%, rgba(138, 66, 255, 0.15) 110.8%);
          filter: drop-shadow(0px 4px 9px rgba(0, 0, 0, 0.2));
          border-radius: 8px;
        }
      }
    }
    .owl-dots {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 80px;
      .owl-dot {
        margin-left: 10px;
        padding: 0;
        border: none;
        background-color: transparent;
        span {
          background-color: #e5a33d;
        }
        &:focus {
          outline: none;
        }
        &:hover {
          span {
            background-color: #e5a33d !important;
          }
        }
      }
      .active {
        span {
          background-color: #e5a33d !important;
          width: 15px;
          height: 15px;
          transition: width 0.2s ease;
        }
      }
    }
    .owl-nav .owl-prev {
      left: -50px;
    }

    .owl-nav .owl-prev span {
      color: #cccccc;
      font-size: 30px;
    }
    .owl-nav .owl-next span {
      color: #cccccc;
      font-size: 30px;
    }
    .owl-nav .owl-next {
      right: -50px;
    }
  }
  .container-6 {
    max-width: 100%;
    #ground-box {
      margin-top: 10px;
    }
    .owl-stage-outer {
      padding: 5px;
    }
    .owl-item {
      transition: 0.3s;
      .ground-item {
        transition: 0.3s;
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 75px;
          /* background-color: #33333365; */
          /* border-radius: 30px; */
          bottom: 0px;
          border-bottom-left-radius: 30px;
          border-bottom-right-radius: 30px;
          background: var(--background-color);
        }
        border-radius: 32px;
        transform: scale(0.7);
        height: 60vh;
        object-fit: cover;
        img {
          border-radius: 32px;
          height: 100%;
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.47);
          -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.47);
          -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.47);
        }
        .description-summary {
          position: absolute;
          bottom: 20px;
          left: 20px;
          .title {
            font-size: 36px;
          }
          .description {
            font-size: 24px;
          }
        }
      }
    }
    .owl-item.center {
      .ground-item {
        // border-radius: 32px;
        transform: scale(1);
        position: relative;
      }
    }
  }
  .section-7 {
    background: var(--background-color);
  }
  .container-7 {
    max-width: 1020px;
    margin: auto;
  }
  .item1,
  .item2,
  .item3,
  .item4,
  .item5 {
    display: block;
    img {
      width: 100%;
      height: 200px;
      border-radius: 10px;
      object-fit: cover;
    }
    &:hover {
      cursor: pointer;
    }
  }
  .item1 {
    grid-area: item1;
  }
  .item2 {
    grid-area: item2;
  }
  .item3 {
    grid-area: item3;
  }
  .item4 {
    grid-area: item4;
  }
  .item5 {
    grid-area: item5;
  }
  .grid-container {
    display: grid;
    grid-template-areas:
      "item1 item2 item3"
      "item4 item4 item5";
    gap: 10px;
    // background-color: #2196F3;
    padding: 10px;
  }
  .unique_value_new {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // background-color: #2196f3;
    padding: 10px;
    margin-top: 30px;
    .grid-item {
      justify-content: center;
      display: flex;
      flex-direction: column;
      background-color: transparent;
      padding: 20px;
      // font-size: 30px;
      height: 200px;
      color: white;
      border-color: #1effff;
      transition: 0.3s;
      &:hover {
        box-shadow: inset 4px 0px 48px #170440;
      }
      p {
        font-family: UTM-Americana;
        margin-bottom: 50px;
        position: relative;
        color: #1affff;
        &::after {
          content: "";
          position: absolute;
          width: 2px;
          height: 35px;
          background-color: #1effff;
          bottom: -40px;
          left: 20px;
        }
      }
      span {
        font-size: 14px;
      }
      .big-number {
        font-size: 70px;
        font-weight: 500;
        line-height: 60px;
      }
      &:first-child {
        border-width: 1px 1px 0px 0px;
        border-style: solid;
      }
      &:nth-child(2) {
        padding: 0px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      &:nth-child(4) {
        border-width: 1px 1px 0px 0px;
        border-style: solid;
      }
      &:nth-child(5) {
        border-width: 1px 0px 1px 0px;
        border-style: solid;
        p {
          font-family: UTM-Americana;
          margin-top: 45px;
          margin-bottom: 0px;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            width: 2px;
            height: 35px;
            bottom: 60px;
            left: 20px;
          }
        }
      }
      &:nth-child(3) {
        border-width: 1px 0px 0px 1px;
        border-style: solid;
      }
      &:nth-child(6) {
        border-width: 1px 0px 0px 1px;
        border-style: solid;
      }
    }
  }
  .section-8 {
    background: var(--background-color);

    .background-image-section-8 {
      background-image: url(/images/image-demo-8.jpeg);
      width: 100%;
      height: 40%;
      background-size: cover;
      background-repeat: no-repeat;
    }
    counter-reset: section;

    .grid-section-8 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 20px;
      margin-top: 30px;
    }
    .item-section-8 {
      position: relative;
      border: 2px solid #db801a;
      // width: 100%;
      height: 25vh;
      max-height: 250px;
      background: var(--background-color);
      /* Color/1 */

      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
      .content {
        opacity: 0;
        height: 0px;
        transition: 0.3s;
        color: white;
        padding: 70px 15px 15px 15px;
        font-size: 11px;
        // font-size: 15px;
        text-align: justify;
      }
      &::before {
        position: absolute;
        counter-increment: section;
        content: "0" counter(section);
        font-family: UTM-Americana;
        font-size: 96px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #db801a;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.3s;
      }
      &:hover {
        cursor: pointer;
        .content {
          opacity: 1;
          height: initial;
        }
        &::before {
          // align-items: start;
          font-size: 60px;
          top: 30px;
        }
      }
    }
  }
  .section-9 {
  }
  .section-10 {
    .partner-box {
      margin-top: 80px;
    }
    .grid-section-9 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 20px;
      padding-top: 40px;
    }
    .partner-item {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      height: 120px;
      img {
        width: 50%;
        height: 80%;
        object-fit: contain;
      }
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
      transition: 0.3s;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
  .news-box {
    // margin-top: 150px;
    background: var(--background-color), url(/images/background-image-last.png);
    background-size: 100% 100%;
    background-blend-mode: lighten;
    .title-news {
      padding-bottom: 65px;
    }
    .time-box {
      padding: 12px;
    }
    .grid-section-news {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 25px;
      // margin-bottom: 40px;
    }
    .news-item {
      width: 100%;
      position: relative;
      .text-yellow {
        font-size: 12px;
      }
      .time-box {
        position: absolute;
        right: 10px;
        bottom: 105px;
        color: white;
        background: var(--background-color);
        .day-time {
          font-size: 20px;
        }
        .month-time {
          font-size: 14px;
        }
      }
      .title-news-item {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        min-height: 32px;
        font-size: 15px;
        margin-bottom: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .description-news {
        background-color: #fcfcfc;
        padding: 12px 12px 12px 27px;
      }
      img {
        width: 100%;
        height: calc(20% + 150px);
      }
    }
    .seemore-news {
      margin-top: 75px !important;
    }
  }
  .contact-box {
    display: flex;
    margin-top: 130px;
    padding-bottom: 100px;
    .left {
      width: 50%;
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
    .right {
      margin-top: 50px;
      width: 50%;
      margin-left: 104px;
      .title-contact {
        margin-bottom: 48px;
        font-size: 24px;
      }
    }
  }
  .input-form {
    border: 2px solid #db801a;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    background: var(--background-color);
    height: 58px;
    width: 80%;
    margin-bottom: 27px;
    padding-left: 20px;
    color: white;
    &::placeholder {
      color: white;
    }
  }
  .textarea-form {
    padding-top: 15px;
    border: 2px solid #db801a;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    background: var(--background-color);
    height: 150px;
    width: 80%;
    margin-bottom: 27px;
    padding-left: 20px;
    color: white;
    &::placeholder {
      color: white;
    }
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .effect {
    -webkit-transition-delay: 5s;
    transition-delay: 5s;
    opacity: 0;
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}
@media (min-width: 1600px) {
  .gradient-wrapper-heritage {
    position: absolute;
    left: 70%;
    top: 45%;
  }
  .unique_value_new {
    .grid-item {
      height: 250px;
    }
  }
  .container-utilities {
    max-width: 1140px;
  }
  .text-banner-box {
    left: 10%;
    top: 240px;
  }
  .text-banner-wrapper {
    background-image: url(/images/text-banner2.png);
    // -webkit-mask-size: 610px;
    position: absolute;
    // left: 10%;
    // z-index: 1;
    // top: 250px;
  }

  .section {
    // height: calc(100vh - 122px) !important;
    // padding-bottom: 122px;
    .card-utilities {
      height: 485px;
      img {
        height: 410px;
        object-fit: cover;
      }
    }
  }
  .summary-banner {
    position: absolute;
    left: 10%;
    z-index: 1;
    top: 450px;
    // width: 36%;
  }
  .summary-vietnam {
    font-size: 16px;
    margin-top: 20px;
  }
  .item1,
  .item2,
  .item3,
  .item4,
  .item5 {
    display: block;
    img {
      width: 100%;
      height: 240px;
      border-radius: 10px;
      object-fit: cover;
    }
    &:hover {
      cursor: pointer;
    }
  }
  .section-3 {
    .vietnam-direction {
      top: 280px;
      // left: 100px;
    }
    .summary-vietnam {
      width: 83%;
    }
    .list-position {
      margin-top: 28px;
    }
    .position-box {
      // margin-bottom: 7px;
      p {
        font-size: 14px;
        margin-bottom: 5px;
      }
    }
    .icon {
      width: 45px;
      height: 45px;
      margin-right: 34px;
    }
    .vietnam {
      svg {
        margin-top: 50px;
      }
    }
  }
  .section {
    // height: calc(100vh - 122px) !important;
    // padding-bottom: 122px;
    .card-utilities {
      // height: 530px !important;
      img {
        height: 330px !important;
        object-fit: cover;
      }
    }
  }
  .container-section-2 {
    .section-2-summary {
      p {
        font-size: 16px;
      }
    }
  }
  .padding-section-3 {
    padding-top: 140px;
  }
  .padding-section-6 {
    padding-top: 160px;
  }
  .section-4 {
    #utilities-box {
      padding-top: 20px;
    }
    .title-utilities {
      font-size: 25px;
      height: 40px;
      margin-top: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .section-5 {
    .card-department {
      .left {
        margin-top: 120px;
        .button-box {
          margin-top: 100px;
        }
        .summary {
          margin-top: 30px;
        }
      }
      .right {
        img {
          width: 90%;
        }
      }
    }
  }
  .section-7 {
    .grid-container {
      // margin-top: 100px;
    }
  }
  .container-6 {
    // max-width: 100%;
    #ground-box {
      margin-top: 40px;
    }
  }
  .container-7 {
    max-width: 1320px;
    margin: auto;
  }
  .section-8 {
    .item-section-8 {
      // height: 25vh;
      .content {
        font-size: 14px;
      }
    }
    .content {
      font-size: 13px;
      // font-size: 15px;
      text-align: justify;
    }
  }
  .section-9 {
    .grid-section-9 {
      padding-top: 80px;
    }
  }
  .news-box {
    .news-item {
      width: 100%;
      .time-box {
        position: absolute;
        bottom: 170px;
      }
      .text-yellow {
        font-size: 13px;
      }
      .title-news-item {
        font-size: 18px;
      }
    }
  }
  .contact-box {
    .right {
      .title-contact {
        font-size: 33px;
      }
    }
  }
  .input-form {
    height: 78px;
  }
}

@media (min-width: 1900px) {
  .gradient-wrapper-oasis {
    position: absolute;
    left: 59%;
    top: 38%;
  }
  .gradient-wrapper-harmony {
    position: absolute;
    left: 66%;
    top: 32%;
  }
  .gradient-wrapper-liberty {
    position: absolute;
    left: 73%;
    top: 27%;
  }
  .gradient-wrapper-victory {
    position: absolute;
    left: 64%;
    top: 49%;
  }
  .gradient-wrapper-heritage {
    position: absolute;
    left: 78%;
    top: 41%;
  }
  .container-utilities {
    max-width: 1605px;
  }
  .path-direction-box {
    position: absolute;
    z-index: 1;
    top: 559px;
    width: 546px;
    left: 183px;
  }
  .summary-banner {
    position: absolute;
    left: 10%;
    z-index: 1;
    // top: 45%;
    // width: 32%;
  }
  .list-position {
    margin-top: 48px;
  }
  .container-section-2 {
    max-width: 1330px;
    .section-2-summary {
      padding-top: 60px;
    }
  }
  .padding-section {
    padding-top: 190px;
  }
  .section {
    // height: calc(100vh - 122px) !important;
    // padding-bottom: 122px;
    .card-utilities {
      height: auto !important;
      img {
        height: 480px !important;
        object-fit: cover;
      }
    }
  }
  .section-3 {
    .vietnam-direction {
      top: 380px;
      left: 100px;
    }
    .vietnam {
      // background-size: auto 87%;
      // top: 13%;
      svg {
        margin-top: 110px;
      }
      // background-
    }
    .position-box {
      p {
        font-size: 16px;
      }
    }
    .summary-vietnam {
      margin-top: 30px;
      font-size: 16px;
    }
  }
  .section-4 {
    .title-utilities {
      font-size: 33px;
    }
  }
}
@-webkit-keyframes b {
  0% {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(120%);
  }
}
@keyframes b {
  0% {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(120%);
  }
}

@keyframes c {
  0% {
    transform: translateY(200%);
  }
  to {
    transform: translateY(-50%);
  }
}

@keyframes StrokeLine {
  0% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: 100;
  }
}

@keyframes Rotate {
  50% {
    transform: rotate(180deg);
  }
}

@keyframes shine {
  0% {
    background-position: -9999px;
  }
  100% {
    background-position: 9999px;
  }
}

@-webkit-keyframes mover {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.do-animation {
  opacity: 1;
  transform: translateY(0px);
  animation: fadeLeft 0.7s cubic-bezier(0.45, 0, 0.55, 1);
}

@keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(50);
    transform: translateY(50);
    opacity: 1;
  }
}

@keyframes dashtest {
  0% {
    stroke-dashoffset: 1646.968994140625;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes blink-2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink-2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink-3 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink-2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
