.menu {
  display: none;
}

.left-col .title-list {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 400;
}
.left-col .nav .nav-link {
  color: black;
  padding-left: 0;
}
.left-col .nav .active {
  background-color: transparent;
  color: #C73536;
  font-weight: 400;
}

.right-col .title-intro {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 400;
}
.right-col .card {
  border-left: none;
  border-right: none;
  padding: 10px 0 10px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.right-col .card .card-header {
  background-color: white;
  padding-left: 0;
  border: none;
}
.right-col .card .btn {
  padding-left: 0;
}
.right-col .card .btn:focus {
  box-shadow: none;
}
.right-col .card .subtract {
  display: none;
}
.right-col .card button[aria-expanded=true] {
  color: #C73536;
  text-decoration: none;
}
.right-col .card button[aria-expanded=true]:before {
  content: "-";
  width: 17px;
  height: 17px;
  background-color: #C73536;
  border-radius: 50%;
  padding: 0 0 3px 5px;
  line-height: 17px;
  font-size: 16px;
  color: white;
  position: absolute;
  right: 2px;
  z-index: 10;
}
.right-col .card .btn-link {
  color: black;
}
.right-col .card .btn-link:hover {
  color: #C73536;
  text-decoration: none;
}
.right-col .card .btn-link:focus {
  text-decoration: none;
}
.right-col .card .btn-link:after {
  content: "+";
  width: 19px;
  height: 19px;
  background-color: #F5F5F5;
  border-radius: 50%;
  padding: 2px 0 3px 5px;
  line-height: 17px;
  font-size: 20px;
  color: #ccc;
  position: absolute;
  right: 1px;
  top: 28px;
}
.right-col .card .card-body {
  background: #F8F8F8;
}

@media (max-width: 767px) {
  .container .tab-pane {
    padding: 10px 8px;
  }
  .title-list {
    display: none !important;
  }
  .nav {
    background-color: #eee;
    text-align: center;
    text-transform: uppercase;
  }
  .nav a {
    padding: 15px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .container .tab-pane {
    padding: 10px 8px;
  }
  .title-list {
    display: none !important;
  }
}/*# sourceMappingURL=hoidap.css.map */