@import '../../../../templates/default/css/colors';

.menu {
  display: none;
}

.left-col {
  .title-list {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 400;
  }
  .nav {
    .nav-link {
      color: black;
      padding-left: 0;
    }
    .active {
      background-color: transparent;
      color: $red;
      font-weight: 400;
    }
  }
}
.right-col {
  // .box-cal {
  //   position: relative;
  //   .plus {
  //     width: 17px;
  //     height: 17px;
  //     background-color: #F5F5F5;
  //     border-radius: 50%;
  //     padding: 0 0 3px 5px;
  //     line-height: 17px;
  //     font-size: 16px;
  //     color: #ccc;
  //     position: absolute;
  //     &:before {
  //       content: '-';
  //       width: 17px;
  //       height: 17px;
  //       background-color: $red;
  //       border-radius: 50%;
  //       padding: 0 0 3px 5px;
  //       line-height: 17px;
  //       font-size: 16px;
  //       color: white;
  //       position: absolute;
  //       left: 0;
  //     }
  //   }
  //   .subtract {
  //     width: 17px;
  //     height: 17px;
  //     background-color: $red;
  //     border-radius: 50%;
  //     padding: 0 0 3px 5px;
  //     line-height: 17px;
  //     font-size: 16px;
  //     color: white;
  //     position: absolute;
  //   }
  // }

  .title-intro {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 400;
  }
  .card {
    border-left: none;
    border-right: none;
    padding: 10px 0 10px 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    .card-header {
      background-color: white;
      padding-left: 0;
      border: none;
    }
    .btn {
      padding-left: 0;
      &:focus {
        box-shadow: none;
      }
    }
    .subtract {
      display: none;
    }
    button[aria-expanded=true] {
      color: $red;
      text-decoration: none;
      &:before {
        content: '-';
        width: 17px;
        height: 17px;
        background-color: $red;
        border-radius: 50%;
        padding: 0 0 3px 5px;
        line-height: 17px;
        font-size: 16px;
        color: white;
        position: absolute;
        right: 2px;
        z-index: 10;
      }
    }
    .btn-link {
      color: black;
      &:hover{
        color: $red;
        text-decoration: none;
      }
      &:focus {
        text-decoration: none;
      }

      &:after {
        content: '+';
        width: 19px;
        height: 19px;
        background-color: #F5F5F5;
        border-radius: 50%;
        padding: 2px 0 3px 5px;
        line-height: 17px;
        font-size: 20px;
        color: #ccc;
        position: absolute;
        right: 1px;
        top: 28px;
      }
    }
    .card-body {
      background: #F8F8F8;
    }
  }
}

@media (max-width: 767px) {
  .container {
    .tab-pane {
      padding: 10px 8px;

    }
  }
  .title-list {
    display: none !important;
  }
  .nav {
    background-color: #eee;
    text-align: center;
    text-transform: uppercase;
    a {
      padding: 15px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    .tab-pane {
      padding: 10px 8px;

    }
  }
  .title-list {
    display: none !important;
  }
  // .nav {
  //   background-color: #eee;
  //   text-align: center;
  //   text-transform: uppercase;
  //   a {
  //     padding: 15px;
  //   }
  // }
}