#cssmenu_content ul,
#cssmenu_content ul li,
#cssmenu_content ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#cssmenu_content ul {
  position: relative;
/*border-left: 1px solid #ccc;
border-right: 1px solid #ccc;*/
  /*float: left;*/
}
#cssmenu_content ul li {
  float: left;
  min-height: 1px;
  line-height: 1em;
  vertical-align: middle;
  position: relative;
}
#cssmenu_content ul li.hover,
#cssmenu_content ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}
#cssmenu_content ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 598;
  width: 100%;
}
#cssmenu_content ul ul li {
  float: none;
}
#cssmenu_content ul ul ul {
  top: 0px;
  right: 0;
}
#cssmenu_content ul li:hover > ul {
  visibility: visible;
}
#cssmenu_content ul ul {
  top: 0px;
  left: 100%;
}
#cssmenu_content ul li {
  float: none;
}
#cssmenu_content ul ul {
  margin-top: 0px;
}
#cssmenu_content ul ul li {
  font-weight: normal;
}
/* Custom CSS Styles */
#cssmenu_content {
  zoom: 1;
}
#cssmenu_content:before {
  content: '';
  display: block;
}
#cssmenu_content:after {
  content: '';
  display: table;
  clear: both;
}
#cssmenu_content a {
  display: block;
  padding: 10px 5px;
  /*color: #ffffff;*/
  /*text-decoration: none;*/
  /*text-transform: uppercase;*/
}
#cssmenu_content > ul {
  /*width: 200px;*/
}
#cssmenu_content ul ul {
  /*width: 200px;*/
}
#cssmenu_content > ul > li > a {
  /*border-right: 4px solid #1b9bff;*/
  /*color: #ffffff;*/
}
#cssmenu_content > ul > li > a > i{
  float: right;
}
#cssmenu_content > ul > li > a:hover {
/*  color: #000;
  background: #fff;*/
}
#cssmenu_content > ul > li.active a {
  background: #1b9bff;
}
#cssmenu_content > ul > li a:hover,
#cssmenu_content > ul > li:hover a {
/*  color: #000;
  background: #fff;*/
}
#cssmenu_content li {
  position: relative;
}
/*#cssmenu_content ul li.has-sub > a:after {
  content: '+';
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -6px;
}
#cssmenu_content ul ul li.first {
  -webkit-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0;
}
#cssmenu_content ul ul li.last {
  -webkit-border-radius: 0 0 3px 0;
  -moz-border-radius: 0 0 3px 0;
  border-radius: 0 0 3px 0;
  border-bottom: 0;
}*/
#cssmenu_content ul ul {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
#cssmenu_content ul ul {
    /* border: 1px solid #0082e7; */
    background: #fff;
    box-shadow: 0 0 3px 1px #eee;
}
#cssmenu_content ul ul a {
  /*font-size: 12px;*/
  /*color: #ffffff;*/
}
#cssmenu_content ul ul a:hover {
  /*color: #ffffff;*/
}
#cssmenu_content ul ul li {
  border-bottom: 1px solid #ccc;
}
#cssmenu_content ul ul li:hover > a {
/*  background: #4eb1ff;
  color: #ffffff;*/
}
#cssmenu_content.align-right > ul > li > a {
  border-left: 4px solid #1b9bff;
  border-right: none;
}
#cssmenu_content.align-right {
  float: right;
}
#cssmenu_content.align-right li {
  text-align: right;
}
#cssmenu_content.align-right ul li.has-sub > a:before {
  content: '+';
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -6px;
}
#cssmenu_content.align-right ul li.has-sub > a:after {
  content: none;
}
#cssmenu_content.align-right ul ul {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 598;
  width: 100%;
}
#cssmenu_content.align-right ul ul li.first {
  -webkit-border-radius: 3px 0 0 0;
  -moz-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0;
}
#cssmenu_content.align-right ul ul li.last {
  -webkit-border-radius: 0 0 0 3px;
  -moz-border-radius: 0 0 0 3px;
  border-radius: 0 0 0 3px;
}
#cssmenu_content.align-right ul ul {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
