#navigation-menu {
    display: none;
}
.mm-panel > .mm-list {
    margin-left: 0px !important;
}
.menu_box {
    padding: 0 !important ;
    margin: 0 ;
}
.header_menu a {
    display: block;
    background: #dd0917;
    height: 41px;
    width: 41px;
    border-radius: 5px;
    color: #E6E6E6;
    font-size: 2em;
    cursor: pointer;
}
.header_menu a i{
    margin: 5px;
}
.mm-list > li:not(.mm-subtitle):not(.mm-label):not(.mm-search):not(.mm-noresults):after {
    content: initial !important;
}
.menus-default_mobile, .sub-menu {
    background-color: white !important;
}
.mm-subopen, .mm-subclose {
    color: #BE202F !important
}
.mm-menu.mm-white .mm-list > li > a.mm-subopen:after, .mm-menu.mm-white .mm-list > li > a.mm-subclose:before {
    border-color: #BE202F !important;
}
.header_menu {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    line-height: 40px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 42px;
    height: 40px;
}
.member {
    background-color: #c73536;
    padding: 7px;
    padding-left: 5px;
    padding-top: -20px;
}
.member > p {
    color: white;
    padding-left: 10px;
    display: flex;
    align-items: center;
}
.row-item{
    padding-top: 0px !important;
}