.menu-product {
  position: relative;
  min-height: 400px;
}
.menu-product .level_0 {
  border-bottom: 1px solid #E5E5E5;
  cursor: pointer;
}
.menu-product .level_0:first-child {
  padding-top: 0 !important;
}
.menu-product .level_0:first-child i {
  display: none;
}
.menu-product .level_0 a {
  display: block;
}
.menu-product .level_0 .wrapper_children_level0 {
  visibility: hidden; /* hides sub-menu */
  opacity: 0;
  min-height: 400px;
  position: absolute;
  top: 0;
  transition: all 0.3s ease-in-out 0s;
  transform: translateX(-3em);
  width: 200px;
  right: -200px;
  background: #fff;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 20;
  font-weight: 400 !important;
  border: none;
  border-style: solid;
  border-color: rgb(221, 221, 221) rgb(221, 221, 221) rgb(221, 221, 221) rgb(225, 225, 225);
  border-width: 1px 1px 1px 0px;
  box-shadow: rgba(0, 0, 0, 0.06) -2px 0px 8px 0px;
}
.menu-product .level_0 .wrapper_children_level0 .level_1 {
  z-index: 100;
  line-height: 47px;
  padding: 10px;
  cursor: pointer;
}
.menu-product .level_0 .wrapper_children_level0 .level_1:hover a {
  color: #0056b3;
}
.menu-product .level_0 .wrapper_children_level0 .level_1 a {
  color: #000;
  text-decoration: none;
  font-weight: 400;
  line-height: 25px;
  font-size: 14px;
  width: 100%;
  display: block;
}
.menu-product .level_0 .wrapper_children_level0 .level_1 .wrapper_children_level1 {
  padding: 0;
  margin: 0;
  list-style: none;
}
.menu-product .level_0 .wrapper_children_level0 .level_1 .wrapper_children_level1 a {
  line-height: 25px;
  color: #999;
}
.menu-product .level_0 .wrapper_children_level0 .level_1 .wrapper_children_level1 a:hover {
  color: #0056b3;
}
.menu-product .level_0 .wrapper_children_level0 .last-item {
  margin-bottom: 20px;
}
.menu-product .level_0:hover {
  color: #0056b3;
}
.menu-product .level_0:hover .wrapper_children_level0 {
  visibility: visible; /* hides sub-menu */
  opacity: 1;
  transform: translateX(0);
  transition: all 0.3s ease-in-out 0s;
}
.menu-product .level_0:hover .lv_0 {
  color: #0056b3;
}
.menu-product .level_0 .lv_0 {
  display: flex;
  align-items: center;
  width: 100%;
  color: #333333;
  text-decoration: none;
  font-size: 14px;
  max-height: 30px;
}
.menu-product .level_0 .lv_0 i {
  position: absolute;
  right: 15px;
  margin-top: 15px;
}
.menu-product .truncate-summary-cat {
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menu-product {
  margin-bottom: 0px !important;
}

@media (max-width: 1024px) {
  .menu-product .level_0 {
    padding: 0 10px;
  }
  .menu-product .level_0 .wrapper_children_level0 {
    left: 218px;
    width: 720px;
  }
}/*# sourceMappingURL=menu.css.map */