.menu-product-mobile {
  margin: 0;
  padding: 40px 0 0 0;
  list-style: none;
}
.menu-product-mobile .level_0 {
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.menu-product-mobile .level_0:hover, .menu-product-mobile .level_0:focus {
  background: #700b0b;
}
.menu-product-mobile .level_0 .lv_0 {
  padding: 10px 20px;
  font-size: 16px;
  color: #000;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  min-height: 43px;
}
.menu-product-mobile .level_0 .drop {
  display: inline-block;
  width: 50px;
  text-align: center;
  color: #000;
  border: none;
  background: none;
  outline: none;
  position: absolute;
  right: 0;
  min-height: 43px;
  top: 0;
}
.menu-product-mobile .level_0 .drop i {
  font-weight: bold;
}
.menu-product-mobile .level_0 .drop[aria-expanded=true] .fa-angle-down {
  transform: rotate(180deg);
  transition: all 0.5s;
}
.menu-product-mobile .level_0 .dropdown-menu {
  position: relative;
  top: 0;
  height: auto;
  box-shadow: none;
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
  border-radius: 0;
  transition: all 0.5s;
}
.menu-product-mobile .level_0 .dropdown-menu li {
  padding-left: 30px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.menu-product-mobile .level_0 .dropdown-menu li:last-child .link {
  border-bottom: none;
}
.menu-product-mobile .level_0 .dropdown-menu li:last-child .link2 {
  border-bottom: none;
}
.menu-product-mobile .level_0 .dropdown-menu li .link {
  font-size: 16px;
  padding: 10px 50px 10px 0;
  font-weight: normal;
  color: #000;
  border-bottom: 1px solid #ccc;
  white-space: normal;
  width: 100%;
}
.menu-product-mobile .level_0 .dropdown-menu li .link2 {
  font-size: 16px;
  padding: 10px 20px 10px 0;
  font-weight: normal;
  color: #000;
  border-bottom: 1px solid #ccc;
  white-space: normal;
  width: 100%;
}
.menu-product-mobile .level_2:last-child a {
  border-bottom: 1px solid #ccc !important;
}
.menu-product-mobile .level_0:last-child ul .level_1:last-child .link {
  border-bottom: 1px solid #ccc !important;
}
.menu-product-mobile .level_0:last-child ul .level_1:last-child .ul .level_2:last-child a {
  border-bottom: none !important;
}/*# sourceMappingURL=mobile.css.map */