
.menu-product-mobile {
  margin: 0;
  padding: 40px 0 0 0;
  list-style: none;
  .level_0 {
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    &:hover, &:focus{
      background: #700b0b;
      .drop{
        //border-bottom: 1px solid #ccc;
      }
    }
    .lv_0 {
      padding: 10px 20px;
      font-size: 16px;
      color: #000;
      text-decoration: none;
      display: inline-block;
      width: 100%;
      min-height: 43px;
      //border-bottom: 1px solid #ccc;
    }
    .drop{
      display: inline-block;
      width: 50px;
      text-align: center;
      color: #000;
      border: none;
      //border-left: 1px solid #ccc;
      background: none;
      outline: none;
      position: absolute;
      right: 0;
      min-height: 43px;
      top: 0;
      //border-bottom: 1px solid #ccc;
      i{
        font-weight: bold;
      }
    }
    .drop[aria-expanded = true]{
      .fa-angle-down{
        transform: rotate(180deg);
        transition: all 0.5s;
      }
    }
    .dropdown-menu{
      position: relative;
      top: 0;
      height: auto;
      box-shadow: none;
      border: none;
      margin: 0;
      padding: 0;
      width: 100%;
      border-radius: 0;
      transition: all 0.5s;
      li{
        //display: block;
        padding-left: 30px;
        //position: relative;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        &:last-child{
          .link{
            border-bottom: none;
          }
          .link2{
            border-bottom: none;
          }
        }
        .link{
          font-size: 16px;
          padding: 10px 50px 10px 0;
          font-weight: normal;
          color: #000;
          border-bottom: 1px solid #ccc;
          white-space: normal;
          width: 100%;
        }
        .link2{
          font-size: 16px;
          padding: 10px 20px 10px 0;
          font-weight: normal;
          color: #000;
          border-bottom: 1px solid #ccc;
          white-space: normal;
          width: 100%;
        }

      }
    }
  }

  .level_2:last-child{
    a{
      border-bottom: 1px solid #ccc !important;
    }
  }

  .level_0:last-child{
    ul{
      .level_1:last-child{
        .link{
          border-bottom: 1px solid #ccc !important;
        }
        .ul{
          .level_2:last-child{
            a{
              border-bottom: none !important;
            }
          }
        }
      }
    }
  }
}

