.breadcrumbs {
  background: transparent;
  text-align: left;
  margin-bottom: 0;
  border-radius: 0;
  .breadcrumb{
    margin: 0;
    padding: 8px 0;
    background-color: transparent !important;

  }
  a {
    color: #777777;
    &:hover{
      color: #007bff;
      text-decoration: none;
    }
  }
  i{
    color: #777777;
  }

  li:before {
    display: none !important;
  }
  li.active {
    color: black;
  }
  i {
    margin: 0 5px
  }
}