.breadcrumbs {
  background: transparent;
  text-align: left;
  margin-bottom: 0;
  border-radius: 0;
}
.breadcrumbs .breadcrumb {
  margin: 0;
  padding: 8px 0;
  background-color: transparent !important;
}
.breadcrumbs a {
  color: #777777;
}
.breadcrumbs a:hover {
  color: #007bff;
  text-decoration: none;
}
.breadcrumbs i {
  color: #777777;
}
.breadcrumbs li:before {
  display: none !important;
}
.breadcrumbs li.active {
  color: black;
}
.breadcrumbs i {
  margin: 0 5px;
}/*# sourceMappingURL=breadcrumbs_simple.css.map */