.link-filter {
  min-width: 70px;
  padding-left: 10px;
  display: flex;
  align-items: start;
}

#filter_mobile {
  margin-top: 10px;
}
#filter_mobile .card {
  border: none;
}
#filter_mobile .card-header {
  background-color: white !important;
  border: none;
}

.fa-angle-down {
  height: 15px;
}

@media screen and (max-width: 800px) {
  #filter-desktop {
    display: none;
  }
}
@media screen and (min-width: 801px) {
  #filter_mobile {
    display: none;
    pointer-events: none;
  }
}/*# sourceMappingURL=default2.css.map */