.block-products-filter{
    margin-bottom: 20px;
    margin-top: 20px;
    /*border: 1px solid #eaeaea;*/
    border-radius: 4px;
}
.block-products-filter .filter-price{
    background: #fff;
}
.block-products-filter .filter-thuong_hieu{
    background: #fff;
}
.block-products-filter .span3-title{
    text-transform: uppercase;
    font-size: 18px;
    height: 46px; line-height: 45px;
    border-bottom: 1px solid #eaeaea;
    padding-left: 15px;
    color: #333333;
}
.block-products-filter .span3-title:after{
    position: absolute; top: 0; right: 10px;
    content:""; width: 9px;
    height: 34px;
    background: url(../images/filter-after.png) center no-repeat;
}
.block-products-filter .filter{
    padding-bottom: 10px;
    padding-right: 0;
    margin-bottom: 20px;
}
.block-products-filter .filter .filter-title{
    text-transform: uppercase;
    font-size: 15px;
    color: #111;
    line-height: 40px;
    padding-left: 15px;
    border-left: 2px solid #52ad1f;
    border-bottom: 1px solid #f2f2f2;
}
.block-products-filter ul{
    margin: 0; padding: 0;
    padding-left: 15px;
    padding-top: 10px;
}
.block-products-filter ul:after{
    float: none; clear: both; content: ""; display: block; height: 0; visibility: hidden;
}
.block-products-filter ul li{
    margin: 0; padding: 3px 0;
    list-style: none;
    background: url(../images/bullet.png) left center no-repeat;

}
.block-products-filter ul li:hover,
.block-products-filter ul li.selected{
    background: url(../images/bullet-hover.png) left center no-repeat;
}
.block-products-filter ul li a{
    color: #333;
    font-size: 13px;
    padding-left: 30px;
}
.block-products-filter ul li a:hover{
    color: #80b435;
    text-decoration: none;
}
.filter-price ul li{
    background: url(../images/check.png) left center no-repeat;
}
.filter-price ul li:hover,
.filter-price ul li.selected{
    background: url(../images/check-hover.png) left center no-repeat;
    color: #80b435;
}
.block-products-filter ul li.check{
    background: url(../images/check.png) left center no-repeat;
}
.block-products-filter ul li.check:hover,
.block-products-filter ul li.check.selected{
    background: url(../images/check-hover.png) left center no-repeat;
    color: #80b435;
}
.block-products-filter ul li.check.selected >a{
    color: #80b435;
}
.block-products-filter .filter-size ul li.check,
.block-products-filter .filter-heel_height ul li.check{
    width: 50%;
    float: left;
}
.filter_th{
    background-color: #fff;
    margin-bottom: 20px;
}
.filter_th .filter-title{
    text-transform: uppercase;
    font-size: 15px;
    color: #111;
    line-height: 40px;
    padding-left: 15px;
    border-left: 2px solid #52ad1f;
    border-bottom: 1px solid #f2f2f2;
}
.filter_th ul{
        margin: 0;
    padding: 0;
    padding-left: 15px;
    padding-top: 10px;
        max-height: 200px;
    overflow-y: scroll;
}
.filter_th ul li{
    list-style: none;
        background: url(../images/check.png) left 6px no-repeat;
            padding: 3px 0;
}
.filter_th ul li:hover{
        background: url(../images/check-hover.png) left center no-repeat;
    color: #80b435;
}
.filter_th ul .selected{
    background: url(../images/check-hover.png) left center no-repeat;
    color: #80b435;
}
.filter_th ul .selected>a{
    color: #80b435;
}
.filter_th ul li a{
    color: #333;
    font-size: 13px;
    padding-left: 30px;
        text-align: left;
    display: block;
}
.filter_th ul li a:hover{
    color: #80b435;
    text-decoration: none;
}