body {
  background-color: #333;
}
body .select2 {
  width: 100% !important;
}
body .row {
  margin: 0 !important;
}
body .panel {
  padding: 0px;
}
body .btn {
  color: white;
}
body .btn:hover {
  text-decoration: none !important;
}
body .box-title {
  padding: 10px;
  padding-bottom: 0px;
}
body .table-order td a {
  color: black;
}
body #page-wrapper {
  padding: 15px 15px 20px;
  background-color: #fff;
  min-height: 900px !important;
}
body .ui-tabs {
  font-family: Arial;
}
body .table-bordered tbody tr td {
  border: none;
  vertical-align: middle;
}
body .border-none {
  padding: 0;
}
body .border-none .panel-primary {
  border: none;
  padding: 0;
}
body .border-none .panel-primary .panel-body {
  padding: 0;
}
body .border-none label {
  font-weight: 500;
}
body .border-none .dropzone {
  background-color: #eee;
  padding: 1em;
}
body .col-checkbox {
  display: flex;
}
body .wrap-colpro {
  display: flex;
}
body .wrap-colpro .colpro {
  width: 50%;
  margin-right: 30px;
}
body .wrap-colpro .control-label {
  text-align: left !important;
}
body .fl-right {
  float: right !important;
}
body .navbar-default {
  background-color: #333;
  border-color: #fff;
}
body .navbar-default .nav > li {
  border-bottom: 1px solid rgba(4, 4, 4, 0.13);
}
body .img-responsive {
  display: block;
  height: 100px;
  width: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}
body table.dataTable thead > tr > th {
  padding-left: 10px;
  padding-right: 10px;
}
body .chosen-container {
  text-align: left;
}
body .navbar-brand {
  color: rgb(88, 88, 88);
}
body .toolbar-fix {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
}
body .nav > li > a {
  position: relative;
  display: block;
  padding: 13px 15px;
}
body .help-block {
  color: #ff0000;
}
body a {
  color: #cfcfcf;
  text-decoration: none;
}
body a:focus,
body a:hover {
  text-decoration: underline;
}
body .panel {
  font-family: Arial, Helvetica, sans-serif;
}
body .panel a:focus,
body .panel a:hover {
  color: #73c5fa;
  text-decoration: underline;
}
body .left {
  text-align: left !important;
}
body .right {
  text-align: right !important;
}
body .nav > li > a:focus,
body .nav > li > a:hover {
  text-decoration: none;
  background-color: rgba(138, 37, 37, 0.4235294118);
  transition: background-color 0.05s linear;
  text-decoration: none;
  background: rgba(184, 51, 51, 0.4235294118);
  color: white;
}
body .sidebar ul li {
  margin-top: 1px;
}
body .sidebar ul li a.active,
body .sidebar ul li a.actives {
  background-color: #c73536;
  color: #fff;
}
body .nav .open > a,
body .nav .open > a:focus,
body .nav .open > a:hover {
  background-color: #c73536;
  border-color: #337ab7;
  color: #fff;
}
body .navbar-default .navbar-brand {
  color: #fff;
  font-size: 22px;
  padding: 0;
  margin-left: 15px;
}
body .sidebar .nav-second-level li li a {
  padding-left: 52px;
}
body .wrap-toolbar {
  background-color: #f5f5f5;
  border-color: #ddd;
}
body .wrap-toolbar .toolbar:hover {
  color: #316a8f !important;
}
body .wrap-toolbar .fr {
  float: right;
}
body .fileUpload {
  background-color: #17456e !important;
  border: none;
}
body .form_head .wrap-toolbar {
  height: 50px;
  z-index: 100;
  margin-bottom: 10px;
}
body .wrap-toolbar .toolbar {
  cursor: pointer;
  display: block;
  float: left;
  line-height: 14px;
  height: 50px;
  color: #333;
  min-width: 45px;
  padding: 5px 20px;
  font-size: 12px;
  text-align: center;
  text-decoration: none !important;
  white-space: nowrap;
  border-left: 1px solid #fff;
}
body .wrap-toolbar .toolbar span {
  display: block;
  float: none;
  height: 25px;
  background-position: center center !important;
}
body .wrap-toolbar .toolbar:hover {
  background-color: #e3e4e4;
  color: #57baf9;
}
body .page-header {
  margin: 0 0 10px;
  font-size: 25px;
}
body table.dataTable thead .sorting,
body table.dataTable thead .sorting_asc,
body table.dataTable thead .sorting_desc {
  background: none !important;
  text-align: center;
  background-color: #f5f5f5 !important;
}
body table.dataTable thead .control__indicator {
  left: -9px;
}
body table.dataTable th {
  color: #333;
  text-align: center;
  vertical-align: middle;
  background-color: #f5f5f5 !important;
}
body table.dataTable th a {
  color: #333;
}
body table.dataTable td {
  text-align: center;
  vertical-align: middle;
}
body .fl-left {
  float: left;
}
body .pd-15 {
  padding-left: 15px;
  padding-right: 15px;
  min-width: 160px;
}
body .filter_area {
  margin-bottom: 5px;
}
body .fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
}
body .fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
body .image-area-single {
  background-color: #FFF;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  padding: 10px;
  position: relative;
  display: inline-block;
}
body .image-area-single p {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline-block;
}
body .image-area-single .del {
  position: absolute;
  top: -10px;
  right: -10px;
}
body .checkbox-custom,
body .radio-custom {
  opacity: 0;
  position: absolute;
}
body .checkbox-custom,
body .checkbox-custom-label,
body .radio-custom,
body .radio-custom-label {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  cursor: pointer;
}
body .checkbox-custom-label,
body .radio-custom-label {
  position: relative;
}
body .checkbox-custom + .checkbox-custom-label:before,
body .radio-custom + .radio-custom-label:before {
  content: "";
  background: #fff;
  border: 1px solid #bbbbbb;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  padding: 0;
  font-size: 13px;
  text-align: center;
}
body .radio-custom + .radio-custom-label:before {
  margin-right: 10px;
}
body .checkbox-custom:checked + .checkbox-custom-label:before {
  content: "\f00c";
  font-family: "FontAwesome";
  background: #3598c7;
  color: #fff;
}
body .radio-custom:checked + .radio-custom-label:before {
  content: "\f00c";
  font-family: "FontAwesome";
  color: #3598c7;
}
body .checkbox-custom:focus + .checkbox-custom-label,
body .radio-custom:focus + .radio-custom-label {
  outline: 1px solid #ddd;
  /* focus style */
}
body #sort_0 {
  display: none;
}
body .scrollToTop {
  display: none;
  position: fixed;
  bottom: -30px;
  right: 10px;
  font-size: 45px;
  color: #333;
  cursor: pointer;
  z-index: 9999;
  transition: all 0.8s ease;
}
body .scrollToTop.active {
  bottom: 30px;
}
body .total-price {
  text-align: center;
  font-size: 20px;
}
body .total-price strong {
  color: red;
}
body .panel-info {
  border: none;
}
.form-horizontal {
  background-color: white;
  padding: 10px;
}
.form-horizontal .btn-primary {
  background-color: #337ab7;
}
.form-horizontal a {
  color: #333;
}
.form-horizontal a:hover {
  color: #000;
}

.page-title {
  line-height: 50px;
  padding-left: 10px;
  font-weight: bold;
  font-size: 15px;
}

div.dataTables_filter {
  display: none !important;
}

#ui-datepicker-div {
  display: none;
}

.pagination-total {
  display: inline-block;
  vertical-align: middle;
  float: left;
  padding-top: 20px;
  font-weight: bold;
}

.pagination {
  vertical-align: middle;
}

.pagination > li > a,
.pagination > li > span {
  color: #111111;
}

#table_extend_fields tbody tr td {
  padding: 5px;
}/*# sourceMappingURL=styles.css.map */