.footer {
	.no-child {
		&::after {
			content: unset;
		}
	}
	.accordion-button {
		&::after {
			// background-image: unset !important;
		}
	
	}
	.accordion-button:not(.collapsed)::after {
		background-image: var(--bs-accordion-btn-icon) !important;
	}
	.accordion-button {
		&:focus {
			outline: none;
		}
	}
	
	.accordion {
		background-color: white;
		.accordion-item {
			margin: 0px 20px;
		}
	
	}
	.accordion-button {
		border: none !important;
	}
	button[aria-expanded=true] {
		background-color: #d3a455 !important;
		color: white !important;
	}
	
	.accordion-button:focus {
		border-color: unset !important;
		box-shadow: none !important;
	}
	
	.accordion-item {
		border: none;
		border-bottom: 1px solid #ccc;
	}
	
	.logo-footer {
		background-color: white;
	}

}
footer {
	background-color: white;
}
.footer {
	.accordion {
		display: none;
	}
}
@media screen and (max-width: 900px){
	.footer {
		.accordion {
			display: block;
		}
	}

}