.footer .no-child::after {
  content: unset;
}
.footer .accordion-button:not(.collapsed)::after {
  background-image: var(--bs-accordion-btn-icon) !important;
}
.footer .accordion-button:focus {
  outline: none;
}
.footer .accordion {
  background-color: white;
}
.footer .accordion .accordion-item {
  margin: 0px 20px;
}
.footer .accordion-button {
  border: none !important;
}
.footer button[aria-expanded=true] {
  background-color: #d3a455 !important;
  color: white !important;
}
.footer .accordion-button:focus {
  border-color: unset !important;
  box-shadow: none !important;
}
.footer .accordion-item {
  border: none;
  border-bottom: 1px solid #ccc;
}
.footer .logo-footer {
  background-color: white;
}

footer {
  background-color: white;
}

.footer .accordion {
  display: none;
}

@media screen and (max-width: 900px) {
  .footer .accordion {
    display: block;
  }
}/*# sourceMappingURL=bottom.css.map */