.menu_right{
	background: #fff;
	margin-bottom: 2px;
	color: #000;
	h3{
		    font-size: 15px;
    text-transform: uppercase;
    padding: 10px 15px;
		i{
			margin-right: 10px;
		}
	}
	.navbar-nav{
		margin: 0;
		float: none;
		li{
			float: none;
			a{
				font-size: 13px;
				    padding: 10px 15px;
				color: #000;
				i{
					float: right;
					font-size: 15px;
				}
			}
			&:hover, &.active {
				a{
					color: #ce0021;
				}
			}
		}
	}
}