.menu_right {
  background: #fff;
  margin-bottom: 2px;
  color: #000;
}
.menu_right h3 {
  font-size: 15px;
  text-transform: uppercase;
  padding: 10px 15px;
}
.menu_right h3 i {
  margin-right: 10px;
}
.menu_right .navbar-nav {
  margin: 0;
  float: none;
}
.menu_right .navbar-nav li {
  float: none;
}
.menu_right .navbar-nav li a {
  font-size: 13px;
  padding: 10px 15px;
  color: #000;
}
.menu_right .navbar-nav li a i {
  float: right;
  font-size: 15px;
}
.menu_right .navbar-nav li:hover a, .menu_right .navbar-nav li.active a {
  color: #ce0021;
}/*# sourceMappingURL=leftmenu.css.map */