@media screen and (max-width:768px) {
    .search{
        border: none;
    }
    .search section{
        display: block !important;
        position: unset !important;
    }
    .search #search{
        margin: 0;
    }
    #search #keyword {
        padding: 8px 10px;
        width: 85%;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .search #search form {
        float: left;
        margin-left: 10px;
        width: 99%;
    }
    .search #search form button:focus{
        outline: none;
    }
}
.menu-mobile {
    /* column-count: 2; */
    list-style: none;
    padding: 0px;
}

.menu-mobile li a {
    text-decoration: none;
}

.menu-mobile li {
    padding-bottom: 10px;
}

.menu-mobile li a:hover {
    color: #d3a455
}

.parent {
    font-weight: 700;
}