#navigation-menu {
  display: none;
}

.moby .moby-inner .head-menu-mobile {
  display: flex;
  background: #fff;
  justify-content: space-between;
}
.moby .moby-inner .head-menu-mobile img {
  align-self: center;
  max-width: 100px;
  padding: 0 10px;
}
.moby .moby-inner .head-menu-mobile .moby-close {
  background: none;
  padding: 14px 0;
  color: #fff;
}
.moby .moby-inner .head-menu-mobile .moby-close .moby-close-icon {
  margin-right: 7px;
}
.moby .moby-inner .moby-wrap .moby-menu nav ul {
  padding: 10px;
}
.moby .moby-inner .moby-wrap .moby-menu nav ul li a {
  color: #333333;
  padding: 10px 0;
  border-bottom: 1px solid #d8d8d8;
  display: flex;
  align-items: center;
}
.moby .moby-inner .moby-wrap .moby-menu nav ul li a > i {
  margin-right: 5px;
}
.moby .moby-inner .moby-wrap .moby-menu nav ul li a img {
  margin-right: 8px;
  max-width: 25px;
}
.moby .moby-inner .moby-wrap .moby-menu nav ul li a .moby-expand {
  width: auto;
  padding: 10px 0;
  color: #333333;
}
.moby .moby-inner .moby-wrap .moby-menu nav ul li a .moby-expand span i {
  font-size: 16px;
}/*# sourceMappingURL=menu_mobile.css.map */