#navigation-menu{
  display: none;
}
.moby{
  .moby-inner{
    .head-menu-mobile{
      display: flex;
      background: #fff;
      justify-content: space-between;
      img{
        align-self: center;
        max-width: 100px;
        padding: 0 10px;
      }
      .moby-close{
        background: none;
        padding: 14px 0;
        color: #fff;
        .moby-close-icon{
          margin-right: 7px;
        }
      }
    }
    .moby-wrap{
      .moby-menu{
        nav{
          ul{
            padding: 10px;
            li{
              a{
                color: #333333;
                padding: 10px 0;
                border-bottom: 1px solid #d8d8d8;
                display: flex;
                align-items: center;
                >i{
                  margin-right: 5px;
                }
                img{
                  margin-right: 8px;
                  max-width: 25px;
                }
                .moby-expand{
                  width: auto;
                  padding: 10px 0;
                  color: #333333;
                  span{
                    i{
                      font-size: 16px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}