.header-bottom {
    height: 104px;
    display: flex;
    align-items: center;
}
.mainmenu {
    width: 100%;
    font-weight: 500;
    .parent-ul {
        width: 100%;
        list-style: none;
        padding: 0px;
        display: flex;
        justify-content: space-between;
        height: 104px;
        .menu-item {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
        }
    }
}
.level0 {
    position: relative;
    .dropdown-menu {
        // display: none;
        position: absolute;
        transition: .3s;
        top: 110px;
        width: 300px;
        border-radius: 5px;
        background-color: transparent;
        border: none;
        opacity: 0;
        visibility:hidden;
        display: block;
        z-index: -1;
        .container {
            background-color: white;
            border: 1px solid #dbdbdb;
            border-radius: 5px;
        }
        li {
            font-size: 14px;
            transition: .1s;
            a {
                font-weight: 400;
                color: black;
                transition: .1s;
                width: 100%;
                display: block;
                padding: 10px;
                padding-left: 20px;
            }
            &:hover {
                background-color: #eee;
                a {
                    color: #af2130

                }
            }
        }
    }
    &:hover {
        a {
            color: #af2130;
            // font-weight: bold;
            transition: .1s;
        }
        .dropdown-menu {
            top: 100px;
            opacity: 1;
            z-index: 10;
            visibility:visible;
            transition: .1s;
        }
    }
}

.level0.activated {
    a {
        color: #af2130;
        font-weight: bold;
    }
}