.main-menu {
  .li_header {
      a {
          color: #333;
          text-decoration: none;
      }
  }
}
.mainmenu-2 {
  // width: 100%;
  // font-weight: 500;
  .parent-ul {
      width: 100%;
      list-style: none;
      padding: 0px;
      display: flex;
      justify-content: space-between;
      // height: 80px;
      .menu-item {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 14px;
      }
  }
  .level0 {
      position: relative;
      .dropdown-menu {
          display: none;
          position: absolute;
          transition: 0.3s;
          top: 25px;
          left: 0px;
          min-width: 200px;
          border-radius: 5px;
          background-color: white;
          li {
              font-size: 14px;
              transition: 0.3s;
              padding: 5px 0px;
              a {
                  font-weight: 300;
                  color: #333;
                  transition: 0.3s;
                  width: 100%;
                  display: block;
                  // padding: 10px;
                  // padding-left: 20px;

              }
              &:hover {

                  a {
                      color: #333;
                // background-color: #333;

                      opacity: .8;
                  }
              }
          }
      }
      &:hover {
          a {
              color: #333;
              // font-weight: bold;
              transition: 0.3s;
              
          }
          .dropdown-menu {
              display: block;
              transition: 0.3s;
          }
      }
  }

  .level0.activated {
      a {
          color: #333;
          font-weight: normal;
          font-weight: 600;

      }
  }
}
.logo {
  text-decoration: none;
  span {
    color: #333;
  }
}




.nav-animate-fade {
    background-color: transparent;
    transition: .3s;
}
header {
    .nav {
        .logo {
            svg {
                fill: #333;
            }
        }
        background-color: white;
        // position: relative !important;
    }
}


.nav-2 {
    background-color: white;
    position: fixed !important;
    top: 0px;
    color: black;
    transition: .3s;
    svg {
        fill: #333;
    }
    .logo {
        text-decoration: none;
        span {
            color: #333;
        }
    }
    .li_header {
        a {
            color: #333 !important;
            text-decoration: none;
        }
    }
    .level0.activated {
        a {
            color: #333 !important;
            font-weight: normal;
            font-weight: 600;
  
        }
    }
    .search-box {
        svg {
            fill: #333;
        }
    }
}

@media screen and (min-width: 1900px) {
    .dropdown-menu {
        min-width: 300px !important;
        li {
            padding: 7px 0px !important; 
        }
    }
    
}