@charset "UTF-8";
.mainmenu-2 .parent-ul {
  width: 100%;
  list-style: none;
  padding: 0px;
  display: flex;
  justify-content: flex-end;
  height: 40px;
}
.mainmenu-2 .parent-ul .menu-item {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.mainmenu-2 .parent-ul .menu-item .dropdown-menu .container {
  height: unset;
}
.mainmenu-2 li {
  padding-right: 25px;
}
.mainmenu-2 li:last-child {
  padding-right: 0px;
}
.mainmenu-2 .level0 {
  position: relative;
}
.mainmenu-2 .level0 .dropdown-menu {
  display: none;
  position: absolute;
  transition: 0.3s;
  top: 35px;
  left: 0px;
  min-width: 200px;
  border-radius: unset;
  background-color: rgba(255, 255, 255, 0.8901960784);
  padding-left: 20px;
}
.mainmenu-2 .level0 .dropdown-menu li {
  font-weight: 300;
  font-size: 14px;
  transition: 0.3s;
  padding: 5px 0px;
  position: relative;
}
.mainmenu-2 .level0 .dropdown-menu li::before {
  content: "•"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #DB801A; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  position: absolute;
  left: -15px;
  font-size: 20px;
  top: 0px;
}
.mainmenu-2 .level0 .dropdown-menu li a {
  font-weight: 300 !important;
  color: #2C3A61 !important;
  transition: 0.3s;
  width: 100%;
  display: block;
  text-transform: uppercase;
}
.mainmenu-2 .level0 .dropdown-menu li:hover a {
  color: #DB801A !important;
}
.mainmenu-2 .level0:hover a {
  color: #DB801A;
}
.mainmenu-2 .level0:hover .dropdown-menu {
  display: block;
  transition: 0.3s;
}
.mainmenu-2 .level0.activated a {
  color: #DB801A;
  font-weight: 600;
}
.mainmenu-2 .level0.active a {
  color: #DB801A;
  font-weight: 600;
}

.nav-2 {
  background-color: white;
  position: fixed !important;
  top: 0px;
  color: black;
  transition: 0.3s;
}
.nav-2 svg {
  fill: #333;
}
.nav-2 .logo {
  text-decoration: none;
}
.nav-2 .logo span {
  color: #333;
}
.nav-2 .li_header a {
  color: #333;
  text-decoration: none;
}
.nav-2 .mainmenu-2 .level0.activated a {
  color: #333;
}
.nav-2 .search-box svg {
  fill: #333;
}

.nav-animate-fade {
  background-color: transparent;
  transition: 0.3s;
}

header .nav a {
  color: white;
  text-decoration: none;
}
header .search-box svg {
  fill: white;
}

.logo {
  text-decoration: none;
}

@media screen and (min-width: 1900px) {
  .dropdown-menu {
    min-width: 300px !important;
  }
  .dropdown-menu li {
    padding: 7px 0px !important;
  }
}
@media screen and (max-width: 992px) {
  .dropdown-menu {
    border: unset;
    background-color: transparent !important;
    max-width: 190px;
  }
  .dropdown-menu .container {
    padding: 0px;
  }
  .dropdown-menu li {
    font-size: 16px !important;
    margin-bottom: 16px !important;
    padding-left: 10px;
  }
  .dropdown-menu li::after {
    content: unset !important;
  }
  .collapsing {
    transition: 0.3s !important;
  }
}/*# sourceMappingURL=multilevel2.css.map */