.mainmenu-2 {
    // width: 100%;
    // font-weight: 500;
    .parent-ul {
        width: 100%;
        list-style: none;
        padding: 0px;
        display: flex;
        justify-content: flex-end;
        height: 40px;
        // height: 80px;
        .menu-item {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            .dropdown-menu {
                .container {
                    height: unset;
                }
            }
        }
    }
    li {
        padding-right: 25px;
        &:last-child {
            padding-right: 0px;

        }
    }
    .level0 {
        position: relative;
        .dropdown-menu {
            display: none;
            position: absolute;
            transition: 0.3s;
            top: 35px;
            left: 0px;
            min-width: 200px;
            border-radius: unset;
            background-color: #ffffffe3;
            padding-left: 20px;
            li {
                font-weight: 300;
                font-size: 14px;
                transition: 0.3s;
                padding: 5px 0px;
                position: relative;
                &::before {
                    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
                    color: #DB801A; /* Change the color */
                    font-weight: bold; /* If you want it to be bold */
                    display: inline-block; /* Needed to add space between the bullet and the text */
                    position: absolute;
                    left: -15px;
                    font-size: 20px;
                    top: 0px;
                }
                a {
                    font-weight: 300 !important;
                    color: #2C3A61 !important;
                    transition: 0.3s;
                    width: 100%;
                    display: block;
                    text-transform: uppercase;
                    // padding: 10px;
                    // padding-left: 20px;
                }
                &:hover {
                    li {
                    }
                    a {
                        color: #DB801A !important;
                        // opacity: 0.8;
                    }
                }
            }
        }

        &:hover {
            a {
                color: #DB801A;
                // font-weight: bold;
            }
            .dropdown-menu {
                display: block;
                transition: 0.3s;
            }
        }
    }

    .level0.activated {
        a {
            color: #DB801A;
            font-weight: 600;
        }
    }
    .level0.active {
        a {
            color: #DB801A;
            font-weight: 600;
        }
    }
}

.nav-2 {
    background-color: white;
    position: fixed !important;
    top: 0px;
    color: black;
    transition: 0.3s;
    svg {
        fill: #333;
    }
    .logo {
        text-decoration: none;
        span {
            color: #333;
        }
    }
    .li_header {
        a {
            color: #333;
            text-decoration: none;
        }
    }
    .mainmenu-2 .level0.activated a {
        color: #333;
    }
    .search-box {
        svg {
            fill: #333;
        }
    }
}
.nav-animate-fade {
    background-color: transparent;
    transition: 0.3s;
}
header {
    .nav {
        a {
            color: white;
            text-decoration: none;
        }
    }
    .search-box {
        svg {
            fill: white;
        }
    }
}

.logo {
    text-decoration: none;
}

@media screen and (min-width: 1900px) {
    .dropdown-menu {
        min-width: 300px !important;
        li {
            padding: 7px 0px !important;
        }
    }
}

@media screen and (max-width: 992px) {
    .dropdown-menu {
        border: unset;
        background-color: transparent !important;
        .container {
            padding: 0px;
        }
        max-width: 190px;
        li {
            font-size: 16px !important;
            margin-bottom: 16px !important;
            padding-left: 10px;
            &::after {
                content: unset !important;
            }
        }
    }
    .collapsing {
        transition: .3s !important;
    }
}