.main-menu .li_header a {
  color: #333;
  text-decoration: none;
}

.mainmenu-2 .parent-ul {
  width: 100%;
  list-style: none;
  padding: 0px;
  display: flex;
  justify-content: space-between;
}
.mainmenu-2 .parent-ul .menu-item {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.mainmenu-2 .level0 {
  position: relative;
}
.mainmenu-2 .level0 .dropdown-menu {
  display: none;
  position: absolute;
  transition: 0.3s;
  top: 25px;
  left: 0px;
  min-width: 200px;
  border-radius: 5px;
  background-color: white;
}
.mainmenu-2 .level0 .dropdown-menu li {
  font-size: 14px;
  transition: 0.3s;
  padding: 5px 0px;
}
.mainmenu-2 .level0 .dropdown-menu li a {
  font-weight: 300;
  color: #333;
  transition: 0.3s;
  width: 100%;
  display: block;
}
.mainmenu-2 .level0 .dropdown-menu li:hover a {
  color: #333;
  opacity: 0.8;
}
.mainmenu-2 .level0:hover a {
  color: #333;
  transition: 0.3s;
}
.mainmenu-2 .level0:hover .dropdown-menu {
  display: block;
  transition: 0.3s;
}
.mainmenu-2 .level0.activated a {
  color: #333;
  font-weight: normal;
  font-weight: 600;
}

.logo {
  text-decoration: none;
}
.logo span {
  color: #333;
}

.nav-animate-fade {
  background-color: transparent;
  transition: 0.3s;
}

header .nav {
  background-color: white;
}
header .nav .logo svg {
  fill: #333;
}

.nav-2 {
  background-color: white;
  position: fixed !important;
  top: 0px;
  color: black;
  transition: 0.3s;
}
.nav-2 svg {
  fill: #333;
}
.nav-2 .logo {
  text-decoration: none;
}
.nav-2 .logo span {
  color: #333;
}
.nav-2 .li_header a {
  color: #333 !important;
  text-decoration: none;
}
.nav-2 .level0.activated a {
  color: #333 !important;
  font-weight: normal;
  font-weight: 600;
}
.nav-2 .search-box svg {
  fill: #333;
}

@media screen and (min-width: 1900px) {
  .dropdown-menu {
    min-width: 300px !important;
  }
  .dropdown-menu li {
    padding: 7px 0px !important;
  }
}/*# sourceMappingURL=multilevel3.css.map */