.header-bottom {
  height: 104px;
  display: flex;
  align-items: center;
}

.mainmenu {
  width: 100%;
  font-weight: 500;
}
.mainmenu .parent-ul {
  width: 100%;
  list-style: none;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  height: 104px;
}
.mainmenu .parent-ul .menu-item {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.level0 {
  position: relative;
}
.level0 .dropdown-menu {
  position: absolute;
  transition: 0.3s;
  top: 110px;
  width: 300px;
  border-radius: 5px;
  background-color: transparent;
  border: none;
  opacity: 0;
  visibility: hidden;
  display: block;
  z-index: -1;
}
.level0 .dropdown-menu .container {
  background-color: white;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
}
.level0 .dropdown-menu li {
  font-size: 14px;
  transition: 0.1s;
}
.level0 .dropdown-menu li a {
  font-weight: 400;
  color: black;
  transition: 0.1s;
  width: 100%;
  display: block;
  padding: 10px;
  padding-left: 20px;
}
.level0 .dropdown-menu li:hover {
  background-color: #eee;
}
.level0 .dropdown-menu li:hover a {
  color: #af2130;
}
.level0:hover a {
  color: #af2130;
  transition: 0.1s;
}
.level0:hover .dropdown-menu {
  top: 100px;
  opacity: 1;
  z-index: 10;
  visibility: visible;
  transition: 0.1s;
}

.level0.activated a {
  color: #af2130;
  font-weight: bold;
}/*# sourceMappingURL=multilevel.css.map */