#megamenu ul {
  list-style-type: none;
}

#megamenu ul li {
  list-style: none !important;
}

#megamenu li {
  list-style: none !important;
}

#megamenu li::after {
  background-color: rgba(0, 0, 0, 0.0705882353);
  transform: scale(1);
  margin: 20px 0;
  content: "";
  display: block;
  height: 1px;
  transform-origin: center;
  transition: transform cubic-bezier(0.47, 0.42, 0, 0.99) 0.85s;
  pointer-events: none;
  width: 100%;
}
#megamenu a {
  text-decoration: none;
}

.w3-large {
  font-size: 30px !important;
}

#megamenu {
  padding-right: 20px;
}

#megamenu .collapse-child {
  margin-top: 20px;
}
#megamenu .collapse-child .sub-menu-level1 {
  padding-bottom: 20px;
}
#megamenu .collapse-child .sub-menu-level1::after {
  display: none;
}/*# sourceMappingURL=styles.css.map */