#megamenu  {
    ul {
        // display:  none !important;
        list-style-type: none;
    }

}

#megamenu {
    ul {
        li {
            list-style: none !important;
        }
    }
}

#megamenu {
    li {
        list-style: none !important;
        // font-weight: bold;
    }
}

#megamenu {
    li {
        &::after {
            background-color: #00000012;
            transform: scale(1);
            margin: 20px 0;
            content: '';
            display: block;
            height: 1px;
            transform-origin: center;
            transition: transform cubic-bezier(.47,.42,0,.99).85s;
            pointer-events: none;
            width: 100%;
        }
    }
    a {
        text-decoration: none;
    }


}
.w3-large {
    font-size: 30px !important;
}

#megamenu {
    padding-right: 20px;

}

#megamenu {
    .collapse-child {
        margin-top: 20px;
        .sub-menu-level1 {
            padding-bottom: 20px;
            &::after {
                display: none;
            }
        }
    }
}
